@{
    ViewBag.Title = "Index";
    ViewBag.SideBarMenu = "ProductItem";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.lps

@model IPagedList<ProductItem>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - ProductItem</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">ProductItem</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>  
</div>

@if (ViewBag.ResponseMessage != null)
{
    int responseMessage = Convert.ToInt32(ViewBag.ResponseMessage);
    if (responseMessage == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully !!!
        </div>
    }
}
<!-- Page Header -->
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <a href="@Url.Action("Create","ProductItem")" class="btn btn-info">Create New ProductItem</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="ProductItem-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> ProductItem Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="panel-toolbar hide" id="toolbar-toshow">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default">Is Active ??</button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 1);'><i class="icon ico-pencil"></i>Active</a></li>
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 0);'><i class="icon ico-print3"></i>Inactive</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-toolbar text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chk_All_ProductItem" value="1" data-toggle="checkall" data-target="#ProductItem-table">
                                    <label for="chk_All_ProductItem"></label>
                                </div>
                            </th>
                            <th width="1%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th width="1%">Status</th>
                            <th width="5%">Product Code</th>
                            <th width="5%">Product Name</th>
                            <th width="5%">Vendor</th>
                            <th width="10%">Quantity</th>
                            <th width="1%">-</th>
                            <th width="5%">Modified Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-ProductItem">
                        @{
                            int i = 1;
                            foreach (var ProductItem in Model)
                            {
                                <tr class="@(ProductItem.IsDeleted == true ? "bg-danger" : "")">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_ProductItem" id="chk_ProductItem_@i" value="@ProductItem.ProductItemId" data-toggle="selectrow" data-target="tr" data-contextual="@(ProductItem.IsDeleted == true ? "danger" : "info")">
                                            <label for="chk_ProductItem_@i"></label>
                                        </div>
                                    </td>
                                    <td class="text-center">@i</td>
                                    <td class="text-center">
                                        @if (ProductItem.IsActive == true)
                                        {
                                            <a href="javascript:void(0);" onclick='ChangeStatusAction(@ProductItem.ProductItemId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" onclick='ChangeStatusAction(@ProductItem.ProductItemId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "ProductItem", new { id = ProductItem.ProductItemId })" title="Edit Product Item @ProductItem.ProductCode"><strong>@ProductItem.ProductCode</strong></a>
                                    </td>
                                    <td>@ProductItem.ProductName</td>
                                    <td>@(((List<HTTelecom.Domain.Core.DataContext.cis.Vendor>)ViewBag.Vendor).Where(p=>p.VendorId == ProductItem.VendorId).ToList()[0].VendorFullName)</td>
                                    <td>
                                        @{
                                if (ViewBag.ProductItemInSize != null)
                                {
                                    var list_ProductItemInSize = ((List<ProductItemInSize>)ViewBag.ProductItemInSize).Where(w => w.ProductItemId == ProductItem.ProductItemId).OrderBy(z => z.SizeId).ToList();
                                    var list_Size = ((List<HTTelecom.Domain.Core.DataContext.mss.Size>)ViewBag.Size);
                                    if (list_ProductItemInSize.Count > 0)
                                    {
                                        <div class="input-group" >

                                            @for (int j = 0; j < (list_ProductItemInSize.Count >= 3 ? 3 : list_ProductItemInSize.Count); j++)
                                            {
                                                <a name="xedit"  href="#" id="xequantity_@(ProductItem.ProductItemId)_@(list_ProductItemInSize[j].SizeId)" data-type="text" data-pk="1" class="editable editable-click editable-unsaved form-control" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@list_ProductItemInSize[j].Quantity</a>
                                                <span class="input-group-addon" style="width:30px">@(list_Size.Where(x => x.SizeId == list_ProductItemInSize[j].SizeId).ToList()[0].SizeName)</span>
                                            }                                          

                                        </div>
                                            
                                    }
                                    else
                                    {
                                                    <a class="form-control" href="@Url.Action("Edit", "ProductItem", new { id = ProductItem.ProductItemId,tabActive="tabtwo" })">Add Quantity</a>
                                                }
                                                
                                            }         
                                            else
                                            { 
                                                <a class="form-control" href="@Url.Action("Edit", "ProductItem", new { id = ProductItem.ProductItemId,tabActive="tabtwo" })">Add Quantity</a>
                                            }                     
                                                @*else
                                                { 
                                                     <div class="input-group">
                                                        <a name="xedit" href="#" id="xequantity_@ProductItem.ProductItemId" data-type="text" data-pk="1" class="editable editable-click editable-unsaved form-control" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@ProductItem.Quantity</a>
                                                        <span class="input-group-addon">One Size</span>
                                                    </div>
                                                }
                                            }
                                            else
                                            { 
                                                <div class="input-group">
                                                    <a name="xedit" href="#" id="xequantity_@ProductItem.ProductItemId" data-type="text" data-pk="1" class="editable editable-click editable-unsaved form-control" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@ProductItem.Quantity</a>
                                                    <span class="input-group-addon">One SizeX</span>
                                                </div>
                                            }*@                                            
                                        }                                      
                                    </td>
                                    <td><a class="form-control" style="width:100px" href="@Url.Action("Edit", "ProductItem", new { id = ProductItem.ProductItemId,tabActive="tabtwo" })">More...</a></td>
                                    @{
                                        string dateupdate = "";
                                        ProductInventory pv = new ProductInventory();
                                        try 
	                                    {	        
		                                    pv=((List<ProductInventory>)ViewBag.ProductInventory).Where(f=>f.ProductId ==ProductItem.ProductItemId).ToList()[0];
                                            dateupdate = pv.DateCreated.Value.ToString();
	                                    }
	                                    catch 
	                                    {
		                                    dateupdate = "[New Product Item]";
	                                    }                                        
                                    }
                                    <td>@(dateupdate)</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>    
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
<!--/ END row -->

<script type="text/javascript">
    function ChangeStatusAction(ProductItemId, sbool) {
        _listCheckedProductItemTable = [];

        if (ProductItemId == 0) {
            $('.list-ProductItem tr').each(function () {
                var achecked = $(this).find('input[name="chk_ProductItem"]');
                if (achecked.is(':checked')) {
                    _listCheckedProductItemTable.push(achecked.val());
                }
            });
        }
        else {
            _listCheckedProductItemTable.push(ProductItemId);
        }

        if (confirm("Are you sure?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeProductItemActive", "ProductItem")',
                data: {
                    listProductItemId: _listCheckedProductItemTable,
                    sbool: sbool
                },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        createProductItemTable(data._listProductItem);
                    }
                }
            });
        }
    }

    function createProductItemTable(listProductItem) {
        var target = $(".list-ProductItem");
        target.empty();
        $.each(listProductItem, function (_index, _item) {
            var url = '@Url.Action("ProductItemEdit", "MSS", new { id = "_ProductItemId_" })'.replace('_ProductItemId_', _item.ProductItemId);
            var createdDate = new Date(_item.DateCreated.match(/\d+/)[0] * 1);
            target.append
            (
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_ProductItem" id="chk_ProductItem_' + (_index += 1) + '" value="' + _item.ProductItemId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_ProductItem_' + _index + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td>' + _index + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsActive == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ProductItemId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ProductItemId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a>')
                    + '</td>'
                    + '<td><a href="' + url + '"><strong>' + _item.ProductItemName + '</strong></a></td>'
                    + '<td>' + moment(createdDate).format('MM/DD/YYYY') + '</td>'
                + '</tr>'
            );
        });
    }

    // Table toolbar
    // ================================
    (function () {
        // Sparkline
        // ================================
        $('.sparklines').sparkline('html', {
            enableTagOptions: true
        });

        // globar variable within this function scope
        var panel = '.panel#ProductItem-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>
<script src="~/Content/plugins/xeditable/js/bootstrap-editable.js"></script>
<link href="~/Content/plugins/xeditable/css/xeditable.css" rel="stylesheet" />
<link href="~/Content/plugins/xeditable/inputs-ext/address/address.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/address/address.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<link href="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/plugins/xeditable/xeditable.js"></script>
