@model List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>
    @foreach (var item in Model)
    {
        var hrefProduct = item.Product.ProductTypeCode == "PT1" ? "OrdProduct" : item.Product.ProductTypeCode == "PT2" ? "SaleProduct" : item.Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
        <div class="item" style="width: 150px; height: 157px;">
            <div class="card" style="width: 150px; height: 157px;">
                <div class="card-image">
                    <a href="@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">
                        <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url + item.Media.MediaName)" 
                             height="84" style="min-height: 84px; min-width: 150px; width: 150px !important; height: 84px !important;">
                    </a>
                </div>
                <div class="card-content user-padding-0">
                    <div style="padding: 0px; overflow: hidden; max-height: 36px; line-height: 15px; height: 36px; vertical-align: middle; text-align: center; display: table-cell; text-align: center; width: 150px; white-space: normal; ">
                        <a style="color: #000; margin: 0px;font-size:12px;" 
                           href='@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })'>
                            @item.Product.ProductName
                        </a>
                    </div>
                    <div style="text-align: center; padding: 0px 5px; ">
                        @if (item.Product.PromotePrice.HasValue == true && item.Product.PromotePrice.Value < item.Product.MobileOnlinePrice.Value)
                        {
                            <a style=" font-size: 10px; color: black; text-decoration: line-through; float: left;width:100%;">
                                @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                            </a>
                            <a class="user-color-red" style=" font-size: 14px; font-weight: bold; float: left; width: 100%;">
                                @string.Format("{0:0,0 đ}", item.Product.PromotePrice)
                            </a>
                        }
                        else
                        {
                            <a class="user-color-red" style="font-size: 14px; font-weight: bold; float: left; width: 100%;">
                                @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                            </a>
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
