@{
    ViewBag.Title = "AddConment";
    var Product = (HTTelecom.Domain.Core.DataContext.mss.Product)ViewBag.Product;
    var code = ViewBag.code;
    var ProductId = ViewBag.ProductId;
    var hrefProduct = Product.ProductTypeCode == "PT1" ? "OrdProduct" : Product.ProductTypeCode == "PT2" ? "SaleProduct" : Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
    var acc = (HTTelecom.Domain.Core.DataContext.cis.Customer)Session["sessionGala"];
    ViewBag.Back = Url.Action(hrefProduct, "Product", new { id = Product.ProductId, urlName = Product.Alias, urlNameStore = Product.Store.Alias });
}
@model HTTelecom.Domain.Core.DataContext.mss.Review
@using (Html.BeginForm("AddComment", "Product", FormMethod.Post, new { id = "rwform" }))
{
    @Html.Hidden("Value", Model.Value)
    @Html.Hidden("ProductCode", Model.ProductCode)
    <div class="card-panel grey lighten-5 z-depth-1 user-margin-10" style="padding: 10px; position: relative; margin: .5rem 0 .5rem; ">
        <h5>
            <a href="@Url.Action(hrefProduct, "Product", new { id = Product.ProductId, urlName = Product.Alias, urlNameStore = Product.Store.Alias })">
                @Product.ProductName
            </a>
        </h5>
        <div>
            <span class="btnChooseStar cursor-point" data-value="1" data-x="star1" data-y="star_yeloow1" data-name="@Html.Raw(ViewBag.multiRes.GetString("alert_rw_value_1", ViewBag.CultureInfo))">
                <img src="~/Images/star1.png" style="width: 12px; height: 12px; margin-right:5px;" />
            </span>
            <span class="btnChooseStar cursor-point" data-value="2" data-x="star1" data-y="star_yeloow1" data-name="@Html.Raw(ViewBag.multiRes.GetString("alert_rw_value_2", ViewBag.CultureInfo))">
                <img src="~/Images/star1.png" style="width: 12px; height: 12px; margin-right: 5px;" />
            </span>
            <span class="btnChooseStar cursor-point" data-value="3" data-x="star1" data-y="star_yeloow1" data-name="@Html.Raw(ViewBag.multiRes.GetString("alert_rw_value_3", ViewBag.CultureInfo))">
                <img src="~/Images/star1.png" style="width: 12px; height: 12px; margin-right: 5px;" />
            </span>
            <span class="btnChooseStar cursor-point" data-value="4" data-x="star1" data-y="star_yeloow1" data-name="@Html.Raw(ViewBag.multiRes.GetString("alert_rw_value_4", ViewBag.CultureInfo))">
                <img src="~/Images/star1.png" style="width: 12px; height: 12px; margin-right: 5px;" />
            </span>
            <span class="btnChooseStar cursor-point" data-value="5" data-x="star1" data-y="star_yeloow1" data-name="@Html.Raw(ViewBag.multiRes.GetString("alert_rw_value_5", ViewBag.CultureInfo))">
                <img src="~/Images/star1.png" style="width: 12px; height: 12px; margin-right: 5px; " />
            </span>
            <span id="contentAlert"></span>
            <p class="errorModel">
                @Html.ValidationMessage("Value", null, new { style = "color: red;font-size: 12px;" })
            </p>
        </div>
        <div style=" border: 1px solid #c3c3c3; margin-bottom: 5px;">
            @Html.TextBoxFor(model => model.ReviewName, new
       {
           style = "margin: 0px;border: 0px;",
           data_alert = ViewBag.multiRes.GetString("alert_reviewname_value_null", ViewBag.CultureInfo)
       })
        </div>
        <p class="errorModel">
            @Html.ValidationMessage("ReviewName", null, new { style = "color: red;font-size: 12px;" })
        </p>
        @Html.TextAreaFor(model => model.Content, new
   {
       placeholder = ((string)ViewBag.multiRes.GetString("comment_max_200_length", ViewBag.CultureInfo)),
       style = "height:150px;padding:10px;",
       @class = "Content_Review",
       data_alert = Html.Raw(ViewBag.multiRes.GetString("alert_content_value_null", ViewBag.CultureInfo))
   })
        <div class="user-text-right">
            <span style="float:left">
                @((string)ViewBag.multiRes.GetString("import_length", ViewBag.CultureInfo)):
            </span>
            <span id="contentCount" style="float:left">
                @(Model == null || Model.Content == null ? "200" : (200 - Model.Content.Length).ToString())
            </span>
            @acc.LastName @acc.FirstName
            <p class="errorModel">
                @Html.ValidationMessage("Content", null, new { style = "color: red;font-size: 12px;" })
            </p>
        </div>
        <a class="btn waves-effect backgournd-color-main waves-red user-text-uppercase right user-margin-right-5" id="btnSave">
            @((string)ViewBag.multiRes.GetString("save", ViewBag.CultureInfo))
        </a>
        <div class="clearfix"></div>
    </div>
}
@section JavaScript {
    <script>
        $('.Content_Review').bind('input propertychange', function () {
            if (this.value.length > 200) {
                var data = $('.Content_Review').val();
                $('.Content_Review').val(data.substring(0, 200));
            }
            $("#contentCount").text(200 - this.value.length);
        });
        $("#btnSave").click(function () {
            var rw_value = $($("input[type='hidden'][name='Value']")).val(),
                rw_content = $($("textarea[name='Content']")).val(),
                rw_name = $($("input[name='ReviewName']")).val()
            var str = "";
            if (typeof rw_value == "undefined" || rw_value.length == 0 || isNaN(rw_value) == true || parseInt(rw_value) > 5 || parseInt(rw_value) <= 0) {
                str += '@Html.Raw(ViewBag.multiRes.GetString("alert_value_value_null", ViewBag.CultureInfo))';
            }
            if (typeof rw_name != "string" || rw_name.length == 0 || rw_name.length >100) {
                str += '\n'+'@Html.Raw(ViewBag.multiRes.GetString("alert_reviewname_value_null", ViewBag.CultureInfo))';
            }
            if (typeof rw_content != "string" || rw_content.length == 0 || rw_content.length > 200) {
                str += '\n' + '@Html.Raw(ViewBag.multiRes.GetString("alert_content_value_null", ViewBag.CultureInfo))';
            }
            if (str.length > 0)
                alert(str);
            else
                $("#rwform").submit();
        })
        $('.btnChooseStar').click(function (e) {
            var lst = $('.btnChooseStar'), tar = $(this);
            $("#contentAlert").text(tar.attr("data-name"));
            $("input[name='Value']").val($(this).attr('data-value'));
            try {
                $.map(lst, function (ele, ind) {
                    if (parseFloat($(ele).attr("data-value")) <= parseFloat($(tar).attr("data-value")))
                        $($(ele).children()).attr("src", "/Images/" + $(tar).attr("data-y") + ".png");
                    else
                        $($(ele).children()).attr("src", "/Images/" + $(tar).attr("data-x") + ".png");
                })
            }
            catch (e) { }
        })
    </script>
}