@{
    ViewBag.LayoutTitle = "Galagala";
    var lstProduct = (List<HTTelecom.Domain.Core.DataContext.mss.Product>)ViewBag.Products;
    var Order = (HTTelecom.Domain.Core.DataContext.ops.Order)ViewBag.Order;
    var OrderDetails = (List<HTTelecom.Domain.Core.DataContext.ops.OrderDetail>)ViewBag.OrderDetails;
    var lstSize = (List<HTTelecom.Domain.Core.DataContext.mss.Size>)ViewBag.ListSize;
    var ListTransactionStatus = (HTTelecom.Domain.Core.DataContext.ops.TransactionStatus)ViewBag.TransactionStatus;
    var index = 1;
    ViewBag.Back = Url.Action("TransactionHistory", "Customer");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
<div class="breadcrumbs">
    <ul style="margin:0px;">
        <li class="prs">
            <a href="@Url.Action("Profile", "Customer")">@((string)ViewBag.multiRes.GetString("history_transaction", ViewBag.CultureInfo))</a>
        </li>
        <li class="prs">
            <a class="current">@Order.OrderCode</a>
        </li>
    </ul>
</div>
<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 0px 1px 1px 0px #c3c3c3;">
    <h4 class="header center user-c olor-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        @((string)ViewBag.multiRes.GetString("order_information", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 ">
        <table>
            <tbody>
                <tr>
                    <td>@((string)ViewBag.multiRes.GetString("order_code", ViewBag.CultureInfo))</td>
                    <td>@Order.OrderCode</td>
                </tr>
                <tr>
                    <td>@((string)ViewBag.multiRes.GetString("date_created", ViewBag.CultureInfo)) </td>
                    <td>@Order.DateCreated</td>
                </tr>
                <tr>
                    <td>@((string)ViewBag.multiRes.GetString("status", ViewBag.CultureInfo)) </td>
                    <td>
                        @(Order.IsPaymentConfirmed == null ?
                                Html.Raw(ViewBag.multiRes.GetString("unpaid", ViewBag.CultureInfo)) : Order.IsPaymentConfirmed == false ?
                        Html.Raw("<strong style='color:red'>" + ViewBag.multiRes.GetString("payment_failed", ViewBag.CultureInfo) + "</strong>") :
                                                Html.Raw("<strong style='color:green'>" + ViewBag.multiRes.GetString("successful_payment", ViewBag.CultureInfo) + "</strong>"))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 0px 1px 1px 0px #c3c3c3;">
    <h4 class="header center user-c olor-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        @((string)ViewBag.multiRes.GetString("sender_information", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-toggle-element" data-target="sender_information" style="overflow: hidden;">
        <table>
            <tbody>
                <tr>
                    <td>@((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo))  </td>
                    <td>@Order.CustomerName</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@Order.CustomerEmail</td>
                </tr>
                <tr>
                    <td>@((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo)) </td>
                    <td>@Order.CustomerPhone</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 0px 1px 1px 0px #c3c3c3;">
    <h4 class="header center user-c olor-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        @((string)ViewBag.multiRes.GetString("product_information", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-toggle-element" data-target="product_information" style="overflow: hidden;">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th class="user-text-right">@((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo))</th>
                    <th class="user-text-right">@((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))</th>
                    <th class="user-text-right">@((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo))</th>
                    <th class="user-text-right">@((string)ViewBag.multiRes.GetString("total", ViewBag.CultureInfo))</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in OrderDetails)
                {
                    var itemProduct = lstProduct.Where(n => n.ProductId == item.ProductId).FirstOrDefault();
                    var price = item.UnitPriceDiscount != null && item.UnitPriceDiscount < item.UnitPrice ? item.UnitPriceDiscount : item.UnitPrice;
                    var quantity = item.OrderQuantity;
                    var itemSize = lstSize.Where(n => n.SizeId == item.SizeId).FirstOrDefault();
                    <tr>
                        <td>@index</td>
                        <td class="text-right">@itemProduct.ProductName @(itemSize != null && itemSize.SizeId != 52 ? " (" + itemSize.SizeName + ")" : "")</td>
                        <td class="text-right">@string.Format("{0:0,0 đ}", price)</td>
                        <td class="text-right">@quantity</td>
                        <td class="text-right">@string.Format("{0:0,0 đ}", price * quantity)</td>
                    </tr>
                    index++;
                }
            </tbody>
            <tfoot style="border-top: 1px solid #c3c3c3; ">
                <tr>
                    <th colspan="4">@((string)ViewBag.multiRes.GetString("subtotalfee", ViewBag.CultureInfo))</th>
                    <th class="text-right">@string.Format("{0:0,0 đ}", Order.SubTotalFee)</th>
                </tr>
                <tr>
                    <th colspan="4">@((string)ViewBag.multiRes.GetString("shippingfee", ViewBag.CultureInfo))</th>
                    <th class="text-right">@string.Format("{0:0,0 đ}", Order.ShippingFee)</th>
                </tr>
                <tr style="border-top: 1px solid #c3c3c3; ">
                    <th colspan="4">@((string)ViewBag.multiRes.GetString("total_price", ViewBag.CultureInfo))</th>
                    <th class="text-right">@string.Format("{0:0,0 đ}", Order.TotalPaid)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 0px 1px 1px 0px #c3c3c3;">
    <h4 class="header center user-c olor-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        @((string)ViewBag.multiRes.GetString("receiver_information", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-toggle-element" data-target="receiver_information" style="  overflow: hidden;">
        <table>
            <tbody>
                <tr>
                    <td> @((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo))</td>
                    <td>@Order.ReceiverName</td>
                </tr>
                <tr>
                    <td> @((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo))</td>
                    <td>@Order.ReceiverPhone</td>
                </tr>
                <tr>
                    <td> @((string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo))</td>
                    <td>@Order.ShipToAddress, @(ViewBag.District != null ? ((HTTelecom.Domain.Core.DataContext.ams.District)ViewBag.District).DistrictName : ""), @(ViewBag.Province != null ? ((HTTelecom.Domain.Core.DataContext.ams.Province)ViewBag.Province).ProvinceName : "")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section CSS{
    <style>
        td, th {
            padding: 10px 3px;
        }
    </style>
}