@{
    ViewBag.LayoutTitle = "TestPost";
    var lstProduct = (List<HTTelecom.Domain.Core.DataContext.mss.Product>)ViewBag.Products;
    var lst = (List<Tuple<long, int,long>>)ViewBag.Lst;
    var index = 1;
    double total = 0;
    var Banks = (List<HTTelecom.Domain.Core.DataContext.cis.Bank>)ViewBag.Banks;
    var Provines = (List<HTTelecom.Domain.Core.DataContext.ams.Province>)ViewBag.Provines;
    var Districts = (List<HTTelecom.Domain.Core.DataContext.ams.District>)ViewBag.Districts;
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
@model HTTelecom.Domain.Core.DataContext.ops.Order
<div class="user-breadcrumb user-flat">
    <a class="active" style="width: 33%;">@((string)ViewBag.multiRes.GetString("create_order", ViewBag.CultureInfo))</a>
    <a class="active" style="width: 33%;">@((string)ViewBag.multiRes.GetString("information_order", ViewBag.CultureInfo))</a>
    <a style="width: 34%;">@((string)ViewBag.multiRes.GetString("checkout", ViewBag.CultureInfo))</a>
</div>
@if (TempData["gMessageCurrent"] != null)
{
    var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
    <div class="row">
        <div class="col s12" style="text-align:center;color:red;">
            @foreach (var item in gMessageCurrent)
            {<p>@item</p>}
        </div>
    </div>
            TempData.Remove("gMessageCurrent");
}
@using (Html.BeginForm("TestPost", "Product", FormMethod.Post, new { id = "paymentform", style = "position: relative;" }))
{
    @Html.Hidden("_PaymentTypeName", (string)ViewBag.PaymentTypeName)
    <div class="row backgournd-color-white user-margin-5">
        <div class=" col s12 m12 user-borderBottom-color-main user-margin-bottom-10" data-element="border-bottom">
            <h5>
                @((string)ViewBag.multiRes.GetString("order_information", ViewBag.CultureInfo))
            </h5>
        </div>
        <div class="col s12 m12" style="MIN-HEIGHT: 100px;">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo))</th>
                        <th>@((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))</th>
                        <th>@((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo))</th>
                        <th>@((string)ViewBag.multiRes.GetString("total", ViewBag.CultureInfo))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstProduct)
                    {
                        var hrefProduct = item.ProductTypeCode == "PT1" ? "OrdProduct" : item.ProductTypeCode == "PT2" ? "SaleProduct" : item.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
                        var price = item.PromotePrice != null && item.PromotePrice < item.MobileOnlinePrice ? item.PromotePrice : item.MobileOnlinePrice;
                         price = 10000;
                        var quantity = @lst.Where(n => n.Item1 == item.ProductId).FirstOrDefault().Item2;
                        <tr>
                            <td>@index</td>
                            <td>
                                <a href="@Url.Action(hrefProduct, "Product", new { id = item.ProductId, urlName = item.Alias, urlNameStore = item.Store.Alias })">
                                    @item.ProductName
                                </a>
                            </td>
                            <td>@string.Format("{0:0,0 đ}", price)</td>
                            <td>@quantity</td>
                            <td class="text-right">@string.Format("{0:0,0 đ}", price * quantity)</td>
                        </tr>
                        total += Convert.ToDouble(price * quantity);
                        index++;
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">@((string)ViewBag.multiRes.GetString("subtotalfee", ViewBag.CultureInfo))</th>
                        <th class="text-right">@string.Format("{0:0,0 đ}", total)</th>
                    </tr>
                    <tr>
                        <th colspan="4">@((string)ViewBag.multiRes.GetString("taxfee", ViewBag.CultureInfo))</th>
                        <th class="text-right">@string.Format("{0:0,0 %}", 0)</th>
                    </tr>
                    <tr>
                        <th colspan="4">@((string)ViewBag.multiRes.GetString("shippingfee", ViewBag.CultureInfo))</th>
                        <th class="text-right">@string.Format("{0:0,0 đ}", 0)</th>
                    </tr>
                    <tr>
                        <th colspan="4">@((string)ViewBag.multiRes.GetString("transactionfee", ViewBag.CultureInfo))</th>
                        <th class="text-right">@string.Format("{0:0,0 đ}", 0)</th>
                    </tr>
                    <tr>
                        <th colspan="4">@((string)ViewBag.multiRes.GetString("total_price", ViewBag.CultureInfo))</th>
                        <th class="text-right">@string.Format("{0:0,0 đ}", total)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row backgournd-color-white user-margin-5">
        <div class=" col s12 m12 user-borderBottom-color-main user-margin-bottom-10" data-element="border-bottom">
            <h5>@((string)ViewBag.multiRes.GetString("delivery_and_payment", ViewBag.CultureInfo))</h5>
        </div>
        <div class="col s12 m12 " style="MIN-HEIGHT: 100px;">
            <div class="row">
                <div class="col s12 user-padding-0">
                    <ul class="tabs">
                        <li class="tab col s4">
                            <a href="#online_pay" class="btnChangeTypeOrder" data-id="online_pay">
                                @((string)ViewBag.multiRes.GetString("online_pay", ViewBag.CultureInfo))
                            </a>
                        </li>
                        <li class="tab col s4">
                            <a class="active btnChangeTypeOrder" href="#pre_pay" data-id="pre_pay">
                                @((string)ViewBag.multiRes.GetString("pre_pay", ViewBag.CultureInfo))
                            </a>
                        </li>
                        <li class="tab col s4">
                            <a href="#post_pay" class="btnChangeTypeOrder" data-id="post_pay">
                                @((string)ViewBag.multiRes.GetString("post_pay", ViewBag.CultureInfo))
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="online_pay" class="col s12 user-padding-0">
                    <div class="row  user-padding-top-10">
                        <h6 style="font-weight:bold">@((string)ViewBag.multiRes.GetString("terms_of_company", ViewBag.CultureInfo))</h6>
                        <p>
                            @((string)ViewBag.multiRes.GetString("terms_of_company_content", ViewBag.CultureInfo))
                        </p>
                        <p>
                            @(ViewBag.chkAggre != null && ViewBag.chkAggre == "on" ? Html.Raw("<input type='checkbox' id='chkAggre' name='chkAggre' checked />") : Html.Raw("<input type='checkbox' id='chkAggre' name='chkAggre' />"))
                            <label for="chkAggre"> @((string)ViewBag.multiRes.GetString("i_agree_to_the_terms_and_privacy", ViewBag.CultureInfo))</label>
                        </p>
                        @Html.ValidationMessage("chkAggre", null, new { style = "color: red;font-size: 12px;" })
                    </div>
                </div>
                <div id="pre_pay" class="col s12 user-padding-0 ">
                    <div class="row user-padding-top-10">
                        <div class="col s4">
                            @if (ViewBag.radCardType != null && ViewBag.radCardType == "radCard_Atm")
                            { <input name="radCardType" value="radCard_Atm" type="radio" id="radCard_Atm" checked />}
                            else
                            { <input name="radCardType" value="radCard_Atm" type="radio" id="radCard_Atm" />}
                            <label for="radCard_Atm">Atm Card</label>
                        </div>
                        <div class="col s4">
                            @if (ViewBag.radCardType != null && ViewBag.radCardType == "radCard_Credit")
                            { <input name="radCardType" value="radCard_Credit" type="radio" id="radCard_Credit" checked />}
                            else
                            { <input name="radCardType" value="radCard_Credit" type="radio" id="radCard_Credit" />}
                            <label for="radCard_Credit">Credit Card</label>
                        </div>
                        <div class="col s4">
                            @if (ViewBag.radCardType != null && ViewBag.radCardType == "radCard_Debate")
                            { <input name="radCardType" value="radCard_Debate" type="radio" id="radCard_Debate" checked />}
                            else
                            { <input name="radCardType" value="radCard_Debate" type="radio" id="radCard_Debate" />}
                            <label for="radCard_Debate">Debate Card</label>
                        </div>
                        @Html.ValidationMessage("radCardType", null, new { style = "color: red;font-size: 12px;float: right;" })
                    </div>
                    <div class="row">
                        <label>@((string)ViewBag.multiRes.GetString("bank", ViewBag.CultureInfo))</label>
                        @Html.ValidationMessage("BankId", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                        @Html.DropDownList("BankId", new SelectList(Banks, "BankId", "BankName", null), ((string)ViewBag.multiRes.GetString("choose_bank", ViewBag.CultureInfo)), new { @class = "browser-default" })
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>@((string)ViewBag.multiRes.GetString("card_number", ViewBag.CultureInfo))</label>
                            @Html.ValidationMessageFor(model => model.CardNumber, null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                            <div class="clearfix"></div>
                            @Html.TextBox("card_number_1", (string)ViewBag.card_number_1, new { @class = "number-price step-card-number", style = "width:50px;  text-align: center;letter-spacing: 3px;", step = 1 })
                            <span> - </span>
                            @Html.TextBox("card_number_2", (string)ViewBag.card_number_2, new { @class = "number-price step-card-number", style = "width:50px;  text-align: center;letter-spacing: 3px;", step = 2 })
                            <span> - </span>
                            @Html.TextBox("card_number_3", (string)ViewBag.card_number_3, new { @class = "number-price step-card-number", style = "width:50px;  text-align: center;letter-spacing: 3px;", step = 3 })
                            <span> - </span>
                            @Html.TextBox("card_number_4", (string)ViewBag.card_number_4, new { @class = "number-price step-card-number", style = "width:50px;  text-align: center;letter-spacing: 3px;", step = 4 })
                            @*@Html.TextBoxFor(model => model.CardNumber, new { @class = "number-price" })*@
                        </div>
                        <div class="col s12">
                            <label>@((string)ViewBag.multiRes.GetString("card_name", ViewBag.CultureInfo))</label>
                            @Html.ValidationMessageFor(model => model.CardHolderName, null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                            @Html.TextBoxFor(model => model.CardHolderName)
                        </div>
                    </div>
                </div>
                <div id="post_pay" class="col s12 user-padding-0">
                    <p>
                        <input name="radPaymentType" type="radio" id="rad1" />
                        <label for="rad1" style="width:100%;">@((string)ViewBag.multiRes.GetString("delivery_after_receive", ViewBag.CultureInfo))</label>
                    </p>
                    <p>
                        <input name="radPaymentType" type="radio" id="rad2" />
                        <label for="rad2" style="width:100%;">@((string)ViewBag.multiRes.GetString("delivery_at_store", ViewBag.CultureInfo))</label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row backgournd-color-white user-margin-5">
        <div class=" col s12 m12 user-borderBottom-color-main user-margin-bottom-10" data-element="border-bottom">
            <h5>@((string)ViewBag.multiRes.GetString("delivery_information", ViewBag.CultureInfo))</h5>
        </div>
        <div class="col s12 m12 " style="MIN-HEIGHT: 100px;">
            <div class="row">
                <div class="col s12">
                    <label>@((string)ViewBag.multiRes.GetString("receive_name", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessageFor(model => model.ReceiverName, null, new { style = "color: red;font-size: 10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.ReceiverName)

                </div>
                <div class="col s12">
                    <label>@((string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessageFor(model => model.ShipToAddress, null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.ShipToAddress)
                </div>
                <div class="col s12">
                    <label>@((string)ViewBag.multiRes.GetString("province", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("ProvinceId", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.DropDownList("ProvinceId", new SelectList(Provines, "ProvinceId", "ProvinceName", null), ((string)ViewBag.multiRes.GetString("province", ViewBag.CultureInfo)), new { @class = "browser-default", @onchange = "getDistrict(this)" })
                </div>
                <div class="col s12">
                    <label>@((string)ViewBag.multiRes.GetString("district", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("DistrictId", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    <select class="browser-default" id="combo-ListDistrict" name="DistrictId"></select>
                </div>
                <div class="col s12">
                    <label>@((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessageFor(model => model.ReceiverPhone, null, new { style = "color: red;font-size: 12px;float: right;" })
                    @Html.TextBoxFor(model => model.ReceiverPhone, new { @class = "number-price" })
                </div>
            </div>
        </div>
    </div>
    <button class="btn waves-effect backgournd-color-main waves-red user-text-uppercase right user-margin-right-5 user-processing" data-processing="#paymentform" data-element="background" id="btnSubmitForm">
        @((string)ViewBag.multiRes.GetString("payment", ViewBag.CultureInfo))
        <i class="fa-icon fa-icon-send-118 right"></i>
    </button>
    <div class="clearfix"></div>
}

@section JavaScript {

    <script>
        ; var gListDistrict = [];
        $(document).ready(function () {
            initCreateOrder();
            @if (ViewBag.PaymentTypeName != null) {
            var str = ViewBag.PaymentTypeName;
            <text> $('.btnChangeTypeOrder[data-id="' + "@str" + '"]').click();</text>
        }
            $(".btnChangeTypeOrder").click(function () {
                $('input[type="hidden"]input[name="_PaymentTypeName"]').val($(this).attr("data-id"))
            });
            $('input[name="radCardType"]').click(function (e) {
                /*$(e.target).val($(this).attr("data-id"))*/
            });
        });
        function initCreateOrder() {
            @foreach (var item in Districts)
        {
            <Text>gListDistrict.push({ DistrictId: '@item.DistrictId', DistrictName: '@item.DistrictName', Type: '@item.Type', ProvinceId: '@item.ProvinceId' });</Text>
    }
            @if (ViewBag.ProvinceId != null) {
            <Text>$('select[name="ProvinceId"]').val(@ViewBag.ProvinceId); getDistrict($('select[name="ProvinceId"]'));</text>
        }
            @if (ViewBag.DistrictId != null)
        {
            <Text>$('select[name="DistrictId"]').val(@ViewBag.DistrictId);</text>
        }
        };
        function getDistrict(event) {
            $("#combo-ListDistrict").children().remove();
            var ProvinceId = typeof event.value != "undefined" ? event.value.toString() : $(event).val();
            $.map(gListDistrict, function (ele, ind) {
                if (ProvinceId == ele.ProvinceId.toString()) {
                    $("#combo-ListDistrict").append("<option value='" + ele.DistrictId + "'>" + ele.Type + " " + ele.DistrictName + "</option>");
                }
            });
        };
    </script>
}
