@using HTTelecom.Domain.Core.DataContext.ops
@using HTTelecom.Domain.Core.DataContext.mss
@{
    ViewBag.Title = "OrderViewForm";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var order = ((Order)ViewBag.Order);
}


<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <!--Order Information-->
            <table class="table table-bordered" style="background: #ecf0f1;">
                <tbody>
                    <tr>
                        <td class="col-md-2"></td>
                        <td class="col-md-5"></td>
                        <td class="col-md-2"><strong>Payment:</strong></td>
                        <td class="col-md-3">
                            @if (order.IsPaymentConfirmed == null)
                            {
                                @("Unpaid")
                            }
                            @if (order.IsPaymentConfirmed != null && order.IsPaymentConfirmed == false)
                            {
                                <strong style="color:red"> @("Payment failed")</strong>
                            }
                            @if (order.IsPaymentConfirmed != null && order.IsPaymentConfirmed == true)
                            {
                                <strong style="color:green"> @("Payment success")</strong>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>Membership Id:</strong></td>
                        <td class="col-md-5">
                            @(order.CustomerId)
                        </td>
                        <td class="col-md-2"><strong>OrderCode:</strong></td>
                        <td class="col-md-3">
                            @(order.OrderCode)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>Customer Name:</strong></td>
                        <td class="col-md-5">
                            @order.CustomerName
                        </td>
                        <td class="col-md-2"><strong>Responsible Staff:</strong></td>
                        <td class="col-md-3">@ViewBag.CreateByName</td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>Customer Phone:</strong></td>
                        <td class="col-md-5">
                            @(order.CustomerPhone)
                        </td>
                        <td class="col-md-5" colspan="2" rowspan="2">
                            <strong>Source of Order</strong>
                            <br /><br />
                            <div class="form-group">
                                @if (order.OrderTypeCode == "ORD-T2")
                                {
                                    <span class="radio-inline custom-radio">
                                        @Html.RadioButton("OrderTypeCode", true, new { id = "chk_isDeleted1", value = true, @disabled = "disabled" })
                                        <label for="chk_isDeleted1">&nbsp;&nbsp;Online Order</label>
                                    </span>
                                    <span class="radio-inline custom-radio">
                                        @Html.RadioButton("OrderTypeCode", false, new { id = "chk_isDeleted2", value = false, @checked = "checked", @disabled = "disabled" })
                                        <label for="chk_isDeleted2">&nbsp;&nbsp;Call Order</label>
                                    </span>
                                }
                                else
                                {
                                    <span class="radio-inline custom-radio">
                                        @Html.RadioButton("OrderTypeCode", true, new { id = "chk_isDeleted1", value = true, @checked = "checked", @disabled = "disabled" })
                                        <label for="chk_isDeleted1">&nbsp;&nbsp;Online Order</label>
                                    </span>
                                    <span class="radio-inline custom-radio">
                                        @Html.RadioButton("OrderTypeCode", false, new { id = "chk_isDeleted2", value = false, @disabled = "disabled" })
                                        <label for="chk_isDeleted2">&nbsp;&nbsp;Call Order</label>
                                    </span>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>Customer Email:</strong></td>
                        <td class="col-md-5">
                            @(order.CustomerEmail)
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-2"><strong>TransactionCode:</strong></td>
                        <td class="col-md-5">
                            @(order.TransactionCode)
                        </td>
                        <td class="col-md-2"><strong>TransactionFee:</strong></td>
                        <td class="col-md-3">
                            @string.Format("{0:0,0 Đ}", order.TransactionFee)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>OrderDescription:</strong></td>
                        <td class="col-md-5">
                            @(order.OrderDescription)
                        </td>
                        <td class="col-md-2"><strong>Date of Order:</strong></td>
                        <td class="col-md-3">
                            @(order.DateCreated.Value.ToString("dd-MM-yyyy"))
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--List Product Order-->
            <table class="table table-bordered table-hover" id="table1">
                <thead>
                    <tr>
                        <th class="col-md-2">Id</th>
                        <th class="col-md-5">Product name</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-2">Price</th>
                        <th class="col-md-2">Total</th>
                    </tr>
                </thead>
                <tbody id="data-Product">
                    @foreach (var item in (List<OrderDetail>)ViewBag.OrderDetail)
                    {
                        var itemProduct = ((List<Product>)ViewBag.Products).Where(n => n.ProductId == item.ProductId).FirstOrDefault();
                        var price = item.UnitPriceDiscount == null ? item.UnitPrice : item.UnitPriceDiscount;
                        <tr>
                            <td>@itemProduct.ProductStockCode</td>
                            <td>@itemProduct.ProductName</td>
                            <td>@item.OrderQuantity</td>
                            <th>@string.Format("{0:0,0 Đ}", price)</th>
                            <th>@string.Format("{0:0,0 Đ}", item.TotalPrice)</th>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <th>Sub Total Fee</th>
                        <td>@string.Format("{0:0,0 Đ}", (order.SubTotalFee))</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>Shipping Fee</th>
                        <td>@string.Format("{0:0,0 Đ}", (order.ShippingFee))</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>Tax Fee</th>
                        <td>
                            @string.Format("{0:0}", (order.TaxFee)) %
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Total Product: <span id="spanTotalProuct" style="color:blue;">@(order.TotalProduct)</span>
                        </td>
                        <th>Total Amount</th>
                        <td>@string.Format("{0:0,0 Đ}", (order.TotalPaid))</td>
                    </tr>
                </tfoot>
            </table>
            <!--Payment Information-->
            <table class="table table-bordered" style="background-color:#ddd">
                <tbody>
                    <tr>
                        <td class="col-md-12" colspan="4" style="background: #b4afaf;"><strong>Payment Information</strong></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <strong>Payment Type</strong>
                        </td>
                        <td class="col-md-10" colspan="3">
                            @if (order.PaymentTypeCode == "PTC-1")
                            {
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType1" disabled="disabled" />
                                    <label for="radType1">&nbsp;&nbsp;&nbsp; Pre Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType2" disabled="disabled" />
                                    <label for="radType2">&nbsp;&nbsp;&nbsp; Post Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType3" checked disabled="disabled" />
                                    <label for="radType3">&nbsp;&nbsp;&nbsp; Online Pay</label>
                                </div>
                            }
                            else if (order.PaymentTypeCode == "PTC-2")
                            {
                                <div class="col-md-3 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType1" disabled="disabled" checked />
                                    <label for="radType1">&nbsp;&nbsp;&nbsp; Pre Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType2" disabled="disabled" />
                                    <label for="radType2">&nbsp;&nbsp;&nbsp; Post Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType3" disabled="disabled" />
                                    <label for="radType3">&nbsp;&nbsp;&nbsp; Online Pay</label>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType1" disabled="disabled" />
                                    <label for="radType1">&nbsp;&nbsp;&nbsp; Pre Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType2" disabled="disabled" checked />
                                    <label for="radType2">&nbsp;&nbsp;&nbsp; Post Pay</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="typeRad" id="radType3" disabled="disabled" />
                                    <label for="radType3">&nbsp;&nbsp;&nbsp; Online Pay</label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <strong>Bank</strong>
                        </td>
                        <td class="col-md-4">
                            @ViewBag.BankName
                        </td>
                        <td class="col-md-6" colspan="2">
                            @if ((order.CardTypeId == 1))
                            {
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" checked disabled />
                                    <label for="radCarfType1">&nbsp;&nbsp;&nbsp; ATM Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="2" id="radCarfType2" disabled />
                                    <label for="radCarfType2">&nbsp;&nbsp;&nbsp; Credit Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="3" id="radCarfType3" disabled />
                                    <label for="radCarfType3">&nbsp;&nbsp;&nbsp; Debate Card</label>
                                </div>
                            }
                            else if ((order.CardTypeId == 2))
                            {
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" disabled />
                                    <label for="radCarfType1">&nbsp;&nbsp;&nbsp; ATM Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="2" id="radCarfType2" checked disabled />
                                    <label for="radCarfType2">&nbsp;&nbsp;&nbsp; Credit Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="3" id="radCarfType3" disabled />
                                    <label for="radCarfType3">&nbsp;&nbsp;&nbsp; Debate Card</label>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" disabled />
                                    <label for="radCarfType1">&nbsp;&nbsp;&nbsp; ATM Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="2" id="radCarfType2" disabled />
                                    <label for="radCarfType2">&nbsp;&nbsp;&nbsp; Credit Card</label>
                                </div>
                                <div class="col-md-4 form-group custom-radio">
                                    <input type="radio" name="CardTypeId" class="typeposttr" value="3" id="radCarfType3" checked disabled />
                                    <label for="radCarfType3">&nbsp;&nbsp;&nbsp; Debate Card</label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <strong>CardHolderName</strong>
                        </td>
                        <td class="col-md-4">
                            @(order.CardHolderName)
                        </td>
                        <td class="col-md-2">
                            <strong>CardNumber</strong>
                        </td>
                        <td class="col-md-4">
                            @(order.CardNumber)
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Shipping and Customer Infomation-->
            <table class="table table-bordered" id="table3" style="background: #ecf0f1;">
                <tbody>
                    <tr>
                        <td colspan="3" style="background: #b4afaf;"><strong>Shipping and Customer Infomation</strong></td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><strong>Receiver Name:</strong></td>
                        <td class="col-md-7">
                            @(order.ReceiverName)
                        </td>
                        <td class="col-md-3" rowspan="5">
                            <span class="checkbox custom-checkbox">
                                @Html.CheckBox("OrderConfirmed", new { id = "chk_OrderConfirmed" })
                                <label for="OrderConfirmed">&nbsp;&nbsp;Order Confirmed</label>
                            </span>
                            <br /><br />
                            <span class="checkbox custom-checkbox">
                                @Html.CheckBox("PaymentConfirmed", new { name = "chk_PaymentConfirmed", @checked = "checked" }) <label for="chk_PaymentConfirmed">&nbsp;&nbsp;Payment Confirmed</label>
                            </span>
                            <br /><br />
                            <span class="checkbox custom-checkbox">
                                @Html.CheckBox("Warning", new { id = "chk_Warning", @checked = "checked" }) <label for="chk_Warning">&nbsp;&nbsp;Warning</label>
                            </span>
                            <br /><br />
                            <span class="checkbox custom-checkbox">
                                @Html.CheckBox("DeliveryConfirmed", new { id = "chk_DeliveryConfirmed", @checked = "checked" }) <label for="chk_DeliveryConfirmed">&nbsp;&nbsp;Delivery Confirmed</label>
                            </span>
                            <br /><br />
                            <span class="checkbox custom-checkbox">
                                @Html.CheckBox("Closed", new { name = "chk_Closed", @checked = "checked" }) <label for="chk_Closed">&nbsp;&nbsp;Closed</label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Receiver Phone:</strong></td>
                        <td>
                            @(order.ReceiverPhone)
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Address:</strong></td>
                        <td>
                            @(order.ShipToAddress)
                        </td>
                    </tr>
                    <tr>
                        <td><strong>District:</strong></td>
                        <td>
                            @(order.ShipToDistrict)
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Province:</strong></td>
                        <td>
                            @(order.ShipToCity)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/layout.css" rel="stylesheet" />
<link href="~/Content/css/uielement.css" rel="stylesheet" />