@{
    ViewBag.Action = "Create";
    ViewBag.Controller = "SecurityRole";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.ams

@model SecurityRole
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Security Role</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Security Role</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}
<!-- START row -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "SecurityRole", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <!-- START panel -->
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>New Account</h3>
                    <div class="panel-toolbar">
                        <div class="text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-warning">Save and continue</button>
                            <button class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                @Html.TextBoxFor(model => model.SecurityRoleName, new { @class = "form-control", placeholder = "name" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Code</label>
                                @Html.TextBoxFor(model => model.SecurityRoleCode, new { @class = "form-control", placeholder = "code", data_mask = "aaa" })
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">Level</label>
                                @Html.TextBox("txtLevelRole", String.Empty, new { @class = "form-control", @readonly = true, Value = ViewBag.LevelRoleView })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "description", rows = "3", style = "resize: none" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label text-danger">IsDeleted</label>
                                <div class="form-control">
                                    <div class="radio-inline custom-radio custom-radio-info">
                                        @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "rdi_isDeleted1" })
                                        <label for="rdi_isDeleted1">
                                            &nbsp; Yes
                                        </label>
                                    </div>
                                    <div class="radio-inline custom-radio custom-radio-info">
                                        @Html.RadioButtonFor(model => model.IsDeleted, false, new { @checked = "checked", id = "rdi_isDeleted2" })
                                        <label for="rdi_isDeleted2">
                                            &nbsp; No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">IsActive</label>
                                <div class="form-control">
                                    <div class="radio-inline custom-radio custom-radio-info">
                                        @Html.RadioButtonFor(model => model.IsActive, true, new { @checked = "checked", id = "rdi_isActive1" })
                                        <label for="rdi_isActive1">
                                            &nbsp; Yes
                                        </label>
                                    </div>
                                    <div class="radio-inline custom-radio custom-radio-info">
                                        @Html.RadioButtonFor(model => model.IsActive, false, new { id = "rdi_isActive2" })
                                        <label for="rdi_isActive2">
                                            &nbsp; No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ panel body -->
            </div>
            <!--/ END panel -->
        }
    </div>
</div>
<!--/ END row -->