@{
    ViewBag.Title = "InforPrivate";
}
@{
    var ListAds = (List<HTTelecom.Domain.Core.DataContext.acs.Ads>)ViewBag.ListAds;
}
<div class="" style=" padding: 10px; position: absolute; top: 0; left: 0; width: 100%; background: #FF8600; height: 50px;font-size:15pt;">
    <a href="@Url.Action("Index","Home")#" style="color:white">&laquo; BACK TO HOME</a>

    @if (Session["sessionXoneAds"] == null)
    {
        <a href="@Url.Action("Login","AdsCustomer")" style="float:right;color:white">LOGIN</a>
    }
    else
    {
        var acc = (HTTelecom.Domain.Core.DataContext.cis.AdsCustomer)Session["sessionXoneAds"];
        <div class="dropdown" style="float:right;color:white">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                @acc.Email
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="  right: 0px;left: auto;">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("InforPrivate", "Home")">Ads Posted </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Logout", "AdsCustomer")">Logout</a></li>
            </ul>
        </div>
    }
</div>
<div class="row" style="margin: 0px; padding-top: 10px; margin-top: 50px;margin-bottom:80px">
    @foreach (var item in ListAds)
    {
        var outputStatus = item.IsDeleted == true || item.IsActive == false ? "<span style='color:red'>CLOSED</span>" : "<span style='color:green'>ACTIVED</span>";
        <div class="col col-sm-12">
            <div style="padding: 10px; background: white; color: black; border-top-right-radius: 8px; border-top-left-radius: 8px; border: 1px solid #c5c5c5; border-bottom: 0px;">
                <h4 style="margin:0px;">@item.AdsContent.AdsHeader</h4>
            </div>
            <div class="thumbnail" style=" border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; padding: 0px; -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1)">
                <div style="width: 100%; height: auto; text-align: center; border-bottom: 1px solid #c5c5c5; background: #c5c5c5;">
                    <a href="@Url.Action("Infor", "Home", new { id=@item.AdsId})"><img src="@HTTelecom.WebUI.XoneAds.Common.Common.host/@item.AdsContent.ImageFilePath" alt="@item.AdsContent.AdsTitle" style="  max-height: 300px;border:1px solid #c5c5c5;min-height:200px;"></a>
                </div>

                <div class="caption">
                    <div class="media-left">
                        <img class="" src="@HTTelecom.WebUI.XoneAds.Common.Common.host/@item.AdsContent.LogoFilePath" alt="@item.AdsContent.AdsTitle" width="48" height="48" style="border-radius:50%;">
                    </div>
                    <div class="media-body" style="vertical-align: middle;">
                        <a href="@Url.Action("Infor", "Home", new { id=@item.AdsId})">@item.AdsContent.AdsTitle</a>
                        <p style="text-align:right">Stastus: @Html.Raw(outputStatus)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .thumbnail {
        border-radius: 2px;
    }
</style>