@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model HTTelecom.Domain.Core.DataContext.ams.Account


<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - My Account</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">My Account</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- /Page Header -->

@if (ViewBag.ResponseMessage != null)
{
    if (ViewBag.ResponseMessage == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
    
    if (ViewBag.ResponseMessage == 2)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> Your old password is wrong.
        </div>
    }
    
     if (ViewBag.ResponseMessage == 3)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> The Retyping password is not match.
        </div>
    }
     if (ViewBag.ResponseMessage == 4)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> 
        </div>
    }
     if (ViewBag.ResponseMessage == 5)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> The password length must be in range [5 - 10]
        </div>
    }
}

@using (Html.BeginForm("AccountInfo", "Account", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <div class="panel-toolbar">
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#tab_Info" data-toggle="tab">Account Info</a></li>   
                        <li class=""><a href="#tab_Department" data-toggle="tab">Department</a></li>   
                        <li class=""><a href="#tab_DepartmentGroup" data-toggle="tab">Department Group</a></li>   
                        <li class=""><a href="#tab_OrgRole" data-toggle="tab">Org Role</a></li>                       
                    </ul>
                  <!-- <div class="text-right">
                        <button type="submit" class="btn btn-success">Save & Exit</button>
                        <button class="btn btn-warning">Save & Continue</button>
                        <button class="btn btn-danger">Reset </button>
                    </div>-->
                </div>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <!-- tab content -->
                <div class="tab-content">
                    <!-- -------------Account Info------------- -->
                    <div class="tab-pane active" id="tab_Info">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.AccountId, new { @class = "form-control" })

                                            <label>Full Name</label>
                                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "Name",@readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", placeholder = "Gender", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Phone", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <br/>
                                           [<a href="#" id="btnOpenModalChangePassword" class="modal-trigger">Change password</a>]
                                        </div>
                                    </div>
                                 
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                    <!--/ Account Info -->    
                    <!-- -------------Account Department------------- -->
                    <div class="tab-pane" id="tab_Department">                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">      
                                    <label>Department Name</label>
                                    @{
                                        HTTelecom.Domain.Core.DataContext.ams.Department depart = (HTTelecom.Domain.Core.DataContext.ams.Department)ViewBag.Department ;                                                
                                    }
                                    @Html.TextBox("DepartmentName", depart == null ? "" : depart.DepartmentName,new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Department Code</label>
                                    @Html.TextBox("DepartmentCode", depart == null ? "" : depart.DepartmentCode, new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    @Html.TextBox("DepartmentDescription", depart == null ? "" : depart.Description, new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>                                 
                        </div>                    
                    </div>
                    <!--/ Account Department -->
                    <!-- -------------Account Department Group------------- -->
                    <div class="tab-pane" id="tab_DepartmentGroup">                    
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @{
                                        HTTelecom.Domain.Core.DataContext.ams.DepartmentGroup departg = (HTTelecom.Domain.Core.DataContext.ams.DepartmentGroup)ViewBag.DepartmentGroup;
                                    }         
                                    <label>Department Group Name</label>
                                    @Html.TextBox("DepartmentGroupName", departg == null ? "" : departg.DepartmentGroupName, new { @class = "form-control", placeholder = "", @readonly = true })
                                           
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    @Html.TextBox("DepartmentGroupDescription", departg == null ? "" : departg.Description, new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <!--/ Account Department Group -->
                    <!-- -------------Account Org Role------------- -->
                    <div class="tab-pane" id="tab_OrgRole">                       
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @{
                                        HTTelecom.Domain.Core.DataContext.ams.OrgRole orgrole = (HTTelecom.Domain.Core.DataContext.ams.OrgRole)ViewBag.OrgRole;
                                    }
                                    <label>Org Role Name</label>
                                    @Html.TextBox("OrgRoleName", orgrole == null ? "" : orgrole.OrgRoleName, new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Level Role</label>
                                    @Html.TextBox("OrgRoleLevelRole", orgrole == null ? "" : orgrole.LevelRole.ToString(), new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    @Html.TextBox("OrgRoleDescription", orgrole == null ? "" : orgrole.Description, new { @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                        </div>                          
                    </div>
                    <!--/ Account Org Role -->    
                </div>
                <!--/ tab content -->
            </div>
            <!--/ panel body -->
        </div>
        <!--/ panel -->
    </div>
    
    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "formChangePassword"}))
    {      
        <div class="modal fade" id="modalChangePassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div id="error-validate-profile" style="display:none;color:RED;"></div>
                            <div>
                                <label for="icon_OldPassword">Old password</label>
                                <input type="password" class="form-control" name="oldpassword" id="icon_OldPassword" />
                            </div>
                            <div>
                                <label for="icon_NewPassword">New password</label>
                                <input type="password" class="form-control" name="newpassword" id="icon_NewPassword" />
                            </div>
                            <div>
                                <label for="icon_ReNewPassword">Retype new password</label>
                                <input type="password" class="form-control" name="renewpassword" id="icon_ReNewPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" onclick="SubmitChangePass()" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
}

<script type="text/javascript">
    function SelectProduct(productId) {
        $("#btnOpenModalChangePassword").val(productId);
        $("#modalChangePassword").modal("hide");
    }

    $(document).on("click", "#btnOpenModalChangePassword", function (event) {
        $("#modalChangePassword").modal("show");
    });
    function SubmitChangePass() {
        $("#formChangePassword").submit();
    }
</script>