@{
    ViewBag.Action = "Media Support";
    ViewBag.Controller = "TTS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.tts
@using HTTelecom.Domain.Core.DataContext.ams
@using HTTelecom.WebUI.MediaSupport.Common
@model List<MainRecord>
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">MediaSupport - Task List</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Task List</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
@*@using (Html.BeginForm("SaleMedia", "TTS", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
    {*@
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-5 pull-right">
            <div class="input-group">
                @Html.TextBox("q", (string)ViewBag.q, new { @class = "form-control inputSubmit" })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" id="btnSubmit" data-id="btnSubmit" data-href="@Url.Action("Index", "TTS", new { tag = "__Tag__", q = "__Search__", page = ViewBag.page, filter = ViewBag.filter })">
                        Find
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <select name="tag" class="form-control">
                <option value="0">All</option>
                <option value="1">Title</option>
                <option value="2">FormId</option>
            </select>
        </div>
    </div>
</div>
<!-- START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel">
            <!-- panel body with collapse capabale -->
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th>FormId</th>
                            <th>
                                StatusProccess
                            </th>
                            <th>
                                StatusDirection
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                        <li><a href="@Url.Action("Index", "TTS", new { q = ViewBag.q, page = ViewBag.page, filter = 0, tag = ViewBag.tag })">All</a></li>
                                        @foreach (var item in (List<StatusDirection>)ViewBag.ListStatusDirection)
                                        {
                                            <li><a href="@Url.Action("Index", "TTS", new { q = ViewBag.q, page = ViewBag.page, filter = item.StatusDirectionId, tag = ViewBag.tag })">@item.StatusDirectionName</a></li>
                                        }
                                    </ul>

                                    @*@Html.DropDownList("filter", (SelectList)ViewBag.ListStatusDirection, "All", new { @class = "dropdown-menu", role = "menu", style = "right:0;left:auto;" })*@
                                    @*@Html.DropDownList("filter", new SelectList(ViewBag.lstStatusDirection, "StatusDirectionId", "StatusDirectionName"),"All", new { @class = "dropdown-menu", role = "menu", style = "right:0;left:auto;" })*@
                                </div>
                            </th>
                            <th>By Manager</th>
                            <th>By Staff</th>
                            <th>Originator</th>
                            <th width="15%">
                                Date Modified
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var index = 1;}
                        @foreach (var item in Model)
                        {
                            //var itemPriority = ((List<Priority>)ViewBag.lstPriority).Where(n => n.PriorityId == item.PriorityId).FirstOrDefault();
                            var itemStatusProcess = ((List<StatusProcess>)ViewBag.lstStatusProccess).Where(n => n.StatusProcessCode == item.StatusProcessCode).FirstOrDefault();
                            var itemStatusDirection = ((List<StatusDirection>)ViewBag.lstStatusDirection).Where(n => n.StatusDirectionCode == item.StatusDirectionCode).FirstOrDefault();
                            var itemAccount = ((List<Account>)ViewBag.lstAccount).Where(n => n.AccountId == item.OriginatorId).FirstOrDefault();
                            var itemHolder = ((List<Account>)ViewBag.lstAccount).Where(n => n.AccountId == item.HoldByStaffId).FirstOrDefault();
                            var itemManager = ((List<Account>)ViewBag.lstAccount).Where(n => n.AccountId == item.HoldByManagerId).FirstOrDefault();
                            var lstSub = ((List<SubRecordJson>)ViewBag.SubList).Where(n => n.MainRecordId == item.MainRecordId.ToString()).ToList();
                            <tr>
                                <td class="text-center">@index</td>
                                <td>
                                    <a href="@Url.Action("EditMRF", new { id = item.MainRecordId })">@item.FormId</a>
                                    <span class="pull-right text-muted">

                                        @if (lstSub != null)
                                        {
                                            <i>@lstSub.Count  sub   </i>
                                        }

                                    </span>
                                </td>
                                <td>
                                    @itemStatusProcess.StatusProcessName

                                </td>
                                <td>
                                    @itemStatusDirection.StatusDirectionName

                                </td>
                                <td>
                                    @if (itemManager != null)
                                    {
                                        @itemManager.Email.ToString()
                                    }
                                </td>
                                <td>
                                    @if (itemHolder != null)
                                    {
                                        @itemHolder.Email.ToString()
                                    }
                                </td>

                                @if (itemAccount != null)
                                {
                                    <td> @itemAccount.Email</td>
                                }
                                else
                                {
                                <td></td> }
                                <td>
                                    @item.DateModified.Value.ToShortDateString()
                                </td>
                            </tr>
                                index++;
                        }
                    </tbody>

                </table>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
@*}*@

<script>
    $(document).ready(function () {
        $('select[name="tag"]').val(@ViewBag.tag)
        $(".inputSubmit").keyup(function (e) {
            if (e.keyCode == 13) {
                $(e.target).next().click();
            }
        });
        $("#btnSubmit").click(function () {
            var href = $(this).attr('data-href');
            window.location = href.replace('__Tag__', escape($('select[name="tag"]').val())).replace('__Search__', escape($(".inputSubmit").val()));
        })
    });
</script>
<!--/ END row -->
