@{
    ViewBag.Title = "ReportForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HTTelecom.Domain.Core.DataContext.cis.Customer
<div class="row user-margin-10 backgournd-color-white">
    <h4 class="header center user-color-main user-padding-10" data-element="color" style="border-bottom: 3px solid; letter-spacing: 5px; ">Forgot Password Report</h4>
    <div class="col s12">
        @{
            if (TempData["gMessageCurrent"] != null)
            {
                if (TempData["gMessageCurrent"] == "notActive")
                {
                    <div class="row">
                        <div class="col s12" style="text-align:center;color:red;">
                            Your account is not active.
                            @{
                    /*get host link*/
                                string url_verify = "";
                                url_verify = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;
                            }
                            Click <a style="text-align:center;color:blue;" href="@url_verify">here</a> to go Index.
                        </div>
                    </div>
                }

                if (TempData["gMessageCurrent"] == "error")
                {
                    <div class="row">
                        <div class="col s12" style="text-align:center;color:blue;">
                            [Error: System error]
                            @{
                    /*get host link*/
                                string url_verify = "";
                                url_verify = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;
                            }
                            Click <a style="text-align:center;color:blue;" href="@url_verify">here</a> to go Index.
                        </div>
                    </div>
                }

                if (TempData["gMessageCurrent"] == "errorPassChecking")
                {
                    <div class="row">
                        <div class="col s12" style="text-align:center;color:red;">
                            [Error: Reset password link has been changed]
                         @{
                    /*get host link*/
                                string url_verify = "";
                                url_verify = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;
                        }
                            Click <a style="text-align:center;color:blue;" href="@url_verify">here</a> to go Index.
                        </div>
                    </div>
                }

                if (TempData["gMessageCurrent"] == "ActiveChangePassword")
                {
                    <div class="row">
                        <div class="col s12" style="text-align:center;color:red;">
                            Your request has been confirmed. Please check your mail.
                             @{
                    /*get host link*/
                                    string url_verify = "";
                                    url_verify = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;
                            }
                            Click <a style="text-align:center;color:blue;" href="@url_verify">here</a> to go Index.
                        </div>
                    </div>
                }

                if (TempData["gMessageCurrent"] == "changeSuccess")
                {
                    <div class="row">
                        <div class="col s12" style="text-align:center;color:blue;">
                            Your password has been changed. 
                             @{
                    /*get host link*/
                                    string url_verify = "";
                                    url_verify = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;
                            }
                            Click <a style="text-align:center;color:red;" href="@url_verify">here</a> to go Index.
                        </div>
                    </div>
                } 
            }
        }
    </div>
</div>
<script type="text/javascript">
    ; setTimeout('delayer()', 5000);
    function delayer() {
        window.location = '../../../../../../../';
    };
</script>

