@{
    ViewBag.LayoutTitle = ((string)ViewBag.multiRes.GetString("sign_up", ViewBag.CultureInfo));
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
@using BotDetect;
@using BotDetect.Web.UI.Mvc;
@model HTTelecom.WebUI.eCommerce.Models.SignUpModel

@using (Html.BeginForm("SignUp", "Customer", FormMethod.Post, new { id = "Cartform" }))
{
    var captcha = new MvcCaptcha("GalagalaCaptcha");
    captcha.UserInputClientID = "CaptchaCode";
    @Html.Hidden("gender", (string)ViewBag.gender)
    <div class="row user-margin-5 backgournd-color-white">
        <h4 class="header center user-color-main user-text-center user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("sign_up", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 user-padding-5">
            @if (TempData["gMessageCurrent"] != null)
            {
                var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
            <div class="row user-margin-0">
                <div class="col s12" style="text-align:center;color:red;">
                    @foreach (var item in gMessageCurrent)
                        {
                    <p>@item</p>
                        }
                </div>
            </div>
            }
            <div class="row user-margin-0">
                <div class=" col m6 s12">
                    <label for="icon_prefix_lastname">
                        @((string)ViewBag.multiRes.GetString("lastname", ViewBag.CultureInfo))
                    </label>
                    @Html.ValidationMessage("lastname", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.lastname, new { @class = "validate user-border-radius-5", id = "icon_prefix_lastname", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
                <div class=" col m6 s12">
                    <label for="icon_prefix_firstname">@((string)ViewBag.multiRes.GetString("firstname", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("firstname", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.firstname, new { @class = "validate user-border-radius-5", id = "icon_prefix_firstname", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
            </div>
            <div class="row user-margin-0">
                <div class=" col m6 s12">
                    <label for="icon_prefixphone">@((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("phone", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.phone, new { @class = "validate user-border-radius-5", id = "icon_prefixphone", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
                <div class=" col m6 s12">
                    <label for="icon_prefix_address">@((string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("address", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.address, new { @class = "validate user-border-radius-5", id = "icon_prefix_address", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
            </div>
            <div class="row user-margin-0">
                <div class=" col m6 s12">
                    <label for="icon_prefix">Email</label>
                    @Html.ValidationMessage("email", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.email, new { @class = "validate user-border-radius-5", id = "icon_prefix", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;  text-transform: lowercase;" })
                </div>
                <div class=" col m6 s12">
                    <label for="icon_Date" style="">
                        @((string)ViewBag.multiRes.GetString("birthday", ViewBag.CultureInfo))
                    </label>
                    @Html.ValidationMessage("DateOfBirth", null, new { style = "color: red;font-size: 10px;float: right;margin-top: 5px;text-align: right;" })
                    <div>
                        <input type="number" name="birthday_Date" class="number-price birthday" max="31" min="1" value="@(Model.DateOfBirth.HasValue?Model.DateOfBirth.Value.Day:(int?)null)" />
                        <input type="number" name="birthday_Month" class="number-price birthday" max="12" min="1" value="@(Model.DateOfBirth.HasValue?Model.DateOfBirth.Value.Month:(int?)null)" />
                        <input type="number" name="birthday_Year" class="number-price birthday" max="@(DateTime.Now.Year-18)" min="1920" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.Year : (int?)null)" />
                    </div>
                </div>
            </div>
            <div class="row user-margin-0">
                <div class=" col m6 s12">
                    <label for="icon_pass">@((string)ViewBag.multiRes.GetString("password", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("password", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;  text-transform: lowercase;" })
                    @Html.PasswordFor(model => model.password, new { @class = "validat user-border-radius-5e user-border-radius-5", id = "icon_pass", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
                <div class=" col m6 s12">
                    <label for="icon_rePass">@((string)ViewBag.multiRes.GetString("repassword", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("rePassword", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;  text-transform: lowercase;" })
                    @Html.PasswordFor(model => model.rePassword, new { @class = "validate user-border-radius-5", id = "icon_rePass", style = "  border: 1px solid #c5c5c5;  padding-left: 5px;" })
                </div>
            </div>
            <div class="row user-margin-0">
                <div class=" col m6 s12">
                    @Html.Captcha(captcha)
                    @Html.ValidationMessage("CaptchaCode", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.CaptchaCode, new { @class = "validate user-border-radius-5", id = "icon_prefix_CaptchaCode", placeholder = ((string)ViewBag.multiRes.GetString("captchacode", ViewBag.CultureInfo)), style = "  border: 1px solid #c5c5c5!important;  padding-left: 5px;" })
                </div>
                <div class="col m6 s12">
                    <label for="icon_Radio">
                        @((string)ViewBag.multiRes.GetString("gender", ViewBag.CultureInfo))
                    </label>
                    @Html.ValidationMessage("gender", null, new { style = "color: red;font-size:10px;float: right;  margin-top: 5px;" })
                    <div id="icon_Radio">
                        <input name='gender' type='radio' id='raMale' value='male' @(ViewBag.gender.ToLower() == "male" ? "checked" : "") />
                        <label for="raMale" style="margin-left: 28px;">
                            @((string)ViewBag.multiRes.GetString("male", ViewBag.CultureInfo))
                        </label>
                        <input name='gender' type='radio' id='raFemale' value='female' @(ViewBag.gender.ToLower() == "female" ? "checked" : "") />
                        <label for="raFemale">
                            @((string)ViewBag.multiRes.GetString("female", ViewBag.CultureInfo))
                        </label>
                    </div>
                </div>
            </div>
            <div class="row user-margin-0">
                <div class="col m12 s12">
                    <input type="checkbox" id="chkAgree" name="chkAgree" @(ViewBag.chkAgree != null && ViewBag.chkAgree == "on" ? "checked" : "") />
                    <label for="chkAgree">
                        @((string)ViewBag.multiRes.GetString("signup_agree_form", ViewBag.CultureInfo))
                    </label>
                    @Html.ValidationMessage("chkAgree", null, new { style = "color: red;font-size:  10px; margin-top: 5px;" })
                </div>
            </div>
            <div class="row user-margin-0" style="text-align:center">
                <button class="btn backgournd-color-main waves-red" data-element="background" type="submit" name="action">
                    @((string)ViewBag.multiRes.GetString("sign_up", ViewBag.CultureInfo))
                </button>
            </div>
        </div>
    </div>
}
@section JavaScript {
    <script>
        (function ($) {
            function newDate(m, y) {
                var d = new Date(y, m, 0);
                $("input[name='birthday_Date']").attr("max", d.getDate())
            }
            $(document).ready(function () {
                $(".birthday").change(function (e) {
                    if (parseInt($(e.target).val()) > parseInt($(e.target).attr("max")) || parseInt($(e.target).val()) < parseInt($(e.target).attr("min"))) {
                        $(e.target).val($(e.target).attr("max"))
                    }
                    newDate($("input[name='birthday_Month']").val(), $("input[name='birthday_Year']").val())
                })
                $('input[name="gender"]').click(function (e) {
                    $('input[type="hidden"][name="gender"]').val($(e.target).val())
                });
                $("#GalagalaCaptcha_CaptchaImageDiv").children("a").remove();
            });
        })(jQuery);
    </script>
}
@section CSS{
    <style>
        body {
            background: white;
        }

        .birthday {
            text-align: center;
            width: 23% !important;
        }

        #GalagalaCaptcha_CaptchaImageDiv, #GalagalaCaptcha_CaptchaIconsDiv {
            float: left;
        }
    </style>
}