@{
    ViewBag.Action = "Edit";
    ViewBag.Controller = "SystemType";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var createBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.CreatedBy).FirstOrDefault();
    var modifiedBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.ModifiedBy).FirstOrDefault();
}
@using HTTelecom.Domain.Core.DataContext.ams
@using PagedList
@using PagedList.Mvc

@model SystemType
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Edit System Type</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active"><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index", "SystemType")">System Type</a></li>
                <li class="active">Edit System Type</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}

<!-- START row -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "SystemType", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.SystemTypeId)
            <!-- START panel -->
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active" : "")"><a href="#one" data-toggle="tab">System Type Info</a></li>
                            <li class="@(ViewBag.TabIsActive == "tabtwo" ? "active" : "")"><a href="#two" data-toggle="tab">Account Permission</a></li>
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-warning">Save and continue</button>
                            <button class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active" : "")" id="one">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        @Html.TextBoxFor(model => model.SystemName, new { @class = "form-control", placeholder = "name" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        @Html.TextBoxFor(model => model.SystemCode, new { @class = "form-control", placeholder = "code", data_mask = "aa" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">URL</label>
                                        @Html.TextBoxFor(model => model.URL, new { @class = "form-control", placeholder = "URL" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "description", rows = 3, style = "resize:none" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label text-danger">IsDeleted</label>
                                        <div class="form-control">
                                            @if (Model.IsDeleted == true)
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, true, new { @checked = "checked", id = "rdi_isDeleted1" })
                                                    <label for="rdi_isDeleted1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "rdi_isDeleted2" })
                                                    <label for="rdi_isDeleted2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "rdi_isDeleted1" })
                                                    <label for="rdi_isDeleted1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, false, new { @checked = "checked", id = "rdi_isDeleted2" })
                                                    <label for="rdi_isDeleted2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">IsActive</label>
                                        <div class="form-control">
                                            @if (Model.IsActive == true)
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { @checked = "checked", id = "rdi_isActive1" })
                                                    <label for="rdi_isActive1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "rdi_isActive2" })
                                                    <label for="rdi_isActive2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "rdi_isActive1" })
                                                    <label for="rdi_isActive1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { @checked = "checked", id = "rdi_isActive2" })
                                                    <label for="rdi_isActive2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">CreatedBy:</label>
                                    <div class="form-control">
                                        @(createBy != null ? createBy.Email : "N/A")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">ModifiedBy</label>
                                    <div class="form-control">
                                        @(modifiedBy != null ? modifiedBy.Email : "N/A")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">DateCreated</label>
                                    <div class="form-control">
                                        @Model.DateCreated.Value.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">DateModified</label>
                                    <div class="form-control">
                                        @(Model.DateModified != null ? Model.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabtwo" ? "active" : "")" id="two">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- START panel -->
                                    <div class="panel panel-blue" id="system-permission-table">
                                        <!-- panel heading/header -->
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>System Type Permission Table</h3>
                                            <!-- panel toolbar -->
                                            <div class="panel-toolbar text-right">
                                                <!-- option -->
                                                <div class="option">
                                                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                    @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                                                </div>
                                                <!--/ option -->
                                            </div>
                                            <!--/ panel toolbar -->
                                        </div>
                                        <!--/ panel heading/header -->
                                        <!-- panel toolbar wrapper -->
                                        <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                                            <div class="panel-toolbar">
                                                <button type="button" data-toggle="modal" data-target="#create_permission" class="btn btn-info">New Account Permission</button>
                                            </div>
                                            <div class=" panel-toolbar hide" id="toolbar-toshow">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default">IsAllow ??</button>
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 1);'><i class="icon ico-pencil"></i>Allow</a></li>
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 0);'><i class="icon ico-print3"></i>Deny</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-toolbar text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ panel toolbar wrapper -->
                                        <!-- panel body with collapse capabale -->
                                        <div class="panel-collapse pull out">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="3%" class="text-center">
                                                            <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                                                <input type="checkbox" id="chk_All_System_Permission" value="1" data-toggle="checkall" data-target="#system-permission-table">
                                                                <label for="chk_All_System_Permission"></label>
                                                            </div>
                                                        </th>
                                                        <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                                                        <th class="text-center" width="10%">Status</th>
                                                        <th>Email</th>
                                                        <th>System</th>
                                                        <th>Role</th>
                                                        <th width="15%">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list-system-permission">
                                                    @{
                                            int i = 1;
                                            foreach (var item in (IPagedList<SystemTypePermission>)ViewBag.listSystemPermissionPager)
                                            {
                                                var itemAccount = ((List<Account>)ViewBag.list_Account).Where(x => x.AccountId == item.AccountId).FirstOrDefault();
                                                var itemSystemType = ((List<SystemType>)ViewBag.list_SystemType).Where(x => x.SystemTypeId == item.SystemTypeId).FirstOrDefault();
                                                var itemSecurityRole = ((List<SecurityRole>)ViewBag.list_SecurityRole).Where(x => x.SecurityRoleId == item.SecurityRoleId).FirstOrDefault();

                                                <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                                    <td class="text-center">
                                                        <div class="checkbox custom-checkbox nm">
                                                            <input type="checkbox" name="chk_system_permission" id="chk_system_permission_@i" value="@item.SystemTypePermissionId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                                            <label for="chk_system_permission_@i"></label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">@i</td>
                                                    @if (item.IsAllowed == true)
                                                    {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.SystemTypePermissionId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Allowed</span></a></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.SystemTypePermissionId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deny">Deny</span></a></td>
                                                    }
                                                    <td>
                                                        <strong class="text-info">@(itemAccount.Email != null ? itemAccount.Email : "N/A")</strong>
                                                    </td>
                                                    <td><span>@(itemSystemType.SystemName != null ? itemSystemType.SystemName : "N/A")</span></td>
                                                    <td><span>@(itemSecurityRole.SecurityRoleName != null ? itemSecurityRole.SecurityRoleName : "N/A")</span></td>
                                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                                </tr>
                                                    i++;
                                            }
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                @Html.PagedListPager((IPagedList<SystemTypePermission>)ViewBag.listSystemPermissionPager, page => Url.Action("Edit", new { page = page, tabActive = "tabtwo" }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ panel body -->
            </div>
                <!--/ END panel -->
        }
    </div>
</div>
<!--/ END row -->
<!-- START modal-sm -->
<div id="create_permission" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <strong>New Account Permission</strong>
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="mb15 mt15" style="font-size:36px;">
                </div>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide">
                    <ul id="listErrors"></ul>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">System</label>
                            <div class="form-control">
                                @Model.SystemName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Account</label>
                            @Html.DropDownList("AccountId", new SelectList(ViewBag.list_Account, "AccountId", "Email"), "Select account...", new { @class = "select2" })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Role</label>
                            @Html.DropDownList("SecurityRoleId", new SelectList(ViewBag.list_SecurityRole, "SecurityRoleId", "SecurityRoleName"), "Select role...", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnCreateSystemPermission">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--/ END modal-sm -->

<script type="text/javascript">
    $(".btnCreateSystemPermission").click(function () {
        var _accountId = $('#AccountId').val();
        var _securityRoleId = $('#SecurityRoleId').val();

        if (_accountId == "") {
            _accountId = 0;
        }
        if (_securityRoleId == "") {
            _securityRoleId = 0;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SystemTypePermission")',
            data: {
                systemTypeId: '@Model.SystemTypeId',
                accountId: _accountId,
                securityRoleId: _securityRoleId
            },
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.Success) {
                    createSystemPermissionTable(data._listSystemTypePermission);
                    $("#create_permission").modal('hide');
                }
                else {
                    var lstErrors = data.errors;
                    var target = $("#listErrors");
                    target.empty();
                    $.each(lstErrors, function (_index, _item) {
                        target.append(
                            '<li>' + _item + '</li>'
                            );
                    });
                    target.parent().removeClass('hide');
                }
            }
        });
    });

    function ChangeStatusAction(systemPermissionId, sbool) {
        _listCheckedSystemPermissionTable = [];

        if (systemPermissionId == 0) {
            $('.list-system-permission tr').each(function () {
                var achecked = $(this).find('input[name="chk_system_permission"]');
                if (achecked.is(':checked')) {
                    _listCheckedSystemPermissionTable.push(achecked.val());
                }
            });
        }
        else {
            _listCheckedSystemPermissionTable.push(systemPermissionId);
        }
        if (confirm("Are you sure?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeAllow", "SystemTypePermission")',
                data: {
                    systemTypeId: '@Model.SystemTypeId',
                    listSystemPermissionId: _listCheckedSystemPermissionTable,
                    sbool: sbool,
                    page: '@ViewBag.page'
                },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        createSystemPermissionTable(data._listSystemTypePermission);
                    }
                }
            });
        }
    }

    function createSystemPermissionTable(listSystemTypePermission) {
        var target = $(".list-system-permission");

        var _listAccount = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_Account))');
        var _listSystemType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SystemType))');
        var _listSecurityRole = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SecurityRole))');

        target.empty();

        $.each(listSystemTypePermission, function (_index, _item) {

            var _email, _systemName, _securityRoleName = "N/A";
            var _url = '@Url.Action("Edit", "SystemTypePermission", new { id = "_SystemTypePermissionId_" })'.replace('_SystemTypePermissionId_', _item.SystemTypePermissionId);
            var _dateCreated = new Date(_item.DateCreated.match(/\d+/)[0] * 1);

            $.each(_listAccount, function (_index, _item1) {
                if (_item1.AccountId == _item.AccountId) {
                    _email = _item1.Email;
                }
            });

            $.each(_listSystemType, function (_index, _item2) {
                if (_item2.SystemTypeId == _item.SystemTypeId) {
                    _systemName = _item2.SystemName;
                }
            });

            $.each(_listSecurityRole, function (_index, _item3) {
                if (_item3.SecurityRoleId == _item.SecurityRoleId) {
                    _securityRoleName = _item3.SecurityRoleName;
                }
            });

            target.append(
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_system_permission" id="chk_system_permission_' + (_index + 1) + '" value="' + _item.SystemTypePermissionId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_system_permission_' + (_index + 1) + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td>' + (_index + 1) + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsAllowed == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.SystemTypePermissionId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Allowed">Allowed</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.SystemTypePermissionId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deny">Deny</span></a>')
                    + '</td>'
                    + '<td><strong class="text-info">' + _email + '</strong></td>'
                    + '<td><span>' + _systemName + '</span></td>'
                    + '<td><span>' + _securityRoleName + '</span></td>'
                    + '<td>' + moment(_dateCreated).format('MM/DD/YYYY') + '</td>'
                + '</tr>'
                            );
        });
    }

    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#system-permission-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>
