@{
    ViewBag.Title = "ChangeForgotPassword";
    ViewBag.Back = Url.Action("Index", "Home");
}

@using BotDetect;
@using BotDetect.Web.UI.Mvc;
@model HTTelecom.WebUI.eCommerce.Models.ChangeForgotPasswordModel

@using (Html.BeginForm("ChangeForgotPassword", "Customer", FormMethod.Post, new { id = "changeForgotPasswordform" }))
{
    @Html.Hidden("ur", (string)ViewBag.ur);
    <div class="row user-margin-10 backgournd-color-white">
        <h4 class="header center user-color-main user-padding-10" data-element="color" style="border-bottom: 3px solid; letter-spacing: 5px; ">@((string)ViewBag.multiRes.GetString("lost_password", ViewBag.CultureInfo))</h4>
        <div class="col s12">
            @if (TempData["gMessageCurrent"] != null)
            {
                var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
            <div class="row">
                <div class="col s12" style="text-align:center;color:red;">
                    @foreach (var item in gMessageCurrent)
                        {
                        <p>@item</p>
                        }
                </div>
            </div>
            }
            <div class="row">
                <div class="col m6 s12">
                    @Html.TextBoxFor(model => model.cId, new { @class = "validate", id = "cId", style = "visibility:hidden" })
                    <label for="icon_prefix">@((string)ViewBag.multiRes.GetString("security_token", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("key", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.key, new { @class = "validate", id = "key" })
                </div>
            </div>

            <div class="row">
                <div class=" col m6 s12">
                    <label for="icon_prefix">@((string)ViewBag.multiRes.GetString("renew_password", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("password", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.PasswordFor(model => model.password, new { @class = "validate", id = "password" })
                </div>
            </div>

            <div class="row">
                <div class=" col m6 s12">
                    <label for="icon_prefix">@((string)ViewBag.multiRes.GetString("repassword", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("rePassword", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.PasswordFor(model => model.rePassword, new { @class = "validate", id = "rePassword" })
                </div>
            </div>
            <div class="row" style="text-align:center">
                <button class="btn waves-effect backgournd-color-main waves-red user-text-uppercase" data-element="background" id="btnSubmitForm">
                    @((string)ViewBag.multiRes.GetString("change_password", ViewBag.CultureInfo)) <i class="fa fa-paper-plane right"></i>
                </button>
            </div>
        </div>
    </div>
}


@section CSS{
    <style>
        form {
            min-height: 500px;
        }
    </style>
}