@{
    ViewBag.LayoutTitle = Model.LastName + ' ' + Model.FirstName;
    var TransactionStatus = (List<HTTelecom.Domain.Core.DataContext.ops.TransactionStatus>)ViewBag.TransactionStatus;
    ViewBag.Back = Url.Action("Profile", "Customer");
}
@model HTTelecom.Domain.Core.DataContext.cis.Customer
<div class="row user-margin-0 user-margin-top-10">
    <section class="col s12" style="position:relative;">
        <div class="row user-margin-bottom-10 backgournd-color-main user-color-white" style="width: 100%;padding:5px;display:table;">
            <div style=" display: table-cell; vertical-align: middle; width: 90px;">
                <a href="#modalChangImage" class="modal-trigger">
                    @if (Model.AvatarPhotoUrl != null && Model.AvatarPhotoUrl != "")
                    {
                    <img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect@Model.AvatarPhotoUrl" alt="@Model.FirstName @Model.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 5px; float: left; -webkit-border-radius: 5px; ">
                    }
                    else
                    {
                    <img src="~/Content/avatar-blank.jpg" alt="@Model.FirstName @Model.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 90px; float: left; -webkit-border-radius: 5px; ">
                    }
                </a>
            </div>
            <div style=" padding: 8px 15px; display: table-cell; vertical-align: middle;">
                <p class="user-margin-0">@((string)ViewBag.multiRes.GetString("profile_information", ViewBag.CultureInfo))</p>
                <strong style=" font-size: 30px;">@Model.LastName @Model.FirstName</strong>
                <a href="#modalChangImage" class="modal-trigger" style=" position: absolute; bottom: 15px; right: 17px; color: white;">
                    @((string)ViewBag.multiRes.GetString("change_image", ViewBag.CultureInfo))
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    @Html.ValidationMessage("UploadImage", null, new { style = "color: red;  text-align: center;margin: 0 auto;float: right;width: 100%;" })
</div>

<div class="row user-margin-0" style="border-top: 1px solid #eeeeea;"></div>
@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { id = "Cartform" }))
{
    <div class="row user-margin-10 backgournd-color-white user-border-radius-5">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style=" border-bottom: 0px; margin: 0px 10px; font-size: 15px;">
            @((string)ViewBag.multiRes.GetString("profile_information", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12" style="  border: 1px solid #eaeaea;width: 100%;padding: 10px 5px;">
            <div class="row user-margin-0">
                <div class="col m6 s12 itemProfile">
                    <label for="icon_LastName">@((string)ViewBag.multiRes.GetString("lastname", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("LastName", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.LastName, new { @class = "validate", id = "icon_LastName" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="icon_FirstName">@((string)ViewBag.multiRes.GetString("firstname", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("FirstName", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "validate", id = "icon_FirstName" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="icon_Phone">@((string)ViewBag.multiRes.GetString("password", ViewBag.CultureInfo))</label>
                    <p>
                        <a href="#modalChangPass" class="modal-trigger">
                            @((string)ViewBag.multiRes.GetString("change_password", ViewBag.CultureInfo))
                        </a>
                    </p>
                    @Html.ValidationMessage("password", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="icon_Phone">@((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("Phone", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.Phone, new { @class = "validate number-price", id = "icon_Phone" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="icon_Address">@((string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo))</label>
                    @Html.ValidationMessage("Address", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.Address, new { @class = "validate", id = "icon_Address" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="icon_Date" style="float: left; width: 100%; margin-bottom: 3px;">
                        @((string)ViewBag.multiRes.GetString("birthday", ViewBag.CultureInfo))
                    </label>
                    @{
                        <input type="number" name="birthday_Date" class="number-price birthday" max="31" min="1" value="@(Model.DateOfBirth.HasValue?Model.DateOfBirth.Value.Day:(int?)null)" />
                        <input type="number" name="birthday_Month" class="number-price birthday" max="12" min="1" value="@(Model.DateOfBirth.HasValue?Model.DateOfBirth.Value.Month:(int?)null)" />
                        <input type="number" name="birthday_Year" class="number-price birthday" max="@(DateTime.Now.Year-18)" min="1920" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.Year : (int?)null)" />
                    }
                    @Html.ValidationMessage("DateOfBirth", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                </div>
                <div class="col m6 s12 itemProfile">
                    <label for="">@((string)ViewBag.multiRes.GetString("gender", ViewBag.CultureInfo))</label>
                    <div id="icon_Radio">
                        @(Model.Gender.ToLower() == "male" ?
                            Html.Raw("<input name='gender' type='radio' id='raMale' value='male' checked />") :
                            Html.Raw("<input name='gender' type='radio' id='raMale' value='male' />"))
                        <label for="raMale" style="  margin-left: 28px;">
                            @((string)ViewBag.multiRes.GetString("male", ViewBag.CultureInfo))
                        </label>
                        @(Model.Gender.ToLower() == "female" ?
                            Html.Raw("<input name='gender' type='radio' id='raFemale' value='female' checked />") :
                            Html.Raw(" <input name='gender' type='radio' id='raFemale' value='female' />"))
                        <label for="raFemale">@((string)ViewBag.multiRes.GetString("female", ViewBag.CultureInfo))</label>
                    </div>
                </div>
            </div>
            <div class="row user-margin-0 user-margin-top-5">
                <div class="col m12 s12">
                    <button class="btn waves-effect backgournd-color-main waves-red user-text-uppercase right user-margin-right-5" data-element="background" id="btnSubmitForm">
                        @((string)ViewBag.multiRes.GetString("save", ViewBag.CultureInfo))
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<div id="modalChangPass" class="modal">
    <div class="modal-content" style="padding: 0px 10px; ">
        <h4 class="user-text-center">@((string)ViewBag.multiRes.GetString("change_password", ViewBag.CultureInfo))</h4>
        <div class="row user-margin-0">
            <div class="col m12 s12" id="error-validate-profile" style="display:none;color:RED;"></div>
            <div class="col m12 s12">
                <label for="icon_OldPassword">@((string)ViewBag.multiRes.GetString("old_password", ViewBag.CultureInfo))</label>
                <input type="password" name="oldpassword" id="icon_OldPassword" />
            </div>
            <div class="col m6 s12">
                <label for="icon_NewPassword">@((string)ViewBag.multiRes.GetString("new_password", ViewBag.CultureInfo))</label>
                <input type="password" name="newpassword" id="icon_NewPassword" />
            </div>
            <div class="col m6 s12">
                <label for="icon_ReNewPassword">@((string)ViewBag.multiRes.GetString("renew_password", ViewBag.CultureInfo))</label>
                <input type="password" name="renewpassword" id="icon_ReNewPassword" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">
            @((string)ViewBag.multiRes.GetString("cancel", ViewBag.CultureInfo))
        </a>
        <a id="model-Profile-ChangePass" class=" modal-action waves-effect waves-green btn-flat user-color-white" style="background: #2bbbad;">
            @((string)ViewBag.multiRes.GetString("ok", ViewBag.CultureInfo))
        </a>
    </div>
</div>
@using (Html.BeginForm("UploadImageAvatar", "Customer", FormMethod.Post, new { id = "UploadImageAvatar", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.CustomerId)
    <div id="modalChangImage" class="modal">
        <div class="modal-content" style="padding:0px 5px;">
            <h4 class="user-text-center">@((string)ViewBag.multiRes.GetString("change_image", ViewBag.CultureInfo))</h4>
            <div class="row">
                <div class="col m12 s12 user-text-center">
                    <label for="icon_NewPassword" class="user-text-left">
                        @((string)ViewBag.multiRes.GetString("re_view", ViewBag.CultureInfo))
                    </label>
                    <br />
                    @if (Model.AvatarPhotoUrl != null && Model.AvatarPhotoUrl != "")
                    {
                    <img id="reviewImage" class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect@Model.AvatarPhotoUrl" alt="@Model.FirstName @Model.LastName" width="100" height="100" style="border-radius: 50%; border: 1px solid #c3c3c3;" />
                    }
                    else
                    {
                    <img id="reviewImage" class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/Content/avatar-blank.jpg" alt="@Model.FirstName @Model.LastName" width="100" height="100" style="border-radius: 50%; border: 1px solid #c3c3c3;" />
                    }
                    <button id="btnChooseImage" type="button" class="btn backgournd-color-main" data-element="background">
                        @((string)ViewBag.multiRes.GetString("choose_image", ViewBag.CultureInfo))

                    </button>
                </div>
                <input type="file" name="file" id="file" style="display:none;" onchange="changeImageView(this)" />
            </div>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">
                @((string)ViewBag.multiRes.GetString("cancel", ViewBag.CultureInfo))
            </a>
            <button type="button" class="btn btn-success ladda-button" onclick="UploadImage()" data-style="zoom-in">
                <span class="ladda-label">@((string)ViewBag.multiRes.GetString("ok", ViewBag.CultureInfo))</span>
            </button>
        </div>
    </div>
}
@section JavaScript {
    <script>
        function submitFormChangeAvatar() {
            $("#UploadImageAvatar").submit();
        };
        function UploadImage() {
            var formData = new FormData();
            var totalFiles = document.getElementById("file").files.length;
            if (totalFiles > 0) {
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("file").files[i];
                    formData.append("FileUpload", file);
                }
                formData.append("entities", "Customer");
                formData.append("id", '@Model.CustomerId');
                formData.append("token", '@Session["token"]');

                jQuery.ajax({
                    type: 'POST',
                    url: '@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect' + 'UploadImage/uploadImage',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    mimeType: "multipart/form-data",
                    processData: false,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                        // alert("success?: " + data.success);
                        //s alert("success" + data.d);
                        //$("#VendorEditForm").submit();
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        //$("#VendorEditForm").submit();
                    }
                });
            }
            else {
                location.reload();
            }
        }
        function isValidDate(date) {
            var matches = /^(\d{2})[-\/](\d{2})[-\/](\d{4})$/.exec(date);
            if (matches == null) return false;
            var d = matches[2];
            var m = matches[1] - 1;
            var y = matches[3];
            var composedDate = new Date(y, m, d);
            return composedDate.getDate() == d &&
                    composedDate.getMonth() == m &&
                    composedDate.getFullYear() == y;
        }
        function changeImageView(input) {
            if (window.File && window.FileList && window.FileReader) {
                var files = input.files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (!file.type.match('image')) continue;
                    if (file.size / 1024 > 3072) {
                        alert("TOO BIG PICTURE. PLEASE SELECT IMAGE < 3 MB"); continue
                    };
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        $("#reviewImage").attr('src', picFile.result);
                    });
                    $(input).attr('data-name', file.name);
                    $($(input).next()).text(file.name);
                    picReader.readAsDataURL(file);
                }
            } else {
                console.log("Not support :))");
            }
        };
        function newDate(m, y) {
            var d = new Date(y, m, 0);
            $("input[name='birthday_Date']").attr("max", d.getDate())
        }
        $(document).ready(function () {
            $('input[name="gender"]').click(function (e) {
                $('input[type="hidden"][name="gender"]').val($(e.target).val())
            });
            $("#btnChooseImage").click(function () {
                $('input[name="file"]').click();
            });
            $(".birthday").change(function (e) {
                if (parseInt($(e.target).val()) > parseInt($(e.target).attr("max")) || parseInt($(e.target).val()) < parseInt($(e.target).attr("min"))) {
                    $(e.target).val($(e.target).attr("max"))
                }
                newDate($("input[name='birthday_Month']").val(), $("input[name='birthday_Year']").val())
            })
            $("#model-Profile-ChangePass").click(function () {
                $("#error-validate-profile").css('display', 'none');
                var old_pass = $('input[name="oldpassword"]').val(), new_pass = $('input[name="newpassword"]').val(), renew_pass = $('input[name="renewpassword"]').val();
                var f = false;
                var lst = [];
                if (old_pass == null || old_pass.trim().length < 6 || old_pass.trim().length > 20) {
                    f = true;
                    lst.push("OLDPASSWORD LENGTH FROM 6 TO 20 CHARACTER");
                }
                if (new_pass == null || new_pass.trim().length < 6 || new_pass.trim().length > 20) {
                    f = true;
                    lst.push("NEWPASSWORD LENGTH FROM 6 TO 20 CHARACTER");
                }
                if (new_pass != renew_pass) {
                    f = true;
                    lst.push("RENEWPASSWORD NOT MATCH NEWPASSWORD");
                }
                if (f) {
                    $("#error-validate-profile").children().remove();
                    $("#error-validate-profile").css('display', 'block');
                    $.map(lst, function (ele, ind) {
                        $("#error-validate-profile").append("<p>" + ele + "</p>");
                    })
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ChangePassword", "Customer")',
                        data: { oldPassword: encodeURI(old_pass), newPassword: encodeURI(new_pass), reNewPassword: encodeURI(renew_pass) },
                        cache: false,
                        dataType: "json",
                        success: function (dt) {
                            var rs = JSON.parse(dt);
                            if (rs.error == true) {
                                $("#error-validate-profile").children().remove();
                                $("#error-validate-profile").css('display', 'block');
                                $.map(rs.value, function (ele, ind) {
                                    $("#error-validate-profile").append("<p>" + ele + "</p>");
                                })
                            }
                            else { $('input[name="oldpassword"]').val(null), $('input[name="newpassword"]').val(null), $('input[name="renewpassword"]').val(null), $("#modalChangPass").closeModal(), alert(rs.value); }
                        }, error: function (error) { }
                    });
                }
            })
        });


    </script>

}
@section CSS{
    <style>
        body {
            background: white;
        }

        .birthday {
            text-align: center;
            width: 30% !important;
        }

        .user-input {
            border: 1px solid #eeeeea !important;
            border-radius: 5px !important;
            padding-left: 3px !important;
            -webkit-border-radius: 5px !important;
        }
    </style>
}