@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BotDetect;
@using BotDetect.Web.UI.Mvc;
@model HTTelecom.WebUI.eCommerce.Models.ForgotModel

@using (Html.BeginForm("ForgotPassword", "Customer", FormMethod.Post, new { id = "forgotPasswordform" }))
{

    var captcha = new MvcCaptcha("GalagalaCaptcha");
    captcha.UserInputClientID = "CaptchaCode";
    @Html.Hidden("ur", (string)ViewBag.ur);
    <div class="row user-margin-10 backgournd-color-white">
        <h4 class="header center user-color-main user-padding-10" data-element="color" style="border-bottom: 3px solid; letter-spacing: 5px; ">@((string)ViewBag.multiRes.GetString("lost_password", ViewBag.CultureInfo))</h4>
        <div class="col s12">
            @if (TempData["gMessageCurrent"] != null)
            {
                var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
                <div class="row">
                    <div class="col s12" style="text-align:center;color:red;">
                        @foreach (var item in gMessageCurrent)
                        {
                            <p>@item</p>
                        }
                    </div>
                </div>
            }
            <div class="row">
                <div class="col m6 s12">
                    <label for="icon_prefix">Email</label>
                    @Html.ValidationMessage("email", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.email, new { @class = "validate", id = "icon_prefix" })
                </div>               
            </div>

            <div class="row">
                <div class=" col m6 s12">
                    @Html.Captcha(captcha)
                    @Html.ValidationMessage("CaptchaCode", null, new { style = "color: red;font-size:  10px;float: right;  margin-top: 5px;" })
                    @Html.TextBoxFor(model => model.CaptchaCode, new { @class = "validate", id = "icon_prefix_CaptchaCode", placeholder = ((string)ViewBag.multiRes.GetString("captchacode", ViewBag.CultureInfo)) })
                </div>
            </div>

            <div class="row" style="text-align:center">
                <button class="btn waves-effect backgournd-color-main waves-red user-text-uppercase" data-element="background" id="btnSubmitForm">
                    @((string)ViewBag.multiRes.GetString("send_email", ViewBag.CultureInfo)) <i class="fa-icon fa-icon-send-118 right"></i>
                </button>
            </div>
        </div>
    </div>
}
<style>
    #GalagalaCaptcha_CaptchaImageDiv, #GalagalaCaptcha_CaptchaIconsDiv {
        float: left;
    }
</style>
