@{
    ViewBag.LayoutTitle = Model.LastName + ' ' + Model.FirstName;
    var Orders = (List<HTTelecom.Domain.Core.DataContext.ops.Order>)ViewBag.Orders;
    var TransactionStatus = (List<HTTelecom.Domain.Core.DataContext.ops.TransactionStatus>)ViewBag.TransactionStatus;
    ViewBag.Back = Url.Action("Index", "Home");
}
@model HTTelecom.Domain.Core.DataContext.cis.Customer
<div class="row user-margin-0 user-margin-top-10">
    <section class="col s12">
        <div class="row user-margin-bottom-10 backgournd-color-main user-color-white" style="width: 100%;padding:5px;display:table;">
            <div style=" display: table-cell; vertical-align: middle; width: 90px; ">
                @if (Model.AvatarPhotoUrl != null && Model.AvatarPhotoUrl != "")
                {
                <img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect@Model.AvatarPhotoUrl" alt="@Model.FirstName @Model.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 5px; float: left; -webkit-border-radius: 5px; ">
                }
                else
                {
                <img src="~/Content/avatar-blank.jpg" alt="@Model.FirstName @Model.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 90px; float: left; -webkit-border-radius: 5px; ">
                }
            </div>
            <div style=" padding: 8px 15px; display: table-cell; vertical-align: middle;">
                <p class="user-margin-0">@((string)ViewBag.multiRes.GetString("profile_information", ViewBag.CultureInfo))</p>
                <strong style=" font-size: 30px;">@Model.LastName @Model.FirstName</strong>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
<div class="row user-margin-0" style="border-top: 1px solid #eeeeea;"></div>
<div class="row user-margin-0">
    <h4 class="header user-text-left user-padding-left-5 user-title-compoment user-color-main" style="border-bottom: 0px; margin: 0px 10px;  font-size: 15px; ">
        @((string)ViewBag.multiRes.GetString("profile_information", ViewBag.CultureInfo))
        <a href="@Url.Action("edit", "Customer")" class="fa-a-icon-left user-color-blank" style=" float: right; font-size: 11px; color: black; line-height: 32px; height: 28px; text-align: center;">
            @((string)ViewBag.multiRes.GetString("edit", ViewBag.CultureInfo))
            <i class="fa-icon fa-icon-right-44 user-transform-025" style="float:right;"></i>
        </a>
    </h4>
    <section class="col s12">
        <div class="row user-margin-bottom-10" style="  border: 1px solid #eaeaea;width: 100%;">
            <div class="col s4" style=" padding: 8px 15px;">
                @((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo)):
            </div>
            <div class="col s8" style="padding: 8px 15px; ">
                @Model.LastName @Model.FirstName
            </div>
            <div class="col s4" style="padding: 8px 15px; ">
                Email:
            </div>
            <div class="col s8" style="padding: 8px 15px; ">
                @Model.Email
            </div>
            <div class="col s4" style="padding: 8px 15px; ">
                @((string)ViewBag.multiRes.GetString("gender", ViewBag.CultureInfo)):
            </div>
            <div class="col s8" style="padding: 8px 15px; ">
                @((string)ViewBag.multiRes.GetString(Model.Gender, ViewBag.CultureInfo))
            </div>
            <div class="col s4" style="padding: 8px 15px; ">
                @((string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo)):
            </div>
            <div class="col s8" style="padding: 8px 15px; ">
                @Model.Address
            </div>
            <div class="col s4" style="padding: 8px 15px 4px; ">
                @((string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo)):
            </div>
            <div class="col s8" style="padding: 8px 15px 4px; ">
                @Model.Phone
            </div>
            <div class="col s4" style="padding: 8px 15px 4px; ">
                @((string)ViewBag.multiRes.GetString("birthday", ViewBag.CultureInfo)):
            </div>
            <div class="col s8" style="padding: 8px 15px 4px; ">
                @Model.DateOfBirth.Value.ToString("dd/MM/yyyy")
            </div>
        </div>
        <div class="row user-margin-bottom-10" style="  border: 1px solid #eaeaea;width: 100%;">
            <div class="col s12" style=" padding: 8px 15px;">
                @((string)ViewBag.multiRes.GetString("alert_you_have", ViewBag.CultureInfo))  <strong class="user-color-main" style="font-weight: bold;">@string.Format("{0:0,0 Gala Xu}", Model.Xoney)</strong> @((string)ViewBag.multiRes.GetString("alert_in_account", ViewBag.CultureInfo))
            </div>
            <div class="col s12" style="padding: 8px 15px; ">
                @((string)ViewBag.multiRes.GetString("alert_you_have", ViewBag.CultureInfo)) <strong class="user-color-main" style="font-weight: bold;">@string.Format("{0:0,0 điểm}", Model.GiftPoint)</strong> @((string)ViewBag.multiRes.GetString("alert_in_account", ViewBag.CultureInfo))
            </div>
            @*<div class="col s12" style=" padding: 8px 15px;">
                    Bạn có <strong class="user-color-main" style="font-weight: bold;">1 tin nhắn</strong>
                </div>*@
            <div class="col s12" style=" padding: 8px 15px;">
                Bạn đã thích <a href="@Url.Action("Wishlist","Product")"><strong class="user-color-main" style="font-weight: bold;">@(((List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists).Count) @((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</strong></a>
            </div>
        </div>
    </section>
</div>
<div class="row user-margin-0" style="border-top: 1px solid #eeeeea;"></div>
<div class="row user-margin-0">
    <h4 class="header user-text-left user-padding-left-5 user-title-compoment user-color-main" style="border-bottom: 0px; margin: 0px 10px; font-size: 15px; ">
        @((string)ViewBag.multiRes.GetString("order_information", ViewBag.CultureInfo))
        <a href="@Url.Action("TransactionHistory", "Customer")" class="fa-a-icon-left user-color-blank" style=" float: right; font-size: 11px; color: black; line-height: 32px; height: 28px; text-align: center;">
            @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
            <i class="fa-icon fa-icon-right-44 user-transform-025" style="float:right;"></i>
        </a>
    </h4>
    <section class="col s12">
        <div class="row user-margin-bottom-10" style="  border: 1px solid #eaeaea;width: 100%;">
            <div class="col s12" style="padding: 8px 15px; ">
                @((string)ViewBag.multiRes.GetString("alert_you_have", ViewBag.CultureInfo))
                <a href="@Url.Action("TransactionHistory", "Customer", new { type = 2 })">
                    <strong style="font-weight: bold;color:blue">
                        @Orders.Where(n => n.IsPaymentConfirmed == null).ToList().Count @((string)ViewBag.multiRes.GetString("order", ViewBag.CultureInfo))
                    </strong>
                </a>
                chờ xử lý
            </div>
            <div class="col s12" style="padding: 8px 15px; ">
                Bạn đã thanh toán thành công
                <a href="@Url.Action("TransactionHistory", "Customer", new { type = 1 })">
                    <strong class="user-color-main" style="font-weight: bold;">
                        @Orders.Where(n => n.IsPaymentConfirmed != null && n.IsPaymentConfirmed == true).ToList().Count @((string)ViewBag.multiRes.GetString("order", ViewBag.CultureInfo))
                    </strong>
                </a>
            </div>
            @*<div class="col s12" style="padding: 8px 15px; ">
                Có
                <a href="@Url.Action("TransactionHistory", "Customer", new {type = 3 })">
                    <strong class="user-color-main" style="font-weight: bold; color: red">
                        @Orders.Where(n => n.IsPaymentConfirmed != null && n.IsPaymentConfirmed == false).ToList().Count @((string)ViewBag.multiRes.GetString("order", ViewBag.CultureInfo))
                    </strong>
                </a>
                bị hủy
            </div>*@
        </div>
    </section>
</div>
@section CSS{
    <style>
        body {
            background: white;
        }
    </style>
}