@using HTTelecom.Domain.Core.DataContext.ams

<!DOCTYPE html>
<html class="backend">
<!-- START Head -->
<head>
    <!-- START META SECTION -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Controller - @ViewBag.Action</title>
    <meta name="author" content="galagala.vn">
    <meta name="description" content="ssows">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/image/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/image/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/image/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/image/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/image/favicon.ico">
    <!--/ END META SECTION -->
    <!-- START STYLESHEETS -->
    <link href="~/Content/plugins/selectize/css/selectize.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-ui/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/plugins/touchspin/css/touchspin.css" rel="stylesheet" />
    <link href="~/Content/plugins/magnific/css/magnific.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <!--/ Plugins stylesheet : optional -->
    <!-- Application stylesheet : mandatory -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/uielement.css" rel="stylesheet" />
    <link href="~/Content/plugins/xeditable/css/xeditable.css" rel="stylesheet" />
    <link href="~/Content/plugins/ladda/css/ladda.css" rel="stylesheet" />
    <!--/ Application stylesheet -->
    <!-- Theme stylesheet : optional -->
    <link href="~/Content/css/themes/theme2.css" rel="stylesheet" />
    <!--/ Theme stylesheet : optional -->
    <!-- modernizr script -->
    <script src="~/Content/plugins/modernizr/js/modernizr.js"></script>
    <!--/ modernizr script -->
    <!-- Application and vendor script : mandatory -->
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/vendor.js"></script>
    <script src="~/Content/js/core.js"></script>
    <script src="~/Content/js/backend/app.js"></script>

    <!--/ Application and vendor script : mandatory -->
    <!-- Plugins and page level script : optional -->

    <script src="~/Content/plugins/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Content/plugins/fileupload/js/vendor/load-image.js"></script>
    <script src="~/Content/plugins/fileupload/js/vendor/load-image-meta.js"></script>
    <script src="~/Content/plugins/fileupload/js/vendor/load-image-exif.js"></script>
    <script src="~/Content/plugins/fileupload/js/vendor/canvas-to-blob.js"></script>
    <script src="~/Content/plugins/fileupload/js/vendor/jquery.iframe-transport.js"></script>
    <script src="~/Content/plugins/fileupload/js/jquery.fileupload.js"></script>
    <script src="~/Content/plugins/fileupload/js/jquery.fileupload-process.js"></script>
    <script src="~/Content/plugins/fileupload/js/jquery.fileupload-image.js"></script>
    <script src="~/Content/plugins/fileupload/js/jquery.fileupload-ui.js"></script>
    <script src="~/Content/plugins/selectize/js/selectize.js"></script>
    <script src="~/Content/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/Content/plugins/jquery-ui/js/addon/timepicker/jquery-ui-timepicker.js"></script>
    <script src="~/Content/plugins/jquery-ui/js/jquery-ui-touch.js"></script>
    <script src="~/Content/plugins/inputmask/js/inputmask.js"></script>
    <script src="~/Content/plugins/select2/js/select2.js"></script>
    <script src="~/Content/plugins/touchspin/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/plugins/magnific/js/jquery.magnific-popup.js"></script>
    <script src="~/Content/plugins/shuffle/js/jquery.shuffle.js"></script>
    <script src="~/Content/plugins/tinymce/tinymce.js"></script>
    <script src="~/Content/plugins/ladda/js/vendor/spin.js"></script>
    <script src="~/Content/plugins/ladda/js/ladda.js"></script>
    <script src="~/Content/js/backend/forms/element.js"></script>


    <!--/ Plugins and page level script : optional -->
    <script src="~/Content/js/tts/create.js"></script>
    <!-- END STYLESHEETS -->
</head>
<body>
    <header id="header" class="navbar">
        <!-- START navbar header -->
        <div class="navbar-header">
            <!-- Brand -->
            <a class="navbar-brand" href="javascript:void(0);">
                @*<span class="logo-figure"></span>
                    <span class="logo-text"></span>*@
                <span>GALAGALA</span>
            </a>
            <!--/ Brand -->
        </div>
        <!--/ END navbar header -->
        <!-- START Toolbar -->
        <div class="navbar-toolbar clearfix">
            <!-- START Left nav -->
            <ul class="nav navbar-nav navbar-left">
                <!-- Sidebar shrink -->
                <li class="hidden-xs hidden-sm">
                    <a href="javascript:void(0);" class="sidebar-minimize" data-toggle="minimize" title="Minimize sidebar">
                        <span class="meta">
                            <span class="icon"></span>
                        </span>
                    </a>
                </li>
                <!--/ Sidebar shrink -->
                <!-- Search form toggler  -->
                <li>
                    <a href="javascript:void(0);" data-toggle="dropdown" data-target="#dropdown-form">
                        <span class="meta">
                            <span class="icon"><i class="ico-search"></i></span>
                        </span>
                    </a>
                </li>
                <!--/ Search form toggler -->
            </ul>
            <!--/ END Left nav -->
            <!-- START navbar form -->
            <div class="navbar-form navbar-left dropdown" id="dropdown-form">
                @using (Html.BeginForm("SearchAdvanced", "MSS", FormMethod.Post, new { enctype = "multipart/form-data", role = "search" }))
                {
                    <div class="input-group">
                        <div class="input-group-btn" style="width:140px">
                            <select name="selecttype" class="form-control" style="width:140px">
                                <option value="0">Search by....</option>
                                <option value="1">Store</option>
                                <option value="2">Product</option>
                                <option value="3">Article</option>
                            </select>
                        </div><!-- /btn-group -->
                        <div class="has-icon">
                            <input type="text" id="searchkeywords" name="searchkeywords" class="form-control" placeholder="Search..." autocomplete="off" />
                            <i class="ico-search form-control-icon" style="top:15px"></i>
                        </div>
                    </div>
                }
            </div>
            <!-- START navbar form -->
            <!-- START Right nav -->
            <ul class="nav navbar-nav navbar-right">
                @{
                    Account accOnline = (Account)Session["Account"];
                    if (accOnline != null)
                    {
                     <!-- Profile dropdown -->
                        <li class="dropdown profile">
                            <a href="javascript:void(0);" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                <span class="meta">
                                    <span class="avatar"><img src="~/Content/image/avatar/avatar7.jpg" class="img-circle" alt="" /></span>
                                    <span class="text hidden-xs hidden-sm pl5">@accOnline.Email</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="pa15">
                                    <h5 class="semibold hidden-xs hidden-sm">
                                        <p class="nm">@accOnline.FullName</p>
                                        <small class="text-muted">60% Profile complete</small>
                                    </h5>
                                    <div class="progress progress-xs nm mt10">
                                        <div class="progress-bar progress-bar-warning" style="width: 60%">
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("MyAccount","Account")"><span class="icon"><i class="ico-user-plus2"></i></span> My Accounts</a></li>
                                <!--   <li><a href="@Url.Action("EditProfile","Account")"><span class="icon"><i class="ico-cog4"></i></span> Profile Setting</a></li>-->
                                <li><a href="javascript:void(0);"><span class="icon"><i class="ico-question"></i></span> Help</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Logout","Home")"><span class="icon"><i class="ico-exit"></i></span> Sign Out</a></li>
                            </ul>
                        </li>
                    <!-- Profile dropdown -->
                    }
                }
            </ul>
            <!--/ END Right nav -->
        </div>
        <!--/ END Toolbar -->
    </header>
    <!--/ END Template Header -->
    <!-- START Template Sidebar (Left) -->
    <aside class="sidebar sidebar-left sidebar-menu">
        <!-- START Sidebar Content -->
        <section class="content slimscroll">
            <h3 class="heading">GALA Info Management</h3>
            <ul class="topmenu topmenu-responsive" data-toggle="menu">
                <li class="@(ViewBag.SideBarMenu == "Dashboard" ? "active open" : "open")">
                    <a href="@Url.Action("Dashboard", "MSS")">
                        <span class="figure"><i class="ico-dashboard"></i></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "MallAdsIndex" ? "active open" : "open")">
                    <a href="@Url.Action("MallAdsIndex", "ACS")">
                        <span class="figure"><i class="ico-address-book"></i></span>
                        <span class="text">Mall Ads</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "StoreIndex" ? "active open" : "open")">
                    <a href="javascript:void(0);" data-target="#store" data-toggle="submenu" data-parent=".topmenu">
                        <span class="figure"><i class="ico-safari"></i></span>
                        <span class="text">Store</span>
                        <span class="arrow"></span>
                    </a>
                    <!-- START 2 Level Menu -->
                    <ul id="store" class="submenu collapse @(ViewBag.SideBarMenu == "StoreIndex" ? "in" : "")">
                        <li class="submenu-header ellipsis">Store</li>
                        <li class="@(ViewBag.SideBarMenu == "StoreIndex" ? "active" : "")">
                            <a href="@Url.Action("StoreIndex", "MSS")">
                                <span class="text">Store</span>
                            </a>
                        </li>
                        <li class="@(ViewBag.SideBarMenu == "StoreIndex" ? "active" : "")">
                            <a href="@Url.Action("StoreIndexConfirm", "MSS")">
                                <span class="text">Store Confirm</span>
                            </a>
                        </li>
                    </ul>
                    <!--/ END 2 Level Menu -->
                </li>
                <li class="@(ViewBag.SideBarMenu == "ProductIndex" ? "active open" : "open")">

                    <a href="javascript:void(0);" data-target="#product" data-toggle="submenu" data-parent=".topmenu">
                        <span class="figure"><i class="ico-dashboard2"></i></span>
                        <span class="text">Product</span>
                        <span class="arrow"></span>
                    </a>
                    <!-- START 2nd Level Menu -->
                    <ul id="product" class="submenu collapse @(ViewBag.SideBarMenu == "ProductIndex" ? "in" : "")">
                        <li class="submenu-header ellipsis">Product</li>
                        <li class="@(ViewBag.SideBarMenu == "ProductIndex" ? "active" : "")">
                            <a href="@Url.Action("ProductIndex", "MSS")">
                                <span class="text">Product</span>
                            </a>
                        </li>
                        <li class="@(ViewBag.SideBarMenu == "ProductIndex" ? "active" : "")">
                            <a href="@Url.Action("ProductIndexConfirm", "MSS")">
                                <span class="text">Product Confirm</span>
                            </a>
                        </li>
                        <li class="@(ViewBag.SideBarMenu == "ProductIndex" ? "active" : "")">
                            <a href="@Url.Action("ProductPriority", "MSS")">
                                <span class="text">Product Priority</span>
                            </a>
                        </li>
                    </ul>
                    <!--/ END 2nd Level Menu -->
                </li>
                <li class="@(ViewBag.SideBarMenu == "ArticleTypeIndex" ? "active open" : "open")">
                    <a href="@Url.Action("ArticleTypeIndex", "MSS")">
                        <span class="figure"><i class="ico-airplane"></i></span>
                        <span class="text">Article Type</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "ArticleIndex" ? "active open" : "open")">
                    <a href="@Url.Action("ArticleIndex", "MSS")">
                        <span class="figure"><i class="ico-address-book2"></i></span>
                        <span class="text">Article</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "BrandIndex" ? "active open" : "open")">
                    <a href="@Url.Action("BrandIndex", "MSS")">
                        <span class="figure"><i class="ico-alarm-minus"></i></span>
                        <span class="text">Brand</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "CategoryIndex" ? "active open" : "open")">
                    <a href="@Url.Action("CategoryIndex", "MSS")">
                        <span class="figure"><i class="ico-arrow-down12"></i></span>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "GiftIndex" ? "active open" : "open")">
                    <a href="@Url.Action("GiftIndex", "MSS")">
                        <span class="figure"><i class="ico-arrow7"></i></span>
                        <span class="text">Gift</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "Mail Manager" ? "active open" : "open")">
                    <a href="@Url.Action("Index", "MailManager")">
                        <span class="figure"><i class="ico-mail"></i></span>
                        <span class="text">Mail Manager</span>
                    </a>
                </li>
                <li class="@(ViewBag.SideBarMenu == "Libary" ? "active open" : "open")">
                    <a href="@Url.Action("Index", "Libary")">
                        <span class="figure"><i class="ico-mail"></i></span>
                        <span class="text">Library Image</span>
                    </a>
                </li>
            </ul>
        </section>
        @*<section class="content slimscroll">
                <h3 class="heading">XONE Info Management</h3>
                <ul class="topmenu topmenu-responsive" data-toggle="menu">
                    <li class="@(ViewBag.SideBarMenu == "AdsContentIndex" ? "active open" : "open")">
                        <a href="@Url.Action("AdsContentIndex", "ACS")">
                            <span class="figure"><i class="ico-dashboard"></i></span>
                            <span class="text">Ads Content</span>
                        </a>
                    </li>
                </ul>
            </section>*@

    </aside>
    <aside class="sidebar sidebar-right">
        <!-- START Offcanvas -->
        <div class="offcanvas-container" data-toggle="offcanvas" data-options='{"openerClass":"offcanvas-opener", "closerClass":"offcanvas-closer"}'>
            <!-- START Wrapper -->
            <div class="offcanvas-wrapper">
                <!-- Offcanvas Left -->
                <div class="offcanvas-left">
                    <!-- Header -->
                    <div class="header pl0 pr0">
                        <ul class="list-table nm">
                            <li style="width:50px;height:34px;" class="text-center">
                                <a href="javascript:void(0);" class="text-default offcanvas-closer"><i class="ico-arrow-left6 fsize16"></i></a>
                            </li>
                            <li class="text-center">
                                <h5 class="semibold nm">Settings</h5>
                            </li>
                            <li style="width:50px;height:34px;" class="text-center">
                                <a href="javascript:void(0);" class="text-default"><i class="ico-info22 fsize16"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--/ Header -->
                    <!-- Content -->
                    <div class="content slimscroll">
                        <h5 class="heading">News Feed</h5>
                        <ul class="topmenu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-plus"></i></span>
                                    <span class="text">Add &amp; Manage Source</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-google-plus"></i></span>
                                    <span class="text">Google Reader</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-twitter2"></i></span>
                                    <span class="text">Twitter Source</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                        <h5 class="heading">Friends</h5>
                        <ul class="topmenu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-search22"></i></span>
                                    <span class="text">Find Friends</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-user-plus2"></i></span>
                                    <span class="text">Add Friends</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                        <h5 class="heading">Account</h5>
                        <ul class="topmenu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-user2"></i></span>
                                    <span class="text">Edit Account</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-envelop"></i></span>
                                    <span class="text">Manage Subscription</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-location6"></i></span>
                                    <span class="text">Location Service</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="figure"><i class="ico-switch"></i></span>
                                    <span class="text">Logout</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="text-danger">
                                    <span class="figure"><i class="ico-minus-circle2"></i></span>
                                    <span class="text">Deactivate</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Offcanvas Left -->
                <!-- Offcanvas Content -->
                <div class="offcanvas-content">
                    <!-- Content -->
                    <div class="content slimscroll">
                        <!-- START profile -->
                        <div class="panel nm">
                            <!-- thumbnail -->
                            <div class="thumbnail">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <img data-toggle="unveil" src="~/Content/image/background/400x250/placeholder.jpg" data-src="../../Content/image/background/400x250/background3.jpg" alt="Cover" style="width:100%">
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                        </div>
                        <div class="panel-body text-center" style="margin-top:-55px;z-index:11">
                            <img class="img-circle mb5" src="~/Content/image/avatar/avatar7.jpg" alt="" width="75">
                            <h5 class="bold mt0 mb5">Erich Reyes</h5>
                            <p>Administrator</p>
                            <button type="button" class="btn btn-primary offcanvas-opener offcanvas-open-ltr"><i class="ico-settings"></i> Settings</button>
                        </div>
                        <!--/ END profile -->
                        <!-- START contact -->
                        <div class="media-list media-list-contact">
                            <h5 class="heading pa15 pb0">Family</h5>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar1.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Autumn Barker</span>
                                    <span class="media-meta ellipsis">Malaysia</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar2.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Giselle Horn</span>
                                    <span class="media-meta ellipsis">Bolivia</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar.png" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-danger mr5"></span> Austin Shields</span>
                                    <span class="media-meta ellipsis">Timor-Leste</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar.png" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-danger mr5"></span> Caryn Gibson</span>
                                    <span class="media-meta ellipsis">Libya</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar3.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Nash Evans</span>
                                    <span class="media-meta ellipsis">Honduras</span>
                                </span>
                            </a>
                            <h5 class="heading pa15 pb0">Friends</h5>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar4.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-default mr5"></span> Josiah Johnson</span>
                                    <span class="media-meta ellipsis">Belgium</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar.png" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-default mr5"></span> Philip Hewitt</span>
                                    <span class="media-meta ellipsis">Bahrain</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar5.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-default mr5"></span> Wilma Hunt</span>
                                    <span class="media-meta ellipsis">Dominica</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar6.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Noah Gill</span>
                                    <span class="media-meta ellipsis">Guatemala</span>
                                </span>
                            </a>
                            <h5 class="heading pa15 pb0">Others</h5>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar8.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> David Fisher</span>
                                    <span class="media-meta ellipsis">French Guiana</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar9.jpg" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Samantha Avery</span>
                                    <span class="media-meta ellipsis">Jersey</span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="media offcanvas-opener offcanvas-open-rtl">
                                <span class="media-object pull-left">
                                    <img src="~/Content/image/avatar/avatar.png" class="img-circle" alt="">
                                </span>
                                <span class="media-body">
                                    <span class="media-heading"><span class="hasnotification hasnotification-success mr5"></span> Madaline Medina</span>
                                    <span class="media-meta ellipsis">Finland</span>
                                </span>
                            </a>
                        </div>
                        <!--/ END contact -->
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Offcanvas Content -->
                <!-- Offcanvas Right -->
                <div class="offcanvas-right">
                    <!-- Header -->
                    <div class="header pl0 pr0">
                        <ul class="list-table nm">
                            <li style="width:50px;height:34px;" class="text-center">
                                <a href="javascript:void(0);" class="text-default offcanvas-closer"><i class="ico-arrow-left6 fsize16"></i></a>
                            </li>
                            <li class="text-center">
                                <h5 class="semibold nm">Autumn Barker</h5>
                            </li>
                            <li style="width:50px;height:34px;" class="text-center">
                                <a href="javascript:void(0);" class="text-default"><i class="ico-info22 fsize16"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--/ Header -->
                    <!-- Footer -->
                    <div class="footer">
                        <div class="has-icon">
                            <input type="text" class="form-control" placeholder="Type message...">
                            <i class="ico-paper-plane form-control-icon"></i>
                        </div>
                    </div>
                    <!--/ Footer -->
                    <!-- Content -->
                    <div class="content slimscroll">
                        <!-- START chat -->
                        <ul class="media-list media-list-bubble">
                            <li class="media media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar7.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">eros non enim commodo hendrerit.</p>
                                    <span class="clearfix"></span>
                                    <p class="media-text">Suspendisse dui.</p>
                                    <span class="clearfix"></span>
                                    <p class="media-text">eu nulla at</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Sun, Mar 02</p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar6.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">Etiam laoreet, libero et tristique pellentesque, tellus sem mollis dui, in sodales elit erat.</p>
                                    <span class="clearfix"></span>
                                    <p class="media-text">faucibus ut, nulla. Cras eu tellus</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Tue, Oct 01</p>
                                </div>
                            </li>
                            <li class="media media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar7.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">Duis a mi fringilla mi lacinia mattis. Integer</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Fri, Sep 27</p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar6.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">Praesent interdum ligula eu enim. Etiam imperdiet dictum magna.</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Wed, Aug 28</p>
                                </div>
                            </li>
                            <li class="media media-right">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar7.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">Aliquam rutrum lorem ac risus. Morbi metus. Vivamus euismod urna.</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Sat, Sep 27</p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="javascript:void(0);" class="media-object">
                                    <img src="~/Content/image/avatar/avatar6.jpg" class="img-circle" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="media-text">Vestibulum accumsan neque et nunc. Quisque ornare tortor at risus. Nunc ac</p>
                                    <span class="clearfix"></span>
                                    <p class="media-text">Nam porttitor scelerisque neque</p>
                                    <!-- meta -->
                                    <span class="clearfix"></span><!-- important: clearing floated media text -->
                                    <p class="media-meta">Sun, Feb 22</p>
                                </div>
                            </li>
                        </ul>
                        <!--/ END chat -->
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Offcanvas Right -->
            </div>
            <!--/ END Wrapper -->
        </div>
        <!--/ END Offcanvas -->
    </aside>
    <!--/ END Template Sidebar (right) -->

    <section id="main" role="main">
        <!-- START Template Container -->
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!--/ END Template Container -->
        <!-- START To Top Scroller -->
        <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
        <!--/ END To Top Scroller -->
    </section>
    <!--/ END Template Main -->
    <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->

</body>
</html>
