@using PagedList;
@using PagedList.Mvc;
@{
    var ListChildren = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Category, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>>)ViewBag.ListChildren;
    var Model = (Tuple<HTTelecom.Domain.Core.DataContext.mss.Category, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.Model;
    var ProductInMediaHot = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMediaHot;
    var ProductInMedia = (IPagedList<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMedia;
    var cate0 = (HTTelecom.Domain.Core.DataContext.mss.Category)ViewBag.Cate0;
    var cate1 = (HTTelecom.Domain.Core.DataContext.mss.Category)ViewBag.Cate1;
    if (cate1 != null) { ViewBag.Back = Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias }); }
    else if (cate0 != null) { ViewBag.Back = Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias }); } else { ViewBag.Back = Url.Action("Index", "Home"); }
    ViewBag.LayoutTitle = Model.Item1.CategoryName;
    ViewBag.LayoutKeywords = Model.Item1.MetaKeywords;
    ViewBag.LayoutDescription = Model.Item1.MetaDescription;
    ViewBag.Layout_ogTitle = Model.Item1.MetaTitle;
    if (Model.Item3 != null) { ViewBag.Layout_image = (HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName); }
    ViewBag.Layout_description = Model.Item1.MetaDescription;
    ViewBag.Back = cate1 != null ? Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias }) : cate0 != null ? Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias }) : Url.Action("Index", "Home");
}
<ul class="user-breadcrumbs-layout user-margin-bottom-5">
    <li style="height:34px;">
        <a href="/">
            <i class="fa-icon fa-icon-home-102 user-transform-05"></i>
        </a>
    </li>
    @if (cate0 != null)
    {
    <li>
        <a href="@Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias })">
            @cate0.CategoryName
        </a>
    </li>
    }
    @if (cate1 != null)
    {
    <li>
        <a href="@Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias })">@cate1.CategoryName</a>
    </li>
    }
    <li><a class="current">@Model.Item1.CategoryName</a></li>
</ul>
<div class="row user-margin-0">
    <div class="col s12 user-text-center user-padding-0">
        @if (Model.Item3 != null)
        {
            <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName)" title="@Model.Item1.CategoryName" alt="@Model.Item1.CategoryName" style=" max-width: 100%; width: 100%;" />}
        else
        {
            <img title="@Model.Item1.CategoryName" alt="@Model.Item1.CategoryName" style="max-width:100%; width: 100%;" />
        }
    </div>
    <div class="clearfix"></div>
    <div style=" margin: 0px 5px; text-align: left; font-weight: normal; border-top: 1px solid #01A469; border-bottom: 1px solid #01A469; padding: 10px; line-height: 16px;">
        <a class="user-text-uppercase" style="float: left;color: #01A469;font-size: 16px;line-height: 16px;">
            @Model.Item1.CategoryName
        </a>
        <a style="float: right;color: #01A469;font-size: 14px;">@ViewBag.CountProduct @((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</a>
        <div class="clearfix"></div>
    </div>
</div>
@if (ListChildren.Count > 0)
{
    <div class="row backgournd-color-white user-margin-5">
        <div class="col s12 m12" id="ListCategoryChildren">
            @foreach (var item in ListChildren)
            {
                <div class="col l3 m4 s6 childrenCategory user-margin-bottom-5" style="max-height: 150px; overflow: hidden;height:100%;padding:0px 3px;">
                    <a href="@Url.Action("Info", "Category", new { id = item.Item1.CategoryId, urlName = item.Item1.Alias })">
                        <div class="user-border-radius-5" style=" padding-top: 2px; border: 1px solid #c3c3c3; text-align: center; max-height: 150px; overflow: hidden;">

                            @if (item.Item2 != null)
                            {<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Item2.Url + item.Item2.MediaName)" style="max-width: 100%; max-height: 100px;" alt="@item.Item1.CategoryName" title="@item.Item1.CategoryName" />}
                            else
                            {<img style="width: 100px; height: 100px;" alt="@item.Item1.CategoryName" title="@item.Item1.CategoryName">}<p class="margin-0">@item.Item1.CategoryName</p>

                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
}
<div class="clearfix"></div>
@*<div class="row user-raw" style="padding: 0px 10px;">
    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Item1.Description))
</div>*@
<div class="clearfix"></div>
@if (ProductInMediaHot.Count > 0)
{
    <div class="row user-margin-5 backgournd-color-white  user-border-radius-5" style="  border: 1px solid #c5c5c5;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("buy_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product " style="padding:5px;">
            <div class="swiper-container user-SliderProduct user-SliderProduct-other" style="height:auto;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip.cshtml", (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ProductInMediaHot);}
                @*<div class="swiper-scrollbar swiper-scrollbar-swiper3"></div>*@
                <div class="swiper-button-next swiper-button-next-swiper3 swiper-button-white user-swiper-button-next-prev"></div>
                <div class="swiper-button-prev swiper-button-prev-swiper3 swiper-button-white user-swiper-button-next-prev"></div>
            </div>
        </div>
    </div>
}
@if (ProductInMedia.Count > 0)
{
    <div class="row user-margin-5 backgournd-color-white user-border-radius-5" style="  border: 1px solid #c5c5c5;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("list_product", ViewBag.CultureInfo))
        </h4>
        <div class="user-padding-5 ">
            @*<div class="user-margin-bottom-5">
                <div class="right">
                    <select style="display: block; background: transparent; padding: 0px; line-height: 26px; height: 26px;" onchange='changeBySort(this)'>
                        @if (ViewBag.typeSearch == 1)
                        {
                            <option value="1" selected disabled data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 1 })">
                                @((string)ViewBag.multiRes.GetString("relevance", ViewBag.CultureInfo))
                            </option>
                        }
                        else
                        {
                            <option value="1" data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 1 })">
                                @((string)ViewBag.multiRes.GetString("relevance", ViewBag.CultureInfo))
                            </option>
                        }
                        @if (ViewBag.typeSearch == 2)
                        {
                            <option value="2" selected disabled data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 2 })">
                                @((string)ViewBag.multiRes.GetString("price_high_to_low", ViewBag.CultureInfo))
                            </option>
                        }
                        else
                        {
                            <option value="2" data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 2 })">
                                @((string)ViewBag.multiRes.GetString("price_high_to_low", ViewBag.CultureInfo))
                            </option>
                        }
                        @if (ViewBag.typeSearch == 3)
                        {
                            <option value="3" selected disabled data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 3 })">
                                @((string)ViewBag.multiRes.GetString("price_low_to_high", ViewBag.CultureInfo))
                            </option>
                        }
                        else
                        {
                            <option value="3" data-href="@Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, typeSearch = 3 })">
                                @((string)ViewBag.multiRes.GetString("price_low_to_high", ViewBag.CultureInfo))
                            </option>
                        }
                    </select>
                </div>
                <div class="right" style="line-height: 26px; height: 26px;">
                    @((string)ViewBag.multiRes.GetString("sort_by", ViewBag.CultureInfo)):
                </div>
                <div class="clearfix"></div>
            </div>*@
            @foreach (var item in ProductInMedia)
            {
                var hrefProduct = item.Product.ProductTypeCode == "PT1" ? "OrdProduct" : item.Product.ProductTypeCode == "PT2" ? "SaleProduct" : item.Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
                double discount = 0;
                if (item.Product.MobileOnlinePrice.HasValue && item.Product.PromotePrice.HasValue && item.Product.MobileOnlinePrice != 0 && item.Product.PromotePrice < item.Product.MobileOnlinePrice)
                {
                    discount = 100 - Convert.ToDouble((item.Product.PromotePrice * 100 / item.Product.MobileOnlinePrice));
                }
                <a href="@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">
                    <div class="col s6 m4 l2 itemStoreReponsive" style="padding: 0px 3px; margin-bottom: 5px; ">
                        <div class="card" style="box-shadow: none; height: 100%; border: 1px solid #c5c5c5;">
                            <div class="card-image">
                                <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url  + item.Media.MediaName)" style="height: auto; width: 100%;">
                            </div>
                            <div class="card-action" style="border-top:0px;padding:0px 5px;">
                                <div class="user-color-blank" style="padding: 0px; overflow: hidden; max-height: 32px; height: 32px; text-align: center; width: 100%;">
                                    @item.Product.ProductName
                                </div>
                                <div class="clearfix"></div>
                                <div style="text-align: left;" class="content-price-reponsive">
                                    @if (item.Product.PromotePrice.HasValue == true && item.Product.PromotePrice.Value < item.Product.MobileOnlinePrice.Value)
                                    {
                                        <span class="user-text-lowercase" style=" font-size: 11px; color: black; text-decoration: line-through; margin: 0px;">
                                            @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                                        </span>
                                        <span class="user-color-red user-text-lowercase" style=" font-size: 13px; font-weight: bold; margin: 0px; float: left; width: 100%; ">
                                            @string.Format("{0:0,0 đ}", item.Product.PromotePrice)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 11px; color: black;">&nbsp;</span>
                                        <span class="user-color-red user-text-lowercase" style="font-size: 13px; font-weight: bold; margin: 0px; float: left; width: 100%; ">
                                            @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
            <div class="clearfix"></div>
            <div class="col s12 text-center">
                @Html.PagedListPager(ProductInMedia, page => Url.Action("Info", "Category", new { id = Model.Item1.CategoryId, page = page, urlName = Model.Item1.Alias }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>

        </div>

    </div>
}
@if (((List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListProductViewed).Count > 0)
{
    <div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 1px 1px 1px 1px #c3c3c3;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product  user-padding-0">
            <div class="swiper-container user-SliderProduct user-SliderProduct-view" style="height: 157px;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip.cshtml", new List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>(ViewBag.ListProductViewed));}
                <div class="swiper-button-next swiper-button-next-swiper-view swiper-button-white user-swiper-button-next-prev"></div>
                <div class="swiper-button-prev swiper-button-prev-swiper-view swiper-button-white user-swiper-button-next-prev"></div>
            </div>
        </div>
    </div>
}
@section JavaScript {
    <script>
        ; var swiper3 = new Swiper('.user-SliderProduct-other', {
            nextButton: '.swiper-button-next-swiper3', prevButton: '.swiper-button-prev-swiper3',
            /*scrollbar: '.swiper-scrollbar-swiper3',*/
            slidesPerView: 'auto',
            centeredSlides: false,
            spaceBetween: 0,
            freeMode: true,
            paginationClickable: true
        });
        var swiper_view = new Swiper('.user-SliderProduct-view', {
            nextButton: '.swiper-button-next-swiper-view',
            prevButton: '.swiper-button-prev-swiper-view',
            slidesPerView: 'auto',
            centeredSlides: false,
            freeMode: true,
            spaceBetween: 0,
            paginationClickable: true
        });
        function changeBySort(e) { window.location.href = $(e).find('option[value="' + $(e).val() + '"]').attr("data-href"); };
        $(window).load(function () { equalheight('.itemStoreReponsive'); });
        $(window).resize(function () { equalheight('.itemStoreReponsive'); });
    </script>
    <style>
        body {
            background-color: white;
        }

        .pagination {
            margin:0px;
            display: inline-block;
        }

            .pagination li.active {
                background-color: black;
                border-radius: 50%;
            }

            .pagination li a {
                line-height: 1.8;
            }
    </style>
}