@using PagedList;
@using PagedList.Mvc;
@{
    var ListChildren = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Category, int>>)ViewBag.ListChildren;
    var Model = (Tuple<HTTelecom.Domain.Core.DataContext.mss.Category, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.Model;
    var cate0 = (HTTelecom.Domain.Core.DataContext.mss.Category)ViewBag.Cate0;
    var cate1 = (HTTelecom.Domain.Core.DataContext.mss.Category)ViewBag.Cate1;
    var ListProduct = (List<HTTelecom.WebUI.eCommerce.Common.ProductObject>)ViewBag.ListProduct;
    if (cate1 != null) { ViewBag.Back = Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias }); }
    else if (cate0 != null) { ViewBag.Back = Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias }); } else { ViewBag.Back = Url.Action("Index", "Home"); }
    ViewBag.LayoutTitle = Model.Item1.CategoryName;
    ViewBag.LayoutKeywords = Model.Item1.MetaKeywords;
    ViewBag.LayoutDescription = Model.Item1.MetaDescription;
    ViewBag.Layout_ogTitle = Model.Item1.MetaTitle;
    if (Model.Item3 != null) { ViewBag.Layout_image = (HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName); }
    ViewBag.Layout_description = Model.Item1.MetaDescription;
    ViewBag.Back = cate1 != null ? Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias }) : cate0 != null ? Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias }) : Url.Action("Index", "Home");
}
@Html.Hidden("step", (int)1)
<div class="breadcrumbs">
    <ul style="margin:0px;">
        @if (cate0 != null)
        {
        <li class="prs">
            <a href="@Url.Action("Info", "Category", new { id = cate0.CategoryId, urlName = cate0.Alias })">
                @cate0.CategoryName
            </a>
        </li>
        }
        @if (cate1 != null)
        {
        <li class="prs">
            <a href="@Url.Action("Info", "Category", new { id = cate1.CategoryId, urlName = cate1.Alias })">
                @cate1.CategoryName
            </a>
        </li>
        }
        <li class="prs"><a class="current">@Model.Item1.CategoryName</a></li>
    </ul>
</div>
<div class="row user-margin-0">
    @if (Model.Item3 != null)
    {
    <div class="col s12 user-text-center user-padding-0">
        <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName)" title="@Model.Item1.CategoryName" alt="@Model.Item1.CategoryName" style=" max-width: 100%; width: 100%;" />
    </div>
    }
    <div class="clearfix"></div>
    <div style=" margin: 0px 5px; text-align: left; font-weight: normal; border-top: 1px solid #01A469; border-bottom: 1px solid #01A469; padding: 10px; line-height: 16px;">
        <a style="float: left;color: #01A469;">
            @Model.Item1.CategoryName
        </a>
        <a style="float: right;color: #01A469;font-size: 14px;"><span id="Productcount">@ViewBag.CountProduct </span> @((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</a>
        <div class="clearfix"></div>
    </div>
</div>
@if (ListChildren.Count > 0)
{
    <ul class="catList user-margin-0">
        @foreach (var item in ListChildren)
        {
        <li>
            <a href="@Url.Action("Info", "Category", new { id = item.Item1.CategoryId, urlName = item.Item1.Alias })" class="@item.Item1.CategoryName">
                @item.Item1.CategoryName
                <div style="position: absolute; top: 0px; right: 0px; background-color: white; line-height: 38px;bottom:1px;">
                    <span class="secondary-content Cate_ProCount" style="padding:0px;">
                        <i class="fa-icon fa-icon-right-44" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 4px; "></i>
                    </span>
                    <span class="secondary-content" style="color:orange;">@item.Item2</span>
                </div>
            </a>
        </li>
        }
    </ul>
}
<div class="row user-margin-5 backgournd-color-white">
    <div class="row" id="lstProductSearch">
        @if (ListProduct.Count == 0)
        {
        @(ViewBag.currentLanguage == "vi" ? "Hiện tại chưa có sản phẩm nào" : "Currently, Don't have product!")
        }
        @foreach (var item in ListProduct)
        {
        <a href="@item.Link">
            <div class="col s6 itemProductSearch" style="margin-bottom: 5px;">
                <div class="card" style="box-shadow: none;height: 100%;border: 1px solid #c5c5c5;">
                    <div class="card-image">
                        <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect+item.Url+item.MediaName)" style="height: auto; width: 100%;">
                    </div>
                    <div class="card-action" style="border-top: 0px;padding: 0px 5px;">
                        <span class="title-name">@(item.ProductComplexName != null ? item.ProductComplexName : item.ProductName)</span>
                        <p class="title-price">@(item.PromotePrice != null ? item.PromotePrice_write : item.MobileOnlinePrice_write)</p>
                    </div>
                </div>
            </div>
        </a>
        }
    </div>
</div>
<a id="backtotop">
    <i class="fa-icon fa-icon-up-84 user-transform-05"></i>
</a>
<div class="sortType1" style="background:#f4f4f4">
    <label class="typeSearch suggest active" data-type="0" style="width:50%" id="btnGrid">
        <i class="fa-icon fa-icon-gridview-134 user-transform-05" style="float:left"></i>
        <span>
            @((string)ViewBag.multiRes.GetString("grid", ViewBag.CultureInfo))
        </span>
    </label>
    <label class="typeSearch best-sale" data-type="1" style="width:50%" id="btnList">
        <i class="fa-icon fa-icon-menu-65 user-transform-05" style="float:left"></i>
        <span>
            @((string)ViewBag.multiRes.GetString("list", ViewBag.CultureInfo))
        </span>
    </label>
</div>
@section JavaScript {
    <script>
        var gStep = true;
        @foreach (var item in ViewBag.ListError)
	{
		 <text>console.log('@item')</text>
	}

        $("#btnList").click(function () {

            if (!$(this).hasClass("active")) {
                $("#lstProductSearch").addClass("full");
                $("#btnGrid,#btnList").toggleClass("active")
            }

        })
        $("#btnGrid").click(function () {
            if (!$(this).hasClass("active")) {
                $("#lstProductSearch").removeClass("full");
                $("#btnGrid,#btnList").toggleClass("active")
            }
        })
        $(document).ready(function () {
            //getData(parseInt('@Model.Item1.CategoryId'), 0, 0);
            $("#backtotop").click(function () {
                var body = $("html, body");
                body.animate({ scrollTop: 0 }, 500);
                //$("#backtotop").removeClass("show")
            })
        })
        function getData(c, s, t) {
            gStep = false;
            $.ajax({
                type: "POST",
                url: '@Url.Action("category_filter", "particle")',
                data: { step: s, category: c, typeSearch: t },
                cache: false,
                dataType: "json",
                success: function (dt) {
                    showData(dt.data);
                    $('input[type="hidden"]input[name="step"]').val(parseInt(s) + 1);
                    $("#lstProductSearch").fadeIn();
                    $(window).bind('scroll', bindScroll);
                    gStep = true;
                },
                error: function (error) {
                    $(window).unbind('scroll');
                }
            });
        }
        function showData(dt) {
            //console.log(dt.length)
            $.map(dt, function (ele, ind) {
                var temp = "s6";
                var row = '<a href="' + ele.Link + '">'
                            + '<div class="col ' + temp + ' itemProductSearch" style="margin-bottom: 5px;">'
                            + '<div class="card" style="box-shadow: none;height: 100%;border: 1px solid #c5c5c5;">'
                            + '<div class="card-image">'
                            + '<img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect' + ele.Url + ele.MediaName
                        + '" style="height: auto; width: 100%;">'
                        + '</div>'
                        + '<div class="card-action" style="border-top: 0px;padding: 0px 5px;">'
                        + ' <span class="title-name">'
                        + (ele.ProductComplexName == null ? ele.ProductName : ele.ProductComplexName)
                        + '</span>'
                        + '<p class="title-price">'
                        + (typeof ele.OnlineMobilePrice != "undefined" && typeof ele.PromotePrice != "undefined" && ele.PromotePrice != null && ele.OnlineMobilePrice != null && parseInt(ele.PromotePrice) != parseInt(ele.OnlineMobilePrice) ? ele.PromotePrice_write : ele.MobileOnlinePrice_write)
                        + '</p>' + '</div>' + '</div>' + '</div>' + '</a>';
                $("#lstProductSearch").append(row);
                //$("#Productcount").html($("#lstProductSearch").children().length)
            })
        }
        function loadMore() {
            var step_val = $('input[type="hidden"]input[name="step"]').val();
            $(window).unbind('scroll');
            if (parseInt(step_val) >= 0 && gStep == true) {
                gStep = false;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("category_filter", "particle")',
                    data: { step: (parseInt(step_val)), category: parseInt('@Model.Item1.CategoryId'), typeSearch: 0, lang: '@ViewBag.currentLanguage' },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        showData(dt.data);
                        $('input[type="hidden"]input[name="step"]').val(parseInt(step_val) + 1);
                        if (dt.data.length > 0)
                            $(window).bind('scroll', bindScroll);
                        else {
                            $(window).unbind('scroll');
                            //$("#preloadProduct").css('display', 'none');
                        }
                        gStep = true;
                    }, error: function (error) {
                        $(window).unbind('scroll');
                        //$("#preloadProduct").css('display', 'none');
                    }
                });
            }
        };
        function bindScroll() {
            //if ($(window).scrollTop() > 200) {
            //    $("#backtotop").addClass("show")
            //}
            //else { $("#backtotop").removeClass("show") }
            if ($(window).scrollTop() + $(window).height() > $(document).height() - $(".page-footer").height() + 30) {
                //$("#preloadProduct").css('display', 'block');
                $(window).unbind('scroll');
                loadMore();
            }

        };
        $(window).scroll(bindScroll);
    </script>
}
@section CSS{
    <style>
        #lstProductSearch.full .s6 {
            width: 100%;
            height: auto;
        }

        body {
            background-color: #fff;
        }

        .pagination {
            margin: 0;
            display: inline-block;
        }

            .pagination li.active {
                background-color: #000;
                border-radius: 50%;
            }

            .pagination li a {
                line-height: 1.8;
            }

        .catList li a {
            color: #757575;
            display: block;
            padding: 10px 20px 10px 15px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background: #fff;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
            font-size: 14px;
        }
    </style>
}