@*@using MvcPaging*@
@using PagedList;
@using PagedList.Mvc;
@{
    var store = (HTTelecom.Domain.Core.DataContext.mss.Store)ViewBag.Store;
    ViewBag.Back = Url.Action("Index", "Home");
    var ListOtherStore = (List<HTTelecom.Domain.Core.DataContext.mss.Store>)ViewBag.ListOtherStore;
    var LstStoreInMedia = (List<HTTelecom.Domain.Core.DataContext.mss.StoreInMedia>)ViewBag.LstStoreInMedia;
    var bannerStore = LstStoreInMedia.Where(n => n.Media.MediaType.MediaTypeCode == "STORE-1").ToList();
    ViewBag.LayoutTitle = store.MetaTitle; ViewBag.LayoutKeywords = store.MetaKeywords; ViewBag.LayoutDescription = store.MetaDescription; ViewBag.Layout_ogTitle = store.MetaTitle; if (bannerStore.Count > 0) { ViewBag.Layout_image = HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + bannerStore.FirstOrDefault().Media.Url + bannerStore.FirstOrDefault().Media.MediaName; } ViewBag.Layout_description = store.MetaDescription;
}
<div class="breadcrumbs">
    <ul style="margin:0px;">
        <li class="prs"><a class="current">@store.StoreName</a></li>
    </ul>
</div>
<div class="col s12 user-text-center user-padding-0" style="background-color: white; overflow: hidden;margin:5px 0px;">
    <div class="col s12 m12 user-position-relative user-padding-0" style="height:auto;">
        @if (ListOtherStore[0].StoreId != null && ListOtherStore[0].StoreId != 0)
        {
            <a href="@Url.Action("Index", "Store", new { id = ListOtherStore[0].StoreId, urlName = ListOtherStore[0].Alias })">
                <span style="position: absolute; width: 32px; height: 32px; top: 50%; left: 20px; margin-top: -15px; border: 1px solid #333; padding: 0px; border-radius: 5px; background-color: white; opacity: 0.4; ">
                    <i class="fa-icon fa-icon-left-81 user-transform-05" style="font-size: 32px;"></i>
                </span>
            </a>
        }
        <h4 class="page-title user-text-center user-margin-bottom-0 user-margin-top-0" title="@store.StoreName" style="line-height:0px;">
            @if (bannerStore.Count > 0)
            {
                <img class="user-col-0 lazyload"
                     data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + bannerStore.FirstOrDefault().Media.Url + bannerStore.FirstOrDefault().Media.MediaName)"
                     style="max-width: 100%; width: 100%;" />
            }
            else
            {
                @Html.Raw(store.StoreComplexName)
            }
        </h4>
        @if (ListOtherStore[1].StoreId != null && ListOtherStore[1].StoreId != 0)
        {
            <a href="@Url.Action("Index", "Store", new { id = ListOtherStore[1].StoreId, urlName = ListOtherStore[1].Alias })">
                <span style="position: absolute; width: 32px; height: 32px; top: 50%; right: 20px; margin-top: -15px; border: 1px solid #333; padding: 0px; border-radius: 5px; background-color: white; opacity: 0.4; ">
                    <i class="fa-icon fa-icon-right-44 user-transform-05" style="font-size: 32px;"></i>
                </span>
            </a>
        }
    </div><div class="clearfix"></div>
</div>
@if (ViewBag.showStore == true)
{
    var lstProduct = (IPagedList<HTTelecom.WebUI.eCommerce.Common.ProductObject>)ViewBag.LstProductInMedia;
    <div style=" margin: 0px 5px; text-align: left; font-weight: normal; border-top: 1px solid #01A469; border-bottom: 1px solid #01A469; padding: 10px; line-height: 16px;">
        <a style="float: left; color: #039be5;">
            <span style="color:#333">@((string)ViewBag.multiRes.GetString("store_id", ViewBag.CultureInfo))</span>: @String.Format("S{0:000000}", store.StoreId)
        </a>
        <a style="float:right;color:black">
            @ViewBag.TotalProduct @((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))
        </a>
        <div class="clearfix"></div>
    </div>
    <div class="row user-margin-5 backgournd-color-white user-border-radius-5" style="border:1px solid #c5c5c5;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("information", ViewBag.CultureInfo))
            <a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="Description">
                <i class="fa-icon fa-icon-minus-63 right user-transform-05"></i>
            </a>
        </h4>
        <div class="col s12 m12 user-padding-10" style="position:relative;">
            @if (store.Description != null)
            {
                if (store.Description.Length > 200)
                {
                    <div class="raw-html" style="overflow: hidden; height: 100px;" data-target="Description" data-flag="false">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(store.Description.Replace("../../", HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + "/")))
                    </div>
                    <div class="user-text-right " style="position: absolute; bottom: 0px; width: 100%; height: 25px; line-height: 25px; left: 0px; text-align: center; background-color: #eee; opacity: 0.8; ">
                        <a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="Description" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">
                            @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
                        </a>
                    </div>
                }
                else
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(store.Description))
                }
            }
        </div>
    </div>
    if (lstProduct.Count > 0)
    {
        <div class="group-panel">
            <h4 class="title-header">@((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</h4>
            <div class="col s12 m12" style="padding:0px 3px;">
                <div class="row user-margin-0 user-padding-top-5">
                    @{Html.RenderPartial("~/Views/Shared/Template/_PartialListPageList.cshtml",
                              (IPagedList<HTTelecom.WebUI.eCommerce.Common.ProductObject>)lstProduct);
                    }
                </div>
                <div class="col s12 text-center">
                    @Html.PagedListPager(lstProduct, page => Url.Action("Index", "Store", new { id = store.StoreId, page = page, urlName = store.Alias }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 3, DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToFirstPage = PagedListDisplayMode.Never })
                </div>
            </div><div class="clearfix"></div>
        </div>
    }
    if (ViewBag.ListProductViewed)
    {
        <div class="group-panel">
            <h4 class="title-header">@((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))</h4>
            <div class="col s12 m12 user-SliderProduct-Product user-padding-0" style="overflow-x: auto;">
                <div style="white-space: nowrap;text-align:center;" id="h_product_recent">
                    <img src="~/Images/ajax-loader-fb.gif" style="margin: 60px 0px;" />
                </div>
            </div>
        </div>
    }


    @section JavaScript {
        <script src="http://masonry.desandro.com/js/masonry-docs.min.js"></script>
        <script>
            //; $(window).load(function () { equalheight('.itemStoreReponsive'); });
            //$(window).resize(function () { equalheight('.itemStoreReponsive'); });
            //$("#storeBanner").owlCarousel({
            //    autoPlay: 3000,
            //    navigation: false,
            //    slideSpeed: 300,
            //    singleItem: true
            //});
            Galagala.product.get.p_recent()
        </script>
    }
    @section CSS{
        <style>
            body {
                background: white;
            }

            .swiper-pagination-white .swiper-pagination-bullet-active {
                background: #FF8600 !important;
            }

            .swiper-pagination-white .swiper-pagination-bullet {
                background: black;
            }

            .pagination {
                margin: 0px;
                display: inline-block;
            }

                .pagination li.active {
                    background-color: black;
                    border-radius: 50%;
                }

                .pagination li a {
                    line-height: 1.8;
                }
        </style>
    }
}
else
{
    <div class="col s12">
        <p class="user-text-center" style="font-size:40px;">@store.StoreName is coming soon in...</p><ul class="storeStart"><li><span class="days">00</span><p class="days_ref">days</p></li><li class="seperator">.</li><li><span class="hours">00</span><p class="hours_ref">hours</p></li><li class="seperator">:</li><li><span class="minutes">00</span><p class="minutes_ref">minutes</p></li><li class="seperator">:</li><li><span class="seconds">00</span><p class="seconds_ref">seconds</p></li></ul>
    </div>
    @section JavaScript {
        <script src="~/Scripts/couter.js"></script>
        <script>
            ; var d = new Date();
            $('.storeStart').downCount({ date: '@store.OnlineDate.Value.ToString("MM/dd/yyyy 00:00:00")', offset: (d.getTimezoneOffset() / 60) }, function () { });
        </script>
    }
}


