@*@using MvcPaging*@
@using PagedList;
@using PagedList.Mvc;
@{
    var store = (HTTelecom.Domain.Core.DataContext.mss.Store)ViewBag.Store;
    ViewBag.Back = Url.Action("Index", "Home");
    var ListOtherStore = (List<HTTelecom.Domain.Core.DataContext.mss.Store>)ViewBag.ListOtherStore;
    var LstStoreInMedia = (List<HTTelecom.Domain.Core.DataContext.mss.StoreInMedia>)ViewBag.LstStoreInMedia;
    var bannerStore = LstStoreInMedia.Where(n => n.Media.MediaType.MediaTypeCode == "STORE-1").ToList();
    ViewBag.LayoutTitle = store.MetaTitle; ViewBag.LayoutKeywords = store.MetaKeywords; ViewBag.LayoutDescription = store.MetaDescription; ViewBag.Layout_ogTitle = store.MetaTitle; if (bannerStore.Count > 0) { ViewBag.Layout_image = HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + bannerStore.FirstOrDefault().Media.Url + bannerStore.FirstOrDefault().Media.MediaName; } ViewBag.Layout_description = store.MetaDescription;
}
<div class="breadcrumbs">
    <ul style="margin:0px;">
        <li class="prs"><a class="current">@store.StoreName</a></li>
    </ul>
</div>
<div class="col s12 user-text-center user-padding-0" style="background-color: white; overflow: hidden;margin:5px 0px;">
    <div class="col s12 m12 user-position-relative user-padding-0" style="height:auto;">
        @if (ListOtherStore[0].StoreId != null && ListOtherStore[0].StoreId != 0)
        {
    <a href="@Url.Action("Index", "Store", new { id = ListOtherStore[0].StoreId, urlName = ListOtherStore[0].Alias })">
        <span style="position: absolute;width: 30px;height: 30px;top: 50%;left: 20px;margin-top: -15px;">
            <i class="fa-icon fa-icon-left-127" style="font-size: 32px;  transform: scale(1.05);"></i>
        </span>
    </a>
        }
        <h4 class="page-title user-text-center user-margin-bottom-0 user-margin-top-0" title="@store.StoreName" style="line-height:0px;">
            @if (bannerStore.Count > 0)
            {
            <img class="user-col-0 lazyload"
                 data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + bannerStore.FirstOrDefault().Media.Url + bannerStore.FirstOrDefault().Media.MediaName)"
                 style="max-width: 100%; width: 100%;" />
            }
            else
            {
            @Html.Raw(store.StoreComplexName)
            }
        </h4>
        @if (ListOtherStore[1].StoreId != null && ListOtherStore[1].StoreId != 0)
        {
    <a href="@Url.Action("Index", "Store", new { id = ListOtherStore[1].StoreId, urlName = ListOtherStore[1].Alias })">
        <span style="position: absolute;width: 30px;height: 30px;top: 50%;right: 20px;margin-top: -15px;"><i class="fa-icon fa-icon-right-125" style="font-size: 32px;transform: scale(1.05);"></i></span>
    </a>
        }
    </div><div class="clearfix"></div>
</div>
@if (ViewBag.showStore == true)
{
    //var vendor = (HTTelecom.Domain.Core.DataContext.cis.Vendor)ViewBag.Vendor;
    var lstProduct = (IPagedList<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.LstProductInMedia;
    //var lstWishList = (List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists;
    //var lstBanner = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.lstProductInMediaBanner;
    @*if (lstBanner.Count > 0)
        {
            <div class="row user-margin-bottom-0 user-margin-5 backgournd-color-white user-border-radius-5">
                <div class="col s12 m12 user-padding-0" style="position:relative;">
                    <span style="position: absolute; top: 10px; right: 20px; width: 25px; height: 25px; z-index: 9;" id="btn-full-screen" data-target="show-full-screen">
                        <img src="~/Images/zoom.png" style=" width: 25px; height: 25px;" />
                    </span>
                    <div class="owl-carousel user-SliderProduct user-SliderProduct-List show-full-screen" id="storeBanner" style="position: relative;">
                        @{Html.RenderPartial("~/Views/Shared/Template/_PartialList.cshtml",
                              new Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, bool>(lstBanner, true));
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <p class="user-text-center user-padding-10" style="margin: 8px 20px 0px 20px; color: #0A8255; border-top: 1px solid #0A8255; ">
                    @((string)ViewBag.multiRes.GetString("store_id", ViewBag.CultureInfo)):
                    <span class="user-color-main" data-element="color">@String.Format("S{0:000000}", store.StoreId)</span>
                </p>
            </div>
        }*@
    <div style=" margin: 0px 5px; text-align: left; font-weight: normal; border-top: 1px solid #01A469; border-bottom: 1px solid #01A469; padding: 10px; line-height: 16px;">
        <a style="float: left;color: #01A469;">
            @((string)ViewBag.multiRes.GetString("store_id", ViewBag.CultureInfo)): @String.Format("S{0:000000}", store.StoreId)
        </a>
        <div class="clearfix"></div>
    </div>
    <div class="row user-margin-5 backgournd-color-white user-border-radius-5" style="border:1px solid #c5c5c5;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("information", ViewBag.CultureInfo))
            <a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="Description">
                <i class="fa-icon fa-icon-minus-63 right user-transform-05"></i>
            </a>
        </h4>
        <div class="col s12 m12 user-padding-10">
            @if (store.Description != null)
            {
                if (store.Description.Length > 200)
                {
            <div class="raw-html" style="overflow: hidden; height: 100px;" data-target="Description" data-flag="false">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(store.Description.Replace("../../", HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + "/")))
            </div>
            <p class="user-text-right ">
                <a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="Description" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">
                    @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
                </a>
            </p>
                }
                else
                {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(store.Description))
                }
            }
        </div>
    </div>
    if (lstProduct.Count > 0)
    {
        <div class="group-panel">
            <h4 class="title-header">@((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</h4>
            <div class="col s12 m12" style="padding:0px 3px;">
                <div class="row user-margin-0 user-padding-top-5">
                    @{Html.RenderPartial("~/Views/Shared/Template/_PartialListPageList.cshtml",
                          (IPagedList<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)lstProduct);
                    }
                </div>
                <div class="col s12 text-center">
                    @Html.PagedListPager(lstProduct, page => Url.Action("Index", "Store", new { id = store.StoreId, page = page, urlName = store.Alias }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div><div class="clearfix"></div>
        </div>
    }
    if (ViewBag.ListProductViewed)
    {
        <div class="group-panel">
            <h4 class="title-header">@((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))</h4>
            <div class="col s12 m12 user-SliderProduct-Product user-padding-0" style="overflow-x: auto;">
                <div  style="white-space: nowrap;text-align:center;" id="h_product_recent">
                    <img src="~/Images/ajax-loader-fb.gif" style="margin: 60px 0px;" />
                </div>
            </div>
        </div>
    }
    @section JavaScript {
        <script>
            //; $(window).load(function () { equalheight('.itemStoreReponsive'); });
            //$(window).resize(function () { equalheight('.itemStoreReponsive'); });
            //$("#storeBanner").owlCarousel({
            //    autoPlay: 3000,
            //    navigation: false,
            //    slideSpeed: 300,
            //    singleItem: true
            //});
        </script>
    }
    @section CSS{
        <style>
            body {
                background: white;
            }

            .swiper-pagination-white .swiper-pagination-bullet-active {
                background: #FF8600 !important;
            }

            .swiper-pagination-white .swiper-pagination-bullet {
                background: black;
            }

            .pagination {
                margin: 0px;
                display: inline-block;
            }

                .pagination li.active {
                    background-color: black;
                    border-radius: 50%;
                }

                .pagination li a {
                    line-height: 1.8;
                }
        </style>
    }
}
else
{
    <div class="col s12">
        <p class="user-text-center" style="font-size:40px;">@store.StoreName is coming soon in...</p><ul class="storeStart"><li><span class="days">00</span><p class="days_ref">days</p></li><li class="seperator">.</li><li><span class="hours">00</span><p class="hours_ref">hours</p></li><li class="seperator">:</li><li><span class="minutes">00</span><p class="minutes_ref">minutes</p></li><li class="seperator">:</li><li><span class="seconds">00</span><p class="seconds_ref">seconds</p></li></ul>
    </div>
    @section JavaScript {
        <script src="~/Scripts/couter.js"></script>
        <script>
            ; var d = new Date();
            $('.storeStart').downCount({ date: '@store.OnlineDate.Value.ToString("MM/dd/yyyy 00:00:00")', offset: (d.getTimezoneOffset() / 60) }, function () { });
        </script>
    }
}


