@{
    ViewBag.Action = "Edit";
    ViewBag.Controller = "Account";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    
    //var createBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.CreatedBy).FirstOrDefault();
    //var modifiedBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.ModifiedBy).FirstOrDefault();
}
@using HTTelecom.Domain.Core.DataContext.ams

@model Account
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Account</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Account</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.AccountId)
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Edit Account</h3>
                <div class="panel-toolbar">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-warning">Save and continue</button>
                        <button class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">StaffID</label>
                            @Html.TextBoxFor(model => model.StaffId, new { @class = "form-control", placeholder = "ID", data_mask = "aa999999" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">FullName</label>
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "FullName" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Phone" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <div class="form-control">
                                <div class="radio-inline custom-radio custom-radio-info">
                                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @checked = "checked", id = "Male" })
                                    <label for="Male">
                                        &nbsp; Male
                                    </label>
                                </div>
                                <div class="radio-inline custom-radio custom-radio-info">
                                    @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "Female" })
                                    <label for="Female">
                                        &nbsp; Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.list_Department, "DepartmentId", "DepartmentName"), "Select department...", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Team</label>
                            @Html.DropDownListFor(model => model.DepartmentGroupId, new SelectList(new List<DepartmentGroup>(), "DepartmentGroupId", "DepartmentGroupName"), "Select group...", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Job Title</label>
                            @Html.DropDownListFor(model => model.OrgRoleId, new SelectList(ViewBag.list_OrgRole, "OrgRoleId", "OrgRoleName"), "Select job title...", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-3">
                        <label class="control-label">CreatedBy:</label>
                        <div class="form-control">
                            @(createBy != null ? createBy.Email : "N/A")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">ModifiedBy</label>
                        <div class="form-control">
                            @(modifiedBy != null ? modifiedBy.Email : "N/A")
                        </div>
                    </div>*@
                    <div class="col-md-3">
                        <label class="control-label">DateCreated</label>
                        <div class="form-control">
                            @Model.DateCreated.Value.ToString("MM/dd/yyyy")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">DateModified</label>
                        <div class="form-control">
                            @(Model.DateModified != null ? Model.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("select[name=DepartmentId]").change(function () {
        $("select[name=DepartmentGroupId]").children().remove();
        $.ajax({
            type: "POST",
            url: "@Url.Action("LoadDDL_DepartmentGroup", "Account")",
            data: { departmentId: $(this).val() },
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    $("select[name=DepartmentGroupId]").append("<option value='0'>Select group...</option>");
                    $.each(data.ddl_DepartmentGroup, function (index, item) {
                        $("select[name=DepartmentGroupId]").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    })
                }
            }
        }); //end ajax call
    });
</script>
