@{
    ViewBag.LayoutTitle = "Galagala";
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ Galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    var Brands = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Brand, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>>)ViewBag.Brands;
    var lstWishList = (List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists;
    var StoreMall = (List<HTTelecom.Domain.Core.DataContext.mss.StoreInMedia>)ViewBag.StoreMall;
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!-- Mall Layout-->
<div class="row user-margin-bottom-0 user-margin-top-5">
    <div class="col s12 m12 user-padding-0" style="position:relative;">
        <span id="btn-full-screen" data-target="show-full-screen"><img src="~/Images/zoom.png" width="25" height="25" alt="zoom-Image" /></span>
        <div class="owl-carousel user-SliderStore show-full-screen" id="mallBanner" data-target="btn-full-screen">
            @foreach (var item in (List<HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.bannerMall)
            {
            <div class="item "><img class="image-full lazyload" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Url + item.MediaName)" alt="@item.MediaName"></div>
            }
            @foreach (var item in StoreMall)
            {
            <div class="item">
                <a href="@Url.Action("Index", "Store", new { id = item.StoreId, urlName = item.Store.Alias })">
                    <img class="image-full lazyload" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url + item.Media.MediaName)" alt="@item.Store.StoreName">
                </a>
            </div>
            }
        </div>
    </div>
</div>
<!---CategoryChildren-->
<div class="group-panel">
    <h4 class="title-header"
        style="color: #C90037;">
        @((string)ViewBag.multiRes.GetString("category_buy", ViewBag.CultureInfo))
        <a class="right user_read_more cursor-point backgournd-color-black"
           data-type="user-show-div" data-target="Descriptionx"
           data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))"
           data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))"
           style="color: #C90037; font-size: 12px;">
            @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
        </a>
    </h4>
    <div class="col s12 m12 user-padding-0">
        <div class="raw-html" style="overflow: hidden; min-height: 100px;height:100px;text-align:center;"
             data-target="Descriptionx"
             data-flag="false">
            <div class="row user-margin-0" id="layoutCategory">
                @{Html.RenderAction("Children", "Category", new { lang = ViewBag.currentLanguage, number = 0 });}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---Link-->
@*<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 0px 1px 1px 0px #c3c3c3;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px; color: #01A469; line-height: 28px;">
            @((string)ViewBag.multiRes.GetString("link", ViewBag.CultureInfo))
            <a class="right user-padding-right-5 user-text-inherit user-readmore" style="  color: #01A469;">
                @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
            </a>
        </h4>
        <div class="col s12 m12 user-padding-0">
            <div class="swiper-container swiper-container-link">
                <div class="swiper-wrapper swiper-wrapper">
                    <div class="swiper-slide" style="width:auto;">
                        <a onclick="alert('Update later.')">
                            <img class="lazyload user-height-0 user-col-0" data-sizes="auto" src="~/Images/now_zone.png" width="100" height="100" style="max-height:100px;height:100px;width:auto;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!---ProductBuy-->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("buy_product", ViewBag.CultureInfo))
        <a class="right user-padding-right-5 user-text-inherit user-readmore" href="@Url.Action("ProductView", "Product", new { _type = "SELLING" })" style="padding-right: 15px; color: #01A469;">
            @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
        </a>
    </h4>
    <div class="col s12 m12 user-SliderHome-Product" style="overflow: hidden;">
        <div style="overflow-x:auto;">
            <div class="user-SliderProduct user-SliderProduct-Buy"
                 id="h_product_buy" style="text-align: center; white-space: nowrap;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip.cshtml", (List<HTTelecom.WebUI.eCommerce.Common.ProductObject>)ViewBag.List_Sale);}
            </div>
        </div>
    </div>
</div>
<!---Brand-->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("top_brand", ViewBag.CultureInfo))
        <a class="right user-padding-right-5 user-text-inherit user-readmore" href="@Url.Action("All","Brand")" style="color: #01A469;">
            @((string)ViewBag.multiRes.GetString("view_all", ViewBag.CultureInfo))
        </a>
    </h4>
    <div class="col s12 m12 user-padding-0" style="overflow: hidden;">
        <div style="overflow-x:auto;">
            <div id="h_brand_all" style=" white-space: nowrap;text-align:center;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialBrand.cshtml", (List<HTTelecom.WebUI.eCommerce.Common.BrandObject>)ViewBag.List_Brand);}
            </div>
        </div>
    </div>
</div>
<!---new Product-->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("new_product", ViewBag.CultureInfo))
        <a class="right user-padding-right-5 user-text-inherit user-readmore" href="@Url.Action("ProductView", "Product", new { _type = "NEW" })" style="padding-right: 15px; color: #01A469; ">
            @((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))
        </a>
    </h4>
    <div class="col s12 m12 user-SliderHome-Product" style="overflow: hidden;">
        <div style="overflow-x:auto;">
            <div class="user-SliderProduct user-SliderProduct-New user-text-center" id="h_product_hot" style="white-space: nowrap;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip.cshtml", (List<HTTelecom.WebUI.eCommerce.Common.ProductObject>)ViewBag.List_New);}
            </div>
        </div>
    </div>
</div>
@if (((bool)ViewBag.ListProductViewed) == true)
{
    <!---viewedProduct-->
    <div class="group-panel">
        <h4 class="title-header">
            @((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product" style="overflow: hidden;">
            <div style="overflow-x:auto;">
                <div class="user-SliderProduct user-SliderProduct-view user-text-center" id="h_product_recent" style="white-space: nowrap;">
                    <img src="~/Images/ajax-loader-fb.gif" style="  margin: 60px 0px;" />
                    @*@{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip.cshtml",(List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListProductViewedLength);}*@
                </div>
            </div>
        </div>
    </div>
}
<!---Store-->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("store", ViewBag.CultureInfo))
        <a class="right user-padding-right-5 user-text-inherit user-readmore" href="@Url.Action("All","Store")" style="padding-right: 15px; color: #01A469; ">
            @((string)ViewBag.multiRes.GetString("view_all", ViewBag.CultureInfo))
        </a>
    </h4>
    <div class=" user-margin-10 user-margin-bottom-0 user-text-center">
        <div class="owl-carousel" id="h_store_all">
            @{Html.RenderPartial("~/Views/Shared/Template/_PartialGridStore.cshtml", (List<HTTelecom.WebUI.eCommerce.Common.StoreObject>)ViewBag.List_Store);}
        </div>
    </div>
</div>
@section JavaScript {
    <script async>

        var gCategory = 0;
        ; $("#btnbacktoback").remove();
       
        $(document).ready(function () {
            $("#mallBanner").owlCarousel({ autoPlay: false, navigation: false, slideSpeed: 300, singleItem: true, afterMove: function (ex) { var owl = $("#mallBanner"); $("#mallBanner").trigger('owl.play', 6000); $("#mallBanner").trigger('owl.afterMove', false); } });
            $("#h_store_all").owlCarousel({ itemsCustom: [[0, 1], [450, 1], [600, 1], [700, 1], [1000, 1], [1200, 1], [1400, 1], [1600, 1]], navigationText: [galagala_config.lang.prev, galagala_config.lang.next], navigation: true });
            Galagala.product.get.p_recent()
        })
        @*function GetProduct(_data, tar) {
            var t = tar;
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProductSwip", "Template")',
                data: _data,
                cache: false,
                dataType: "html",
                success: function (dt) {
                    $(t.target).html(dt);
                }, error: function (error) { }
            }); //end ajax call
        }*@
    </script>
}
@section CSS{
    <style>
        #layoutCategory .item-children {
            line-height: 21px;
            height: 42px;
            padding: 3px 3px 3px 0px;
            white-space: normal;
            text-align: center;
            overflow: hidden;
            display: table;
            position: relative;
        }

            #layoutCategory .item-children img {
                width: 36px;
                height: 36px;
                position: absolute;
                top: 6px;
                left: 3px;
            }

            #layoutCategory .item-children a {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding-left: 34px;
                height: 42px;
            }
    </style>
}