@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    ViewBag.TabIsActive = "tabone";
    if (Request["tabActive"] != null)
    {
        ViewBag.TabIsActive = Request["tabActive"];
    }
}

@using HTTelecom.Domain.Core.DataContext.lps
@model HTTelecom.Domain.Core.DataContext.lps.ProductInventory

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - ProductInventory</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("ProductInventoryIndex", "MSS")">ProductInventory</a></li>
                <li class="active">Edit ProductInventory</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>

@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}

<!-- Page Body -->
@using (Html.BeginForm("Edit", "ProductInventory", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active":"")"><a href="#tab_Info" data-toggle="tab">ProductInventory Info</a></li>

                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn ladda-button btn-success" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                            <button type="submit" class="btn ladda-button btn-warning" id="saveType" name="saveType" value="1" data-style="zoom-in"><span class="ladda-label">Save & Continue</span></button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <!-- tab content -->
                    <div class="tab-content">
                        <!-- -------------ProductInventory Info------------- -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active":"")" id="tab_Info">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.ProductInventoryId, new { @class = "form-control", value = @Model.ProductInventoryId })
                                                <label>Product Item Name</label>
                                                @Html.TextBoxFor(model => model.ProductId, new { @class = "form-control", placeholder = "Product Id" })
                                                @*Html.ValidationMessageFor(model => model.ProductName)*@
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Vendor</label>
                                                @Html.DropDownListFor(model => model.VendorId, new SelectList((List<HTTelecom.Domain.Core.DataContext.cis.Vendor>)ViewBag.Vendor, "VendorId", "VendorFullName"), "Select vendor...", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Product Code</label>
                                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "Code", placeholder = "Code" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Product Status Code</label>
                                                @Html.DropDownListFor(model => model.BrandId, new SelectList((List<HTTelecom.Domain.Core.DataContext.mss.Brand>)ViewBag.Brand, "BrandId", "BrandName"), "Select brand...", new { @class = "form-control" })
                                            </div>
                                        </div>
                            
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", id = "Quantity", placeholder = "Quantity" })
                                            </div>
                                        </div>
                                 
                                  
                                    </div>
                                    
                            
                                </fieldset>
                            </form>
                        </div>
                        <!--/ ProductInventory Info -->
                    </div>
                    <!--/ tab content -->
                </div>
                <!--/ panel body -->
            </div>
            <!--/ panel -->
        </div>
    </div>
}
<!--/ END Page Body -->



<script src="~/Content/plugins/xeditable/js/bootstrap-editable.js"></script>
<link href="~/Content/plugins/xeditable/css/xeditable.css" rel="stylesheet" />
<link href="~/Content/plugins/xeditable/inputs-ext/address/address.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/address/address.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<link href="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/plugins/xeditable/xeditable.js"></script>

<script type="text/javascript">


    $(function () {
        // Ladda button
        // ================================
        Ladda.bind('.btn.ladda-button', { timeout: 50000 });

        // Bind progress buttons and simulate loading progress
        Ladda.bind('.btn.ladda-button.ladda-progress', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });
    });



</script>


