@{
    ViewBag.Action = "Index";
    ViewBag.Controller = "ActionType";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var ddl_SystemType = Model.ddl_SystemType.Select(a => new SelectListItem
    {
        Text = a.SystemName,
        Value = a.SystemTypeId.ToString()
    });
    var ddl_PageSize = new[]
    {
        new SelectListItem(){Value = "50", Text= "50"},
        new SelectListItem(){Value = "100", Text= "100"}
    };
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetProductPriorityData"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.ams

@model HTTelecom.WebUI.AdminPanel.ViewModels.ActionTypeViewModelIndex

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Action Type</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Action Type</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (TempData["StatusMessage"] != null)
{
    if (TempData["StatusMessage"] == "Success")
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully !!!
        </div>
    }
}
<div class="row">
    <div class="col-md-12 pull-left" style="margin-bottom: 15px;">
        <a href="@Url.Action("Create", "ActionType")" class="btn btn-info">New Action Type</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="action-type-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Action Type Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="panel-toolbar">
                    @Html.DropDownList("pageSize", new SelectList(ddl_PageSize, "Value", "Text"), new { @class = "form-control input-sm", style = "width:70px" })
                </div>
                
                <div class="panel-toolbar text-right">
                    @using (Ajax.BeginForm(ajaxOpts))
                    {
                        <div>
                            @Html.DropDownListFor(model => model.systemTypeId, new SelectList(ddl_SystemType, "Value", "Text"), "ALL")
                            <button type="submit">Submit</button>
                            <div id="loading" class="load" style="display:none">
                                <p>Loading Data...</p>
                            </div>
                        </div>
                    }
                    <div class="col-md-4 pull-right">
                    </div>
                    <div class="col-md-1 pull-right ma5">
                        <span class="control-label">Filter:</span>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chk_All_Action_Type" value="1" data-toggle="checkall" data-target="#action-type-table">
                                    <label for="chk_All_Action_Type"></label>
                                </div>
                            </th>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th class="text-center" width="5%">Status</th>
                            <th>Action</th>
                            <th>Controller</th>
                            <th width="20%">System</th>
                            <th width="15%">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-action-type">
                        @Html.Action("GetActionTypeData", new { systemTypeId = Model.systemTypeId })
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model.ActionTypePager, pageNum => Url.Action("GetActionTypeData", new { pageNum = pageNum, pageSize = Model.pageSize, systemTypeId = Model.systemTypeId }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    <span>Showing @Model.ActionTypePager.FirstItemOnPage to @Model.ActionTypePager.LastItemOnPage of @Model.ActionTypePager.TotalItemCount Stores</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @*function ChangeStatusAction(actionTypeId, sbool) {
        _listActionTypeChecked = [];

        if (actionTypeId == 0) {
            $('.list-action-type tr').each(function () {
                var achecked = $(this).find('input[name="chk_action_type"]');
                if (achecked.is(':checked')) {
                    _listActionTypeChecked.push(achecked.val());
                }
            });
        }
        else {
            _listActionTypeChecked.push(actionTypeId);
        }
        if (confirm("Are you sure?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeActive", "ActionType")',
                data: {
                    listActionTypeId: _listActionTypeChecked,
                    sbool: sbool,
                    page: '@ViewBag.page'
                },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        CreateActionTypeTable(data._listActionType);
                    }
                }
            });
        }
    }

    $("select[name=ddl_SystemTypeId]").change(function () {

        var _systemTypeId = $(this).val();

        if (_systemTypeId != "") {
            $("select[name=ddl_ModuleId]").children().remove();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeSystemTypeFilter", "ActionType")",
                data: { systemTypeId: _systemTypeId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("select[name=ddl_ModuleId]").append("<option value='0'>Select module...</option>");
                        $.each(data._ddlModuleType, function (index, item) {
                            $("select[name=ddl_ModuleId]").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });

                        CreateActionTypeTable(data._listActionType);
                    }
                }
            });
        }
        else {
            $("select[name=ddl_ModuleId]").children().remove();
            $("select[name=ddl_ModuleId]").append("<option value='0'>Select module...</option>");
        }
    });

    $("select[name=ddl_ModuleId]").change(function () {

        var _moduleId = $(this).val();
        var _systemTypeId = $("select[name=ddl_SystemTypeId]").val();

        if (_systemTypeId != "" && _moduleId != 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeModuleFilter", "ActionType")",
                data: { moduleId: _moduleId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success) {

                        CreateActionTypeTable(data._listActionType);
                    }
                }
            });
        }
        else if (_systemTypeId != "" && _moduleId == 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeSystemTypeFilter", "ActionType")",
                data: { systemTypeId: _systemTypeId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        CreateActionTypeTable(data._listActionType);
                    }
                }
            });

        }
        else {
            $("select[name=ddl_ModuleId]").children().remove();
            $("select[name=ddl_ModuleId]").append("<option value='0'>Select module...</option>");
        }
    });

    function CreateActionTypeTable(listActionType) {
        var target = $(".list-action-type");

        var _listModuleType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_ModuleType))');
        var _listSystemType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SystemType))');
        var _listSecurityRole = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SecurityRole))');

        target.empty();
        $.each(listActionType, function (_index, _item) {

            var _systemName, _moduleTypeName, _securityRoleName = "N/A";
            var _url = '@Url.Action("Edit", "ActionType", new { id = "_ActionTypeId_" })'.replace('_ActionTypeId_', _item.ActionTypeId);
            var _dateCreated = new Date(_item.DateCreated.match(/\d+/)[0] * 1);

            $.each(_listModuleType, function (_index, _item1) {
                if (_item1.ModuleTypeId == _item.ModuleTypeId) {
                    _moduleTypeName = _item1.ModuleTypeName;

                    $.each(_listSystemType, function (_index, _item2) {
                        if (_item2.SystemTypeId == _item1.SystemTypeId) {
                            _systemName = _item2.SystemName;
                        }
                    });
                }
            });


            $.each(_listSecurityRole, function (_index, _item3) {
                if (_item3.SecurityRoleId == _item.SecurityRoleId) {
                    _securityRoleName = _item3.SecurityRoleName;
                }
            });

            target.append(
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_action_type" id="chk_action_type_' + (_index + 1) + '" value="' + _item.ActionTypeId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_action_type_' + (_index + 1) + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td>' + (_index + 1) + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsActive == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ActionTypeId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ActionTypeId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a>')
                    + '</td>'
                    + '<td><span>' + _systemName + '</span></td>'
                    + '<td><span>' + _moduleTypeName + '</span></td>'
                    + '<td><a href="' + _url + '"><strong>' + _item.ActionTypeName + '</strong></a></td>'
                    + '<td><span>' + _securityRoleName + '</span></td>'
                    + '<td>' + moment(_dateCreated).format('MM/DD/YYYY') + '</td>'
                + '</tr>'
                            );
        });
    }*@

    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#action-type-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>