@{
    ViewBag.Action = "Edit";
    ViewBag.Controller = "ActionType";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var createBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.CreatedBy).FirstOrDefault();
    //var modifiedBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.ModifiedBy).FirstOrDefault();

    var ddl_SystemType = Model.ddl_SystemType.Select(a => new SelectListItem
    {
        Text = a.SystemName,
        Value = a.SystemTypeId.ToString(),
    });
    //var ddl_SecurityRole = ((List<SecurityRole>)ViewBag.list_SecurityRole).Where(a => a.IsDeleted == false).Select(a => new SelectListItem
    //{
    //    Text = a.SecurityRoleName,
    //    Value = a.SecurityRoleId.ToString()
    //});
}
@using HTTelecom.Domain.Core.DataContext.ams
@using PagedList
@using PagedList.Mvc

@model HTTelecom.WebUI.AdminPanel.ViewModels.ActionTypeViewModelEdit
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Edit Action Type</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active"><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index", "ActionType")">Action Type</a></li>
                <li class="active">Edit Action Type</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}

<!-- START row -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "ActionType", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ActionType.ActionTypeId)
            @Html.HiddenFor(model => model.ActionType.DateCreated)
            @Html.HiddenFor(model => model.ActionType.CreatedBy)
            @Html.HiddenFor(model => model.ActionType.DateModified)
            @Html.HiddenFor(model => model.ActionType.ModifiedBy)
            <!-- START panel -->
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active" : "")"><a href="#one" data-toggle="tab">Action Type Info</a></li>
                            <li class="@(ViewBag.TabIsActive == "tabtwo" ? "active" : "")"><a href="#two" data-toggle="tab">Account Permission</a></li>
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-warning">Save and continue</button>
                            <button class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active" : "")" id="one">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">System</label>
                                        @Html.DropDownListFor(model => model.ActionType.SystemTypeId, ddl_SystemType, "Select system...", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Controller</label>
                                        @Html.TextBoxFor(model => model.ActionType.ControllerName, new { @class = "form-control", placeholder = "controller" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Action</label>
                                        @Html.TextBoxFor(model => model.ActionType.ActionTypeName, new { @class = "form-control", placeholder = "action" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label text-danger">IsDeleted</label>
                                        <div class="form-control">
                                            @if (Model.ActionType.IsDeleted == true)
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsDeleted, true, new { @checked = "checked", id = "rdi_isDeleted1" })
                                                    <label for="rdi_isDeleted1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsDeleted, false, new { id = "rdi_isDeleted2" })
                                                    <label for="rdi_isDeleted2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsDeleted, true, new { id = "rdi_isDeleted1" })
                                                    <label for="rdi_isDeleted1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsDeleted, false, new { @checked = "checked", id = "rdi_isDeleted2" })
                                                    <label for="rdi_isDeleted2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">IsActive</label>
                                        <div class="form-control">
                                            @if (Model.ActionType.IsActive == true)
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsActive, true, new { @checked = "checked", id = "rdi_isActive1" })
                                                    <label for="rdi_isActive1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsActive, false, new { id = "rdi_isActive2" })
                                                    <label for="rdi_isActive2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsActive, true, new { id = "rdi_isActive1" })
                                                    <label for="rdi_isActive1">
                                                        &nbsp; Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.ActionType.IsActive, false, new { @checked = "checked", id = "rdi_isActive2" })
                                                    <label for="rdi_isActive2">
                                                        &nbsp; No
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-3">
                                    <label class="control-label">CreatedBy:</label>
                                    <div class="form-control">
                                        @(createBy != null ? createBy.Email : "N/A")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">ModifiedBy</label>
                                    <div class="form-control">
                                        @(modifiedBy != null ? modifiedBy.Email : "N/A")
                                    </div>
                                </div>*@
                                <div class="col-md-3">
                                    <label class="control-label">DateCreated</label>
                                    <div class="form-control">
                                        @Model.ActionType.DateCreated.Value.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">DateModified</label>
                                    <div class="form-control">
                                        @(Model.ActionType.DateModified != null ? Model.ActionType.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane @(ViewBag.TabIsActive == "tabtwo" ? "active" : "")" id="two">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- START panel -->
                                    <div class="panel panel-blue" id="action-permission-table">
                                        <!-- panel heading/header -->
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Action Type Permission Table</h3>
                                            <!-- panel toolbar -->
                                            <div class="panel-toolbar text-right">
                                                <!-- option -->
                                                <div class="option">
                                                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                    @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>
                                                </div>
                                                <!--/ option -->
                                            </div>
                                            <!--/ panel toolbar -->
                                        </div>
                                        <!--/ panel heading/header -->
                                        <!-- panel toolbar wrapper -->
                                        <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                                            <div class=" panel-toolbar hide" id="toolbar-toshow">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default">IsAllow ??</button>
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 1);'><i class="icon ico-pencil"></i>Allow</a></li>
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 0);'><i class="icon ico-print3"></i>Deny</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-toolbar text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ panel toolbar wrapper -->
                                        <!-- panel body with collapse capabale -->
                                        <div class="panel-collapse pull out">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="3%" class="text-center">
                                                            <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                                                <input type="checkbox" id="chk_All_Action_Permission" value="1" data-toggle="checkall" data-target="#action-permission-table">
                                                                <label for="chk_All_Action_Permission"></label>
                                                            </div>
                                                        </th>
                                                        <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                                                        <th class="text-center" width="10%">Status</th>
                                                        <th>Email</th>
                                                        <th>System</th>
                                                        <th>Module</th>
                                                        <th>Action</th>
                                                        <th>Role</th>
                                                        <th width="15%">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list-action-permission">
                                                    @{
                                            int i = 1;
                                            foreach (var item in (IPagedList<ActionTypePermission>)ViewBag.listActionPermissionPager)
                                            {
                                                //var itemAccount = ((List<Account>)ViewBag.list_Account).Where(x => x.AccountId == item.AccountId).FirstOrDefault();
                                                var itemActionType = ((List<ActionType>)ViewBag.list_ActionType).Where(x => x.ActionTypeId == item.ActionTypeId).FirstOrDefault();
                                                //var itemModuleType = ((List<ModuleType>)ViewBag.list_ModuleType).Where(x => x.ModuleTypeId == itemActionType.ModuleTypeId).FirstOrDefault();
                                                //var itemSystemType = ((List<SystemType>)ViewBag.list_SystemType).Where(x => x.SystemTypeId == itemModuleType.SystemTypeId).FirstOrDefault();
                                                //var itemSecurityRole = ((List<SecurityRole>)ViewBag.list_SecurityRole).Where(x => x.SecurityRoleId == itemActionType.SecurityRoleId).FirstOrDefault();

                                                <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                                    <td class="text-center">
                                                        <div class="checkbox custom-checkbox nm">
                                                            <input type="checkbox" name="chk_action_permission" id="chk_action_permission_@i" value="@item.ActionTypePermissionId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                                            <label for="chk_action_permission_@i"></label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">@i</td>
                                                    @if (item.IsAllowed == true)
                                                    {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.ActionTypePermissionId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Allowed</span></a></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.ActionTypePermissionId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deny">Deny</span></a></td>
                                                    }
                                                    @*<td>
                                                        <strong class="text-info">@(itemAccount.Email != null ? itemAccount.Email : "N/A")</strong>
                                                    </td>
                                                    <td><span>@(itemSystemType != null ? itemSystemType.SystemName : "N/A")</span></td>
                                                    <td><span>@(itemModuleType != null ? itemModuleType.ModuleTypeName : "N/A")</span></td>
                                                    <td><span>@(itemActionType != null ? itemActionType.ActionTypeName : "N/A")</span></td>
                                                    <td><span>@(itemSecurityRole != null ? itemSecurityRole.SecurityRoleName : "N/A")</span></td>
                                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                                </tr>
                                                    i++;
                                            }
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                @Html.PagedListPager((IPagedList<ActionTypePermission>)ViewBag.listActionPermissionPager, page => Url.Action("Edit", new { page = page, tabActive = "tabtwo" }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function ChangeStatusAction(actionPermissionId, sbool) {
        _listCheckedActionPermissionChecked = [];

        if (actionPermissionId == 0) {
            $('.list-action-permission tr').each(function () {
                var achecked = $(this).find('input[name="chk_action_permission"]');
                if (achecked.is(':checked')) {
                    _listCheckedActionPermissionChecked.push(achecked.val());
                }
            });
        }
        else {
            _listCheckedActionPermissionChecked.push(actionPermissionId);
        }
        if (confirm("Are you sure?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeAllow", "ActionTypePermission")',
                data: {
                    actionTypeId: '@Model.ActionType.ActionTypeId',
                    listActionPermissionId: _listCheckedActionPermissionChecked,
                    sbool: sbool,
                    page: '@ViewBag.page'
                },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        createActionPermissionTable(data._listActionTypePermission);
                    }
                }
            });
        }
    }

    function createActionPermissionTable(listActionTypePermission) {
        var target = $(".list-action-permission");

        var _listAccount = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_Account))');
        var _listActionType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_ActionType))');
        var _listModuleType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_ModuleType))');
        var _listSystemType = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SystemType))');
        var _listSecurityRole = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_SecurityRole))');

        target.empty();

        $.each(listActionTypePermission, function (_index, _item) {

            var _email, _actionName, _moduleTypeName, _systemName, _securityRoleName = "N/A";
            var _url = '@Url.Action("Edit", "ActionTypePermission", new { id = "_ActionTypePermissionId_" })'.replace('_ActionTypePermissionId_', _item.ActionTypePermissionId);
            var _dateCreated = new Date(_item.DateCreated.match(/\d+/)[0] * 1);

            $.each(_listAccount, function (_index, _item1) {
                if (_item1.AccountId == _item.AccountId) {
                    _email = _item1.Email;
                }
            });

            $.each(_listActionType, function (_index, _item2) {
                if (_item.ActionTypeId == _item2.ActionTypeId) {
                    _actionName = _item2.ActionTypeName;

                    $.each(_listModuleType, function (_index, _item3) {
                        if (_item2.ModuleTypeId == _item3.ModuleTypeId) {
                            _moduleTypeName = _item3.ModuleTypeName;

                            $.each(_listSystemType, function (_index, _item4) {
                                if (_item3.SystemTypeId == _item4.SystemTypeId) {
                                    _systemName = _item4.SystemName;
                                }
                            });
                        }
                    });

                    $.each(_listSecurityRole, function (_index, _item5) {
                        if (_item5.SecurityRoleId == _item2.SecurityRoleId) {
                            _securityRoleName = _item5.SecurityRoleName;
                        }
                    });
                }
            });

            $.each(_listSecurityRole, function (_index, _item5) {
                if (_item5.SecurityRoleId == _item.SecurityRoleId) {
                    _securityRoleName = _item5.SecurityRoleName;
                }
            });

            target.append(
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_action_permission" id="chk_action_permission_' + (_index + 1) + '" value="' + _item.ActionTypePermissionId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_action_permission_' + (_index + 1) + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td>' + (_index + 1) + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsAllowed == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ActionTypePermissionId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Allowed">Allowed</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.ActionTypePermissionId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deny">Deny</span></a>')
                    + '</td>'
                    + '<td><strong class="text-info">' + _email + '</strong></td>'
                    + '<td><span>' + _systemName + '</span></td>'
                    + '<td><span>' + _moduleTypeName + '</span></td>'
                    + '<td><span>' + _actionName + '</span></td>'
                    + '<td><span>' + _securityRoleName + '</span></td>'
                    + '<td>' + moment(_dateCreated).format('MM/DD/YYYY') + '</td>'
                + '</tr>'
                            );
        });
    }

    $("select[name=ddl_systemTypeId]").change(function () {

        var _systemTypeId = $(this).val();

        if (_systemTypeId != "") {
            $("#ddl_ModuleId").children().remove();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeSystemTypeFilter", "ActionType")",
                data: { systemTypeId: _systemTypeId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#ddl_ModuleId").append('<option value="">Select module...</option>');
                        $.each(data._ddlModuleType, function (index, item) {
                            $("#ddl_ModuleId").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });
                    }
                }
            });
        }
        else {
            $("#ddl_ModuleId").children().remove();
            $("#ddl_ModuleId").append('<option value="">Select module...</option>');
        }
    });

    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#action-permission-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>
