@model  List<HTTelecom.WebUI.eCommerce.Common.CategoryObject>
@{
   
    var lv1 = Model.Where(n => n.CateLevel == 0).OrderBy(n => n.OrderNumber).ToList();
    var lv2 = Model.Where(n => n.CateLevel == 1).OrderBy(n => n.OrderNumber).ToList(); 
    var lv3 = Model.Where(n => n.CateLevel == 2).OrderBy(n => n.OrderNumber).ToList(); 
}
<ul id="lstCategory1" class="mLeft" data-level="2" data-content="category"
    style="margin: 0px; margin-left: 280px; padding-top: 0px; display: none; ">
    <li style="background-color: #e9e9e9; text-align: left; color: black; line-height: 42px; height: 42px; padding: 0px;position: relative; ">
        <a class="mLeft-move cursor-point" data-value="0px" data-show="0" data-target="#side-nav-left-content" style="float: left;padding: 0px 10px;width:100%;">
            <i class="fa-icon fa-icon-left-81" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
            @((string)ViewBag.multiRes.GetString("categories", ViewBag.CultureInfo))
        </a>
    </li>
    @foreach (var item in lv1)
    {
        var lstChildren = lv2.Where(n => n.ParentCateId == item.CategoryId).ToList();
        if (item.Logo_Url != null)
        {
            var mClass = "";
            if (lstChildren.Count > 0)
            {
                mClass = "mLeft-move";
                item.Link = "#";
            }
            <li style="clear: both; padding: 0px; border-bottom: 1px solid #d2d2d2; position: relative;">
                <a class="children-after @mClass user-padding-0" href="@item.Link" data-show="3" data-name="@item.CategoryName" data-catelv="1" data-getlv="2" style="min-height: 0px;" data-target="#side-nav-left-content" data-value="-600px" data-id="@item.CategoryId">
                    <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Logo_Url + item.Logo_MediaName)" style=" width: 36px; height: 36px; float: left; margin-right: 5px;" />
                    <p style="height: 44px; overflow: hidden; margin: 0px; font-size: 13px;">@item.CategoryName</p>
                    <div style="position: absolute;top: 0px;right: 0px;background-color: white;">
                        @if (lstChildren.Count > 0)
                        {
                            <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                <i class="fa-icon fa-icon-right-44" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                            </span>
                        }
                        else
                        {
                            <span style="width: 32px; float: right; height: 100%;"></span>
                        }
                        <span class="secondary-content" style="color:orange;">@item.ProductCount</span>
                    </div>
                </a>
            </li>
        }
    }
</ul>
<ul id="lstCategory2" class="mLeft" data-level="3"
    style="margin: 0px; left: 600px; padding-top: 0px; display: none;">
    <li style="background-color: #e9e9e9; text-align: left; color: black; line-height: 42px; height: 42px; padding: 0px;position: relative; ">
        <a class="mLeft-move cursor-point" data-show="2" data-menushow="category" data-value="-280px" data-target="#side-nav-left-content" style="float: left; padding: 0px 10px; width: 100%;position: relative;">
            <i class="fa-icon fa-icon-left-81" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
            <span class="title-category" data-catelv="2">@ViewBag.gCateName_2</span>
        </a>
    </li>
    @foreach (var item in lv2)
    {
        var lstChildren = lv3.Where(n => n.ParentCateId == item.CategoryId).ToList();
        if (item.Logo_Url != null)
        {
            var mClass = "";
            if (lstChildren.Count > 0)
            {
                mClass = "mLeft-move";
                item.Link = "#";
            }
            <li style="clear: both; padding: 0px; border-bottom: 1px solid #d2d2d2;position: relative;">
                <a class="children-after @mClass" href="@item.Link" data-show="4" data-name="@item.CategoryName" data-catelv="2" data-getlv="3" style="min-height: 0px;" data-target="#side-nav-left-content" data-value="-900px" data-id="@item.CategoryId" data-parent="@item.ParentCateId">
                    @* <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Logo_Url + item.Logo_MediaName)" style=" width: 36px; height: 36px; float: left; margin-right: 5px;" />*@
                    <p style="height: 44px; overflow: hidden; margin: 0px;">@item.CategoryName</p>
                    <div style="position: absolute;top: 0px;right: 0px;background-color: white;">
                        @if (lstChildren.Count > 0)
                        {
                            <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                <i class="fa-icon fa-icon-right-44" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                            </span>
                        }
                        else
                        {
                            <span style="width: 32px; float: right; height: 100%;"></span>
                        }
                        <span class="secondary-content" style="color:orange;">@item.ProductCount</span>
                    </div>
                </a>
            </li>
        }
    }
</ul>
<ul id="lstCategory3" class="mLeft" data-level="4"
    style=" margin: 0px;  left: 900px;padding-top: 0px; display: none;">
    <li style="background-color: #e9e9e9; text-align: left; color: black; line-height: 42px; height: 42px; padding:0px;position: relative;">
        <a style="float: left; padding: 0px 10px; width: 100%; " data-show="3" class="mLeft-move cursor-point" data-value="-600px" data-target="#side-nav-left-content">
            <i class="fa-icon fa-icon-left-81" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
            <span class="title-category" data-catelv="3">@ViewBag.gCateName_2</span>
        </a>
    </li>
    @foreach (var item in lv3)
    {
        if (item.Logo_Url != null)
        {
            var mClass = "";
            <li style="clear: both; padding: 0px; border-bottom: 1px solid #d2d2d2; height: 44px;position: relative; ">
                <a class="children-after @mClass" href="@item.Link" data-catelv="3" style="min-height: 0px;" data-target="#side-nav-left-content" data-value="-900px" data-id="@item.CategoryId"
                   data-parent="@item.ParentCateId">
                    @*     <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Logo_Url + item.Logo_MediaName)" style=" width: 36px; height: 36px; float: left; margin-right: 5px;" />*@
                    <p style=" height: 44px; overflow: hidden; margin: 0px;">@item.CategoryName</p>
                    <div style="position: absolute;top: 0px;right: 0px;background-color: white;margin-right: 5px;">
                        <span class="secondary-content" style="color:orange;">@item.ProductCount</span>
                    </div>
                </a>
            </li>
        }
    }
</ul>
