@{
    ViewBag.Action = "Edit";
    ViewBag.Controller = "SecurityRole";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var createBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.CreatedBy).FirstOrDefault();
    var modifiedBy = ((List<Account>)ViewBag.list_Account).Where(a => a.AccountId == Model.ModifiedBy).FirstOrDefault();

    var index = 1;
    var ddl_LevelRole = ((List<SecurityRole>)ViewBag.ddl_SecurityRole).Select(a =>
                        new SelectListItem
                        {
                            Value = index.ToString(),
                            Text = index.ToString()
                        });
}

@using HTTelecom.Domain.Core.DataContext.ams

@model SecurityRole
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Security Role</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Security Role</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}
<!-- START row -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "SecurityRole", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.SecurityRoleId)
            <!-- START panel -->
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Security Role Info</h3>
                    <div class="panel-toolbar">
                        @*<ul class="nav nav-tabs pull-left">
                                <li class="active"><a href="#one" data-toggle="tab">Security Role Info</a></li>
                                <li><a href="#two" data-toggle="tab">Level Role</a></li>
                            </ul>*@
                        <div class="text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-warning">Save and continue</button>
                            <button class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                @Html.TextBoxFor(model => model.SecurityRoleName, new { @class = "form-control", placeholder = "name" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Code</label>
                                @Html.TextBoxFor(model => model.SecurityRoleCode, new { @class = "form-control", placeholder = "code", data_mask = "aaa" })
                            </div>
                        </div>
                        @if (Model.IsDeleted == false)
                        {
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="control-label">Level</label>
                                    @Html.DropDownListFor(model => model.LevelRole, new SelectList(ddl_LevelRole, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "description", rows = "3", style = "resize: none" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label text-danger">IsDeleted</label>
                                <div class="form-control">
                                    @if (Model.IsDeleted == true)
                                    {
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { @checked = "checked", id = "rdi_isDeleted1" })
                                            <label for="rdi_isDeleted1">
                                                &nbsp; Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "rdi_isDeleted2" })
                                            <label for="rdi_isDeleted2">
                                                &nbsp; No
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "rdi_isDeleted1" })
                                            <label for="rdi_isDeleted1">
                                                &nbsp; Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { @checked = "checked", id = "rdi_isDeleted2" })
                                            <label for="rdi_isDeleted2">
                                                &nbsp; No
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">IsActive</label>
                                <div class="form-control">
                                    @if (Model.IsActive == true)
                                    {
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsActive, true, new { @checked = "checked", id = "rdi_isActive1" })
                                            <label for="rdi_isActive1">
                                                &nbsp; Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "rdi_isActive2" })
                                            <label for="rdi_isActive2">
                                                &nbsp; No
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "rdi_isActive1" })
                                            <label for="rdi_isActive1">
                                                &nbsp; Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline custom-radio custom-radio-info">
                                            @Html.RadioButtonFor(model => model.IsActive, false, new { @checked = "checked", id = "rdi_isActive2" })
                                            <label for="rdi_isActive2">
                                                &nbsp; No
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">CreatedBy:</label>
                            <div class="form-control">
                                @(createBy != null ? createBy.Email : "N/A")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">ModifiedBy</label>
                            <div class="form-control">
                                @(modifiedBy != null ? modifiedBy.Email : "N/A")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">DateCreated</label>
                            <div class="form-control">
                                @Model.DateCreated.Value.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">DateModified</label>
                            <div class="form-control">
                                @(Model.DateModified != null ? Model.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane" id="two">
                                <!-- START row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START sortable list -->
                                        <ul class="list-unstyled" id="sortable-list">
                                            @foreach (var item in (List<SecurityRole>)ViewBag.list_SecurityRole)
                                            {

                                                <li class="panel mb5 @(item.IsDeleted == true ? "panel-danger" : "")">
                                                    <div class="panel-heading nm bdr0 handle">
                                                        <h3 class="panel-title"><i class="@(item.SecurityRoleId == Model.SecurityRoleId ? "ico-check text-success" : "ico-grid2") mr5"></i>@Html.Hidden("list_SecurityRoleId", item.SecurityRoleId) @item.SecurityRoleName ---- @item.LevelRole</h3>
                                                    </div>
                                                </li>


                                            }
                                        </ul>
                                        <!--/ END sortable list -->
                                    </div>
                                </div>
                                <!--/ END row -->
                            </div>
                        </div>*@
                </div>
                <!--/ panel body -->
            </div>
            <!--/ END panel -->
        }
    </div>
</div>
<!--/ END row -->
<script type="text/javascript">

    $(function () {
        // Sortable list
        // ================================
        //$('#sortable-list').sortable();
        //$('#sortable-list').disableSelection();
    });
</script>