@{
    ViewBag.Title = "All";
    var ListModelBrand = (List<HTTelecom.WebUI.eCommerce.Common.BrandObject>)ViewBag.ListModelBrand;
    ViewBag.Back = Url.Action("Index", "Home");
}
<div class="breadcrumbs">
    <ul><li class="prs"><a class="current">@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))</a></li></ul>
</div>
<div class="group-panel" style="border:0px;">
    <h4 class="title-header">@((string)ViewBag.multiRes.GetString("top_brand", ViewBag.CultureInfo))</h4>
    <div class="row user-padding-top-10">
        @foreach (var item in ListModelBrand)
        {
            <div class="col l2 m3 s4 user-margin-bottom-5" style="overflow: hidden; padding:0px 3px;">
                <div class="user-height-0 user-text-center" style="border: 1px solid #c3c3c3; box-shadow: 0 0 15px rgba(0,0,0,0.3);">
                    <a href="@item.Link">
                        <img class="lazyload user-height-0 user-col-0" src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Logo_Url + item.Logo_MediaName)" />
                    </a>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>
@if (ViewBag.ListProductViewed)
{
    <div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 1px 1px 1px 1px #c3c3c3;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product  " style="overflow: hidden;">
            <div style="overflow-x:auto;overflow-y:hidden;">
                <div class="swiper-container user-SliderProduct user-SliderProduct-view" id="h_product_recent" style="height: 157px;text-align:center;">
                    <img src="~/Images/ajax-loader-fb.gif" style=" margin: 60px 0px;" />
                </div>
            </div>
        </div>
    </div>
}
@section JavaScript {
    <script>
        Galagala.product.get.p_recent()
    </script>
}
