@{
    ViewBag.Title = "All";
    var ListModelBrand = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Brand, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>>)ViewBag.ListModelBrand;
    //var newListProduct = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.newListProduct;
    ViewBag.Back = Url.Action("Index", "Home");
}
<div class="breadcrumbs">
    <ul>
        <li class="prs">
            <a class="current">@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))</a>
        </li>
    </ul>
</div>
<div class="row user-margin-10 backgournd-color-white user-border-radius-5">
    <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        @((string)ViewBag.multiRes.GetString("top_brand", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-padding-10">
        @foreach (var item in ListModelBrand)
        {
            if (item.Item2 != null)
            {
                <div class="col l2 m3 s4 itemStoreReponsive user-margin-bottom-5" style="max-height: 108px; overflow: hidden; padding:0px 3px;">
                    <div class="user-height-0 user-text-center" style="border: 1px solid #c3c3c3; box-shadow: 0 0 15px rgba(0,0,0,0.3);">
                        <a href="@Url.Action("Index", "Brand", new { id = item.Item1.BrandId, urlName=item.Item1.Alias})">
                            <img class="lazyload user-height-0 user-col-0" data-sizes="auto" src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Item2.Url + item.Item2.MediaName)" />
                        </a>
                    </div>
                </div>
            }
        }<div class="clearfix"></div>
    </div>
</div>
@*<div class="row user-margin-10 backgournd-color-white user-border-radius-5">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("suggestions_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product user-padding-5" style="overflow: hidden;">
            <div style="overflow-x:auto;overflow-y:hidden;">
                <div class="swiper-container user-SliderProduct user-SliderProduct-other user-text-center" style="height:auto;" id="h_product_brand">
                    <img src="~/Images/ajax-loader-fb.gif" style=" margin: 60px 0px;" />
                </div>
            </div>
        </div>
    </div>*@
@if (ViewBag.ListProductViewed)
{
    <div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 1px 1px 1px 1px #c3c3c3;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product  " style="overflow: hidden;">
            <div style="overflow-x:auto;overflow-y:hidden;">
                <div class="swiper-container user-SliderProduct user-SliderProduct-view" id="h_product_recent" style="height: 157px;text-align:center;">
                    <img src="~/Images/ajax-loader-fb.gif" style=" margin: 60px 0px;" />
                </div>
            </div>
        </div>
    </div>
}
@section JavaScript {
    <script>
        dataLink.p.b_suggestions = {
            link: '@Html.Raw(Url.Action("p", "Particle", new { bId = 0, type = 7}))',
            target: '#h_product_brand',
            next: '.swiper-button-next-swiper-brand',
            prev: '.swiper-button-prev-swiper-brand'
        }
        ; $(window).load(function () { equalheight('.childrenCategory'), equalheight('.itemStoreReponsive'); });
        $(window).resize(function () { equalheight('.childrenCategory'), equalheight('.itemStoreReponsive'); });
        //$(document).ready(function () {
        //    Galagala.product.get.b_suggestions()
        //})
    </script>
}
