@*@using PagedList;
    @using PagedList.Mvc;*@
@{
    ViewBag.Title = "Index";
    var Model = (Tuple<HTTelecom.Domain.Core.DataContext.mss.Brand, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.Model;
    //var ProductInMedia = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMedia;
    ViewBag.Back = Url.Action("All", "Brand");
    ViewBag.LayoutTitle = Model.Item1.BrandName;
    if (Model.Item3 != null) { ViewBag.Layout_ogTitle = (HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName); }
}
@Html.Hidden("step", (int)-1)
<div class="breadcrumbs">
    <ul style="margin:0px;">
        <li class="prs">
            <a href="@Url.Action("All", "Brand")">@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))</a>
        </li>
        <li class="prs">
            <a class="current">@Model.Item1.BrandName</a>
        </li>
    </ul>
</div>
<div class="row user-margin-0">
    @if (Model.Item3 != null)
    {
    <div class="col s12 user-text-center user-padding-0">
        <img class="lazyload" data-sizes="auto"
             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Model.Item3.Url + Model.Item3.MediaName)"
             title="@Model.Item1.BrandName" alt="@Model.Item1.BrandName" style=" max-width: 100%; width: 100%;" />
    </div>
    }
    <div class="clearfix"></div>
    <div class="group-item">
        <a class="item-left">@Model.Item1.BrandName</a>
        <a class="item-right"><span id="Productcount">@ViewBag.CountProduct</span>  @((string)ViewBag.multiRes.GetString("product", ViewBag.CultureInfo))</a>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row user-raw user-margin-0" style="padding: 0px 5px;">
    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.Item1.Description))
</div>
<div class="clearfix"></div>
@*@if (ProductInMedia.Count > 0)
    {
        <div class="row user-margin-5 backgournd-color-white">
            <div class="row" id="lstProductSearch">
            </div>
        </div>
    }*@
<div class="row user-margin-5 backgournd-color-white">
    <div class="row" id="lstProductSearch">
    </div>
</div>
<div class="big active" id="preloadProduct" style="display: none; text-align: center;">
    <img src="~/Images/ajax-loader-fb.gif" />
</div>
<a id="backtotop">
    <i class="fa-icon fa-icon-up-84 user-transform-05"></i>
</a>
<div class="sortType1" style="background:#f4f4f4">
    <label class="typeSearch suggest active" data-type="0" style="width:50%" id="btnGrid">
        <i class="fa-icon fa-icon-gridview-134 user-transform-05" style="float:left"></i>
        <span>
            @((string)ViewBag.multiRes.GetString("grid", ViewBag.CultureInfo))
        </span>
    </label>
    <label class="typeSearch best-sale" data-type="1" style="width:50%" id="btnList">
        <i class="fa-icon fa-icon-menu-65 user-transform-05" style="float:left"></i>
        <span>
            @((string)ViewBag.multiRes.GetString("list", ViewBag.CultureInfo))
        </span>
    </label>
</div>

@section JavaScript {
    <script>
        var gStep = true;
        $("#btnList").click(function () {
            if (!$(this).hasClass("active")) {
                $("#lstProductSearch").addClass("full");
                $("#btnGrid,#btnList").toggleClass("active")
            }

        })
        $("#btnGrid").click(function () {
            if (!$(this).hasClass("active")) {
                $("#lstProductSearch").removeClass("full");
                $("#btnGrid,#btnList").toggleClass("active")
            }
        })
        $(document).ready(function () {
            getData(parseInt('@Model.Item1.BrandId'), 0, 0);
            $("#backtotop").click(function () {
                var body = $("html, body");
                body.animate({ scrollTop: 0 }, 500);
                $("#backtotop").removeClass("show")
            })
        })
        function getData(b, s, t) {
            gStep = false;
            $.ajax({
                type: "POST",
                url: '@Url.Action("brand_filter", "particle")',
                data: { step: s, brand: b, typeSearch: t },
                cache: false,
                dataType: "json",
                success: function (dt) {
                    showData(dt.data);
                    $('input[type="hidden"]input[name="step"]').val(parseInt(s) + 1);
                    $("#lstProductSearch").fadeIn();
                    $(window).bind('scroll', bindScroll);
                    gStep = true;
                },
                error: function (error) {
                }
            });
        }
        function showData(dt) {
            $.map(dt, function (ele, ind) {
                var temp = "s6";
                var row = '<a href="' + ele.Link + '">'
                            + '<div class="col ' + temp + ' itemProductSearch" style="margin-bottom: 5px;">'
                            + '<div class="card" style="box-shadow: none;height: 100%;border: 1px solid #c5c5c5;">'
                            + '<div class="card-image">'
                            + '<img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect' + ele.Url + ele.MediaName
                        + '" style="height: auto; width: 100%;">'
                        + '</div>'
                        + '<div class="card-action" style="border-top: 0px;padding: 0px 5px;">'
                        + ' <span class="title-name">'
                        + (ele.ProductComplexName == null ? ele.ProductName : ele.ProductComplexName)
                        + '</span>'
                        + '<p class="title-price">'
                        + (typeof ele.OnlineMobilePrice != "undefined" && typeof ele.PromotePrice != "undefined" && ele.PromotePrice != null && ele.OnlineMobilePrice != null && parseInt(ele.PromotePrice) != parseInt(ele.OnlineMobilePrice) ? ele.PromotePrice_write : ele.MobileOnlinePrice_write)
                        + '</p>' + '</div>' + '</div>' + '</div>' + '</a>';
                $("#lstProductSearch").append(row);
                $("#Productcount").html($("#lstProductSearch").children().length)
            })
        }
        function loadMore() {
            var step = $('input[type="hidden"]input[name="step"]').val();
            if (parseInt(step) >= 0 && gStep == true) {
                gStep = false;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("brand_filter", "particle")',
                    data: { step: (parseInt(step) + 1), brand: parseInt('@Model.Item1.BrandId'), typeSearch: 0 },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        showData(dt.data);
                        $('input[type="hidden"]input[name="step"]').val(parseInt(step) + 1);
                        if (dt.data.length > 0)
                            $(window).bind('scroll', bindScroll);
                        else {
                            $(window).unbind('scroll');
                            $("#preloadProduct").css('display', 'none');
                        }
                        gStep = true;
                    }, error: function (error) {
                        $(window).unbind('scroll');
                        $("#preloadProduct").css('display', 'none');
                    }
                });
            }
        };
        function bindScroll() {
            if ($(window).scrollTop() > 200) {
                $("#backtotop").addClass("show")
            }
            else { $("#backtotop").removeClass("show") }
            if ($(window).scrollTop() + $(window).height() > $(document).height() - $(".page-footer").height() + 30) {
                $("#preloadProduct").css('display', 'block');
                $(window).unbind('scroll');
                loadMore();
            }

        };
        $(window).scroll(bindScroll);
    </script>
}
@section CSS{
    <style>
        #lstProductSearch.full .s6 {
            width: 100%;
            height: auto;
        }

        body {
            background: white;
        }

        .pagination {
            display: inline-block;
            margin: 0px;
        }

            .pagination li.active {
                background-color: black;
                border-radius: 50%;
            }

            .pagination li a {
                line-height: 1.8;
            }
    </style>
}

