@{
    ViewBag.Action = "Index";
    ViewBag.Controller = "Permission";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.ams

@model IPagedList<Permission>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Permission</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Permission(@ViewBag.page)</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (TempData["StatusMessage"] != null)
{
    if (TempData["StatusMessage"] == "Success")
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully !!!
        </div>
    }
}
<div class="row">
    <div class="col-md-12 pull-left" style="margin-bottom: 15px;">
        <a href="@Url.Action("Create", "Permission")" class="btn btn-info">New Permission</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="permission-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Permission Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="panel-toolbar hide" id="toolbar-toshow">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default">IsActive ??</button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 1);'><i class="icon ico-pencil"></i>Active</a></li>
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 0);'><i class="icon ico-print3"></i>Inactive</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-toolbar text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chk_All_Perission" value="1" data-toggle="checkall" data-target="#permission-table">
                                    <label for="chk_All_Perission"></label>
                                </div>
                            </th>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th class="text-center" width="7%">Status</th>
                            <th class="text-center" width="5%">Key</th>
                            <th class="text-center" width="5%">Code</th>
                            <th>Name</th>
                            <th width="15%">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-permission">
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_permission" id="chk_permission_@i" value="@item.PermissionId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                            <label for="chk_permission_@i"></label>
                                        </div>
                                    </td>
                                    <td class="text-center">@i</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.PermissionId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.PermissionId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a></td>
                                    }
                                    <td class="text-center"><span class="label label-info">@item.PermissionKey</span></td>
                                    <td class="text-center"><span class="label label-info">@item.PermissionCode</span></td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Permission", new { id = item.PermissionId })" title="Edit"><strong>@item.PermissionName</strong></a>
                                    </td>
                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                </tr>
                                    i++;
                            }
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ChangeStatusAction(permissionId, sbool) {
        _listPermissionChecked = [];

        if (permissionId == 0) {
            $('.list-permission tr').each(function () {
                var achecked = $(this).find('input[name="chk_permission"]');
                if (achecked.is(':checked')) {
                    _listPermissionChecked.push(achecked.val());
                }
            });
        }
        else {
            _listPermissionChecked.push(permissionId);
        }
        if (confirm("Are you sure?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeActive", "Permission")',
                data: {
                    listPermissionId: _listPermissionChecked,
                    sbool: sbool,
                    page: '@ViewBag.page'
                },
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        createPermissionTable(data._listPermission);
                    }
                }
            });
        }
    }

    function createPermissionTable(listPermission) {
        var target = $(".list-permission");

        target.empty();
        $.each(listPermission, function (_index, _item) {

            var _url = '@Url.Action("Edit", "Permission", new { id = "_PermissionId_" })'.replace('_PermissionId_', _item.PermissionId);
            var _dateCreated = new Date(_item.DateCreated.match(/\d+/)[0] * 1);

            target.append(
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_permission" id="chk_permission_' + (_index + 1) + '" value="' + _item.PermissionId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_permission_' + (_index + 1) + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td>' + (_index + 1) + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsActive == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.PermissionId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(' + _item.PermissionId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a>')
                    + '</td>'
                    + '<td class="text-center"><span class="label label-info">' + _item.PermissionKey + '</span></td>'
                    + '<td class="text-center"><span class="label label-info">' + _item.PermissionCode + '</span></td>'
                    + '<td><a href="' + _url + '"><strong>' + _item.PermissionName + '</strong></a></td>'
                    + '<td>' + moment(_dateCreated).format('MM/DD/YYYY') + '</td>'
                + '</tr>'
                            );
        });
    }

    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#permission-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>
