@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    List<string> listWarning = (List<string>)TempData["listStoreWarning"];
    string storeCode = (string)TempData["storeId"];

    var ddl_PageSize = new[]
    {
        new SelectListItem(){Value = "50", Text= "50"},
        new SelectListItem(){Value = "100", Text= "100"}
    };
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.mss
@using HTTelecom.Domain.Core.DataContext.cis
@using HTTelecom.Domain.Core.DataContext.sms
@model IPagedList<StoreStatistic>
@*<link href="~/Content/plugins/flot/css/flot.css" rel="stylesheet" />
<script src="~/Content/plugins/HighCharts/highcharts.js"></script>
<script src="~/Content/plugins/HighCharts/data.js"></script>
<script src="~/Content/plugins/HighCharts/exporting.js"></script>
<script src="~/Content/plugins/HighCharts/highslide-full.min.js"></script>
<script src="~/Content/plugins/HighCharts/highslide.config.js"></script>*@
<script src="~/Content/plugins/HighCharts/stock/highstock.js"></script>
<script src="~/Content/plugins/HighCharts/stock/modules/exporting.js"></script>
<link href="~/Content/plugins/HighCharts/highslide.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        @*<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>*@
        <div id="container2" style="height: 400px; min-width: 310px"></div>
        <div class="panel panel-default">
            <div class="panel-toolbar-wrapper">
                <div class="panel-toolbar">
                    <div class="panel-toolbar text-left">
                        <b>Statistics</b> range from date: [<a href="#" id="store_fromDate" data-type="date" data-pk="1" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd/MM/yyyy")</a>]
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="button" onclick="ShowHighChart('hour')" class="btn btn-sm btn-default">Hour</button>
                            <button type="button" onclick="ShowHighChart('date')" class="btn btn-sm btn-default">Day</button>
                            <button type="button" onclick="ShowHighChart('month')" class="btn btn-sm btn-default">Month</button>
                            <button type="button" onclick="ShowHighChart('year')" class="btn btn-sm btn-default">Year</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="store-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Store Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Row</label>
                                @Html.DropDownList("pageSizeSelected", new SelectList(ddl_PageSize, "Value", "Text"), new { @class = "form-control input-sm", style = "width:70px" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 nm">
                        <div class="panel-toolbar hide" id="toolbar-toshow" style="margin-top:5px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Verified ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(1, 0, 1, this);'><i class="icon ico-pencil"></i>Verified</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(1, 0, 0, this);'><i class="icon ico-print3"></i>Unverified</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Active ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(2, 0, 1, this);'><i class="icon ico-pencil"></i>Active</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(2, 0, 0, this);'><i class="icon ico-print3"></i>Inactive</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover-color">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chkAll-two0" value="1" data-toggle="checkall" data-target="#store-table">
                                    <label for="chkAll-two0"></label>
                                </div>
                            </th>
                            <th class="text-center" width="5%">Store ID</th>
                            <th>Store Name</th>
                            <th width="10%">Visit Count</th>
                            <th width="7%">Member</th>
                        </tr>
                    </thead>
                    <tbody class="list-store">
                        @{
                            HTTelecom.Domain.Core.Repository.mss.StoreRepository _iStoreService = new HTTelecom.Domain.Core.Repository.mss.StoreRepository();
                            int i = 1;
                            var date2 = DateTime.Now;
                            foreach (var store in Model)
                            {
                               //var listStore = ((List<Store>)ViewBag.lstStore);
                               // Store tmp = listStore.Where(_ => _.StoreId == store.StoreId).ToList()[0];
                                <tr class="">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_store" id="chk_Store_@i" value="@store.StoreId" data-toggle="selectrow" data-target="tr" data-contextual="">
                                            <label for="chk_Store_@i"></label>
                                        </div>
                                    </td>

                                    <td class="text-center"><strong class="label label-info" style="font-size:12px">@String.Format("S{0}",_iStoreService.Get_StoreById((long)store.StoreId).StoreCode)</strong></td>
                                    <td>
                                        <a href="javascript:ShowProductDetails(@store.StoreId)"><strong id="store_name_@store.StoreId">@_iStoreService.Get_StoreById((long)store.StoreId).StoreName</strong></a>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-teal">@store.Counter</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-warning">@store.CounterMember</span>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, pageSizeSelected = ViewBag.pageSizeSelected }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    <span>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Stores</span>
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>

<div class="modal fade" id="modalStoreDetails">
    <div class="modal-dialog" style="text-align:center ;">
        <div class="modal-content" style="min-width:832px; height: 400px;">
            <input type="hidden" id="storeIdHidden" value=""/>
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="store_title">Store statistic details</h4>
            </div>*@
            <div class="modal-body">
                <div id="container2_storeDetails" style="height: 400px; min-width: 800px"></div>
                <div class="panel panel-default">
                    <div class="panel-toolbar-wrapper">
                        <div class="panel-toolbar">
                            <div class="panel-toolbar text-left">
                                <b>Statistics</b> range from date: [<a href="#" id="store_fromDateDetails" data-type="date" data-pk="1" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd/MM/yyyy")</a>]
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="btn-group">
                                    <button type="button" id="btn_hour" class="btn btn-sm btn-default">Hour</button>
                                    <button type="button" id="btn_date" class="btn btn-sm btn-default">Day</button>
                                    <button type="button" id="btn_month" class="btn btn-sm btn-default">Month</button>
                                    <button type="button" id="btn_year" class="btn btn-sm btn-default">Year</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="~/Content/backend/dashboard_Store.js"></script>
<script src="~/Content/plugins/xeditable/js/bootstrap-editable.js"></script>
<link href="~/Content/plugins/xeditable/css/xeditable.css" rel="stylesheet" />
<link href="~/Content/plugins/xeditable/inputs-ext/address/address.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/address/address.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<link href="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" />
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/backend/xeditable.js"></script>


