@{
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutTitle = ViewBag.q;
    ViewBag.LayoutKeywords = ViewBag.q;
    ViewBag.LayoutDescription = ViewBag.q;
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    var ListProductInMedia = (List<HTTelecom.WebUI.eCommerce.Common.ProductObject>)ViewBag.ListProductInMedia;
    var ListBank = (List<HTTelecom.Domain.Core.DataContext.mss.Brand>)ViewBag.ListBank;
    var listCategory = (List<HTTelecom.Domain.Core.DataContext.mss.Category>)ViewBag.listCategory;
    var BId = ViewBag.brand == 0 ? "" : ViewBag.brand;
    var CId = ViewBag.cate == 0 ? "" : ViewBag.cate;
}
@Html.Hidden("step", (int)ViewBag.step)
<div style="position: relative; min-height: 500px;">
    <div class="row user-form-search-min">
        <div class="col s12" style="position: relative;">
            <input type="text" class="txtSearch" name="qBox"
                   value="@ViewBag.q"
                   placeholder="@((string)ViewBag.multiRes.GetString("input_product", ViewBag.CultureInfo))" style="height:42px!important;">
            <button id="btnSearch-Full"
                    data-element="background"
                    class="right btn btnSearch">
                @((string)ViewBag.multiRes.GetString("search", ViewBag.CultureInfo))
            </button>
        </div>
        @*<div class="col s12">
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col s12">
                        <label>@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))</label>
                        @Html.DropDownList("BrandId", new SelectList(ListBank, "BrandId", "BrandName", BId), ((string)ViewBag.multiRes.GetString("all_brand", ViewBag.CultureInfo)), new { @class = "browser-default", style = "  background: transparent;" })
                    </div>
                    <div class="col s12">
                        <label>@((string)ViewBag.multiRes.GetString("category", ViewBag.CultureInfo))</label>
                        @Html.DropDownList("CategoryId", new SelectList(listCategory, "CategoryId", "CategoryName", CId), ((string)ViewBag.multiRes.GetString("all_category", ViewBag.CultureInfo)), new { @class = "browser-default", style = "  background: transparent;" })
                    </div>
                </div>
            </div>*@
    </div>
    <div class="row" id="lstProductSearch">
        @foreach (var item in ListProductInMedia)
        {
            <a href="@item.Link">
                <div class="col s6 itemProductSearch" style="margin-bottom: 5px; height: auto;">
                    <div class="card" style="box-shadow: none;height: 100%;border: 1px solid #c5c5c5;">
                        <div class="card-image">
                            <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Url  + item.MediaName)" style="height: auto; width: 100%;">
                        </div><div class="card-action" style="border-top: 0px;padding: 0px 5px;">
                            <span class="title-name">@(item.ProductComplexName != null ? item.ProductComplexName : item.ProductName)</span>
                        <p class="title-price">@(item.PromotePrice != null ? item.PromotePrice_write : item.MobileOnlinePrice_write)</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="big active" id="preloadProduct" style="display: none; text-align: center;">
        <img src="~/Images/ajax-loader-fb.gif" />
    </div>
</div>
<a id="backtotop">
    <i class="fa-icon fa-icon-up-84 user-transform-05"></i>
</a>
<div class="sortType1" style="background:#f4f4f4">
    <label class="typeSearch suggest active" data-type="0">
        <span>@((string)ViewBag.multiRes.GetString("nominations", ViewBag.CultureInfo))</span>
    </label>
    <label class="typeSearch best-sale" data-type="1">
        <span>@((string)ViewBag.multiRes.GetString("buy_hot", ViewBag.CultureInfo))</span>
    </label>
    <label class="typeSearch newer" data-type="2">
        <span>@((string)ViewBag.multiRes.GetString("_new", ViewBag.CultureInfo))</span>
    </label>
    <label class="typeSearch price" data-type="3" data-x="&#8593; @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))" data-y="&#8595; @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))">
        <span> &#8593; @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))</span>
    </label>
    <a href="#SortByModal" class="modal-trigger ">
        <label class="bt-filter-mobile">
            <span class="user-color-main">@((string)ViewBag.multiRes.GetString("filter", ViewBag.CultureInfo))</span>
        </label>
    </a>
</div>
<div id="SortByModal" class="modal bottom-sheet">
    <div class="modal-content" style="padding:15px;">
        <div class="col s12">
            <label>@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))</label>
            @Html.DropDownList("BrandId", new SelectList(ListBank, "BrandId", "BrandName", BId), ((string)ViewBag.multiRes.GetString("all_brand", ViewBag.CultureInfo)), new { @class = "browser-default", style = "  background: transparent;" })
        </div>
        <div class="col s12">
            <label>@((string)ViewBag.multiRes.GetString("category", ViewBag.CultureInfo))</label>
            @Html.DropDownList("CategoryId", new SelectList(listCategory, "CategoryId", "CategoryName", CId), ((string)ViewBag.multiRes.GetString("all_category", ViewBag.CultureInfo)), new { @class = "browser-default", style = "  background: transparent;" })
        </div>
    </div>
    <div class="modal-footer">
        <a id="sortByCancel" class=" modal-action modal-close btn-flat">
            Cancel
        </a>
        <a id="sortBySubmit" class="modal-action  btn-flat  backgournd-color-main user-color-white">
            OK
        </a>
    </div>
</div>
@section JavaScript {
    <script>
        ; $(".btnViewLayout").click(function () {
            var vl = $(this).attr("data-value"), lst = $(".itemProductSearch");
            lst.removeClass("s12").removeClass("s6").addClass(vl).resize();
        });
        //$(window).load(function () { equalheight('.itemProductSearch'); });
        //$(window).resize(function () { equalheight('.itemProductSearch'); });
        $(document).ready(function () {
            $("#backtotop").click(function () {
                var body = $("html, body");
                body.animate({ scrollTop: 0 }, 500);
            })
            $(".typeSearch").click(function () {
                $(".typeSearch").removeClass('active')
                var t = $(this);
                t.addClass('active');
                if (t.hasClass("price")) {
                    if (t.attr("data-type") == "3") {
                        t.children("span").html(t.attr("data-x"))
                        t.attr('data-type', "4");
                    }
                    else {
                        t.children("span").html(t.attr("data-y"))
                        t.attr('data-type', "3");
                    }
                }
                $("#lstProductSearch").fadeOut();
                $('input[type="hidden"]input[name="step"]').val(0);
                var b = $("select[name='BrandId']").val(), c = $("select[name='CategoryId']").val();
                b = b == "" ? 0 : b;
                c = c == "" ? 0 : c;
                getData(c, $("select[name='BrandId']").val(), 0, encodeURIComponent($('input[name="qBox"]').val()), parseInt($(".typeSearch.active").attr('data-type')));
                //cate, long? brand, int? step, string q, int? typeSearch
            })
            $("#btnSearch-Full").click(function () {
                $("#lstProductSearch").fadeOut();
                $('input[type="hidden"]input[name="step"]').val(0);
                var b = $("select[name='BrandId']").val(), c = $("select[name='CategoryId']").val();
                b = b == "" ? 0 : b;
                c = c == "" ? 0 : c;
                getData(c, b, 0, encodeURIComponent($('input[name="qBox"]').val()), parseInt($(".typeSearch.active").attr('data-type')));
            });

            $("#sortBySubmit").click(function () {
                $("#lstProductSearch").fadeOut();
                $('input[type="hidden"]input[name="step"]').val(0);
                var b = $("select[name='BrandId']").val(), c = $("select[name='CategoryId']").val();
                b = b == "" ? 0 : b;
                c = c == "" ? 0 : c;
                getData(c, b, 0, encodeURIComponent($('input[name="qBox"]').val()), parseInt($(".typeSearch.active").attr('data-type')));
                $("#SortByModal").closeModal()
            })
            $("input[name='qBox']").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnSearch-Full").click();
                }
            })
        })

        function getData(c, b, s, q, t) {
            //cate, long? brand, int? step, string q, int? typeSearch
            $.ajax({
                type: "POST",
                url: '@Url.Action("search_filter", "particle")',
                data: { q: q, cate: c, step: s, brand: b, typeSearch: t },
                cache: false,
                dataType: "json",
                success: function (dt) {
                    $("#lstProductSearch").children().remove();
                    if (dt.data.length > 0)
                        showData(dt.data);
                    else {
                        $("#lstProductSearch").append('<p>@(Html.Raw((string)ViewBag.multiRes.GetString("not_found", ViewBag.CultureInfo)))</p>');
                    }
                    $("#lstProductSearch").fadeIn();
                    $(window).bind('scroll', bindScroll);
                },
                error: function (error) {
                }
            });
        }
        function changeBySort(e) {
            window.location.href = $(e).find('option[value="' + $(e).val() + '"]').attr("data-href");
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Search")',
                data: { q: '@ViewBag.q', cate: '@ViewBag.cate', step: (parseInt(step) + 1) },
                cache: false,
                dataType: "json",
                success: function (dt) {
                },
                error: function (error) {
                }
            });

        };
        function showData(dt) {
            $.map(dt, function (ele, ind) {
                var temp = "s6";
                //if ($(".itemProductSearch").hasClass("s12")) temp = "s12";
                var row = '<a href="' + ele.Link + '">'
                            + '<div class="col ' + temp + ' itemProductSearch" style="margin-bottom: 5px;">'
                            + '<div class="card" style="box-shadow: none;height: 100%;border: 1px solid #c5c5c5;">'
                            + '<div class="card-image">'
                            + '<img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect' + ele.Url + ele.MediaName
                            + '" style="height: auto; width: 100%;">'
                            + '</div>'
                            + '<div class="card-action" style="border-top: 0px;padding: 0px 5px;">'
                            + ' <span class="title-name">'
                            + (ele.ProductComplexName == null ? ele.ProductName : ele.ProductComplexName)
                            + '</span>'
                            + '<p class="title-price">'
                            + (typeof ele.OnlineMobilePrice != "undefined" && typeof ele.PromotePrice != "undefined" && ele.PromotePrice != null && ele.OnlineMobilePrice != null && parseInt(ele.PromotePrice) != parseInt(ele.OnlineMobilePrice) ? ele.PromotePrice_write : ele.MobileOnlinePrice_write)
                            + '</p>' + '</div>' + '</div>' + '</div>' + '</a>';
                $("#lstProductSearch").append(row);
            })
        }
        function loadMore() {
            var step = $('input[type="hidden"]input[name="step"]').val();
            var b = $("select[name='BrandId']").val(), c = $("select[name='CategoryId']").val();
            b = b == "" ? 0 : b;
            c = c == "" ? 0 : c;
            $.ajax({
                type: "POST",
                url: '@Url.Action("search_filter", "particle")',
                data: { q: encodeURIComponent($('input[name="qBox"]').val()), cate: c, step: (parseInt(step) + 1), brand: b, typeSearch: parseInt($(".typeSearch.active").attr('data-type')) },
                cache: false,
                dataType: "json",
                success: function (dt) {
                    showData(dt.data);
                    $('input[type="hidden"]input[name="step"]').val(parseInt(step) + 1);
                    if (dt.data.length > 0)
                        $(window).bind('scroll', bindScroll);
                    else {
                        $(window).unbind('scroll');
                        $("#preloadProduct").css('display', 'none');
                    }
                }, error: function (error) {
                    console.log(error);
                    $(window).unbind('scroll');
                    $("#preloadProduct").css('display', 'none');
                }
            });
        };
        function bindScroll() {
            //if ($(window).scrollTop() > 200) {
            //    $("#backtotop").addClass("show")
            //}
            //else { $("#backtotop").removeClass("show") }
            if ($(window).scrollTop() + $(window).height() > $(document).height() - $(".page-footer").height() + 30) {
                $("#preloadProduct").css('display', 'block');
                $(window).unbind('scroll');
                loadMore();
            }

        };
        $(window).scroll(bindScroll);
    </script>
}
@section CSS{
    <style>
        body {
            background-color: #fafaf7;
        }

        #main-body #banner {
            display: none;
        }
    </style>
}