@{
    ViewBag.Action = "ArticleCreateForm";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using HTTelecom.Domain.Core.DataContext.mss
@using HTTelecom.Domain.Core.DataContext.cis
@model Article

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Article</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("ArticleIndex","MSS")">Article</a></li>
                <li class="active">Create Article</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--./ Page Header -->

@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}

@using (Html.BeginForm("ArticleCreate", "MSS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <div class="panel-toolbar">
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#one" data-toggle="tab">Article Info</a></li>
                        <li><a href="#four" data-toggle="tab">SEO</a></li>
                    </ul>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success ladda-button" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                    </div>
                </div>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <!-- tab -->
                <!-- tab content -->
                <div class="tab-content">
                    <div class="tab-pane active" id="one">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Title</label>
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Language</label>
                                            <select id="LanguageCode" name="LanguageCode" class="form-control">
                                                <option value="vi"> Việt Nam</option>
                                                <option value="en"> English</option>
                                                <option value="zh"> Taiwan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>ArticleType</label>
                                       
                                            @Html.DropDownListFor(model => model.ArticleTypeId, new SelectList(ViewBag.list_ArticleType, "ArticleTypeId","ArticleTypeName"), "Select article type...", new { @class = "form-control" })                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-info">
                                            <!-- panel -->
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Introduction<small>&nbsp;&nbsp;Introduction of article</small></h3>
                                                <div class="panel-toolbar text-right">
                                                    <!-- tools panel -->
                                                    <div class="option">
                                                        <!-- option -->
                                                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                    </div><!--/ option -->
                                                </div><!-- tools panel -->
                                            </div><!-- /.panel-heading -->
                                            <div class="panel-body">
                                                @Html.TextAreaFor(model => model.Introduction, new { @class = "txt_tinyMCE1 form-control ", placeholder = "Introduction" })
                                            </div>
                                        </div><!-- /.panel -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Content<small>&nbsp;&nbsp;Content detail of article</small></h3>
                                                <div class="panel-toolbar text-right">
                                                    <!-- tools panel -->
                                                    <div class="option">
                                                        <!-- option -->
                                                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                    </div><!-- option -->
                                                </div><!-- tools panel -->
                                            </div><!-- /panel-heading -->
                                            <div class="panel-body">
                                                @Html.TextAreaFor(model => model.ArticleContent, new { @class = "txt_tinyMCE2 form-control ", placeholder = "ArticleContent" })
                                            </div>
                                        </div><!-- /panel -->
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    @****Article SEO  here****@

                    <div class="tab-pane" id="four">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>MetaTitle</label>
                                                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", placeholder = "MetaTitle" })
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>MetaKeywords</label>
                                                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control", placeholder = "MetaKeywords" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label>MetaDescription</label>
                                                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "txt_tinyMCE3 form-control", id = "MetaDescription", placeholder = "MetaDescription" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ panel body -->
            </div>
            <!--/ tab content -->
        </div>
        <!--/ tab -->
    </div>
}
<!--/ END panel -->


<script type="text/javascript">
    $(function () {
        // Ladda button
        // ================================
        Ladda.bind('.btn.ladda-button', { timeout: 50000 });

        // Bind progress buttons and simulate loading progress
        Ladda.bind('.btn.ladda-button.ladda-progress', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });
        tinyMCE.init({
            selector: '.txt_tinyMCE1', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
        tinyMCE.init({
            selector: '.txt_tinyMCE2', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
        tinyMCE.init({
            selector: '.txt_tinyMCE3', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
    });
    @*function RoxyFileBrowser(field_name, url, type, win) {
        var roxyFileman = '@Url.Content("~/Content/AdminDashboard/filebrowser/dev.html")';
        if (roxyFileman.indexOf("?") < 0) {
            roxyFileman += "?type=" + type;
        }
        else {
            roxyFileman += "&type=" + type;
        }
        roxyFileman += '&input=' + field_name + '&value=' + document.getElementById(field_name).value;
        tinyMCE.activeEditor.windowManager.open({
            file: roxyFileman,
            title: 'File manager',
            width: 850,
            height: 650,
            resizable: "yes",
            plugins: "media",
            inline: "yes",
            close_previous: "no"
        }, { window: win, input: field_name });
        return false;
    }*@
</script>
