@{
    ViewBag.Action = "CategoryCreate";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.mss
@model Category

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Category</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("CategoryIndex", "MSS")">Category</a></li>
                <li class="active">Create Category</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
@{
    var validateErr = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    if (validateErr.Count > 0)
    {
        <div class="alert alert-danger semibold">
            @Html.ValidationSummary(false)
        </div>
    }
}

@if (ViewBag.ResponseMessage != null)
{
    if (ViewBag.ResponseMessage == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}

@using (Html.BeginForm("CategoryCreate", "MSS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <div class="panel-toolbar">
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#tab_Info" data-toggle="tab">Category Info</a></li>
                    </ul>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success ladda-button" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                    </div>
                </div>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <!-- tab content -->
                <div class="tab-content">
                    <!-- -------------Category Info------------- -->
                    <div class="tab-pane active" id="tab_Info">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Please select language you want to add.</label>
                                            <select id="Language" name="Language" class="form-control">
                                                <option value="">[Select language.....]</option>
                                                <option value="zh">Taiwan</option>
                                                <option value="en">English</option>
                                                <option value="vi">Viet Nam</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.CategoryId, new { @class = "form-control" })

                                            <label>Category Name</label>
                                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", placeholder = "Name" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Category Parent</label>
                                            @*Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.cateLevel, "CateLevel"), "Select Level...", new { @class = "form-control" })*@
                                            @*Html.DropDownListFor(model => model.CateLevel, new SelectList(
                                                                                                              new List<Object>{
                                                                                                                   new { CateLevel = 0 , Text = "0"  },
                                                                                                                   new { CateLevel = 1 , Text = "1" },
                                                                                                                   new { CateLevel = 2 , Text = "2"}
                                                                                                                },
                                                                                                              "CateLevel",
                                                                                                              "Text"
                                                                            ), "Select Level...", new { @class = "form-control" })*@
                                            
                                           
                                         
                                                <!-- tab -->
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li class="active"><a href="#tabone2" data-toggle="tab">Taiwan</a></li>
                                                    <li><a href="#tabtwo2" data-toggle="tab">English</a></li>
                                                    <li><a href="#tabthree2" data-toggle="tab">Viet Nam</a></li>
                                                </ul>
                                                <!--/ tab -->
                                                <!-- tab content -->
                                                <div class="tab-content panel">
                                                    <div class="tab-pane active" id="tabone2">
                                                        @Html.DropDownList("ParentCateId", new SelectList(ViewBag.cateParentTaiwan, "CategoryId", "CategoryName"), "New parent category", new { @class = "form-control" })
                                                    </div>
                                                    <div class="tab-pane" id="tabtwo2">
                                                        @Html.DropDownList("ParentCateId", new SelectList(ViewBag.cateParentEnglish, "CategoryId", "CategoryName"), "New parent category", new { @class = "form-control" }) 
                                                    </div>
                                                    <div class="tab-pane" id="tabthree2">
                                                        @Html.DropDownList("ParentCateId", new SelectList(ViewBag.cateParentVietNam, "CategoryId", "CategoryName"), "New parent category", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <!--/ tab content -->                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            @Html.TextAreaFor(model => model.Description, new { @class = "txt_tinyMCE form-control", placeholder = "description" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="IsDelete checkbox-custom" style="color:red">IsDeleted</label>
                                            <div class="form-control">
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, "true", new { @class = "form-control", id = "radDeletedTrue" })
                                                    <label for="radDeletedTrue">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, "false", new { @class = "form-control", id = "radDeletedFalse", @checked = "checked" })
                                                    <label for="radDeletedFalse">&nbsp;&nbsp;No</label>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="IsVerified">IsActive</label>
                                            <div class="form-control">
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, "true", new { @class = "form-control", id = "radActiveTrue", @checked = "checked" })
                                                    <label for="radActiveTrue">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, "false", new { @class = "form-control", id = "radActiveFalse" })
                                                    <label for="radActiveFalse">&nbsp;&nbsp;No</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--/ Category Info -->

                    <!-- ------------Category SEO------------ -->
                    <div class="tab-pane" id="tab_SEO">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>MetaTitle</label>
                                                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", placeholder = "MetaTitle" })
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>MetaKeywords</label>
                                                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control", placeholder = "MetaKeywords" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label>MetaDescription</label>
                                                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", placeholder = "MetaDescription" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Category SEO -->
                   
                </div>
                <!--/ tab content -->
            </div>
            <!--/ panel body -->
        </div   >
        <!--/ panel -->
    </div>
}
<!--/ END panel -->


<script type="text/javascript">
    $(function () {
        // Ladda button
        // ================================
        Ladda.bind('.btn.ladda-button', { timeout: 50000 });

        // Bind progress buttons and simulate loading progress
        Ladda.bind('.btn.ladda-button.ladda-progress', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });

        tinyMCE.init({
            selector: '.txt_tinyMCE', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
    });
    @*function RoxyFileBrowser(field_name, url, type, win) {
        var roxyFileman = '@Url.Content("~/Content/AdminDashboard/filebrowser/dev.html")';
        if (roxyFileman.indexOf("?") < 0) {
            roxyFileman += "?type=" + type;
        }
        else {
            roxyFileman += "&type=" + type;
        }
        roxyFileman += '&input=' + field_name + '&value=' + document.getElementById(field_name).value;
        tinyMCE.activeEditor.windowManager.open({
            file: roxyFileman,
            title: 'File manager',
            width: 850,
            height: 650,
            resizable: "yes",
            plugins: "media",
            inline: "yes",
            close_previous: "no"
        }, { window: win, input: field_name });
        return false;
    }*@
</script>