@{
    ViewBag.Action = "Dashboard";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Dashboard</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- /Page Header -->
@if (ViewBag.ResponseMessage != null)
{
    if (ViewBag.ResponseMessage == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }

    if (ViewBag.ResponseMessage == 2)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> Your old password is wrong.
        </div>
    }

    if (ViewBag.ResponseMessage == 3)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> The Retyping password is not match.
        </div>
    }
    if (ViewBag.ResponseMessage == 4)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong>
        </div>
    }
    if (ViewBag.ResponseMessage == 5)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fail!</strong> The password length must be in range [5 - 10]
        </div>
    }
}

    <div class="row">
        <div class="col-sm-4">
            <!-- START Statistic Widget -->
            <div class="table-layout animation animating fadeInDown">
                <div class="col-xs-3 panel bgcolor-info text-center">
                    <div class="ico-users3 fsize24"></div>
                </div>
                <div class="col-xs-9 panel">
                    <div class="panel-body text-center">
                        <h4 class="semibold nm">@ViewBag.RegisteredCount</h4>
                        <p class="semibold text-muted mb0 mt5 ellipsis">REGISTERED CUSTOMERS</p>
                    </div>
                </div>
            </div>
            <!--/ END Statistic Widget -->
        </div>
        <div class="col-sm-4">
            <!-- START Statistic Widget -->
            <div class="table-layout animation animating fadeInUp">
                <div class="col-xs-3 panel bgcolor-teal text-center">
                    <div class="ico-crown fsize24"></div>
                </div>
                <div class="col-xs-9 panel">
                    <div class="panel-body text-center">
                        <h4 class="semibold nm">187</h4>
                        <p class="semibold text-muted mb0 mt5 ellipsis">PENDING ACTION</p>
                    </div>
                </div>
            </div>
            <!--/ END Statistic Widget -->
        </div>
        <div class="col-sm-4">
            <!-- START Statistic Widget -->
            <div class="table-layout animation animating fadeInDown">
                <div class="col-xs-3 panel bgcolor-primary text-center">
                    <div class="ico-box-add fsize24"></div>
                </div>
                <div class="col-xs-9 panel">
                    <div class="panel-body text-center">
                        <h4 class="semibold nm">10</h4>
                        <p class="semibold text-muted mb0 mt5 ellipsis">UPDATE AVAILABLE</p>
                    </div>
                </div>
            </div>
            <!--/ END Statistic Widget -->
        </div>
    </div>
    
   
    <div class="row">
        <div class="col-sm-6 animation delay animating bounceInLeft">
            <div class="form-group animation animating bounceInDown">
                <label>Statistic View Count of Store</label>

                <div class="panel panel-default">
                    <!-- panel heading/header -->
                    <div class="panel-heading">
                        <div class="panel-title">
                            <select id="store_viewcount">
                                <option value="5">05</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <!-- panel toolbar -->
                        <div class="panel-toolbar text-right">
                            <!-- option -->
                            <div class="option">
                                <button class="btn" data-toggle="panelrefresh"><i class="reload"></i></button>
                                <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                <button class="btn" data-toggle="panelremove" data-parent=".col-md-4"><i class="remove"></i></button>
                            </div>
                            <!--/ option -->
                        </div>
                        <!--/ panel toolbar -->
                    </div>

                    <!--/ panel heading/header -->
                    <!-- panel body with collapse capabale -->
                    <div class="panel-collapse pull out text-right">
                        <div class="panel-body">
                            <div class="text-left">
                                Online Date: <b>From</b> [<a href="#" id="store_fromDate" data-type="combodate" data-pk="1" data-value="2000-01-01" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">01.01.2000</a>]
                                <b>to</b>[<a href="#" id="store_toDate" data-type="combodate" data-pk="1" data-value="@DateTime.Now.ToString("yyyy-MM-dd")" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd.MM.yyyy")</a>]
                            </div>

                            <!-- Loading indicator -->
                            <div class="indicator show"><span class="spinner"></span></div>
                            <!--/ Loading indicator -->
                            <div class="chart mt10" id="chart-store" style="height:250px;"></div>
                        </div>
                    </div>
                    <!--/ panel body with collapse capabale -->
                </div>

            </div>
        </div>
        <div class="col-sm-6 animation delay animating bounceInRight">
            <div class="form-group animation animating bounceInDown">
                <label>Statistic Visit Count of Product</label>
                <div class="panel panel-default">
                    <!-- panel heading/header -->
                    <div class="panel-heading">
                        <div class="panel-title">
                            <select id="product_viewcount">
                                <option value="5">05</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <!-- panel toolbar -->
                        <div class="panel-toolbar text-right">
                            <!-- option -->
                            <div class="option">
                                <button class="btn" data-toggle="panelrefresh"><i class="reload"></i></button>
                                <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                <button class="btn" data-toggle="panelremove" data-parent=".col-md-4"><i class="remove"></i></button>
                            </div>
                            <!--/ option -->
                        </div>
                        <!--/ panel toolbar -->
                    </div>

                    <!--/ panel heading/header -->
                    <!-- panel body with collapse capabale -->
                    <div class="panel-collapse pull out text-right">
                        <div class="panel-body">
                            <div class="text-left">
                                Created Date: <b>From</b> [<a href="#" id="product_fromDate" data-type="combodate" data-pk="1" data-value="2000-01-01" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">01.01.2000</a>]
                                <b>to</b>[<a href="#" id="product_toDate" data-type="combodate" data-pk="1" data-value="@DateTime.Now.ToString("yyyy-MM-dd")" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd.MM.yyyy")</a>]
                            </div>

                            <!-- Loading indicator -->
                            <div class="indicator show"><span class="spinner"></span></div>
                            <!--/ Loading indicator -->
                            <div class="chart mt10" id="chart-product" style="height:250px;"></div>
                        </div>
                    </div>
                    <!--/ panel body with collapse capabale -->
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 animation delay animating bounceInLeft">
            <div class="form-group  animation animating bounceInDown">
                <label>Statistic View Count of Brand</label>
                <div class="panel panel-default">
                    <!-- panel heading/header -->
                    <div class="panel-heading">
                        <div class="panel-title">
                            <select id="brand_viewcount">
                                <option value="5">05</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <!-- panel toolbar -->
                        <div class="panel-toolbar text-right">
                            <!-- option -->
                            <div class="option">
                                <button class="btn" data-toggle="panelrefresh"><i class="reload"></i></button>
                                <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                <button class="btn" data-toggle="panelremove" data-parent=".col-md-4"><i class="remove"></i></button>
                            </div>
                            <!--/ option -->
                        </div>
                        <!--/ panel toolbar -->
                    </div>

                    <!--/ panel heading/header -->
                    <!-- panel body with collapse capabale -->
                    <div class="panel-collapse pull out text-right">
                        <div class="panel-body">
                            <div class="text-left">
                                Created Date: <b>From</b> [<a href="#" id="brand_fromDate" data-type="combodate" data-pk="1" data-value="2000-01-01" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">01.01.2000</a>]
                                <b>to</b>[<a href="#" id="brand_toDate" data-type="combodate" data-pk="1" data-value="@DateTime.Now.ToString("yyyy-MM-dd")" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd.MM.yyyy")</a>]
                            </div>

                            <!-- Loading indicator -->
                            <div class="indicator show"><span class="spinner"></span></div>
                            <!--/ Loading indicator -->
                            <div class="chart mt10" id="chart-brand" style="height:250px;"></div>
                        </div>
                    </div>
                    <!--/ panel body with collapse capabale -->
                </div>

            </div>
        </div>
        <div class="col-sm-6 animation delay animating bounceInRight">
            <div class="form-group animation animating bounceInDown">
                <label>Statistic View Count of Category</label>

                <div class="panel panel-default">
                    <!-- panel heading/header -->
                    <div class="panel-heading">
                        <div class="panel-title">
                            <select id="category_viewcount">
                                <option value="5">05</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <!-- panel toolbar -->
                        <div class="panel-toolbar text-right">
                            <!-- option -->
                            <div class="option">
                                <button class="btn" data-toggle="panelrefresh"><i class="reload"></i></button>
                                <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                <button class="btn" data-toggle="panelremove" data-parent=".col-md-4"><i class="remove"></i></button>
                            </div>
                            <!--/ option -->
                        </div>
                        <!--/ panel toolbar -->
                    </div>

                    <!--/ panel heading/header -->
                    <!-- panel body with collapse capabale -->
                    <div class="panel-collapse pull out text-right">
                        <div class="panel-body">
                            <div class="text-left">
                                Created Date: <b>From</b> [<a href="#" id="category_fromDate" data-type="combodate" data-pk="1" data-value="2000-01-01" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">01.01.2000</a>]
                                <b>to</b>[<a href="#" id="category_toDate" data-type="combodate" data-pk="1" data-value="@DateTime.Now.ToString("yyyy-MM-dd")" data-title="Select date" class="editable editable-click editable-unsaved" data-original-title="" title="" style="background-color: rgba(0, 0, 0, 0);">@DateTime.Now.ToString("dd.MM.yyyy")</a>]
                            </div>

                            <!-- Loading indicator -->
                            <div class="indicator show"><span class="spinner"></span></div>
                            <!--/ Loading indicator -->
                            <div class="chart mt10" id="chart-category" style="height:250px;"></div>
                        </div>
                    </div>
                    <!--/ panel body with collapse capabale -->
                </div>

            </div>
        </div>
    </div>

                              

<!-- js for chart-->
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.pie.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.resize.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.categories.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.fillbetween.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.stack.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.tooltip.js"></script>
<script type="text/javascript" src="~/Content/plugins/flot/js/jquery.flot.spline.js"></script>
<script src="~/Content/js/charts/flot.js"></script>
<!--END js for chart-->
<!-- Js for celandar -->
<script src="~/Content/plugins/xeditable/js/bootstrap-editable.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/address/address.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/plugins/xeditable/xeditable.js"></script>
<!-- end Js for celandar -->