@{
    ViewBag.Action = "Search Advanced";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.WebUI.MediaSupport.ViewModels

@model SearchViewModel
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Search Advanced</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Search Advanced</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
@using (Html.BeginForm("SearchAdvanced", "MSS", FormMethod.Post, new { enctype = "multipart/form-data", role = "search" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="has-icon">
                    <input type="text" class="form-control input-lg" name="searchkeywords" placeholder="searching..." autocomplete="off" autofocus value="@ViewBag.searchkeywords">
                    <i class="ico-search form-control-icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">Search By:</div>
            <div class="col-md-3 form-group">
                @if ((bool)ViewBag.chk_Store == true)
                {
                    <span class="checkbox custom-checkbox custom-checkbox-info">
                        <input type="checkbox" name="chk_Store" id="chk_Store" value="true" checked />
                        <label class="label label-info" for="chk_Store">&nbsp;&nbsp;Store</label>
                    </span>
                    <input type="hidden" name="chk_Store" value="false" />
                }
                else
                {
                    <span class="checkbox custom-checkbox custom-checkbox-info">
                        <input type="checkbox" name="chk_Store" id="chk_Store" value="true" />
                        <label class="label label-info" for="chk_Store">&nbsp;&nbsp;Store</label>
                    </span>
                    <input type="hidden" name="chk_Store" value="false" />
                }
            </div>
            <div class="col-md-3 form-group">
                @if ((bool)ViewBag.chk_Product == true)
                {
                    <span class="checkbox custom-checkbox custom-checkbox-success">
                        <input type="checkbox" name="chk_Product" id="chk_Product" value="true" checked />
                        <label class="label label-success" for="chk_Product">&nbsp;&nbsp;Product</label>
                    </span>
                    <input type="hidden" name="chk_Product" value="false" />
                }
                else
                {
                    <span class="checkbox custom-checkbox custom-checkbox-success">
                        <input type="checkbox" name="chk_Product" id="chk_Product" value="true" />
                        <label class="label label-success" for="chk_Product">&nbsp;&nbsp;Product</label>
                    </span>
                    <input type="hidden" name="chk_Product" value="false" />
                }
            </div>
            <div class="col-md-3 form-group">
                @if ((bool)ViewBag.chk_Article == true)
                {
                    <span class="checkbox custom-checkbox custom-checkbox-warning">
                        <input type="checkbox" name="chk_Article" id="chk_Article" value="true" checked />
                        <label class="label label-warning" for="chk_Article">&nbsp;&nbsp;Article</label>
                    </span>
                    <input type="hidden" name="chk_Article" value="false" />
                }
                else
                {
                    <span class="checkbox custom-checkbox custom-checkbox-warning">
                        <input type="checkbox" name="chk_Article" id="chk_Article" value="true" />
                        <label class="label label-warning" for="chk_Article">&nbsp;&nbsp;Article</label>
                    </span>
                    <input type="hidden" name="chk_Article" value="false" />
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title">Result</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-layout-section">
                    <thead>
                        <tr>
                            <th width="10%" class="text-center">ID</th>
                            <th width="15%" class="text-center">ProductStockCode</th>
                            <th>Title</th>
                            <th width="10%">Start Date</th>
                            <th width="10%">End Date</th>
                            <th width="11%">Modified Date</th>
                            <th width="10%">Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.list_SearchResult)
                            {
                                if (@item.store != null)
                                {
                                    <tr class="info">
                                        <td class="text-center">@String.Format("S{0}", item.store.StoreCode)</td>
                                        <td>N/A</td>
                                        <td><a href="@Url.Action("StoreEdit", "MSS", new { id = item.store.StoreId })" title="Edit"><strong class="text-info">@item.store.StoreName</strong></a></td>
                                        <td>@(item.store.OnlineDate != null ? item.store.OnlineDate.Value.ToString("MM/dd/yyyy") : "Not change")</td>
                                        <td>@(item.store.OfflineDate != null ? item.store.OfflineDate.Value.ToString("MM/dd/yyyy") : "Not change")</td>
                                        <td>@(item.store.DateModified != null ? item.store.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")</td>
                                        <td>@item.store.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                                if (@item.product != null)
                                {
                                    <tr class="success">
                                        <td class="text-center">@String.Format("P{0}", item.product.ProductCode)</td>
                                        <td class="text-center">@item.product.ProductStockCode</td>
                                        <td><a href="@Url.Action("ProductEdit", "MSS", new { id = item.product.ProductId })" title="Edit"><strong class="text-info">@item.product.ProductName</strong></a></td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>@(item.product.DateModified != null ? item.product.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")</td>
                                        <td>@item.product.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                                if (@item.article != null)
                                {
                                    <tr class="warning">
                                        <td class="text-center">@String.Format("A00000{0}", item.article.ArticleId)</td>
                                        <td>N/A</td>
                                        <td><a href="@Url.Action("ArticleEdit", "MSS", new { id = item.article.ArticleId })" title="Edit"><strong class="text-info">@item.article.Title</strong></a></td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>@(item.article.DateModified != null ? item.article.DateModified.Value.ToString("MM/dd/yyyy") : "Not change")</td>
                                        <td>@item.article.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model.list_SearchResult, page => Url.Action("SearchAdvanced", new { page = page, ViewBag.searchkeywords, ViewBag.chk_Product, ViewBag.chk_Store, ViewBag.chk_Article }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>