@{
    ViewBag.Title = "VendorCreate";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using HTTelecom.Domain.Core.DataContext.cis;
@using HTTelecom.Domain.Core.DataContext.mss;
@model Vendor

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Vendor</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("VendorIndex", "CIS")">Vendor index</a></li>
                <li class="active">Vendor Edit</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
@{
    var validateErr = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    if (validateErr.Count > 0)
    {
        <div class="alert alert-danger semibold">
            @Html.ValidationSummary(false)
        </div>
    }

    ViewBag.TabIsActive = "tabone";
    if (TempData["tabActive"] != null)
    {
        ViewBag.TabIsActive = TempData["tabActive"];
    }
}


@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("VendorCreate", "CIS", FormMethod.Post, new { enctype = "multipart/form-data", @id = "VendorEditForm" }))
        {
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active":"")"><a href="#tab_Info" data-toggle="tab">Vendor Info</a></li>
                         
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success ladda-button"  data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                            <button type="submit" class="btn btn-warning ladda-button" id="saveType" name="saveType" value="1" data-style="zoom-in"><span class="ladda-label">Save & Continue</span></button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <!-- tab content -->
                    <div class="tab-content">
                        <!-- -------------Vendor Info------------- -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active":"")" id="tab_Info">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.VendorId, new { @class = "form-control" })

                                                <label>Vendor Name</label>
                                                @Html.TextBoxFor(model => model.VendorFullName, new { @class = "form-control", placeholder = "Full Name" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Vendor Email</label>
                                                @Html.TextBoxFor(model => model.VendorEmail, new { @class = "form-control", placeholder = "Vendor Email " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = "Company Name " })
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Link website</label>
                                                @Html.TextBoxFor(model => model.LinkWebsite, new { @class = "form-control", placeholder = "Link website " })
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Contract Code</label>
                                                @Html.DropDownListFor(model => model.ContractId, new SelectList(ViewBag.ContractList, "ContractId", "ContractCode"), "Select contract...", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control txt_tinyMCE", placeholder = "Description" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label">DateCreated</label>
                                            @Html.TextBoxFor(model => model.DateCreated, new { @class = "form-control", placeholder = "Date Created", @readonly = true })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">DateModified</label>
                                            @Html.TextBoxFor(model => model.DateModified, new { @class = "form-control", placeholder = "Date Modified", @readonly = true })
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsDelete checkbox-custom" style="color:red">IsDeleted</label>
                                                <div class="form-control">
                                                    @if (Model.IsDeleted == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true, @checked = "checked" }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false, @checked = "checked" }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label">Created By</label>
                                            <input class="form-control" readonly type="text" value="@ViewBag.CreatedBy.FullName">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Modified By</label>
                                            <input class="form-control" readonly type="text" value="@ViewBag.ModifiedBy.FullName">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!--/ Vendor Info -->                       
                    </div>
                    <!--/ tab content -->
                </div>
                <!--/ panel body -->
            </div>
        <!--/ panel -->
        }
    </div>
</div>
<!--/ END panel -->


<script type="text/javascript">
    
       $(function () {

        $('.date').datepicker();
        $("img[data-toggle~='unveil1']").unveil(200, function () {
            $(this).load(function () {

                $(this).addClass('unveiled');
            });
        });

        tinyMCE.init({
            selector: '.txt_tinyMCE', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
    });
</script>

