@{
    ViewBag.Title = "VendorAddressEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.cis;
@using HTTelecom.Domain.Core.DataContext.mss;
@model VendorAddress

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Vendor Address</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-automobile"></i>&nbsp;<a href="@Url.Action("VendorAddressIndex", "CIS")">Vendor</a></li>
                <li><i class="fa fa-automobile"></i>&nbsp;<a href="@Url.Action("VendorEdit/"+@Model.VendorId, "CIS")">Vendor Edit</a></li>
                <li class="active">Vendor Address Edit</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
@{
    var validateErr = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    if (validateErr.Count > 0)
    {
        <div class="alert alert-danger semibold">
            @Html.ValidationSummary(false)
        </div>
    }

    ViewBag.TabIsActive = "tabone";
    if (TempData["tabActive"] != null)
    {
        ViewBag.TabIsActive = TempData["tabActive"];
    }
}


@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("VendorAddressEdit", "CIS", FormMethod.Post))
        {
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active":"")"><a href="#tab_Info" data-toggle="tab">Vendor Address Info</a></li>                         
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success ladda-button" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                            <button type="submit" class="btn btn-warning ladda-button" id="saveType" name="saveType" value="1" data-style="zoom-in"><span class="ladda-label">Save & Continue</span></button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <!-- tab content -->
                    <div class="tab-content">
                        <!-- -------------Vendor Address Info------------- -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active":"")" id="tab_Info">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.VendorAddressId, new { @class = "form-control" })
                                                @Html.HiddenFor(model => model.VendorId, new { @class = "form-control" })

                                                <label>Location Name</label>
                                                @Html.TextBoxFor(model => model.LocationName, new { @class = "form-control", placeholder = "Location Name" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Mobilephone</label>
                                                @Html.TextBoxFor(model => model.Mobilephone, new { @class = "form-control", placeholder = "Email " })
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "city name " })
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Telephone</label>
                                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", placeholder = "Telephone " })

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Address " })
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>District</label>
                                                @Html.TextBoxFor(model => model.District, new { @class = "form-control", placeholder = "District" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Ward</label>
                                                @Html.TextBoxFor(model => model.Ward, new { @class = "form-control", placeholder = "Ward " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Google Map Link</label>
                                                @Html.HiddenFor(model => model.GGMapLink, new { @class = "form-control", placeholder = "GGMapLink" })
                                                <!-- START Template Main -->
                                                <section id="main" role="main">
                                                    <!-- START Template Container -->
                                                    <div class="container-fluid">
                                                       
                                                        <!-- START row -->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label>Title</label>
                                                                        <input id="GoogleMapAddressTitle" type="text" value="" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label>Content</label>
                                                                        <input id="GoogleMapAddressContent" type="text" value="" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <!-- START panel -->
                                                                <div class="panel panel-default">
                                                                    <!-- panel heading/header -->
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title">Marker</h3>
                                                                    </div>
                                                                    <!--/ panel heading/header -->
                                                                    <!-- panel body with collapse capabale -->
                                                                    <div class="panel-collapse">
                                                                        <div class="panel-body np" id="gmaps-marker" style="height:400px;"></div>
                                                                    </div>
                                                                    <!--/ panel body with collapse capabale -->
                                                                </div>
                                                                <!--/ END panel -->
                                                            </div>
                                                        </div>
                                                        <!--/ END row -->
                                                     
                                                      
                                                    </div>
                                                    <!--/ END Template Container -->
                                                    <!-- START To Top Scroller -->
                                                    <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
                                                    <!--/ END To Top Scroller -->
                                                </section>
                                                <!--/ END Template Main -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <label class="control-label">DateCreated</label>
                                            @Html.TextBoxFor(model => model.DateCreated, new { @class = "form-control", placeholder = "Date Created", @readonly = true })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">DateModified</label>
                                            @Html.TextBoxFor(model => model.DateModified, new { @class = "form-control", placeholder = "Date Modified", @readonly = true })
                                        </div>
                                      
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsDelete checkbox-custom" style="color:red">IsDeleted</label>

                                                <div class="form-control">
                                                    @if (Model.IsDeleted == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true, @checked = "checked" }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false, @checked = "checked" }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsActive checkbox-custom" style="color:red">IsActive</label>
                                                <div class="form-control">
                                                @if (Model.IsActive == true)
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true, @checked = "checked" }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                                else
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false, @checked = "checked" }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label">Created By</label>
                                            <input class="form-control" readonly type="text" value="@ViewBag.CreatedBy.FullName">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Modified By</label>
                                            <input class="form-control" readonly type="text" value="@ViewBag.ModifiedBy.FullName">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!--/ Vendor Address Info -->

                    </div>
                    <!--/ tab content -->
                </div>
                <!--/ panel body -->
            </div>
        <!--/ panel -->
        }
    </div>
</div>
<!--/ END panel -->


<script type="text/javascript">
    function UploadImage() {

        var formData = new FormData();
        var totalFiles = document.getElementById("vendorLogoFile").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("vendorLogoFile").files[i];
            formData.append("FileUpload", file);
        }
        formData.append( "entities","Vendor");
        formData.append( "id",'@Model.VendorId' );

        jQuery.ajax({
            type: 'POST',
            url: 'http://localhost:4938/UploadImage/uploadImage',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            mimeType:"multipart/form-data",
            processData: false,
            dataType: 'json',
            success: function (data) {
               //s alert("success" + data.d);
                $("#VendorEditForm").submit();
            },
            error:function (xhr)
            {
                alert(xhr.responseText);
                //$("#VendorEditForm").submit();
            }
        });
    }
   
</script>

 <!-- Plugins and page level script : optional -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="~/Content/js/backend/maps/google.js"></script>
<script src="~/Content/plugins/gmaps/js/gmaps.js"></script>
<!--/ Plugins and page level script : optional -->
