<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.LayoutTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimum-scale=1" />
    <meta name="keywords" content="@ViewBag.LayoutKeywords">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Team Galagala.vn Coryright 2015">
    <meta name="description" content="@ViewBag.LayoutDescription">
    <meta name="google-site-verification" content="">
    <meta property="og:title" content="@ViewBag.Layout_ogTitle">
    <meta property="og:type" content="mobile">
    <meta property="og:image" content="@ViewBag.Layout_image">
    <meta property="og:description" content="@ViewBag.Layout_description">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="GALAGALA.VN">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icon.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/icon.png">
    <link rel="shortcut icon" href="~/Content/icon.png">
    <link rel="icon" href="~/Content/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/icon.png" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    @Styles.Render("~/www.galagala.vn/css/vs-mb")
    @Styles.Render("~/www.galagala.vn/css/vs-mb/all")
    <script>var _lstBackgourd = [".side-nav li.active"], _lstColor = [".side-nav li.active"];</script>
    <script>window.lazySizesConfig = window.lazySizesConfig || {}; window.lazySizesConfig.expand = 10;</script>
</head>
<body>
    <div class="user-position-relative" id="main-body-content" style="margin: 0 auto; ">
        <header class="navbar-fixed" id="header">
            <!-- Nav MenuTOp & Left-->
            <nav id="navTop" class="backgournd-color-main" data-element="background" style=" -webkit-backface-visibility: hidden; top: 0px; padding-top: 0px; left: 0; right: 0; width: 100%; position: fixed;">
                <div class="nav-wrapper backgournd-color-main" id="header-menu" data-element="background">
                    <ul class="right user-padding-right-10" id="user-header-content">
                        <li class="user-reponsive-relative">
                            <a href="@Url.Action("Wishlist","product")">
                                <i class="fa-icon fa-icon-heart-23" style="  font-size: 22px;"></i>
                                @Html.Raw("<span class='user-header-count' id='header-count-wishlist'>" + ViewBag.Layout_CountWishList + "</span>")
                            </a>
                        </li>
                        <li class="user-reponsive-relative">
                            <a href="@Url.Action("Cart", "Product" )">
                                <i class="fa-icon fa-icon-cart-21"></i>
                                @Html.Raw("<span class='user-header-count' id='header-count-cart'>" + ViewBag.Layout_CountCart + "</span>")
                            </a>
                        </li>
                    </ul>
                    <ul class="left" id="user-header-menu">
                        <li id="btnbacktoback"><a href="@ViewBag.Back"><i class="fa-icon fa-icon-left-82"></i></a></li>
                        <li><a href="#" id="menu-btnMenuLeft" data-activates="side-nav-left" class="button-collapse"><i class="fa-icon fa-icon-menu-66"></i></a></li>
                        <li><a id="header-btnSearch" class="cursor-point"><i class="fa-icon fa-icon-search-52"></i></a></li>
                    </ul>
                    <a href="/">
                        <img src="/Images/galagala_wed_2.png" style="position: absolute;max-width: 100%;max-height: 100%;margin: 0 auto;left: 50%;height: 42px;padding: 8px;margin-left: -46.5px;">
                    </a>
                </div>
                <nav id="side-nav-left" class="side-nav" style="height: 100%; OVERFLOW-X: HIDDEN; overflow-y: auto; overflow: hidden; bottom: 0;">
                    <div style=" position: absolute; bottom: 80px; left: 0px; width: 300px; top: 0px; overflow-y: auto; overflow-x: hidden;">
                        <div id="side-nav-left-content" style="position: relative; width: 100%; height: 100%;">
                            <ul class="mLeft" style="width: 300px; margin: 0px; position: absolute; left: 0px; top: 0px; padding-top: 42px; OVERFLOW-X: HIDDEN; overflow-y: auto;" data-level="0">
                                @{
                                    var Account = (HTTelecom.Domain.Core.DataContext.cis.Customer)Session["sessionGala"];
                                }
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="/" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-home-13" style="position: absolute;top: 0px;left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("Home", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a class="children-item cursor-point" data-show="2" data-target="#side-nav-left-content" data-valuechange="-300px" data-level="2" data-menushow="category" style="padding-left: 42px; position: relative;">
                                        <i class="fa-menu fa-menu-category-5" style="position: absolute;top: 0px;left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("categories", ViewBag.CultureInfo))
                                        <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                            <i class="fa-icon fa-icon-right-44" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                        </span>
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="@Url.Action("All","Brand")" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-brand-7" style="position: absolute;top: 0px;left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="@Url.Action("Wishlist","Product")" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-heart-10" style="position: absolute;top: 0px;left:-41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                <li style="padding:0px;border-bottom: 1px solid #d2d2d2;">
                                    <a href="@Url.Action("Profile", "Customer")" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-account-12" style="position: absolute;top:0px;left:-41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("profile", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                @if (Account == null)
                                {
                                    <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                        <a href="@Url.Action("Login","Customer")" style="padding-left: 42px;position:relative;">
                                            <i class="fa-menu fa-menu-sign-in-8" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                            @((string)ViewBag.multiRes.GetString("login", ViewBag.CultureInfo))
                                        </a>
                                    </li>
                                    <li style="padding:0px;border-bottom:1px solid #d2d2d2;">
                                        <a href="@Url.Action("SignUp", "Customer")" style="padding-left: 42px;position:relative;">
                                            <i class="fa-menu  fa-menu-sign-out-2" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                            @((string)ViewBag.multiRes.GetString("sign_up", ViewBag.CultureInfo))
                                        </a>
                                    </li>
                                }

                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="#" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-help-3" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("help", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a class="children-item cursor-point" data-show="2" data-target="#side-nav-left-content" data-valuechange="-300px" data-level="2" data-menushow="language" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-global-4" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("Langague", ViewBag.CultureInfo))
                                        <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                            <i class="fa-icon fa-icon-right-44" style="float:right; transform:  scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                        </span>
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="@Url.Action("Info", "Article", new { id = 20 })" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-sign-out-2" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("terms_of_usage", ViewBag.CultureInfo))
                                    </a>
                                </li>
                                <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                    <a href="@Url.Action("Info", "Article", new { id = 26 })" style="padding-left: 42px;position:relative;">
                                        <i class="fa-menu fa-menu-key-9" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                        @((string)ViewBag.multiRes.GetString("private_policy", ViewBag.CultureInfo))
                                    </a>
                                </li>

                                @if (Account != null)
                                {
                                    <li style="padding: 0px; border-bottom: 1px solid #d2d2d2;">
                                        <a href="@Url.Action("Logout", "Customer")" style="padding-left: 42px;position:relative;">
                                            <i class="fa-menu fa-menu-sign-out-2" style="position: absolute;top: 0px; left: -41px;margin-top: -42px;"></i>
                                            @((string)ViewBag.multiRes.GetString("logout", ViewBag.CultureInfo))
                                        </a>
                                    </li>
                                }
                                </ul>
                                <ul class="mLeft" data-level="2" data-content="language" style="width: 300px; margin: 0px; position: absolute;  left:300px;  top: 0px; padding-top: 42px; display: none; OVERFLOW-X: HIDDEN; overflow-y: auto;">
                                    <li style="background-color: #e9e9e9; text-align: left; line-height: 42px; height: 42px; padding:0px;color:black;">
                                        <a class="mLeft-move cursor-point user-col-0" data-value="0px" data-show="0" data-target="#side-nav-left-content" style=" float: left;padding: 0px 10px;">
                                            <i class="fa-icon fa-icon-left-81" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35);-moz-transform: scale(.35);-o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                            @((string)ViewBag.multiRes.GetString("Langague", ViewBag.CultureInfo))
                                        </a>
                                    </li>
                                    <li style="padding: 0px;">
                                        @{
                                            var sessionObject = (HTTelecom.WebUI.eCommerce.Common.SessionObject)Session["sessionObject"];
                                        }
                                        <a href="@(sessionObject == null || sessionObject.lang == "vi" ? "#" : Url.Action("setLanguage", "Home", new { lang = "Vietnamese", u = ViewBag.u }))"
                                           style="float: left;width: 100%;@(sessionObject == null || sessionObject.lang == "vi" ? "background-color: #c3c3c3;" : "")">

                                            <span class="secondary-content Cate_ProCount" style="padding:0px;left:0px;right:auto;float:left;">
                                                <i class="fa-icon fa-icon-vietname-92" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                            </span>
                                            Vietnamese
                                            @if (sessionObject == null || sessionObject.lang == "vi")
                                            {
                                                <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                                    <i class="fa-icon fa-icon-check-130" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                                </span>
                                            }
                                        </a>
                                    </li>
                                    <li style="padding: 0px;">
                                        <a href="@(sessionObject != null && sessionObject.lang == "en" ? "#" : Url.Action("setLanguage", "Home", new { lang = "English", u = ViewBag.u }))"
                                           style="float: left;width: 100%;@(sessionObject != null && sessionObject.lang == "en" ? "background-color: #c3c3c3;" : "")">
                                            <span class="secondary-content Cate_ProCount" style="padding:0px;left:0px;right:auto;float:left;">
                                                <i class="fa-icon fa-icon-english-11" style="float: left; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                            </span>
                                            English
                                            @if (sessionObject != null && sessionObject.lang == "en")
                                            {
                                                <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                                    <i class="fa-icon fa-icon-check-130" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                                </span>
                                            }
                                        </a>
                                    </li>
                                    <li style="padding: 0px;">
                                        <a href="@(sessionObject != null && sessionObject.lang == "zh" ? "#" : Url.Action("setLanguage", "Home", new { lang = "Chinese", u = ViewBag.u }))"
                                           style="float: left;width: 100%;@(sessionObject != null && sessionObject.lang == "zh" ? "background-color: #c3c3c3;" : "")">
                                            <span class="secondary-content Cate_ProCount" style="padding: 0px 10px; left: 0px; right: auto; float: left;">
                                                <img src="~/Images/China.png" style="width: 13.2px; height: 13.2px; margin-right: 5px; display: inline-block; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;" />
                                            </span>
                                            Chinese
                                            @if (sessionObject != null && sessionObject.lang == "zh")
                                            {
                                                <span class="secondary-content Cate_ProCount" style="padding:0px;">
                                                    <i class="fa-icon fa-icon-check-130" style="float: right; transform: scale(0.35); -ms-transform: scale(.35); -webkit-transform: scale(.35); -moz-transform: scale(.35); -o-transform: scale(.35); -webkit-transform: scale(.35); margin-top: 6px; "></i>
                                                </span>
                                            }
                                        </a>
                                    </li>
                                </ul>
                                @Html.Action("Index", "Category", new { lang = ViewBag.currentLanguage })
                            </div>
                        </div>
                        <div style=" position: absolute; bottom: 0px; left: 0px; width: 300px; height: 56px; background: #01A469; bottom: 0;">
                            <div style="position:relative;">
                                <img src="/Images/bag.png" width="34" height="34" style="float: left; margin: 12px 9px 0px 9px; ">
                                <p style="margin: 0px;line-height: 35px;height: 27px;font-size: 16px;">@((string)ViewBag.multiRes.GetString("cart", ViewBag.CultureInfo))</p>
                                <a id="menuLeft-moneyCart" style="position: absolute;top: -3px;right: 0px;color: white;text-align: right;"></a>
                                <p style=" margin: 0px; line-height: 24px; height: 24px; font-size: 12px;"> Đã bao gồm thuế VAT</p>
                            </div>
                        </div>
                    </nav>
                </nav>
                <!-- Nav Search-->
                <nav id="navTop-Search" class="backgournd-color-main" data-element="background"
                     style="-webkit-backface-visibility: hidden;top: 0px;padding-top: 0px;left: 0;right: 0;width: 100%;position: fixed;">
                    <div class="nav-wrapper"
                         style="height: 42px;line-height: 42px;top: 0px;margin: 0px;">
                        <a style="float: left;text-align: center;padding:5px;position: absolute;top: 0px;left: 0px;width: 45px;height: 42px;background-color: #01A469;" id="btn-close-Search">
                            <span class="fa-icon fa-icon-left-82"></span>
                        </a>
                        <div style="position: absolute;margin: 0 auto;left: 45px;top: 0px;right: 0px;height: 42px;line-height: 42px;">
                            <input id="Seach-txtSearch" name="Seach-txtSearch" type="search" placeholder="@((string)ViewBag.multiRes.GetString("input_product", ViewBag.CultureInfo))" required="" style=" margin: 0px; padding: 0px; line-height: 42px; background-color: white; width: 100%; font-size: 14px; -webkit-border-radius: 0px; height: 41px; top: 0px; left: 0px; color: black; z-index: 1; padding-left: 5px;">
                        </div>
                        <a class="" id="Seach-btnSearch" data-href="@Url.Action("Index", "Search" , new {q="__q__" })"
                           style="position: absolute;top: 5px;right: 5px;width: 38px;margin: 0px;padding: 0px;line-height: 32px;height: 31px;text-align: center;border-radius: 5px;float: right;z-index: 2;background-color: white;">
                            <span class="fa-icon fa-icon-search-51"></span>
                        </a>
                    </div>
                </nav>
            </header>
            <!--Main BOdy-->
            <div id="main-body">
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer class="page-footer" style="background: #333333;" data-element="background">
                <div class="row user-margin-bottom-0">
                    <div class="col l12 s12">
                        <h5 class="white-text" style="border-bottom: 2px solid white; line-height: 35px;">
                            GALAGALA VIET NAM
                            <a id="footer-gala-title" class="right user-color-white user-margin-right-10" style="font-size:25px;">
                                <i class="fa-icon fa-icon-bottom-114"></i>
                            </a>
                        </h5>
                        <div id="footer-article-Galagala" style="display:none;">
                            @Html.Action("Index", "Article", new { lang = ViewBag.currentLanguage })
                        </div>
                        <p class="grey-text text-lighten-4">HOP THANH Trading Business Co.,Ltd</p>
                        <p class="grey-text text-lighten-4">87 Hoang Van Thai, District 7, Ho Chi Minh City, Viet Nam</p>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">© @DateTime.Now.Year Copyright<a class="grey-text text-lighten-4 right">Galagala Inc.</a></div>
                </div>
            </footer>
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content user-padding-5">
                    <h4 style="color: black; border-bottom: 1px solid yellow;">Warning</h4>
                    <p class="user-margin-0">We're updating data for a few minutes.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " style="background: red;color: white;">Close</a>
                </div>
            </div>
            <div class="user-overlay-main" style="opacity: 0; display: none; -webkit-backface-visibility: visible !important;"></div>
            <div id="full" style="position: fixed; top: 0px; left: 0px; z-index: 9999; width: 100%; height: 100%; display: none; background: #F5F5F5; ">
                <span style="position: fixed;line-height:0px; top: 10px; cursor: pointer; right: 10px; z-index: 9; border: 1px solid #c4c4c4; border-radius: 5px; background: white; " id="btn-normal-screen" data-target="show-full-screen">
                    <img src="~/Images/min.png" width="40" height="40" />
                </span>
                <div id="contain" style="position: relative; width: 100vw; height: 100vh; ">
                    @*<div class="swiper-container full-main" style="width: 100%;height: 100%;color: #fff;text-align: center;">
                            <div class="swiper-wrapper">
                            </div>
                        </div>*@
                </div>
            </div>
            <iframe style="display:none" height="0" width="0" id="loader"></iframe>
            <div id="fb-root"></div>
        </div>
        <script>
            //function openApp() {
            //    var isiOS = navigator.userAgent.match('iPhone') || navigator.userAgent.match('iPod');
            //    var isAndroid = navigator.userAgent.match('Android');

            //    if (isiOS) {
            //        document.getElementById('loader').src = "itms-apps://itunes.apple.com/app/my-app/idxxxxxxxx?mt=999734614";
            //    }
            //    else if (isAndroid) {
            //        window.location = "https://play.google.com/store/apps/details?id=com.hopthanh.gala.app";
            //    }
            //}

            //(function () {
            //    openApp();
            //})();
            //(function () {
            //    // For desktop browser, remember to pass though any metadata on the link for deep linking
            //    var fallbackLink = 'http://galagala.vn:88/' + window.location.search + window.location.hash;
            //    // Simple device detection
            //    var isiOS = navigator.userAgent.match('iPad') || navigator.userAgent.match('iPhone') || navigator.userAgent.match('iPod'),
            //        isAndroid = navigator.userAgent.match('Android');
            //    // Mobile
            //    if (isiOS || isAndroid) {
            //        document.getElementById('loader').src = 'custom-protocol://galagala' + window.location.search + window.location.hash;
            //        fallbackLink = isAndroid ? 'https://play.google.com/store/apps/details?id=com.hopthanh.gala.app' :
            //                                   'itms-apps://itunes.apple.com/app/my-app/idxxxxxxxx?mt=999734614';
            //    }
            //})();
        </script>
        @Scripts.Render("~/www.galagala.vn/jquery")
        @Scripts.Render("~/www.galagala.vn/jqueryajax")

        <script>
            ; var gMessage = [], gLogined = false, gLang = '@ViewBag.currentLanguage',
                gMonthsFull = [], gMonthsShort = [], gWeekday = [], gWeekdaysFull = [], gWeekdaysShort = [], gWeekdaysLetter = [], gClear = '',
            gClose = '', gLinkGetMoneyCart = '@Url.Action("CartMoney", "Product")', gMoney = {}, gLinkMessage = '@Url.Action("Message", "Home")';
            //monthsShort,weekdaysFull,weekdaysShort
            @if (ViewBag.currentLanguage=="vi")
        {
            <text>
            gMonthsFull = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            gMonthsShort = ['Thg 1', 'Thg 2', 'Thg 3', 'Thg 4', 'Thg 5', 'Thg 6', 'Thg 7', 'Thg 8', 'Thg 9', 'Thg 10', 'Thg 11', 'Thg 12'],
            gWeekdaysFull = ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            gWeekdaysShort = ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            gWeekdaysLetter = ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            gClear = "Xóa",
            gClose = "Đóng";
            </text>
        }
        else{}
            weekdaysLetter: ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
            @if (Session["sessionGala"] != null)
        {
            <text>gLogined = true;</text>
        }
            @if (TempData["AlertMessage"]!=null)
        {
            <text>alert('@TempData["AlertMessage"]');</text>
        }
        </script>
        @Scripts.Render("~/www.galagala.vn/vs-mb")
        @RenderSection("JavaScript", required: false)
        <a href="~/Scripts/maps/swiper.min.js.map"></a>
        <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <script src="https://apis.google.com/js/platform.js" async defer>{ lang: 'vi' }</script>
        <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-63029854-1', 'auto'); ga('send', 'pageview');</script>
    </body>
</html>