@{
    ViewBag.Action = "Index";
    ViewBag.Controller = "RolePermission";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.ams

@model IPagedList<RolePermission>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Role Permission</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Role Permission(@ViewBag.page)</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (TempData["StatusMessage"] != null)
{
    if (TempData["StatusMessage"] == "Success")
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully !!!
        </div>
    }
}
<div class="row">
    <div class="col-md-12 pull-left" style="margin-bottom: 15px;">
        <a href="@Url.Action("Create", "RolePermission")" class="btn btn-info">New Role Permission</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="role-permission-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Role Permission Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="panel-toolbar hide" id="toolbar-toshow">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default">IsActive ??</button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 1);'><i class="icon ico-pencil"></i>Active</a></li>
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(0, 0);'><i class="icon ico-print3"></i>Inactive</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-toolbar text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chk_All_Role_Permission" value="1" data-toggle="checkall" data-target="#role-permission-table">
                                    <label for="chk_All_Role_Permission"></label>
                                </div>
                            </th>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th class="text-center" width="5%">Status</th>
                            <th class="text-center" width="5%">Code</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th width="15%">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-role-permission">
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_role_permission" id="chk_role_permission_@i" value="@item.RolePermissionId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                            <label for="chk_role_permission_@i"></label>
                                        </div>
                                    </td>
                                    <td class="text-center">@i</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.RolePermissionId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(@item.RolePermissionId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a></td>
                                    }
                                    <td class="text-center"><span class="label label-info">@item.SystemCode</span></td>
                                    
                                    <td><span>@(item.URL != null ? item.URL : "N/A")</span></td>
                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                </tr>
                                    i++;
                            }
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
        </div>
    </div>
</div>