@{
    ViewBag.Action = "OrderFormNew";
    ViewBag.Controller = "TTS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="page-header page-header-block">
    <div class="page-header-section">
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Index","TTS")">TTS - TO-DO-LIST</a></li>
                <li class="active"> New Create TTS</li>
            </ol>
        </div>
    </div>
</div>
@using HTTelecom.Domain.Core.DataContext.ops
@model Order
@using (Html.BeginForm("OrderForm", "TTS", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
{
    <div class="row" id="divContentSub">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12" style="  display: table;width: 100%;">
                    <div style=" display: table-cell; text-align: center; vertical-align: middle;">
                        <img src="http://galagala.vn:88/Images/galagala_wed_2.png" width="200" style="height: auto; padding:10px;" />
                    </div>

                    <div style=" display: table-cell; vertical-align: middle;">
                        <h4 style="margin:0px;">WEBSITE THƯƠNG MẠI ĐIỆN TỬ - MUA HÀNG TRỰC TUYẾN</h4>
                        <p>Hỗ trợ khách hàng 7 ngày / tuần: 1900000</p>
                        <p>Email: hopthanhbusiness@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <h1 class="text-center">ORDER FORM</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" style="margin-bottom:5px;border:none;">
                        <table class="table table-condensed" id="tabless" style="background: #ecf0f1;">
                            <tbody>
                                <tr>
                                    <td class="col-md-2"><strong>OrderCode:</strong></td>
                                    <td class="col-md-5">
                                        <input type="text" class="form-control" name="name" value=" " readonly style="background-color: #FBFCFC; height: 27px;" />
                                    </td>
                                    <td class="col-md-2"><strong>Payment:</strong></td>
                                    <td class="col-md-3">
                                        <span class="checkbox custom-checkbox" style="float: left; margin: 0px;">
                                            @Html.CheckBox("Yes", new { id = "" })
                                            <label for="">&nbsp;&nbsp;Yes&nbsp;&nbsp;</label>
                                        </span>
                                        <span class="checkbox custom-checkbox" style="float:left;margin:0px;">
                                            @Html.CheckBox("No", new { id = "" })
                                            <label for="">&nbsp;&nbsp;No</label>
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td class="col-md-2"><strong>Membership Id:</strong></td>
                                    <td class="col-md-4">
                                        @Html.TextBoxFor(model => model.CustomerId, new
                                   {
                                       @class = "form-control",
                                       style = "background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerId)
                                    </td>
                                    <td class="col-md-2"><strong>SourceofOrder:</strong></td>
                                    <td class="col-md-3">
                                        Call Order
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><strong>Customer Name:</strong></td>
                                    <td class="col-md-5">
                                        @Html.TextBoxFor(model => model.CustomerName, new
                                   {
                                       @class = "form-control",
                                       style = "background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerName)
                                    </td>
                                    <td class="col-md-2"><strong>Customer Phone:</strong></td>
                                    <td class="col-md-3">
                                        @Html.TextBoxFor(model => model.CustomerPhone, new
                                   {
                                       @class = "form-control",
                                       style = "background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerPhone)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><strong>Customer Email:</strong></td>
                                    <td class="col-md-5">
                                        @Html.TextBoxFor(model => model.CustomerEmail, new
                                   {
                                       @class = "form-control",
                                       style = " background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerEmail)
                                    </td>
                                    <td class="col-md-2"><strong>Date of Order:</strong></td>
                                    <td class="col-md-3">
                                        <input type="text" class="form-control" name="name" value=" " readonly style="background-color: #FBFCFC; height: 27px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><strong>TransactionCode:</strong></td>
                                    <td class="col-md-5">
                                        @Html.TextBoxFor(model => model.TransactionCode, new
                                   {
                                       @class = "form-control",
                                       style = " background-color:#FBFCFC;height:27px;",
                                       @readonly="true"
                                   })
                                        @Html.ValidationMessageFor(model => model.OrderDescription)
                                    </td>
                                    <td class="col-md-2"><strong>TransactionFee:</strong></td>
                                    <td class="col-md-3">
                                        <input type="text" class="form-control" name="TransactionFee" value=" " readonly style="height:27px;" />
                                        @Html.ValidationMessageFor(model => model.TransactionFee)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><strong>Note:</strong></td>
                                    <td class="col-md-10" colspan="3">
                                        @Html.TextBoxFor(model => model.OrderDescription, new
                                   {
                                       @class = "form-control",
                                       style = " background-color:#FBFCFC; height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.OrderDescription)
                                    </td>
                                   
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" style="border: none; margin: 0px;">
                        <p style="padding: 10px;" class="removeElementPrint">
                            <a class="text-left" id="btnRemoveRecordEmpty" style="cursor: pointer;color:red;">Remove Record Empty</a>
                            <a class="text-left pull-right" id="btnNewRecord" style="cursor: pointer;">Add new record&nbsp;<i class="fa fa-chevron-right"></i></a>

                        </p>
                        <table class="table table-bordered table-hover" id="table1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Product name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th class="removeElementPrint"></th>
                                </tr>
                            </thead>
                            <tbody id="data-Product"></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Sub Total Fee</td>
                                    <td colspan="2">
                                        <input type="text" class="form-control border-none" readonly="readonly" name="txtInputSubTotalFee" style="height:27px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Shipping Fee</td>
                                    <td colspan="2"><input type="text" class="form-control border-none" readonly="readonly" name="txtInputShippingFee" style="height: 27px;" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Total Product:
                                        <span id="spanTotalProuct" style="color:blue;">
                                            @* 0 *@
                                        </span>
                                    </td>
                                    <td colspan="2">Total Amount (Include VAT): </td>
                                    <td colspan="2">
                                        <input type="text" class="form-control border-none" readonly="readonly" name="txtInputTotalAll" style=" height: 27px;" /></td>
                                </tr>

                            </tfoot>
                        </table>
                        <table class="table table-bordered" style="background-color:#ddd">
                            <tbody>
                                <tr><td colspan="5"><strong>Payment Information</strong></td></tr>
                                <tr>
                                    <td><strong>Payment Type</strong></td>
                                    <td colspan="4">
                                        <div class="col-md-4 form-group custom-radio" style="float:left;margin:0px;">
                                            <input type="radio" name="typeRad" value="prePay" id="radType1" checked />
                                            <label for="radType1">&nbsp;&nbsp;&nbsp; Pre Pay</label>
                                        </div>
                                        <div class="col-md-4 form-group custom-radio" style="float: left; margin: 0px;">
                                                <input type="radio" name="typeRad" value="postPay" id="radType2" />
                                                <label for="radType2">&nbsp;&nbsp;&nbsp; Post Pay</label>
                                            </div>
                                        @*<div class="col-md-4 form-group custom-radio" style="float: left; margin: 0px;">
                                            <input type="radio" name="typeRad" value="OnlinePay" id="radType3" disabled="disabled" />
                                            <label for="radType3">&nbsp;&nbsp;&nbsp; Online Pay</label>
                                        </div>*@
                                    </td>
                                    @Html.Hidden("typeRad")
                                </tr>
                                <tr>
                                    <td><strong>Bank</strong></td>
                                    <td>
                                        @Html.DropDownList("BankId", (SelectList)ViewBag.ListBank, " ", new
                                   {
                                       id = "combo-ListBank",
                                       @class = "form-control typePostTr border-none",
                                       @style = "background-color:#FBFCFC;height:27px;"
                                   })
                                    </td>
                                    <td colspan="3">
                                        <div class="col-md-6 form-group custom-radio" style="float:left;margin:0px;">
                                            <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" style="float: left;" />
                                            <label for="radCarfType1">&nbsp;&nbsp;&nbsp; Visa Card</label>
                                        </div>
                                        <div class="col-md-6 form-group custom-radio" style="float: left; margin: 0px;">
                                            <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" style="float: left;" />
                                            <label for="radCarfType1">&nbsp;&nbsp;&nbsp; Master Card</label>
                                        </div>
                                        @*<div class="col-md-4 form-group custom-radio">
                                                <input type="radio" name="CardTypeId" class="typeposttr" value="1" id="radCarfType1" style="float: left;" />
                                                <label for="radCarfType1">&nbsp;&nbsp;&nbsp; ATM Card</label>
                                            </div>
                                            <div class="col-md-4 form-group custom-radio">
                                                <input type="radio" name="CardTypeId" class="typeposttr" value="2" id="radCarfType2" style="float: left;" />
                                                <label for="radCarfType2">&nbsp;&nbsp;&nbsp; Credit Card</label>
                                            </div>
                                            <div class="col-md-4 form-group custom-radio">
                                                <input type="radio" name="CardTypeId" class="typeposttr" value="3" id="radCarfType3" style="float:left;" />
                                                <label for="radCarfType3">&nbsp;&nbsp;&nbsp; Debate Card</label>
                                            </div>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Card Name</strong></td>
                                    <td>
                                        @Html.TextBoxFor(model => model.CardHolderName, new
                                   {
                                       @class = "form-control typePostTr border-none",
                                       placeholder = "",
                                       style = "background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CardHolderName)
                                    </td>
                                    <td><strong>CardNumber</strong></td>
                                    <td colspan="2">
                                        @Html.TextBoxFor(model => model.CardNumber, new
                                   {
                                       @class = "form-control typePostTr border-none",
                                       placeholder = "",
                                       style = " background-color:#FBFCFC;height:27px;"
                                   })
                                        @Html.ValidationMessageFor(model => model.CardNumber)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class=" table-condensed" id="table3" style="  width: 100%;">
                        <tbody>
                            <tr>
                                <td colspan="3"><strong>Shipping and Customer Infomation</strong></td>
                            </tr>
                            <tr>
                                <td class="col-md-2"><strong>Receiver Name:</strong></td>
                                <td class="col-md-7" colspan="2">
                                    @Html.TextBoxFor(model => model.ReceiverName, new
                               {
                                   @class = "form-control",
                                   style = "background-color:#FBFCFC;height:27px;"
                               })
                                    @Html.ValidationMessageFor(model => model.ReceiverName)
                                </td>
                                <td class="col-md-3">
                                    <span class="checkbox custom-checkbox">
                                        @Html.CheckBox("OrderConfirmed", new { id = "chk_OrderConfirmed" })
                                        <label for="OrderConfirmed">&nbsp;&nbsp;Order Confirmed</label>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2"><strong>Receiver Phone:</strong></td>
                                <td class="col-md-7" colspan="2">
                                    @Html.TextBoxFor(model => model.ReceiverPhone, new
                               {
                                   @class = "form-control",
                                   style = "background-color:#FBFCFC;height:27px;"
                               })
                                    @Html.ValidationMessageFor(model => model.ReceiverPhone)
                                </td>
                                <td class="col-md-3">
                                    <span class="checkbox custom-checkbox">
                                        @Html.CheckBox("PaymentConfirmed", new { name = "chk_PaymentConfirmed", @checked = "checked" })
                                        <label for="chk_PaymentConfirmed">&nbsp;&nbsp;Payment Confirmed</label>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2"><strong>Address:</strong></td>
                                <td class="col-md-10" colspan="3">
                                    @Html.TextBoxFor(model => model.ShipToAddress, new
                               {
                                   @class = "form-control",
                                   style = " background-color:#FBFCFC;height:27px;"
                               })
                                    @Html.ValidationMessageFor(model => model.ShipToAddress)
                                </td>
                                @*<td class="col-md-3">
                                        <span class="checkbox custom-checkbox">
                                            @Html.CheckBox("Warning", new { id = "chk_Warning", @checked = "checked" }) <label for="chk_Warning">&nbsp;&nbsp;Warning</label>
                                        </span>
                                    </td>*@
                            </tr>
                            <tr>
                                    <td class="col-md-2"><strong>District/ Province:</strong></td>
                                    <td class="col-md-7">
                                        <select class="form-control" id="combo-ListDistrict" name="DistrictId"
                                                style="background-color: #FBFCFC;padding:0px;"></select>
                                        @Html.ValidationMessageFor(model => model.ShipToDistrict)
                                    </td>
                                @*<td class="col-md-2" style="text-align:right;"><strong>Province:</strong></td>*@
                                <td class="col-md-5" colspan="2">
                                    @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ListProvince, " ", new
                                   {
                                       @class = "form-control",
                                       id = "combo-ListDistrict",
                                       //@onchange = "getDistrict(this)",
                                       style = "background-color:#FBFCFC;padding:0px;"
                                   })
                                </td>
                                </tr>
                            @*<tr>
                                    <td class="col-md-2"><strong>Province:</strong></td>
                                    <td class="col-md-7">
                                        @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ListProvince, " ", new
                                   {
                                       @class = "form-control",
                                       id = "combo-ListDistrict",
                                       //@onchange = "getDistrict(this)",
                                       style = "background-color:#FBFCFC"
                                   })
                                    </td>
                                    <td class="col-md-3">
                                        <span class="checkbox custom-checkbox">
                                            @Html.CheckBox("Closed", new { name = "chk_Closed", @checked = "checked" })
                                            <label for="chk_Closed">&nbsp;&nbsp;Closed</label>
                                        </span>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <style>
                .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                    padding: 2px 5px;
                }
                .border-none{
                    border:none;
                }
                .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
                    border:none;
                }
                .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
                    padding:2px 5px;
                }
            </style>
            @*<div class="row removeElementPrint">
                <div class="col-md-12">
                    <div style=" border: 1px solid #c5c5c5;">
                        <h4 style="padding:0px 5px;">Accounting</h4>
                        <table class=" table-condensed" id="table43" style="min-height: 250px; border-top: 1px solid #c0cdd1; width: 100%;text-align:center; ">
                            <tbody>
                                <tr>
                                    <td class="col-md-2">Staff Id:</td>
                                    <td class="col-md-5">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;"/>
                                    </td>
                                    <td class="col-md-2">Staff Name:</td>
                                    <td class="col-md-3">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">OrderCode:</td>
                                    <td class="col-md-5">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;" />
                                    </td>
                                    <td class="col-md-2">BaoKim Code:</td>
                                    <td class="col-md-3">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;" />
                                    </td>
                                </tr>


                                <tr>
                                    <td class="col-md-2">OrderCode:</td>
                                    <td class="col-md-5">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;" />
                                    </td>
                                    <td class="col-md-2">BaoKim Code:</td>
                                    <td class="col-md-3">
                                        <input type="text" class="form-control" name="name" value=" " style="height: 27px;" />
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>




                <div style="clear:both"></div>
                <div class="col-md-12" style="margin-top:10px;">
                    <div style=" border: 1px solid #c5c5c5;">
                        <h4 style="padding:0px 5px;">Delivery</h4>
                        <table class="col-md-12 table-condensed" id="table44" style="min-height: 250px; border-top: 1px solid #c0cdd1; width: 100%; text-align: center; ">
                            <tbody>
                                <tr>
                                    <td>Employee Id</td>
                                    <td>
                                        <input type="text" name="name" value=" " />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="row text-center removeElementPrint">
            <button type="submit" class="btn btn-info">Save</button>
            <a class="btn btn-danger printElement-User" data-user-content="divContentSub">Print template</a>
        </div>
    </div>
    <div class="modal fade" id="modalProduct">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select a Product</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" id="txtInputSearchProduct" autofocus="autofocus" class="form-control" placeholder="ID or Product Name" value="">
                        <div class="input-group-btn">
                            <span class="btn btn-sm btn-default" id="btn-search-Product" style="width:34px;height:34px;"><i class="fa fa-search"></i></span>
                        </div>
                    </div>

                    <table class="table table-hover" id="">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Product Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="data-ProductSearch"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        var gdataNumber = 0;
        var gListDistrict = [];
        $(".number-user").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        $(document).on("keydown", '.inputNumber', function (e) {
            if ($(e.target).val().trim().length == 0) {
                $(e.target).val("0");
            }
            if ($.inArray(e.keyCode, [8, 46, 9, 27, 13]) !== -1 ||
               (e.keyCode == 65 && e.ctrlKey === true) ||
               (e.keyCode >= 35 && e.keyCode <= 40)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
            //changeInputTotal();
        });
        $(document).on("change", 'input[name="txtListInputPrice"]', function (e) {
            if (isNaN(parseInt($(e.target).attr('data-number')))) {
                return;
            }
            gCurrentNumber = parseInt($(e.target).attr('data-number'));
            changeInputTotal();
        });
        $(document).on("keyup", "#txtInputSearchProduct", function (e) {
            if (e.keyCode == 13) {
                $("#btn-search-Product").click();
            }
            else {
                var input = $("#txtInputSearchProduct").val().toUpperCase();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Search", "Product")",
                    data: { keyword: input },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        var dt_rs = JSON.parse(dt);
                        var $txtSearch = $('#txtInputSearchProduct');
                        $txtSearch.autocomplete({
                            source: dt_rs,
                            select: function (event, ui) {
                                $("#txtInputSearchProduct").val(ui.item.value);
                                $("#btn-search-Product").click();
                            }
                        }).focus(function () {
                            if (typeof $(this).data("autocomplete") != "undefined")
                                $(this).data("autocomplete").search($(this).val());
                        });
                    }, error: function (error) {

                    }
                }); //end ajax call
            }
        });
        $(document).on("click", ".btnSelectProduct", function (event) {
            var lst = $('input[name="txtListInputProductId"]');
            for (var i = 0; i < lst.length; i++) {
                if ($(lst[i]).val() == $(event.target).attr('data-ProductStockId')) {
                    alert("Added");
                    return;
                }
            }
            var tempProductId = $(event.target).attr('data-ProductStockId'),
                tempProductName = $(event.target).attr('data-name'),
            tempProductPrice = $(event.target).attr('data-price'),
            temponlinePrice = $(event.target).attr('data-onlinePrice');
            $('input[name="txtListInputProductId"]input[data-number="' + gdataNumber + '"]').val(tempProductId);
            $('input[name="txtListInputProductName"]input[data-number="' + gdataNumber + '"]').val(tempProductName);
            $('input[name="txtListInputPrice"]input[data-number="' + gdataNumber + '"]').val(tempProductPrice);
            $('input[name="txtListInputPrice"]input[data-number="' + gdataNumber + '"]').attr('data-onlinePrice', temponlinePrice);
            $('input[name="ListProductId"]input[data-number="' + gdataNumber + '"]').val($(event.target).attr('data-id'));
            changeInputTotal($('input[name="txtListInputQuantity"]input[data-number="' + gdataNumber + '"]'));
            $('#modalProduct').modal('hide');
        });
        $(document).on("click", ".btnOpenModalSearchProduct", function (event) {
            if (isNaN(parseInt($(event.target).attr('data-number')))) {
                return;
            }
            gdataNumber = parseInt($(event.target).attr('data-number'));
            $("#modalProduct").modal("show");
            setTimeout(function () {
                $("#txtInputSearchProduct").focus();
            }, 20);
            setTimeout(function () {
                $("#txtInputSearchProduct").select();
            }, 20);
        })
        $(document).ready(function () {
            initCreateOrder();
            //$("#combo-ListProvince").chosen({ no_results_text: "Oops, nothing found!" });
            //$("#combo-ListDistrict").chosen({ no_results_text: "Oops, nothing found!" });
            //$("#combo-bank").chosen({ no_results_text: "Oops, nothing found!" });
            shortcut.add("Ctrl+Shift+L", function () {
                $("#btnNewRecord").click();
            });
            $('#resetCustomer').click(function () {
                $('input[name="CustomerEmail"]').val('');
                $('input[name="CustomerPhone"]').val('');
                $('input[name="CustomerName"]').val('');
                $('input[name="CustomerId"]').val('');
                $('input[name="CustomerPhone"]').removeAttr('readonly');
                $('input[name="CustomerName"]').removeAttr('readonly');
                $('input[name="CustomerEmail"]').removeAttr('readonly');
                $('input[name="CustomerId"]').attr('readonly', 'readonly');
            })
            $("#checkCustomer").click(function () {
                var Code = $('input[name="CustomerId"]').val();
                var Email = $('input[name="CustomerEmail"]').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCustomer", "Product")",
                    data: { CustomerCode: Code, CustomerEmail: Email },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        if (dt == "") {
                            $('input[name="CustomerEmail"]').val('');
                            $('input[name="CustomerPhone"]').val('');
                            $('input[name="CustomerName"]').val('');
                            $('input[name="CustomerId"]').val('');
                            $('input[name="CustomerPhone"]').removeAttr('readonly');
                            $('input[name="CustomerName"]').removeAttr('readonly');
                            $('input[name="CustomerEmail"]').removeAttr('readonly');
                            $('input[name="CustomerId"]').attr('readonly', 'readonly');
                        } else {
                            var dt_rs = JSON.parse(dt);
                            $('input[name="CustomerEmail"]').val(dt_rs.CustomerEmail);
                            $('input[name="CustomerPhone"]').val(dt_rs.CustomerPhone);
                            $('input[name="CustomerName"]').val(dt_rs.CustomerName);
                            $('input[name="CustomerId"]').val(dt_rs.CustomerId);
                            $('input[name="CustomerPhone"]').attr('readonly', 'readonly');
                            $('input[name="CustomerName"]').attr('readonly', 'readonly');
                            $('input[name="CustomerEmail"]').attr('readonly', 'readonly');
                            $('input[name="CustomerId"]').attr('readonly', 'readonly');
                        }


                    }, error: function (error) {

                    }
                }); //end ajax call
            });
            $("#Save").click(function () {
                if (getLengthProduct() > 0) {
                    $("#FormProCreate").submit();
                }
                else toastr["error"]("You don't have choice Product");
            });
            $("#btnNewRecord").click(function () {
                gdataNumber = getIdNew(gdataNumber);
                var string = "<tr>"
                                + "<td><input type='text' class='form-control btnOpenModalSearchProduct border-none' data-number='" + gdataNumber + "' readonly='readonly' name='txtListInputProductId'  style='cursor: pointer;'/></td>"
                                + "<td><input type='text' class='form-control btnOpenModalSearchProduct border-none' data-number='" + gdataNumber + "' readonly='readonly' name='txtListInputProductName'  style='cursor: pointer;' /></td>"
                                + "<td><input type='number' class='form-control inputNumber border-none'min='1' data-number='" + gdataNumber + "' name='txtListInputQuantity'  onchange='changeInputTotal(this)'  /></td>"
                                + "<td><input type='text' class='form-control inputNumber border-none' readonly='readonly' data-number='" + gdataNumber + "' name='txtListInputPrice'  /></td>"
                                + "<input type='hidden' name='ListProductId' value='0' data-number='" + gdataNumber + "' />"
                                + "<td><input type='text' class='form-control border-none' readonly='readonly' data-number='" + gdataNumber + "' name='txtInputTotal' /></td>"
                                + "<td class='removeElementPrint'><a onclick='$(this).parent().parent().remove();$(\"#spanTotalProuct\").text(getLengthProduct());MathtotalProduct();' style='cursor: pointer;'>Remove</a></td>"
                                + "</tr>";
                $("#data-Product").append(string);
                gdataNumber++;
            });
            $("#btnRemoveRecordEmpty").click(function () {
                for (var i = $("#data-Product").children().length - 1; i >= 0; i--) {
                    try {
                        if ($($("#data-Product").children()[i]).children('input[type="hidden"]input[name="ListProductId"]').val() == "0" && $($("#data-Product").children()[i]).find('input[name="txtListInputPrice"]').val() == "0") {
                            $("#data-Product").children()[i].remove();
                        }
                    }
                    catch (e) {
                        continue;
                    }
                }
            });
            $("#btn-search-Product").click(function () {
                $("#data-ProductSearch").children().remove();
                var input = $("#txtInputSearchProduct").val().toUpperCase();
                var BodyRaw = "";
                var lst = [];
                gListProduct = [];
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetProductPage", "Product")",
                    data: { keyword: input },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        var dt_rs = JSON.parse(dt);
                        gListProduct = dt_rs;
                        if (dt_rs.length == 0) {
                            BodyRaw = "<tr><td colspan='2' style='text-align:center;'>Not found!</td>";
                            $("#data-ProductSearch").html(BodyRaw);
                        } else {
                            $.map(gListProduct, function (ele, index) {
                                var rowRaw = "<tr><td>" + ele.ProductStockId + "</td><td>" + ele.ProductName + "</td><td><a data-id='" + ele.ProductId + "'  data-ProductStockId='" + ele.ProductStockId + "'  data-name='" + ele.ProductName + "'  data-price='" + ele.Price + "' data-onlinePrice='" + ele.OnlinePrice + "' class='btn btn-primary btnSelectProduct'>Add</td>";
                                BodyRaw += rowRaw;
                            });
                            $("#data-ProductSearch").html(BodyRaw);
                        }

                    }, error: function (error) { $("#data-ProductSearch").html("<tr><td colspan='2' style='text-align:center;'>Not found!</td>"); }
                }); //end ajax call

            });

        });
        $("input[name=typeRad]:radio").change(function (e) {
            $('input[type="hidden"]input[name="Type"]').val($(e.target).val());
            if ($(e.target).val() == "postPay") {
                $('input[name="CardTypeId"]').attr('disabled', 'true');
                $('.typePostTr').attr('disabled', 'true');
            }

            else {
                $('.typePostTr').removeAttr('disabled');
                $('input[name="CardTypeId"]').removeAttr('disabled');
            }
        });
        //function changeType(value) {
        //    $('input[type="hidden"]input[name="Type"]').val(value);
        //    if (value == "postPay")
        //        $('.typePostTr').css('display', 'none');
        //    else $('.typePostTr').css('display', 'table-row');
        //}
        function getIdNew(id) {
            if ($('input[name="txtListInputQuantity"]input[data-number="' + id + '"]').length > 0) {
                id++;
                return getIdNew(id);
            }
            else
                return id;
        }
        function changeInputTotal(event) {
            if (typeof event != "undefined") {
                gCurrentNumber = parseInt($(event).attr('data-number'));
            }
            if ($(event).val() <= 0) {
                $(event).val(1);
            }
            var Quantity = parseInt($('input[name="txtListInputQuantity"]input[data-number="' + gCurrentNumber + '"]').val());
            var Price = parseInt($('input[name="txtListInputPrice"]input[data-number="' + gCurrentNumber + '"]').val());
            var OPrice = parseInt($('input[name="txtListInputPrice"]input[data-number="' + gCurrentNumber + '"]').attr('data-onlinePrice'));
            $('input[name="txtInputTotal"]input[data-number="' + gCurrentNumber + '"]').val(Price * Quantity);
            $('input[name="txtInputTotal"]input[data-number="' + gCurrentNumber + '"]').attr('data-onlinePrice', (OPrice * Quantity).toString());
            $('#spanTotalProuct').text(getLengthProduct());
            MathtotalProduct();
        }
        function getLengthProduct() {
            var leng = 0;
            var lst = $('input[name="ListProductId"]');
            for (var i = 0; i < lst.length; i++) {
                if ($(lst[i]).val() > 0)
                    leng++;
            }
            return leng;
        }
        function MathtotalProduct() {
            var lst = $('input[name="txtInputTotal"]');
            var total = 0;
            var totalOnl = 0;
            for (var i = 0; i < lst.length; i++) {
                if (isNaN(parseFloat($(lst[i]).val())) == false && isNaN(parseFloat($(lst[i]).attr('data-onlinePrice'))) == false) {
                    total += parseFloat($(lst[i]).val());
                    //totalOnl += parseFloat($(lst[i]).attr('data-onlinePrice'));
                }
            }
            $('input[name="txtInputTotalAll"]').val(total + (total * $('input[name="TaxFee"]').val() / 100) - $('input[name="txtInputShippingFee"]').val());
            $('input[name="txtInputSubTotalFee"]').val(total);
        }
        function initCreateOrder() {
            @foreach (var item in (List<HTTelecom.Domain.Core.DataContext.ams.District>)ViewBag.ListDistrict)
            {
            <Text>gListDistrict.push({ DistrictId: '@item.DistrictId', DistrictName: '@item.DistrictName', Type: '@item.Type', ProvinceId: '@item.ProvinceId' });</Text>
        }
            //getDistrict({ value: $("#combo-ListProvince").val() });
        }
        function getDistrict(event) {
            $("#combo-ListDistrict").children().remove();
            var ProvinceId = event.value.toString();
            $.map(gListDistrict, function (ele, ind) {
                if (ProvinceId == ele.ProvinceId.toString()) {
                    $("#combo-ListDistrict").append("<option value='" + ele.DistrictId + "'>" + ele.Type + " " + ele.DistrictName + "</option>");
                }
            });
            //$("#combo-ListDistrict").trigger("chosen:updated");
        }
    </script>
    <style>
        .tranform-90 {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .ui-corner-all {
            z-index: 99999 !important;
        }
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 2px 5px;
        }
        .form-control {
            height:27px;
        }
    </style>
}
