@{
    ViewBag.SideBarMenu = "Libary";
    var List = (List<string>)ViewBag.ListFileName;
    var folderName = ViewBag.FolderName;
    int countchb = 0;
    var listImages = (IEnumerable<string>)ViewBag.Images;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">

    <div class="col-md-12">
        <h2>Resize, and Upload Image</h2>
        @using (Html.BeginForm("Upload", "Libary", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("folderName", (string)ViewBag.FolderName)
            @Html.Hidden("position")
    <div id="listImage"></div>
            <br />
            <h4 style="color:red">@ViewBag.Error</h4>
            <div>Upload Image</div>
            <input type="file" multiple="multiple" name="files" id="files" />
            <input type="submit" value="Upload" />
            <br />
            <br />
            <div class="img">
                @if (listImages != null && listImages.Any())
                {
                    foreach (var image in listImages)
                    {
                        <div class="thumb" style="width: 150px; float: left; overflow: hidden; float: left; margin-right: 5px; ">
                            <label for="@image">
                                <img src="@Url.Content("../Media/Source/" + image)" alt="@image" width="150" height="100" />
                                <input value="@image" class="img" id="@image" type="checkbox" />
                                <p>@image</p>
                            </label>
                        </div>


                    }
                    <br />
                    <br />
                    <div style="clear: both"></div>
                    <button type="button" value="delete" id="btnDelete" onclick=deleteImg()>Delete</button>
                }
                else
                {
                    @ViewBag.MsgNotFound
                }

            </div>
        }
    </div>
</div>
@*<style>
        input[type=checkbox] {
        display: none;
    }
    </style>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>

    // Uplaod and delete images
    var folderName = $('#folderName').val();
    function deleteImg() {
        var arrayName = "";
        //var index = 0;
        //$('.img:checked').each(function () {
        //    lst.append("<input type='hidden' name='imagesFileName[" + index + "]' value='" + $(this).val() + "' >");
        //});
        for (var i = 0; i < $('.img:checked').length; i++) {
            arrayName += $($('.img:checked')[i]).val() + ",";
        }
        $.ajax({
            url: '@Url.Action("DeleteImage","Libary")',
            type: "POST",
            cache: false,
            dataType: 'json',
            data: { imagesFileName: arrayName, folderName: folderName },
            success: function (result) {
                //remove div image
                $("input[type='checkbox']").each(function () {
                    if ($(this).is(':checked')) {
                        $(this).parent().parent().remove();
                    }
                });
            },
            error: function (error) {
            }
        })
        ////remove div image
        //$("input[type='checkbox']").each(function () {
        //    if ($(this).is(':checked')) {
        //        $(this).parent().parent().remove();
        //    }
        //});
    }

</script>
