@{
    ViewBag.Title = "CustomerIndex";
    ViewBag.SideBarMenu = "CustomerIndex";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.cis;

@model IPagedList<Customer>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Customer List</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Customer index</li>
            </ol>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->

@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}
<div class="row">
    <div class="col-sm-4">
        <!-- START Statistic Widget -->
        <div class="table-layout animation animating fadeInDown">
            <div class="col-xs-3 panel bgcolor-info text-center">
                <div class="ico-users3 fsize24"></div>
            </div>
            <div class="col-xs-9 panel">
                <div class="panel-body text-center">
                    <h4 class="semibold nm">@ViewBag.RegisteredCount</h4>
                    <p class="semibold text-muted mb0 mt5 ellipsis">REGISTERED CUSTOMERS</p>
                </div>
            </div>
        </div>
        <!--/ END Statistic Widget -->
    </div>
    <div class="col-sm-4">
        <!-- START Statistic Widget -->
        <div class="table-layout animation animating fadeInUp">
            <div class="col-xs-3 panel bgcolor-teal text-center">
                <div class="ico-crown fsize24"></div>
            </div>
            <div class="col-xs-9 panel">
                <div class="panel-body text-center">
                    <h4 class="semibold nm">187</h4>
                    <p class="semibold text-muted mb0 mt5 ellipsis">PENDING ACTION</p>
                </div>
            </div>
        </div>
        <!--/ END Statistic Widget -->
    </div>
    <div class="col-sm-4">
        <!-- START Statistic Widget -->
        <div class="table-layout animation animating fadeInDown">
            <div class="col-xs-3 panel bgcolor-primary text-center">
                <div class="ico-box-add fsize24"></div>
            </div>
            <div class="col-xs-9 panel">
                <div class="panel-body text-center">
                    <h4 class="semibold nm">10</h4>
                    <p class="semibold text-muted mb0 mt5 ellipsis">UPDATE AVAILABLE</p>
                </div>
            </div>
        </div>
        <!--/ END Statistic Widget -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary ui-sortable-handle">
            <!-- panel heading/header -->
            <div class="panel-heading handle">
                <h3 class="panel-title"><i class="ico-queen mr5"></i> Filter</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        <button class="btn" data-toggle="panelremove" data-parent=".col-md-4"><i class="remove"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capable -->
            <div class="panel-collapse pull out">
                <div class="panel-noborder">
                    <!-- Form default layout -->
                    <form class="panel panel-default" id="FilterForm" method="GET" action="@Url.Action("CustomerIndex","CIS")">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Email</label>
                                    <input name="Email" id="Email" type="text" class="form-control" placeholder="Email" value="@if(TempData["email"]!=null){@Html.Raw(TempData["email"])}">
                                </div>
                                <div class="col-sm-3 mb10">
                                    <label class="control-label">First Name</label>
                                    <input name="FirstName" id="FirstName" type="text" class="form-control" placeholder="First Name" value="@if (TempData["firstname"] != null)
                                                                                                                                {@Html.Raw(TempData["firstname"])}">
                                </div>

                                <div class="col-sm-3 mb10">
                                    <label class="control-label">Last name</label>
                                    <input name="LastName" id="LastName" type="text" class="form-control" placeholder="Last Name" value="@if (TempData["lastname"] != null)
                                                                                                                             {@Html.Raw(TempData["lastname"])}">
                                </div>
                                <div class="col-sm-3 mb10">
                                    <label class="control-label">Gender</label>

                                    <select name="Gender" id="Gender" class="form-control">
                                        <option value="" @(((string)TempData["gender"] == null) ? "selected" : "")></option>

                                        <option value="male" @(((string)TempData["gender"] == "male") ? "selected" : "")>Male</option>
                                        <option value="female" @(((string)TempData["gender"] == "female") ? "selected" : "")>Female</option>
                                        <option value="other" @(((string)TempData["gender"] == "other") ? "selected" : "")>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 mb10">
                                    <label class="control-label">Phone</label>
                                    <input name="Phone" id="Phone" type="text" class="form-control" placeholder="Phone" value="@if (TempData["phone"] != null)
                                                                                                                   {@Html.Raw(TempData["phone"])}">
                                </div>
                                <div class="col-sm-3 mb10">
                                    <label class="control-label">Address</label>
                                    <input name="Address" id="Address" type="text" class="form-control" placeholder="Address" value="@if (TempData["address"] != null)
                                                                                                                         {@Html.Raw(@TempData["address"])}">
                                </div>
                                <div class="col-sm-3 mb10">
                                    <label class="control-label">Date Of Birth</label>    
                                    <br/>                         
                                    <a href="#" name="DateOfBirth" id="DateOfBirth" data-type="combodate" data-pk="12" data-title="Select date" class="editable editable-click" data-original-title="" title="">@(TempData["DateOfBirth"] != null?TempData["DateOfBirth"]:DateTime.Now.ToString("yyyy-MM-dd"))</a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" onclick="SubmitForm()" class="btn btn-primary">Filter</button>
                            <button type="reset" class="btn btn-inverse">Reset</button>
                        </div>
                    </form>
                    <!--/ Form default layout -->
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="customer-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Customer Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                            <th width="10%">Customer ID</th>
                            <th width="10%">Active</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Phone Number</th>
                            <th width="15%">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-customer">
                        @{
                            int i = 1;
                            foreach ( var item in Model)
                            {
                                <tr class="@(item.IsDeleted == true ? "danger" : "")">
                                    <td class="text-center">@i</td>
                                    <td class="text-center"><strong class="label label-info" style="font-size:12px">@string.Format("C{0:000000}",@item.CustomerId)</strong></td>
                                    @if (@item.IsActive == true)
                                    {
                                        <td class="text-center"><a href="javascript:void(0);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a href="javascript:void(0);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span></a></td>
                                    }
                                    <td>
                                        <a href="@Url.Action("CustomerEdit", "CIS", new { id = item.CustomerId })" title="Edit"><strong>@item.Email</strong></a>
                                    </td>
                                    <td>@item.FirstName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("CustomerIndex", new { page = page, email = TempData["email"], firstname = TempData["firstname"], lastname = TempData["lastname"], gender = TempData["gender"], phone = TempData["phone"], address = TempData["address"], dateofbirth = TempData["dateofbirth"] }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
        <!--/ END panel -->
    </div>
</div>
<!--/ END row -->

<script type="text/javascript">
    function SubmitForm()
    {
        
        var formData = $("#FilterForm").serialize();
        if (!($("#DateOfBirth").text() == "Empty" || $("#DateOfBirth").text() == "Invalid date"))
            formData += "&DateOfBirth=" + $("#DateOfBirth").text();
        window.location = "../../CIS/CustomerIndex/?"+ formData;
    }

</script>

<!-- Js for celandar -->
<script src="~/Content/plugins/xeditable/js/bootstrap-editable.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/address/address.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="~/Content/plugins/xeditable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/plugins/xeditable/xeditable.js"></script>
<!-- end Js for celandar -->