@{
    ViewBag.Title = "CustomerEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.cis
@using HTTelecom.Domain.Core.DataContext.mss
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.Repository.ops;

@model HTTelecom.Domain.Core.DataContext.cis.Customer
<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Customer</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Customer</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@{
    if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
    }

    ViewBag.TabIsActive = "tabone";
    if (TempData["tabActive"] != null || TempData["tabActive"] != "")
    {
        ViewBag.TabIsActive = TempData["tabActive"];
    }
}


@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}
@using (Html.BeginForm("CustomerEdit", "CIS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.CustomerId)
    <div class="col-md-12">
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <div class="panel-toolbar">
                    <ul class="nav nav-tabs pull-left">
                        <li class="@(ViewBag.TabIsActive == "tabone" ? "active":"")"><a href="#tab_Info" data-toggle="tab">Customer Info </a></li>
                        <li class="@(ViewBag.TabIsActive == "tabtwo" ? "active":"")"><a href="#tab_Wishlist" data-toggle="tab">Wishlist</a></li>
                        <li class="@(ViewBag.TabIsActive == "tabthree" ? "active":"")"><a href="#tab_Card" data-toggle="tab">Card</a></li>
                        <li class="@(ViewBag.TabIsActive == "tabfour" ? "active":"")"><a href="#tab_Order" data-toggle="tab">Order</a></li>
                    </ul>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-warning">Save and continue</button>
                        <button class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <!-- tab content -->
                <div class="tab-content">
                    <!-- -------------Customer Info------------- -->
                    <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active":"")" id="tab_Info">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">
                                        <img class="img-circle animation animating swing" src="@HTTelecom.WebUI.CustomerService.Common.GlobalVariables.HostNamePublicEX@Model.AvatarPhotoUrl" height="250" width="250" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Career</label>
                                            @Html.TextBoxFor(model => model.Career, new { @class = "form-control", placeholder = "Career" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Address</label>
                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Address" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Date of birth</label>
                                            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", placeholder = "Date of birth" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Phone</label>
                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Phone" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="IsActive checkbox-custom" style="color:red">IsActive</label>
                                            <div class="form-control">
                                                @if (Model.IsActive == true)
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true, @checked = "checked" }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                                else
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false, @checked = "checked" }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="IsDeleted checkbox-custom" style="color:red">IsDeleted</label>
                                            <div class="form-control">
                                                @if (Model.IsDeleted == true)
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true, @checked = "checked" }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                                else
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false, @checked = "checked" }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <div class="form-control">
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @checked = "checked", id = "Male" })
                                                    <label for="Male">
                                                        &nbsp; Male
                                                    </label>
                                                </div>
                                                <div class="radio-inline custom-radio custom-radio-info">
                                                    @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "Female" })
                                                    <label for="Female">
                                                        &nbsp; Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="control-label">DateCreated</label>
                                        @Html.TextBoxFor(model => model.DateCreated, new { @class = "form-control", placeholder = "Date Created", @readonly = true })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">DateModified</label>
                                        @Html.TextBoxFor(model => model.DateModified, new { @class = "form-control", placeholder = "Date Modified", @readonly = true })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Date Active</label>
                                        @Html.TextBoxFor(model => model.DateActive, new { @class = "form-control", placeholder = "Date Active", @readonly = true })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Gift Point</label>
                                        @Html.TextBoxFor(model => model.GiftPoint, new { @class = "form-control", placeholder = "Date Created", @readonly = true })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Xoney</label>
                                        @Html.TextBoxFor(model => model.Xoney, new { @class = "form-control", placeholder = "Date Modified", @readonly = true })
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="InBlackList checkbox-custom" style="color:red">In Black List</label>
                                            <div class="form-control">
                                                @if (Model.InBlackList == true)
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.InBlackList, true, new { id = "chk_InBlackList1", value = true, @checked = "checked" }) <label for="chk_InBlackList1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.InBlackList, false, new { id = "chk_InBlackList2", value = false }) <label for="chk_InBlackList2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                                else
                                                {
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.InBlackList, true, new { id = "chk_InBlackList1", value = true }) <label for="chk_InBlackList1">&nbsp;&nbsp;Yes</label>
                                                </span>
                                                <span class="radio-inline custom-radio">
                                                    @Html.RadioButtonFor(model => model.InBlackList, false, new { id = "chk_InBlackList2", value = false, @checked = "checked" }) <label for="chk_InBlackList2">&nbsp;&nbsp;No</label>
                                                </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--/ -------------Customer Info------------- -->
                    <!-- -------------Customer Wishlist------------- -->
                    <div class="tab-pane @(ViewBag.TabIsActive == "tabtwo" ? "active":"")" id="tab_Wishlist">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating fadeInDown">
                                    <div class="col-xs-4 panel bgcolor-info text-center">
                                        <div class="ico-heart fsize24"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <div class="panel-body text-center">
                                            <h4 class="semibold nm">@ViewBag.WishlistCount</h4>
                                            <p class="semibold text-muted mb0 mt5 ellipsis">WISHLISTS COUNT</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating fadeInUp">
                                    <div class="col-xs-4 panel bgcolor-teal text-center">
                                        <div class="ico-apple2 fsize24"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <div class="panel-body text-center">
                                            <h4 class="semibold nm">@ViewBag.ProductActiveCount</h4>
                                            <p class="semibold text-muted mb0 mt5 ellipsis">PRODUCTS ACTIVE</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating fadeInDown">
                                    <div class="col-xs-4 panel bgcolor-primary text-center">
                                        <div class="ico-heart22 fsize24"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <div class="panel-body text-center">
                                            <h4 class="semibold nm">@ViewBag.TypeFavorite </h4>
                                            <p class="semibold text-muted mb0 mt5 ellipsis">TYPE FAVORITE</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-blue" id="product-table">
                                    <!-- panel heading/header -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Product</h3>
                                        <!-- panel toolbar -->
                                        <div class="panel-toolbar text-right">
                                            <!-- option -->
                                            <div class="option">
                                                <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                                            </div>
                                            <!--/ option -->
                                        </div>
                                        <!--/ panel toolbar -->
                                    </div>
                                    <!--/ panel heading/header -->
                                    <!-- panel toolbar wrapper -->
                                    <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                                        <div class="panel-toolbar hide" id="toolbar-toshow">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default">Verified</button>
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 1);'><i class="icon ico-pencil"></i>Verified</a></li>
                                                    <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 0);'><i class="icon ico-print3"></i>Unverified</a></li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default">Active</button>
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0);" onclick='ChangeStatusAction(2, 0, 1);'><i class="icon ico-pencil"></i>Active</a></li>
                                                    <li><a href="javascript:void(0);" onclick='ChangeStatusAction(2, 0, 0);'><i class="icon ico-print3"></i>Inactive</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-toolbar text-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                                                <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ panel toolbar wrapper -->
                                    <!-- panel body with collapse capabale -->
                                    <div class="panel-collapse pull out">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="3%" class="text-center">
                                                        <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                                            <input type="checkbox" id="chkAll-two0" value="1" data-toggle="checkall" data-target="#product-table">
                                                            <label for="chkAll-two0"></label>
                                                        </div>
                                                    </th>
                                                    <th width="13%" class="text-center">StockCode</th>
                                                    <th width="5%">
                                                        Active
                                                    </th>
                                                    <th width="5%">
                                                        Verified
                                                    </th>
                                                    <th>
                                                        Name
                                                        <div class="btn-group pull-right">
                                                            <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">

                                                                <li><a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = TempData["pType"], ProductNameOrder = "DESC" })">Z <i class="fa fa-long-arrow-right"> A</i></a></li>
                                                                <li><a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = TempData["pType"], ProductNameOrder = "ACS" })">A <i class="fa fa-long-arrow-right"> Z</i></a></li>
                                                            </ul>
                                                        </div>
                                                    </th>
                                                    <th width="5%">Preview</th>
                                                    <th>
                                                        Type
                                                        <div class="btn-group pull-right">
                                                            <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                                                <li><a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = "All", ProductNameOrder = TempData["ProductNameOrder"], DateOrder = TempData["DateOrder"] })">All</a></li>
                                                                @foreach (var item in (List<ProductType>)ViewBag.list_ProductType)
                                                                {
                                                                <li><a href="@Url.Action("CustomerEdit", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = item.ProductTypeCode, ProductNameOrder = TempData["ProductNameOrder"], DateOrder = TempData["DateOrder"] })">@item.ProductTypeName</a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </th>
                                                    <th width="16%">
                                                        Date
                                                        <div class="btn-group pull-right">
                                                            <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                                                <li><a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = TempData["pType"], DateOrder="ACS" })">ACS</a></li>
                                                                <li><a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, pageProduct = 1, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = TempData["pType"], DateOrder = "DESC" })">DESC</a></li>
                                                            </ul>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="list-product-table">
                                                @{
                                                    int j = 1;
                                                    TempData["pType"] = TempData["pType"] ?? "All";
                                                }
                                                @foreach (var item in (IPagedList<Product>)ViewBag.ProductPager)
                                                {
                                                    var itemProductType = ((List<ProductType>)ViewBag.list_ProductType).Where(a => a.ProductTypeCode == item.ProductTypeCode).FirstOrDefault();
                                                <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                                    <td class="text-center">
                                                        <div class="checkbox custom-checkbox nm">
                                                            <input type="checkbox" name="chk_product-table" id="chk_product-table-@j" value="@item.ProductId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                                            <label for="chk_product-table-@j"></label>
                                                        </div>
                                                    </td>
                                                    <td><span style="font-size:12px">@item.ProductStockCode</span></td>
                                                    @if (item.IsActive == true)
                                                        {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(2, @item.ProductId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                                        }
                                                        else
                                                        {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(2, @item.ProductId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a></td>
                                                        }
                                                    @if (item.IsVerified == true)
                                                        {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(1, @item.ProductId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span></a></td>
                                                        }
                                                        else
                                                        {
                                                        <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(1, @item.ProductId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unverified">Unverified</span></a></td>
                                                        }
                                                    <td>
                                                        <a href="#"><strong>@item.ProductName</strong></a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="#" onclick="previewProduct(@item.ProductId)"><i class="fa fa-2x fa-video-camera text-primary"></i></a>
                                                    </td>
                                                    <td>@(itemProductType != null ? itemProductType.ProductTypeName : "N/A")</td>

                                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                                </tr>
                                                        j++;
                                                }
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            @Html.PagedListPager((PagedList.IPagedList<Product>)ViewBag.ProductPager, page => Url.Action("CustomerEdit", new { id = @Model.CustomerId, pageProduct = page, pageSizeSelected = TempData["pageSize"], tabActive = "tabtwo", ptype = TempData["pType"] , ProductNameOrder = TempData["ProductNameOrder"], DateOrder = TempData["DateOrder"]}), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                        </div>
                                    </div>
                                    <!--/ panel body with collapse capabale -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ -------------Customer Info------------- -->
                    <!-- -------------Customer Card------------- -->
                    <div class="tab-pane @(ViewBag.TabIsActive == "tabthree" ? "active":"")" id="tab_Card">

                        <div class="tab-pane @(ViewBag.TabIsActive == "tabfour" ? "active":"")" id="tab_CustomerCard">
                            <div class="row">
                                <div class="col-md-12 pull-left" style="margin-bottom: 15px;">
                                    <a href="@Url.Action("CustomerCardCreate/"+Model.CustomerId.ToString(),"CIS")" class="btn btn-info">New Customer Card</a>
                                </div>
                            </div>
                            <!-- START panel -->
                            <div class="panel panel-blue" id="customer-table">
                                <!-- panel heading/header -->
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Customer Table</h3>
                                    <!-- panel toolbar -->
                                    <div class="panel-toolbar text-right">
                                        <!-- option -->
                                        <div class="option">
                                            <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                            <!--  <button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>-->
                                        </div>
                                        <!--/ option -->
                                    </div>
                                    <!--/ panel toolbar -->
                                </div>
                                <!--/ panel heading/header -->
                                <!-- panel body with collapse capabale -->
                                <div class="panel-collapse pull out">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
                                               
                                                <th width="10%">Active</th>
                                                <th>CardNumber</th>
                                                <th>Card Holder Name</th>  
                                                <th>Bank</th>
                                                <th>Card Type</th>                                                                                              
                                                <th width="15%">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list-customer">
                                            @{
                                                int i = 1;
                                                foreach (var item in (List<CustomerCard>)ViewBag.CustomerCardsList)
                                                {                                                    
                                                    <tr class="@(item.IsDeleted == true ? "danger" : "")">
                                                        <td class="text-center">@i</td>
                                                        @if (@item.IsActive == true)
                                                        {
                                                            <td class="text-center"><a href="javascript:void(0);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center"><a href="javascript:void(0);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span></a></td>
                                                        }
                                                        <td><b>@item.CardNumber</b></td>
                                                        <td>
                                                            <a href="@Url.Action("CustomerCardEdit", "CIS", new { id = item.CustomerCardId })" title="Edit"><strong>@item.CardHolderName</strong></a>
                                                        </td>
                                                        <td>
                                                            @(((List<Bank>)ViewBag.ListBank).Where(x=>x.BankId == item.BankId).FirstOrDefault().BankName)
                                                        </td>
                                                        <td>
                                                           @(((List<CardType>)ViewBag.ListCardType).Where(x => x.CardTypeId == item.CardTypeId).FirstOrDefault().CardTypeName)
                                                        </td>
                                                        <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                                    </tr>
                                                        i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--/ panel body with collapse capabale -->
                            </div>
                            <!--/ END panel -->
                        </div>
                    
                    </div>
                    <!--/ -------------Customer Card------------- -->
                    <!-- -------------Customer Order------------- -->
                    <div class="tab-pane @(ViewBag.TabIsActive == "tabfour" ? "active":"")" id="tab_Order">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating bounceInLeft">
                                    <div class="col-xs-4 panel bgcolor-success text-center">
                                        <div class="ico-happy fsize32"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, Delivery = 1, Payment = 1, IsDeleted = 0, tabActive="tabfour" })" title="Click to see this filter">
                                            <div class="panel-body text-center">
                                                <h4 class="semibold nm">@ViewBag.SuccessfulTradingCount</h4>
                                                <p class="semibold text-muted mb0 mt5 ellipsis">SUCCESSFUL TRADING</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating tada">
                                    <div class="col-xs-4 panel bgcolor-warning text-center">
                                        <div class="ico-wondering fsize32"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, Delivery = -1, Payment = -1, IsDeleted = 0, tabActive="tabfour" })" title="Click to see this filter">
                                            <div class="panel-body text-center">
                                                <h4 class="semibold nm">@ViewBag.NotProcessedCount</h4>
                                                <p class="semibold text-muted mb0 mt5 ellipsis">NOT PROCESSED</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- START Statistic Widget -->
                                <div class="table-layout animation animating bounceInRight">
                                    <div class="col-xs-4 panel bgcolor-danger text-center">
                                        <div class="ico-confused fsize32"></div>
                                    </div>
                                    <div class="col-xs-8 panel">
                                        <a href="@Url.Action("CustomerEdit", "CIS", new { id = Model.CustomerId, Delivery = -1, Payment = 0, IsDeleted = 0, tabActive="tabfour" })" title="Click to see this filter">
                                            <div class="panel-body text-center">
                                                <h4 class="semibold nm">@ViewBag.PaymentFails</h4>
                                                <p class="semibold text-muted mb0 mt5 ellipsis"> PAYMENT FAILS</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--/ END Statistic Widget -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4  animation animating rubberBand">
                                <!-- START Panel -->
                                <div class="panel panel-default">
                                    <!-- panel heading/header -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Filter Control </h3>
                                    </div>
                                    <!--/ panel heading/header -->
                                    <!-- panel body -->                                    
                                    <!-- table -->
                                    <table class="table">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">Payment Confirmed</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right">
                                                    <div class="btn-group" style="margin-bottom:5px;">
                                                        <button type="button" style="width: 120px;" id="btn_Payment" class="btn btn-@((Request["Payment"] == "1") ? "success" : (Request["Payment"] == "0")?"danger":"warning") dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@((Request["Payment"] == "1") ? "Confirmed" : (Request["Payment"] == "0") ? "Confirmed Fails" : "Not Processed") <span class="caret"></span></button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="javascript:Payment(1);">Confirmed</a></li>
                                                            <li><a href="javascript:Payment(0);">Confirmed Fails</a></li>
                                                            <li><a href="javascript:Payment(-1);">Not processed</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Delivery Confirmed</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right">
                                                    <div class="btn-group" style="margin-bottom:5px;">
                                                        <button type="button" style="width: 120px;" class="btn btn-@((Request["Delivery"] == "1") ? "success" : (Request["Delivery"] == "0") ? "danger" : "warning") dropdown-toggle" id="btn_Delivery" data-toggle="dropdown" aria-expanded="false">@((Request["Delivery"] == "1") ? "Confirmed" : (Request["Delivery"] == "0") ? "Confirmed Fails" : "Not Processed")<span class="caret"></span></button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="javascript:Delivery(1);">Confirmed</a></li>
                                                            <li><a href="javascript:Delivery(0);">Confirmed Fails</a></li>
                                                            <li><a href="javascript:Delivery(-1);">Not processed</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Deleted</td>
                                         
                                                <td class="text-right">
                                                    <label class="switch switch-danger">
                                                        <input type="checkbox" id="cbxIsDeleted">
                                                        <span class="switch"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right">
                                                    <button type="button" style="width:120px" class="btn btn-primary" onclick="SubmitOrder()"> Filter</button>
                                                    @*Html.ActionLink("Filter", "CustomerEdit", "CIS", new { Delivery = @btn_Delivery }, new { @class = "btn btn-primary", @style = "width:120px"})*@
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--/ table -->
                                    
                                </div>
                                <!--/ END Panel -->
                            </div>

                            <div class="col-md-10 col-sm-8">
                                <!--content table-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Order List of @Model.Email</h3>
                                    </div>
                                    <div id="zero-configuration_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="table-responsive">
                                            <table class="table table-striped dataTable no-footer" id="zero-configuration" role="grid" aria-describedby="zero-configuration_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_acs" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order Code" style="width: 150px;">Order Code</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Transaction Status Code" style="width: 100px;">Transaction Status Code</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Payment Type Code" style="width: 50px;">Payment Type Code</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Order Type Code" style="width: 50px;">Order Type Code</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Receiver Name" style="width: 50px;">Receiver Name</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Receiver Phone" style="width: 100px;">Receiver Phone</th>
                                                        <th class="sorting" tabindex="0" aria-controls="zero-configuration" rowspan="1" colspan="1" aria-label="Date Created" style="width: 100px;">Date Created</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                            int ii = 1;
                                            foreach (var item in (List<HTTelecom.Domain.Core.DataContext.ops.Order>)ViewBag.OrderCustomer)
                                            {
                                                <tr role="row" class="@(ii % 2 == 0 ? "even" : "odd")">
                                                    <td><a href="javascript:previewOrder(@item.OrderId)" title="Click to see total of @item.OrderCode"><b>@item.OrderCode</b></a></td>
                                                    <td class="sorting_1">@item.TransactionStatusCode</td>
                                                    <td>@item.PaymentTypeCode</td>
                                                    <td>@item.OrderTypeCode</td>
                                                    <td><a href="javascript:previewOrderInfo('@item.OrderCode')" title="Click to see infomation of this order."><b>@item.ReceiverName</b></a></td>
                                                    <td>@item.ReceiverPhone</td>
                                                    <td>@item.DateCreated.Value.ToString("dd/MM/yyyy")</td>
                                                </tr>
                                                ii++;
                                            }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>       
                                    </div>
                                </div>
                                <!--/content table-->
                            </div>
                        </div>
                    </div>
                    <!--/ -------------Customer Order------------- -->
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 417px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Preview</h4>
            </div>
            <div class="modal-body" style="width: 389px; height: 810px; background: url('/Content/image/background/phone-case.png') no-repeat right top;">

                <iframe id="framePreview" style="width: 100%; height: 100%; overflow: auto; position: absolute; top: 104px; left: 33px; z-index: 0; width: 350px; height: 576px; border: 4px solid #22272d; background-color: white;"></iframe>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTotalOrder">
    <div class="modal-dialog animation animating bounceInDown" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Total Order</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th class="col-md-2">Id</th>
                            <th class="col-md-5">Product name</th>
                            <th class="col-md-1">Quantity</th>
                            <th class="col-md-2">Price</th>
                            <th class="col-md-2">Total</th>
                        </tr>
                    </thead>
                    <tbody id="data-Product"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <th>Sub Total Fee</th>
                            <td><span id="SubTotalFee"></span></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <th>Shipping Fee</th>
                            <td><span id="ShippingFee"></span></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <th>Tax Fee</th>
                            <td>
                                <span id="TaxFee"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                Total Product: <span id="spanTotalProuct" style="color:blue;">2</span>
                            </td>
                            <th>Total Amount</th>
                            <td><span id="TotalAmount"></span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalOrderInfo">
    <div class="modal-dialog animation animating bounceInDown" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Order Infomation</h4>
            </div>
            <div class="modal-body">

                <iframe id="test" width="870" height="500"></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    //mặc định giá trị của bộ lọc
    var IsPaymentConfirmed = -1;
    var IsDeliveryConfirmed = -1;

    //method set trạng thái bộ lọc
    function Payment(status)
    {
        $("#btn_Payment").removeClass();
        if (status == -1){
            IsPaymentConfirmed = -1;
            $("#btn_Payment").addClass("btn btn-warning dropdown-toggle");
            $("#btn_Payment").html("Not Processed");
        }
        if (status == 0) {
            IsPaymentConfirmed = 0;
            $("#btn_Payment").addClass("btn btn-danger dropdown-toggle");
            $("#btn_Payment").html("Confirmed Fails");
        }
        if (status == 1) {
            IsPaymentConfirmed = 1;
            $("#btn_Payment").addClass("btn btn-success dropdown-toggle");
            $("#btn_Payment").html("Confrimed");
        }

    }
    function Delivery(status)
    {
        $("#btn_Delivery").removeClass();
        if (status == -1){
            IsDeliveryConfirmed = -1;
            $("#btn_Delivery").addClass("btn btn-warning dropdown-toggle");
            $("#btn_Delivery").html("Not Processed");
        }
        if (status == 0) {
            IsDeliveryConfirmed = 0;
            $("#btn_Delivery").addClass("btn btn-danger dropdown-toggle");
            $("#btn_Delivery").html("Confirmed Fails");
        }
        if (status == 1) {
            IsDeliveryConfirmed = 1;
            $("#btn_Delivery").addClass("btn btn-success dropdown-toggle");
            $("#btn_Delivery").html("Confrimed");
        }

    }
    function Delete(status)
    {
        if (status == 1) {
            $("#cbxIsDeleted").prop("checked", true);
        }
        else {
            $("#cbxIsDeleted").prop("checked", false);
        }
    }
    //submit bộ lọc
    function SubmitOrder() {
        var isdel = 0;
        if ($("#cbxIsDeleted").is(':checked'))
        {
            isdel = 1;
        }
        window.location = '@Model.CustomerId' + '?' + 'Delivery=' + IsDeliveryConfirmed + '&Payment=' + IsPaymentConfirmed + '&IsDeleted=' + isdel;
    }

    //load trạng thái bộ lọc lên
    Payment(@(Request["Payment"] ?? "-1" ));
    Delivery(@(Request["Delivery"]?? "-1"));
    Delete(@(Request["IsDeleted"]?? "-1"));

</script>
<script type="text/javascript">
    function previewProduct(id) {
        var iframe = document.getElementById("framePreview");
        iframe.src = 'http://galagala.vn:88/Product/Review/' + id;
        $("#modalPreview").modal('show');
    }
    function previewOrderInfo(id) {
        //alert("Order Id:" + id);
        $("#test").attr("src", "../../TTS/OrderViewForm/?code="+id);
        $("#modalOrderInfo").modal('show');
    }
    function previewOrder(id) {
        //alert("Order Id:" + id);


        var formData = new FormData();
        formData.append("orderId", id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTotalOrder", "CIS")',
            data: formData,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function (data) {
                // alert("success" + data);
                $('#data-Product tr').remove();

                //Add order total
                var count = 0;
                $(data.mylistOrder).each(function (key, value) {
                    //alert(value["Price"]);
                    var string = "<tr>"
                            + "<td>" + value["ProductStockCode"] + "</td>"
                            + "<td>" + value["ProductName"] + "</td>"
                            + "<td>" + value["Quantity"] + "</td>"
                            + "<td>" + formatNumber(value["Price"]) + " Đ</td>"
                            + "<td>" + formatNumber(value["Total"]) + " Đ</td>"
                            + "</tr>";
                    $("#data-Product").append(string);
                    count += value["Quantity"];
                });
                $("#spanTotalProuct").html(count);
                $("#SubTotalFee").html(formatNumber(data.SubTotalFee)+" Đ");
                $("#ShippingFee").html(formatNumber(data.ShippingFee)+" %");
                $("#TaxFee").html(data.TaxFee+" %");
                $("#TotalAmount").html(formatNumber(data.TotalPaid) + " Đ");

                //Hiển thị modal
                $("#modalTotalOrder").modal('show');
            },
            error: function () {
                alert("Error!.");
            },

        });
    }

    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }
</script>
<style type="text/css">
    .selectize-input {
        border: 1px solid #cfd9db;
        padding: 6px 12px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 4px;
    }
</style>

<link href="~/Content/css/datatables.css" rel="stylesheet" />
<script src="~/Content/js/datatables/js/jquery.dataTables.js"></script>
<script src="~/Content/js/datatables/tabletools/js/dataTables.tableTools.js"></script>

<script src="~/Content/js/datatables/js/datatables-bs3.js"></script>
<script src="~/Content/js/backend/tables/datatable.js"></script>
