@{
    ViewBag.Action = "Create";
    ViewBag.Controller = "TTS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.tts
@model HTTelecom.Domain.Core.DataContext.tts.MainRecord
@using (Html.BeginForm("Create", "TTS", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
{
    <div class="page-header page-header-block">
        <div class="page-header-section">
            <h4 class="title semibold">Create MRF - Step 2</h4>
        </div>
        <div class="page-header-section">
            <div class="toolbar">
                <ol class="breadcrumb breadcrumb-transparent nm">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","TTS")">TTS - Task List</a></li>
                    <li class="active">Create MRF</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row" id="divContent">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 pull-left">
                    <img src="~/Images/logo.jpg" width="200" height="100" />
                </div>
                <div class="col-sm-6 text-right">
                    <h3>HOP THANH Trading Co,.Ltd</h3>
                    <h5>87 Hoang Van Thai, Disctrict 7, Ho Chi Minh City, Viet Nam</h5>
                    <p style="padding-right:110px">------o0o------</p>

                </div>
            </div>
            <div class="row">
                <h1 class="text-center">MEDIA REQUEST FORM</h1>
            </div>
            <div class="margin"></div>

            <!-- Message Display -->
            @{
                var validateErr = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
                if (validateErr.Count > 0)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false)
                    </div>
                }
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-blue">
                        <div class="table-responsive panel-collapse pull out">                            
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td width="10%"><h5><strong>Task Form</strong></h5></td>
                                        <td width="40%">
                                            <h4>@(((TaskForm)ViewBag.taskForm).TaskFormName)</h4>
                                        </td>
                                        <td width="10%"><h5><strong>Form Id</strong></h5></td>
                                        <td width="40%">
                                            @Html.TextBox("FormId", (string)ViewBag.adCode, new { @class = "form-control", placeholder = "", style = "border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px;" })
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td width="10%"><h5><strong>Description</strong></h5></td>
                                        <td width="90%" colspan="3">
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5", placeholder = "", style = "border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px;max-width:100%;width:100%;" })
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-blue">Create</button>
                    <button type="reset" class="btn btn-grey">Reset</button>
                    <a class="btn btn-danger printElement-User" data-user-content="divContent">Print template</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var gLstAds = [];
    function init() {
        @foreach (var item in (List<HTTelecom.Domain.Core.DataContext.acs.Ad>)ViewBag.LstAds)
        {
            <text>gLstAds.push('@item.ReservationCode')</text>
        }
        $('input[name="FormId"]').autocomplete({
            source: gLstAds
        });
    }
    $(document).ready(function () {
        init();
    });
</script>
