@{
    ViewBag.LayoutTitle = "Cart";
    var Products = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Product, HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>>)ViewBag.ListProduct;
    var ListSize = (List<HTTelecom.Domain.Core.DataContext.mss.Size>)ViewBag.ListSize;
    //var ListSizeLogistic = (List<Tuple<long, string, long, bool>>)ViewBag.ListSizeLogistic;
    double total = 0;
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
@model List<HTTelecom.WebUI.eCommerce.Models.CartViewModel>
<div class="user-breadcrumb user-flat">
    <a class="active" style="width: 33%;">@((string)ViewBag.multiRes.GetString("create_order", ViewBag.CultureInfo))</a>
    <a style="width: 33%;">@((string)ViewBag.multiRes.GetString("information_order", ViewBag.CultureInfo))</a>
    <a style="width: 34%;">@((string)ViewBag.multiRes.GetString("checkout", ViewBag.CultureInfo))</a>
</div>
@if (TempData["gMessageCurrent"] != null)
{
    var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
    <div class="row user-margin-0">
        <div class="col s12" style="text-align:center;color:red;">
            @foreach (var item in gMessageCurrent)
            {
                <p>@item</p>
            }
        </div>
    </div>
}
@using (Html.BeginForm("Cart", "Product", FormMethod.Post, new { id = "Cartform" }))
{
    <div class="row formCart">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Products.Where(n => n.Item1.ProductId == Model[i].ProductId).FirstOrDefault();
            var hrefProduct = item.Item1.ProductTypeCode == "PT1" ? "OrdProduct" : item.Item1.ProductTypeCode == "PT2" ? "SaleProduct" : item.Item1.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
            var price = item.Item1.PromotePrice != null && item.Item1.PromotePrice < item.Item1.MobileOnlinePrice ? item.Item1.PromotePrice : item.Item1.MobileOnlinePrice;
            var quantity = Model[i].Quantity;
            var Size = ListSize.Where(n => n.SizeId == Model[i].Size).FirstOrDefault();
            var lstSizeProduct = item.Item1.Size.Split(',');
            var sizeOne = lstSizeProduct.Count() == 1 && lstSizeProduct[0] != "" ? ListSize.Where(n => n.SizeId == Convert.ToInt64(lstSizeProduct[0])).FirstOrDefault() : null;
            total += Convert.ToDouble(price * quantity);
            @Html.Hidden("[" + i + "].ProductId", Model[i].ProductId)
            //var isQuantity = false;

            if (Model[i].Size == 0 && sizeOne != null && sizeOne.Code == "OneSize")
            {
                //var itemSizeLogistic = ListSizeLogistic.Where(n => n.Item1 == item.Item1.ProductId && n.Item3 == sizeOne.SizeId).FirstOrDefault();
                //isQuantity = itemSizeLogistic == null || itemSizeLogistic.Item4 == false ? false : true;
                @Html.Hidden("[" + i + "].Size", sizeOne.SizeId)
            }
            else
            {
                //var itemSizeLogistic = ListSizeLogistic.Where(n => n.Item1 == item.Item1.ProductId).ToList();
                //isQuantity = itemSizeLogistic.Count == 0 ? false : true;
                @Html.Hidden("[" + i + "].Size", Model[i].Size)
            }
            <div class="col s12 m12 wishListItem" data-id="@Model[i].ProductId">
                <div class="card-panel grey lighten-5 z-depth-1" style="padding: 5px; position: relative; margin: .5rem 0 .5rem; ">

                    <p style=" margin: 0; line-height: 2; padding: 1px; margin-right: 28px;">
                        <a href="@Url.Action(hrefProduct, "Product", new { id = item.Item1.ProductId, urlName = item.Item1.Alias, urlNameStore = item.Item1.Store.Alias })">
                            @item.Item1.ProductName @(item.Item1.ProductStatusCode != "PSC1" ? Html.Raw(" <a style='color:red'>(" + (string)ViewBag.multiRes.GetString("PSC2", ViewBag.CultureInfo) + ")</a>") : Html.Raw(""))
                        </a>
                    </p>
                    <a href="javascript:void(0)" class="btnRemoveItemCart" data-id="@item.Item1.ProductId" data-url="@Url.Action("RemoveToCart", "Product")" data-element="color" style=" line-height: 32px; position: absolute; top: 0px; right: 0px;">
                        <i class="fa-icon fa-icon-recycle-bin-61" style=" transform: scale(0.5); float: left;"></i>
                    </a>
                    <div class="clearfix"></div>
                    <div style="line-height:0;">
                        <div class="" style=" display: table-cell; vertical-align: top; padding: 8px;position:relative;">
                            @*@(!isQuantity ? Html.Raw("<a style='position: absolute;top: 34px;left: 13px;-webkit-transform: rotate(-45deg);padding: 0;color: red;width: auto;text-shadow: 0px 1px #aaa;-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);'>" + ((string)ViewBag.multiRes.GetString("PSC2", ViewBag.CultureInfo)) + "</a>") : Html.Raw(""))*@
                            <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Item2.Media.Url + item.Item2.Media.MediaName)" alt="@item.Item1.ProductName"
                                 height="64">
                        </div>
                        <div class="media-body" style=" display: table-cell; vertical-align: top; width: 100%;">
                            <p style="text-align: left; line-height: 20px; margin: 0px;">
                                @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo)):
                                <span class="user-priceProduct user-color-red" data-money="@price">
                                    @string.Format("{0:0,0 đ}", price)
                                </span>
                            </p>
                            <p style="text-align: left; line-height: 20px; margin: 0px;">
                                @((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo)):
                                <input type="number" name="[@i].Quantity" class="number-price-change" value="@quantity" style=" width: 50px; height: 23px; margin: 0px; border: 2px solid #c3c3c3; border-radius: 5px; text-align: center;" max="5" min="1" maxlength="2" />
                            </p>
                            @if ((Size == null && (sizeOne == null || sizeOne.Code != "OneSize")) || (Size != null && Size.Code != "OneSize"))
                            {
                                <p style="text-align: left; line-height: 20px; margin: 0px;">
                                    @((string)ViewBag.multiRes.GetString("size", ViewBag.CultureInfo)):
                                    <span class="spanSize" data-ind="@i">
                                        @(Size != null ? Html.Raw(Size.SizeName) : Html.Raw("<a style='color:blue' class='btnSelectSize cursor-point' data-id='" + Model[i].ProductId + "' data-value='" + item.Item1.Size + "' data-ind ='" + i + "'>Select Size</a>"))
                                    </span>
                                    @if (ViewBag.Posted != null)
                                    {
                                        <span class='errorUser user-margin-0' style='color:red;float:right;'><img src='../../Images/alert.png' style='  width: 18px;' /></span>
                                    }
                                </p>
                            }

                            @if (item.Item1.Colour != null)
                            {
                                <p style="text-align: left; line-height: 20px; margin: 0px;">
                                    @((string)ViewBag.multiRes.GetString("colour", ViewBag.CultureInfo))@(":") @item.Item1.Colour
                                </p>
                            }
                            <p style="text-align: left; line-height: 20px; margin: 0px;" class="totalPricechilldren">
                                @((string)ViewBag.multiRes.GetString("total", ViewBag.CultureInfo)):
                                <span class="user-totalpriceProduct" data-money="@price" data-totalmoney="@price" style="text-align: right;">@string.Format("{0:0,0 đ}", quantity * price)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col s12 m12 wishListItem">
            <div class="card-panel grey z-depth-1" style="padding: 5px; position: relative;background:#c3c3c5;text-align:right;">
                @((string)ViewBag.multiRes.GetString("total_price", ViewBag.CultureInfo)):
                <span data-money="" id="totalPriceAll">@string.Format("{0:0,0 đ}", total)</span>
            </div>
        </div>

        <div class="col m12" style="width:100%;">
            @if (Model.Count > 0)
            {
                <a class="btn right waves-orange" data-element="background" style="padding:0px 5px;" id="btnSubmit">
                    @((string)ViewBag.multiRes.GetString("buy_all", ViewBag.CultureInfo))
                </a>
            }
            <a class="btn right waves-orange user-margin-right-10" data-element="background" href="/" style="padding:0px 5px;">
                @((string)ViewBag.multiRes.GetString("alert_continue_buy", ViewBag.CultureInfo))
            </a>

        </div>

    </div>
}
<div id="modal_Select" class="modal">
    <div class="modal-content user-padding-10"></div>
</div>
@section JavaScript {
    <script>
        var gListSize = [];
        @foreach (var item in ListSize)
	{
		 <text>
        gListSize.push({ SizeId: '@item.SizeId', SizeName: '@item.SizeName', SizeGlobalId: '@item.SizeGlobalId' })
        </text>
	}
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var lst = $(".btnSelectSize");
                $(".errorUser").remove();
                if (lst.length > 0)
                    $.map(lst, function (ele, ind) {
                        if ($(ele).parent().append("<span class='errorUser user-margin-0' style='color:red;float:right;'><img src='../../Images/alert.png' style='  width: 18px;'/></span>"));
                    })
                else
                    $("#Cartform").submit();
            })
            $(".btnRemoveItemCart").click(function (e) {
                var id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: $(this).attr('data-url'),
                    data: { id: id },
                    cache: false,
                    dataType: "json",
                    success: function (dt) {
                        var target = e.target.hasAttribute('data-url') == true ? e.target : e.target.parentElement;
                        if (dt.result == true) {
                            $(target).parent().parent().remove();
                            $("#header-count-cart").html(dt.newValue);
                            $("#header-count-cart-left").html(dt.newValue);
                            var l = $(".user-totalpriceProduct");
                            var money = 0;
                            $("#totalPriceAll").text('0 đ')
                            for (var i = 0; i < l.length; i++)
                                money += Number($(l[i]).attr('data-totalmoney')), $("#totalPriceAll").text(format_money(money) + " đ")
                        }
                        else alert("Dont delete")
                    }, error: function (error) { }
                }); //end ajax call
            });
            $(".btnSelectSize").click(function () {
                var id = $(this).attr('data-id'), indx = $(this).attr('data-ind'),
                    lstValue = $(this).attr('data-value').split(',');
                $("#modal_Select").children(".modal-content").children().remove();
                var modal_content = $("#modal_Select").children(".modal-content");
                modal_content.append("<h4 class='user-text-center'>List Size</h4>")
                $.map(lstValue, function (ele, ind) {
                    for (var i = 0; i < gListSize.length; i++) {
                        if (gListSize[i].SizeId == ele) {
                            modal_content.append("<a class='btnModalAddChooseSize cursor-point' data-id='" + ele + "' data-pid='" + id + "' data-ind='" + indx + "'><div class='itemModalSize'>" + gListSize[i].SizeName + "</div></a>");
                        }
                    }
                })
                modal_content.append("<div class='clearfix'></div>")
                $("#modal_Select").openModal();
            })
        })
        $(document).on('click', '.btnModalAddChooseSize', function (e) {
            var tar = $(e.target).hasClass("itemModalSize") ? $(e.target).parent() : $(e.target);
            tar.attr('data-id'), tar.attr("data-ind");
            $(".formCart").find('input[type="hidden"][name="[' + tar.attr('data-ind') + '].Size"]').val(tar.attr('data-id'));
            $(".spanSize[data-ind='" + tar.attr("data-ind") + "']").text(tar.children().text());
            $("#modal_Select").closeModal();
        })
        function format_money(n) {
            n = parseFloat(n);
            return n.toFixed(0).replace(/./g, function (c, i, a) {
                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
            });
        };
    </script>
}
@section CSS{
    <style>
        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            opacity: 1;
        }
        .itemModalSize {
            /* width: 60px; */
            /* height: 60px; */
            background: #0A8255;
            padding: 20px;
            display: inline-table;
            color: white;
            vertical-align: middle;
            margin: 10px;
            /* float: left; */
            border-radius: 50%;
            text-align: center;
            border-left: 1px solid #ccc;
            border-right: 1px solid coral;
            cursor: pointer;
            -webkit-box-shadow: 0 1px 0 #fff inset;
            -moz-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 5px #fff inset;
            /* -webkit-border-radius: 0 2px 2px 0; */
            -moz-border-radius: 0 2px 2px 0;
            -ms-border-radius: 0 2px 2px 0;
            -o-border-radius: 0 2px 2px 0;
            /* border-radius: 0 2px 2px 0; */
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
            background-image: -webkit-linear-gradient(#fafafa, #ececec);
            background-image: -moz-linear-gradient(#fafafa, #ececec);
            background-image: -o-linear-gradient(#fafafa, #ececec);
            background-image: linear-gradient(#fafafa,#ececec);
            /* margin-right: 5px; */
            color: black;
        }
    </style>
}