@{
    ViewBag.Title = "OrderOnlineFail";
    var lstProduct = (List<HTTelecom.Domain.Core.DataContext.mss.Product>)ViewBag.Products;
    var lstOrderDetail = (List<HTTelecom.Domain.Core.DataContext.ops.OrderDetail>)ViewBag.LstOrderDetails;
    var cus = (HTTelecom.Domain.Core.DataContext.cis.Customer)ViewBag.Cus;
    var index = 1;
    double total = 0;
    var Banks = (List<HTTelecom.Domain.Core.DataContext.cis.Bank>)ViewBag.Banks;
    var Provines = (List<HTTelecom.Domain.Core.DataContext.ams.Province>)ViewBag.Provines;
    var Districts = (List<HTTelecom.Domain.Core.DataContext.ams.District>)ViewBag.Districts;
    ViewBag.Back = Url.Action("Index", "Home");

}
@model HTTelecom.Domain.Core.DataContext.ops.Order
@if (TempData["gMessageCurrent"] != null)
{
    var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
    <div class="row">
        <div class="col s12" style="text-align:center;color:red;">
            @foreach (var item in gMessageCurrent)
            {
                <p>@item</p>
            }
        </div>
    </div>
            TempData.Remove("gMessageCurrent");
}
@if (Model != null)
{
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family:arial;font-size:12px;color:#000">
        <tbody>
            <tr>
                <td width="100%" style="background:#3fd181" align="center">
                    <table cellpadding="0" cellspacing="0" border="0" width="705">
                        <tbody>

                            <tr>
                                <td style="border:2px solid #d3e8f3;border-top:none;border-left:none">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#fff;border:1px solid #b1d9ee">
                                        <tbody>
                                            <tr>
                                                <td width="100%" style="padding:25px 20px 0" align="left">

                                                    <div style="padding:25px 0 10px;margin:0;font-size:15px"><b>Kính chào @Model.CustomerName!</b></div>
                                                    <div style="margin:0;padding:0">
                                                        Galagala rất tiếc đơn hàng mã <strong style="color:red">@Model.OrderCode</strong> đã bị hủy vào ngày @Model.DateModified.Value.ToString(": dd/MM/yyyy, Lúc HH:mm ")
                                                        <br/><br />
                                                        Lý do hủy:<strong style="color:red"> Khách hàng không muốn mua nữa</strong>
                                                  
                                                       
                                                        @if (Model.IsPaymentConfirmed == false)
                                                        {
                                                            <p> Trạng thái đơn hàng: <strong style="color:red">Fail</strong></p>
                                                        }
                                                        
                                                    </div>
                                                  
                                                    <br />
                                                    <div style="margin:0;padding:0 0 20px;font-size:14px">
                                                        <b>THÔNG TIN ĐƠN HÀNG (Mã đơn hàng #: <a rel="nofollow" href="@(Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port + Url.Action("OrderInfor", "Product", new {Id = Model.OrderId }))" style="color:#cb0000;text-decoration:none" target="_blank">@Model.OrderCode</a>)</b>
                                                    </div>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <thead>
                                                            <tr style="color:#fff;background:#02a1dc;text-align:center">
                                                                <th style="width:44px;padding:5px 0">#</th>
                                                                <th style="width:335px;padding:5px 0">@((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo))</th>
                                                                <th style="width:150px;padding:5px 0">@((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))</th>
                                                                <th style="width:47px;padding:5px 0">@((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo))</th>
                                                                <th style="width:150px;padding:5px 0">@((string)ViewBag.multiRes.GetString("total", ViewBag.CultureInfo))</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in lstOrderDetail)
                                                            {
                                                                HTTelecom.Domain.Core.DataContext.mss.Product p = lstProduct.Where(pp => pp.ProductId == item.ProductId).FirstOrDefault();
                                                                var hrefProduct = p.ProductTypeCode == "PT1" ? "OrdProduct" : p.ProductTypeCode == "PT2" ? "SaleProduct" : p.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
                                                                var price = p.PromotePrice != null && p.PromotePrice < p.MobileOnlinePrice ? p.PromotePrice : p.MobileOnlinePrice;
                                                                var quantity = item.OrderQuantity;
                                                                <tr>
                                                                    <td align="center" valign="top" style="padding:10px;border:1px solid #c8ebfe;border-width:0 0 1px 1px;font-family:Tahoma">@index</td>
                                                                    <td valign="top" style="padding:10px;border:1px solid #c8ebfe;border-width:0 0 1px 1px">
                                                                        <a href="@Url.Action(hrefProduct, "Product", new { id = item.ProductId, urlName = p.Alias, urlNameStore = p.Store.Alias })">
                                                                            @p.ProductName
                                                                        </a>
                                                                    </td>
                                                                    <td align="right" valign="top" style="padding:10px;border:1px solid #c8ebfe;border-width:0 0 1px 1px;font-family:Tahoma">@string.Format("{0:0,0 đ}", price)</td>
                                                                    <td align="center" valign="top" style="padding:10px;border:1px solid #c8ebfe;border-width:0 0 1px 1px;font-family:Tahoma">@quantity</td>
                                                                    <td align="right" valign="top" style="padding:10px;border:1px solid #c8ebfe;border-width:0 1px 1px;font-family:Tahoma">@string.Format("{0:0,0 đ}", price * quantity)</td>
                                                                </tr>
                                                                total += Convert.ToDouble(price * quantity);
                                                                index++;
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th valign="top" align="center" style="border:1px solid #c8ebfe;border-width:0 0 1px 1px;padding:10px;font-family:Tahoma" colspan="4">@((string)ViewBag.multiRes.GetString("subtotalfee", ViewBag.CultureInfo))</th>
                                                                <th valign="top" align="right" style="border:1px solid #c8ebfe;border-width:0 1px 1px;padding:10px;font-family:Tahoma" class="text-right">@string.Format("{0:0,0 đ}", total)</th>
                                                            </tr>
                                                            <tr>
                                                                <th valign="top" align="center" style="border:1px solid #c8ebfe;border-width:0 0 1px 1px;padding:10px;font-family:Tahoma" colspan="4">@((string)ViewBag.multiRes.GetString("taxfee", ViewBag.CultureInfo))</th>
                                                                <th valign="top" align="right" style="border:1px solid #c8ebfe;border-width:0 1px 1px;padding:10px;font-family:Tahoma" class="text-right">@string.Format("{0:0,0 %}", 0)</th>
                                                            </tr>
                                                            <tr>
                                                                <th valign="top" align="center" style="border:1px solid #c8ebfe;border-width:0 0 1px 1px;padding:10px;font-family:Tahoma" colspan="4">@((string)ViewBag.multiRes.GetString("shippingfee", ViewBag.CultureInfo))</th>
                                                                <th valign="top" align="right" style="border:1px solid #c8ebfe;border-width:0 1px 1px;padding:10px;font-family:Tahoma" class="text-right">@string.Format("{0:0,0 đ}", 0)</th>
                                                            </tr>
                                                            <tr>
                                                                <th valign="top" align="center" style="border:1px solid #c8ebfe;border-width:0 0 1px 1px;padding:10px;font-family:Tahoma" colspan="4">@((string)ViewBag.multiRes.GetString("transactionfee", ViewBag.CultureInfo))</th>
                                                                <th valign="top" align="right" style="border:1px solid #c8ebfe;border-width:0 1px 1px;padding:10px;font-family:Tahoma" class="text-right">@string.Format("{0:0,0 đ}", 0)</th>
                                                            </tr>
                                                            <tr>
                                                                <th valign="top" align="center" style="border:1px solid #c8ebfe;border-width:0 0 1px 1px;padding:10px;font-family:Tahoma" colspan="4">@((string)ViewBag.multiRes.GetString("total_price", ViewBag.CultureInfo))</th>
                                                                <th valign="top" align="right" style="border:1px solid #c8ebfe;border-width:0 1px 1px;padding:10px;font-family:Tahoma" class="text-right">@string.Format("{0:0,0 đ}", total)</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    <div style="padding:0;margin:20px 0 0;font-size:14px"><b>THÔNG TIN KHÁCH HÀNG:</b></div>
                                                    <table border="0" cellpadding="0" cellspacing="1" style="margin-top:10px">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:4px 8px;background:#c8ebfe;width:60px">@( (string)ViewBag.multiRes.GetString("username", ViewBag.CultureInfo)):</td>
                                                                <td style="padding:4px 30px 4px 8px;background:#e3f5ff"><b>@cus.FirstName @cus.LastName</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:4px 8px;background:#c8ebfe;width:60px">@( (string)ViewBag.multiRes.GetString("phone", ViewBag.CultureInfo)):</td>
                                                                <td style="padding:4px 30px 4px 8px;background:#e3f5ff"><b>@cus.Phone</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:4px 8px;background:#c8ebfe;width:60px">@( (string)ViewBag.multiRes.GetString("address", ViewBag.CultureInfo)):</td>
                                                                <td style="padding:4px 30px 4px 8px;background:#e3f5ff">@cus.Address</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                    <ul style="margin:10px 0 0;padding:0">
                                                        <li style="list-style:disc outside;padding:0 0 10px;line-height:150%">
                                                            Cảm ơn quý khách đã mua sắm tại <a href="@(Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port)" target="_blank"><strong>Galagala.vn</strong></a>!
                                                        </li>
                                                        
                                                    </ul>
                                                 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Tahoma;font-size:11px">
                                    <div style="margin:0;padding:20px 0"><b>Thông tin hỗ trợ (Từ 8h đến 17h)</b></div>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="color:#6c6f70">
                                        <tbody>
                                            <tr>
                                                <td style="border-left:1px solid #d3e8f3;padding:0 0 2px 5px" width="25%">
                                                    <div style="margin:0;padding:0 0 9px"><b>Tp. Hồ Chí Minh</b></div>
                                                    <div style="margin:0;padding:0 0 4px">Hotline: (08) 54138398</div>
                                                    <div style="margin:0;padding:0">Gmail: hopthanhbusiness@gmail.com</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}