@{
    ViewBag.LayoutTitle = "Galagala";
    var Order = (HTTelecom.Domain.Core.DataContext.ops.Order)ViewBag.Order;
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
<div class="user-breadcrumb user-flat">
    <a class="active" style="width: 33%;">@((string)ViewBag.multiRes.GetString("create_order", ViewBag.CultureInfo))</a>
    <a class="active" style="width: 33%;">@((string)ViewBag.multiRes.GetString("information_order", ViewBag.CultureInfo))</a>
    <a class="active" style="width: 34%;">@((string)ViewBag.multiRes.GetString("checkout", ViewBag.CultureInfo))</a>
</div>
<div class="row backgournd-color-white user-margin-20 user-border-radius-5 user-border-shadom" style="padding:10px;">
    <div class=" col s12 m12  user-margin-bottom-10">
        <p> <a class="user-color-green"><i class="fa-icon fa-icon-check-131"></i></a>@((string)ViewBag.multiRes.GetString("alert_youcreatedorderid", ViewBag.CultureInfo)) : @Order.OrderCode</p>
        <p style="margin-left:17px;">@((string)ViewBag.multiRes.GetString("alert_thankyouforchampiongala", ViewBag.CultureInfo))</p>
        <p style="margin-left:17px;"><a href="@Url.Action("OrderInfor", "Product", new { id = Order.OrderId })">@((string)ViewBag.multiRes.GetString("alert_clickthis", ViewBag.CultureInfo))</a> , @((string)ViewBag.multiRes.GetString("alert_toviewinfo", ViewBag.CultureInfo))</p>
        <p class="text-right"><a href="/">@((string)ViewBag.multiRes.GetString("alert_continue_buy", ViewBag.CultureInfo))</a></p>
    </div>
</div>
