@{
    var Model = (HTTelecom.Domain.Core.DataContext.mss.Product)ViewBag.Model;
    var ListMedia = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListMedia;
    //var ProductInMediaOrtherProduct = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMediaOrtherProduct;
    //var ListProductCategoryOther = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListProductCategoryOther;
    var ListColour = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListColour;
    var isAddedtocart = (bool)ViewBag.isAddedtocart;
    var strbtnAdd = isAddedtocart == true ? "" : "<i class='fa-icon fa-icon-check-131' style='float:left;transform: scale(0.38);'></i> " + ((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo));
    var lstWishList = (List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists;
    var ListGift = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Gift, HTTelecom.Domain.Core.DataContext.mss.Media>>)ViewBag.ListGift;
    //var Brand = (Tuple<HTTelecom.Domain.Core.DataContext.mss.Brand, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.Brand;
    //var ListReview = (List<HTTelecom.Domain.Core.DataContext.mss.Review>)ViewBag.ListReview;
    //ViewBag.LayoutTitle = Model.ProductName;
    var ProductInMedia = ListMedia.Where(n => n.Media.MediaType.MediaTypeCode == "PRODUCT-2").ToList();
    var complexBanner = ListMedia.Where(n => n.Media.MediaType.MediaTypeCode == "PRODUCT-1").ToList();
    var ListSizeGlobal = (List<HTTelecom.Domain.Core.DataContext.mss.SizeGlobal>)ViewBag.ListSizeGlobal;
    var ListSize = (List<HTTelecom.Domain.Core.DataContext.mss.Size>)ViewBag.ListSize;
    // var ListWeight = (List<HTTelecom.Domain.Core.DataContext.ams.Weight>)ViewBag.lstWeight;
    var lstProvince = (List<HTTelecom.Domain.Core.DataContext.ams.Province>)ViewBag.lstProvince;
    var lstDistrict = (List<HTTelecom.Domain.Core.DataContext.ams.District>)ViewBag.lstDistrict;
    var itemWishListCurrent = lstWishList.Where(n => n.ProductId == Model.ProductId && n.IsActive == true).ToList();
    var statusProduct = (HTTelecom.Domain.Core.DataContext.mss.ProductStatus)ViewBag.StatusProduct;
    ViewBag.Back = Url.Action("Index", "Store", new { id = Model.StoreId, urlName = Model.Store.Alias });
    ViewBag.LayoutTitle = Model.MetaTitle;
    ViewBag.LayoutKeywords = Model.MetaKeywords;
    ViewBag.LayoutDescription = Model.MetaDescription;
    ViewBag.Layout_ogTitle = Model.MetaTitle;
    if (ProductInMedia.Count > 0)
    {
        ViewBag.Layout_image = (HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + ProductInMedia[0].Media.Url + ProductInMedia[0].Media.MediaName);
    }
    ViewBag.Layout_description = Model.MetaDescription;
}
<!--------------Layout Panel : Label-------------->
<div class="user-text-center panel-tranform">
    <a href="@Url.Action("TranformProduct", "Product", new { id = Model.ProductId, type = 1 })">
        <span style="position:absolute;top:0px;left:0px;height:38px;">
            <i class="fa-icon fa-icon-left-81 user-transform-05" style="margin-top:2px;"></i>
        </span>
    </a>
    <a href="@Url.Action("TranformProduct", "Product", new { id = Model.ProductId, type = 2 })">
        <span style="position:absolute;top:0px;right:0px;height:38px;">
            <i class="fa-icon fa-icon-right-44 user-transform-05" style="margin-top:2px;"></i>
        </span>
    </a>
    @Model.ProductName
</div>
<!--------------Layout Panel : Swipe Product-------------->
<!--------------Main-------------->
<div class="group-panel">
    <div class="col s12 m12 user-text-center">
        @if (ListGift.Count > 0)
        {
            var str = ((string)ViewBag.multiRes.GetString("gift", ViewBag.CultureInfo)) + ":";
            foreach (var item in ListGift)
            {
                str += item.Item1.GiftName + " + ";
            }
            <p>@str.Substring(0, str.Length - 3)</p>
        }
        <h5>
            @(Model.ProductComplexName != null && Model.ProductComplexName.Length > 0 ? Model.ProductComplexName : Model.ProductName)
            @(Model.Colour != null ? "(" + Model.Colour + ")" : "")
        </h5>
    </div>
    @if (ProductInMedia.Count > 0)
    {
        <div class="col s12 m12 " style="position:relative;">
            <span id="btn-full-screen" data-target="show-full-screen">
                <img src="~/Images/zoom.png" alt="zoom-image" width="25" height="25" />
            </span>
            <div class="owl-carousel user-SliderStore show-full-screen" id="lstProduct">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialList.cshtml",
                      new Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, bool>(ProductInMedia, false));}
            </div>
            @if (Model.MobileOnlinePrice.HasValue && Model.PromotePrice.HasValue && Model.MobileOnlinePrice != 0 && Model.PromotePrice < Model.MobileOnlinePrice)
            {
                var discount = 100 - (Model.PromotePrice * 100 / Model.MobileOnlinePrice);
                if (discount >= 5)
                {
                    <div class="user-margin-top-5 user-margin-bottom-0 user-text-center" id="discount-product">
                        @((string)ViewBag.multiRes.GetString("discount", ViewBag.CultureInfo))
                        @Math.Round(Convert.ToDouble(discount), 0)%
                    </div>
                }
            }
        </div>
    }
    @if (ListColour.Count > 0)
    {
        //var countColor = "width:" + ListColour.Count * 150 + "px";
        <div class="col s12 user-SliderProduct-Product" style=" overflow-y: auto;">
            <div class="user-SliderProduct user-SliderProduct-Colour user-padding-top-10 user-padding-bottom-10"
                 style="border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;white-space: nowrap;">
                @{Html.RenderPartial("~/Views/Shared/Template/_PartialColour.cshtml",
                  (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)
                      ListColour);}
            </div>
        </div>
    }
    @using (Html.BeginForm("BuyNow", "Product", FormMethod.Post, new { id = "BuyNowform" }))
    {
        @Html.Hidden("urform", (string)ViewBag.u)@Html.Hidden("ProductId", (long)Model.ProductId)
        <div class="col s12 m12 l12  user-padding-left-10 user-padding-right-10 user-padding-0 user-text-center">
            <div class="row user-margin-0">
                <div class=" col s12 user-padding-5">
                    @((string)ViewBag.multiRes.GetString("product_number", ViewBag.CultureInfo)):
                    <a style="color: #039be5; ">@("P" + Model.ProductCode)</a>
                </div>
            </div>
        </div>
        if (Model.ProductOutLine != null)
        {
            var lstOutlinex = Model.ProductOutLine.Split(';').ToList();
            <figure class="col s12 m12 l12">
                <div class="user-raw outline" style="overflow: hidden; padding: 10px 0px;">
                    @foreach (var itemOutline in lstOutlinex)
                    {
                        <p><img src="~/Images/itemoutline.png" alt="Galagala" style="margin-bottom: 2px; margin-right: 5px; " /> @Html.Raw(itemOutline)</p>
                    }
                </div>
            </figure>
        }
        <div class="col s12 m12 l12" style="padding:0px;">
            <div class="row" style="margin:0px;">
                <div class="col s12" id="divBuyNow" style="padding:0px 10px;">
                    <div>
                        <div>
                            @if (Model.PromotePrice.HasValue == true && Model.PromotePrice.Value < Model.MobileOnlinePrice.Value)
                            {
                                <p class="user-color-red user-text-uppercase" style="clear: both; text-align: center; margin: 0px; font-weight: bolder; font-size: 15px; ">
                                    @string.Format("{0:0,0 đ}", Model.PromotePrice)
                                </p>
                                <p class="user-color-blank user-text-uppercase" style="clear: both; text-align: center; margin: 0px; font-weight: bolder; font-size: 11px; text-decoration: line-through;">
                                    @string.Format("{0:0,0 đ}", Model.MobileOnlinePrice)
                                </p>
                            }
                            else
                            {
                                <p class="user-color-red user-text-uppercase" style="clear: both; text-align: center; margin: 0px; font-weight: bolder; font-size: 15px; ">
                                    @string.Format("{0:0,0 đ}", Model.MobileOnlinePrice)
                                </p>
                            }
                        </div>
                        <div>
                            <p class="user-margin-0 user-text-center" style="font-weight: bold; color: @( statusProduct.ProductStatusCode == "PSC1" ? "green" : "red")">
                                @((string)ViewBag.multiRes.GetString(statusProduct.Description, ViewBag.CultureInfo))
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            @{var strDisplaySize = ListSizeGlobal.Count > 0 && ListSizeGlobal[0].Code == "OneSize" ? "display:none;" : "";}
                            @if (ListSizeGlobal.Count > 0 && ListSizeGlobal[0].Code == "OneSize")
                            {
                                @((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo))
                            }
                            <select class="browser-default user-col-0 user-margin-0" id="combo-ListSize" name="SizeId" style="line-height: 28px; height: 28px; border: 1px solid green;@strDisplaySize ">
                                @if (ListSizeGlobal.Count > 0 && ListSizeGlobal[0].Code == "OneSize")
                                {
                                    <option value="" disabled>@((string)ViewBag.multiRes.GetString("size", ViewBag.CultureInfo))</option>
                                    <option value="@ListSize[0].SizeId" selected>@ListSize[0].SizeName</option>
                                }
                                else
                                {
                                    <option value="" disabled selected>@((string)ViewBag.multiRes.GetString("size", ViewBag.CultureInfo))</option>
                                    foreach (var item in ListSize)
                                    {
                                        <option value="@item.SizeId">@item.SizeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div>
                            <select class="browser-default user-col-0 user-margin-0"
                                    id="numBuyNow"
                                    name="numBuyNow" @(statusProduct.ProductStatusCode == "PSC1" ? "" : "disabled")
                                    style="line-height: 28px; height: 28px; border: 1px solid green;">
                                <option value="" disabled>@((string)ViewBag.multiRes.GetString("quantity", ViewBag.CultureInfo))</option>
                                <option value="1" selected>1</option>
                                @for (int i = 2; i <= 50; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s12" style=" margin-bottom: 10px;">
                    @if (statusProduct.ProductStatusCode == "PSC1")
                    {
                        <a class="btn waves-orange" id="btnSubmitBuyNow" data-target="BuyNowform" data-partial='@Url.Action("Login", "Particle", new { ur = ViewBag.u })' data-data='@Model.ProductId' data-object="numBuyNow" style="width: 100%; background-color: red; height: 29px; line-height: 29px; padding: 0px;">
                            @((string)ViewBag.multiRes.GetString("buynow", ViewBag.CultureInfo))
                        </a>
                    }
                    else
                    {
                        <a class="btn waves-orange" style="width: 100%; background-color: red; opacity: 0.4; height: 29px; line-height: 29px; padding: 0px;" onclick="alert('@(Html.Raw((string)ViewBag.multiRes.GetString("alert_product_expired", ViewBag.CultureInfo)))')">
                            @((string)ViewBag.multiRes.GetString("buynow", ViewBag.CultureInfo))
                        </a>
                    }
                    <p class="user-text-right">
                        <a id="btnDelivery" class="cursor-point">
                            @((string)ViewBag.multiRes.GetString("information_delivery", ViewBag.CultureInfo))
                        </a>
                    </p>
                </div>
            </div>

        </div>
    }
</div>
<!--------------Secound-------------->
<div class="group-panel">
    <!--Layout Panel: 2-->
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("product_details", ViewBag.CultureInfo))
    </h4>
    <!--product_sets-->
    @if (Model.ProductSets != null)
    {
        <figure class="user-margin-0 user-padding-0">
            <div class="user-raw" style="overflow: hidden; padding: 10px 15px;">
                <strong>
                    @((string)ViewBag.multiRes.GetString("product_sets", ViewBag.CultureInfo))
                </strong>
                <p>
                    @{var lstOutlinex = Model.ProductSets.Split(';').ToList();};
                    @foreach (var itemOutline in lstOutlinex)
                    {
                        @itemOutline @("x")
                    }
                </p>
            </div>
        </figure>
    }
    <!--introduction==>featured-->
    <!--introduction==>Product Description-->
    @if (Model.ProductDetail != null)
    {
        <figure class="user-margin-0 user-padding-0" style="  border-bottom: 1px solid #ddd;">
            <div class="user-raw" style="overflow: hidden; padding:5px;">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductDetail.Replace("../../", HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect)))
            </div>
        </figure>
    }
</div>

<!--------------Specification-------------->
<!--outline =>specifications-->
@if (Model.ProductSpecification != null)
{
    var lstSpec = Model.ProductSpecification.Split(';').ToList();
    <div class="group-panel">
        <h4 class="title-header">
            @((string)ViewBag.multiRes.GetString("specifications", ViewBag.CultureInfo))
        </h4>
        <div class="user-raw" style="overflow: hidden; padding: 10px 15px;">
            @foreach (var item in lstSpec)
            {
                <p>@Html.Raw("&#8226") @Html.Raw(item)</p>
            }
        </div>
    </div>
}
<!--------------Bao Hanh-------------->
@if (Model.ProductTermService != null)
{
    <div class="group-panel">
        <h4 class="title-header">
            @((string)ViewBag.multiRes.GetString("warranty_information", ViewBag.CultureInfo))
        </h4>
        <div class="user-raw" style="overflow: hidden; padding: 10px 15px;">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductTermService))
        </div>
    </div>
}
<!--------------Layout Panel : ProductCategory-------------->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("category_product", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-SliderProduct-Product" style="overflow-x: auto; overflow-y: hidden;">
        <div id="h_product_category"
             style="text-align: center; white-space: nowrap;">
            <img src="~/Images/ajax-loader-fb.gif" style="  margin: 60px 0px;" />
        </div>
    </div>
</div>
<!--------------Layout Panel : ProductTop-------------->
@*<div class="row user-margin-10 backgournd-color-white user-border-radius-5" style="box-shadow: 1px 1px 1px 1px #c3c3c3;">
        <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
            @((string)ViewBag.multiRes.GetString("top_product", ViewBag.CultureInfo))
        </h4>
        <div class="col s12 m12 user-SliderProduct-Product" style="overflow: hidden;">
            <div style="overflow-x:auto;overflow-y:hidden;">
                <div class="owl-carousel user-SliderProduct user-SliderProduct-other"
                     id="h_product_top_store"
                     style="height: 157px;text-align:center;">
                    <img src="~/Images/ajax-loader-fb.gif" style="  margin: 60px 0px;" />
                </div>
            </div>
        </div>
    </div>*@
<!--------------Layout Panel : ProductViewed-------------->
<div class="group-panel">
    <h4 class="title-header">
        @((string)ViewBag.multiRes.GetString("viewed_product", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-SliderProduct-Product" style=" overflow-x: auto;">
        <div id="h_product_recent" style="text-align: center; white-space: nowrap;">
            <img src="~/Images/ajax-loader-fb.gif" style="margin: 60px 0px;" />
        </div>
    </div>
</div>
<!--------------Layout Panel : BuyNow & AddtoCart-------------->
<div id="pnlProductPrice">
    <div class="row pnl-content" style="background: red;">
        <a class="col s4 btnAddToWishlist-Product"
           style="border-right: 1px solid white; " data-id="@Model.ProductId" data-url="@Url.Action("AddToWishlist", "Product", new { id = Model.ProductId })" data-value='@(itemWishListCurrent.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = Url.Action("OrdProduct", "Product", new { id = Model.ProductId, urlName = Model.Alias, urlNameStore = Model.Store.Alias }) })" data-x="fa-icon fa-icon-heart-23" data-y="fa-icon fa-icon-heart-124" data-language-x="@((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))" data-language-y="@((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo))">
            @(itemWishListCurrent.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-23 user-transform-05' style='float:left;transform: scale(0.45);  margin: 0px;padding: 0px;margin-left: -3px;'></i> " + ((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))) : Html.Raw("<i class='fa-icon fa-icon-heart-124' style='float:left;transform: scale(0.4);margin-right: 15px;'></i>" + ((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo))))
        </a>
        @{
            var url = HttpContext.Current.Request.Url.ToString();
        }
        @*@HttpUtility.UrlEncode(url)*@
        <a class="col s4"
           href="https://www.facebook.com/sharer/sharer.php?u=@("http://galagala.vn:88"+ViewBag.u)"
           target="_blank" id="facebook-share"
           style="border-right: 1px solid white;">
            <i class="fa-icon fa-icon-share-56 user-transform-05"></i>
            @((string)ViewBag.multiRes.GetString("share", ViewBag.CultureInfo))
            <span style=" float: right;margin-right:5px;"></span>
        </a>
        @if (statusProduct.ProductStatusCode == "PSC1")
        {
            <a class="col s4"
               id="btnAddToCart" data-id="@Model.ProductId" data-url="@Url.Action("AddToCart", "Product", new { id = Model.ProductId })" data-language="@strbtnAdd">
                <i class="fa-icon fa-icon-bag-117 user-transform-05"></i>
                @((string)ViewBag.multiRes.GetString("addtocart", ViewBag.CultureInfo))
            </a>
        }
        else
        {
            <a class="col s4"
               onclick="alert('@(Html.Raw((string)ViewBag.multiRes.GetString("alert_product_expired", ViewBag.CultureInfo)))')">
                <i class="fa-icon fa-icon-bag-117 user-transform-05"></i>
                @((string)ViewBag.multiRes.GetString("addtocart", ViewBag.CultureInfo))
            </a>
        }
    </div>
</div>
<div id="modelDelivery" class="modal">
    <div class="modal-content" style=" padding: 15px;">
        <div class="col s12 user-padding-10">
            <div class="row user-col-0 user-margin-0">
                <div id="shipping" style="overflow:hidden">
                    <div class="col s6 user-margin-bottom-10">
                        <label style=" height: 28px; line-height: 28px;">
                            @((string)ViewBag.multiRes.GetString("province", ViewBag.CultureInfo)):
                        </label>
                    </div>
                    <div class="col s6 user-margin-bottom-10">
                        @Html.DropDownList("ProvinceId",
                    new SelectList(lstProvince, "ProvinceId", "ProvinceName", null),
                    ((string)ViewBag.multiRes.GetString("province", ViewBag.CultureInfo)),
                    new
                    {
                        @class = "browser-default",
                        style = "width: 100%; height: 28px;text-align:center; border: 1px solid green;"
                    })
                    </div>
                    <div class="col s6 user-margin-bottom-10 ">
                        <label style=" height: 28px; line-height: 28px;">
                            @((string)ViewBag.multiRes.GetString("district", ViewBag.CultureInfo)):
                        </label>
                    </div>
                    <div class="col s6 user-margin-bottom-10">
                        <select id="DistrictId" name="DistrictId" class="browser-default" style="width: 100%; height: 28px; float: right; border: 1px solid green;"></select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col s12 user-text-center">
                    <a class="user-margin-0" id="cost_Weight"></a>
                </div>
            </div>
            <div class="col s12 user-margin-0 user-padding-0 user-margin-top-10" style="font-style: italic;">
                @Html.Raw(ViewBag.Freeship)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@((string)ViewBag.multiRes.GetString("close", ViewBag.CultureInfo))</a>
    </div>
</div>
@*<div class="fb-share-button" data-href="http://galagala.vn:88/It&#039;s%20Well%20plus-1/tinh-chat-phuc-hoi-da-346.html" data-layout="button_count"></div>*@
@*<div class="col s4 fb-share-button" data-href="@ViewBag.u" data-layout="button_count"></div>*@
@*<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/" + "@(ViewBag.currentLanguage == "vi" ? "vi_VN" : "en_EN")" + "/sdk.js#xfbml=1&version=v2.4&appId=1482929168667097";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@
@section JavaScript {
    <script>
        (function () {
            $("#lstProduct").owlCarousel({
                navigation: false,
                slideSpeed: 300,
                singleItem: true
            });
            var gPosition = -1;
            $(window).scroll(function () {
                if ($(window).scrollTop() >= gPosition + 100) {
                    $("#pnlProductPrice").fadeIn("slow");
                    //$("#pnlStoreFilter").fadeIn("slow");
                    gPosition = $(window).scrollTop();
                }
                if ($(window).scrollTop() < gPosition - 100) {
                    $("#pnlProductPrice").fadeOut("fast");
                    //$("#pnlStoreFilter").fadeOut("fast");
                    gPosition = $(window).scrollTop();
                }
            });
            dataLink = dataLink || {};
            dataLink.p.category = {
                link: '@Url.Action("p", "Particle", new { type = 5, id = Model.ProductId})',
                target: '#h_product_category',
                next: '.swiper-button-next-swiper-category',
                prev: '.swiper-button-prev-swiper-category'
            }
            dataLink.p.top_store = {
                link: '@Html.Raw(Url.Action("p", "Particle", new { id = Model.ProductId, type = 6 , sId = Model.StoreId}))',
                target: '#h_product_top_store',
                next: '.swiper-button-next-swiper-top_store',
                prev: '.swiper-button-prev-swiper-top_store'
            }
            Galagala.product.statusItem = '@ViewBag.StatusProductItem';
            var gListSize = [], gListWeight = [], gListDistrict = [];
            @foreach (var item in ListSize)
            {
                <text>gListSize.push({ SizeId: '@item.SizeId', SizeName: '@item.SizeName', SizeGlobalId: '@item.SizeGlobalId' });</text>
            }
            @foreach (var item in lstDistrict)
            {
                <text>gListDistrict.push({ pid: '@item.ProvinceId', did: '@item.DistrictId', n: '@item.Type' + ' ' + '@item.DistrictName' });</text>
            }
            $("#ProvinceId").change(function (e) {
                var id = $(this).val();
                $("#date_Weight").text();
                $("#cost_Weight").text();
                $("#DistrictId").children().remove();
                $.map(gListDistrict, function (ele, ind) {
                    if (ele.pid == id) {
                        $("#DistrictId").append("<option value='" + ele.did + "'>" + ele.n + "</option>")
                    }
                })
                var province = $("#ProvinceId").val();
                //Load Giá tiền vân chuyển,
                var lstProduct = [];
                lstProduct.push({ ProductId: '@Model.ProductId', Quantity: $("#numBuyNow").val() });
                var jJson = { lstProduct: lstProduct };
                getShip({ ProvinceId: parseFloat(province), lstProduct: JSON.stringify(jJson) })
            })
            $("#btnDelivery").click(function () {
                var province = $("#ProvinceId").val();
                //Load Giá tiền vân chuyển,
                var lstProduct = [];
                lstProduct.push({ ProductId: '@Model.ProductId', Quantity: $("#numBuyNow").val() });
                var jJson = { lstProduct: lstProduct };
                getShip({ ProvinceId: parseFloat(province), lstProduct: JSON.stringify(jJson) })

                $("#modelDelivery").openModal();

            })
            $(document).ready(function () {

                Galagala.product.get.p_category()
                share()
                //Galagala.product.get.p_store()
                @*$("#btnShare").click(function () {
                    @ViewBag.u
                    http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]
                    //var t = $(this);
                    //share(t.attr('data-href'));
                })*@

                $("#btnAddToCart").click(function (e) {
                    var id = $(this).attr('data-id'),
                        Size = $("select[name='SizeId']").val();
                    $(".alertErrorBuynow").remove();
                    if (Size == null) {
                        alert("Please select Size")
                        $('html,body').animate({ scrollTop: $(".alertErrorBuynow").offset().top - 200 })
                        return;
                    }
                    if ($("select[name='numBuyNow']").val() == null || $("select[name='numBuyNow']").val() > 5 || $("select[name='numBuyNow']").val() < 0) {
                        alert("Please select Size")
                        $('html,body').animate({ scrollTop: $(".alertErrorBuynow").offset().top - 200 })
                        return;
                    }
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('data-url'),
                        data: { id: id, Size: Size, Quantity: $("select[name='numBuyNow']").val() },
                        cache: false,
                        dataType: "json",
                        success: function (dt) {
                            if (dt.result == true) {
                                $("#header-count-cart").html(dt.newValue);
                                $("#header-count-cart-left").html(dt.newValue);
                                window.location = dt.url;
                            }
                        }, error: function (error) { }
                    }); //end ajax call
                });
                $(".user-button-view-less-colapsible").click(function () {
                    var target = $(this).attr("data-target"); $('.collapsible-header[data-target="' + target + '"]').click();
                });
                $(".btnClickSize").click(function (e) {
                    var tar = $(this);
                    var lst = $(".btnClickSize");
                    $.map(lst, function (ele, ind) {
                        if ($(ele).attr("value") == $(tar).attr("value"))
                            $(ele).css("background", "red");
                        else
                            $(ele).css("background", "#a3a3a3");
                    })
                });
                $("#btnSubmitBuyNow").click(function () {
                    $(".alertErrorBuynow").remove();
                    var target = $("#btnSubmitBuyNow"),
                        num = $("#" + target.attr('data-object')).val(),
                        f = target.attr('data-target'), Size = $("select[name='SizeId']").val();
                    if (Size == null) {
                        var alert = '<div class="user-margin-0 user-col-0 user-margin-top-5 user-margin-bottom-5 alertErrorBuynow" style="background-color: #F2DEDE;color: #A94442;padding: 10px;border-radius: 5px;">'
                        + 'Please select Size' + '</div>';
                        $("#divBuyNow").append(alert);
                        return;
                    }
                    if (num == "" || num <= 0 || isNaN(num) == true || num > 50) {
                        var alert = '<div class="user-margin-0 user-col-0 user-margin-top-5 user-margin-bottom-5 alertErrorBuynow" style="background-color: #F2DEDE;color: #A94442;padding: 10px;border-radius: 5px;">'
                        + 'Quantity must be number, between 1 to 50' + '</div>';
                        $("#divBuyNow").append(alert);
                        return;
                    } else {
                        if (gLogined)
                            $("#" + f).submit();
                        else {
                            $.ajax({
                                type: "POST",
                                url: $(this).attr('data-partial'),
                                data: { quantity: num, product: target.attr('data-data') },
                                cache: false,
                                dataType: "html",
                                success: function (dt) {
                                    $("body").append("<fieldset id='loginForm' class='modal'>" + dt + "</fieldset>");
                                    $('#loginForm').openModal();
                                }, error: function (error) { }
                            }); //end ajax call
                        }
                    }
                });


            });
            function share() {
                $.ajax({
                    type: "GET",
                    url: 'https://api.facebook.com/method/links.getStats?urls=@("http://galagala.vn:88"+ViewBag.u)&format=json&pnref=story',
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if (typeof data[0].share_count != "undefined") {
                            $("#facebook-share").children("span").html(data[0].share_count)
                        }
                    }, error: function (error) {

                    }
                }); //end ajax call

            }
            function getShip(req) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetShippingFee","Particle")',
                    data: req,
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if (data.success == true) {
                            $("#cost_Weight").html(data.message);
                        }
                        else if (data.error.length > 0) {
                        }
                    }, error: function (error) {
                        $("#menuLeft-moneyCart").text(error.responseText)
                    }
                }); //end ajax call
            }
            function LoginSubmitted(res) {
                if (res.flag == true) {
                    $("#btnSubmitBuyNow").click();
                }
                else {
                    $("#errorLogin").children().remove();
                    var err = JSON.parse(res.Message);
                    for (var i = 0; i < err.length; i++) {
                        $("#errorLogin").append(err[i]);
                    }
                }
                console.log(res);
            }
            function getListSize(e) {
                var v = e.value, tar = $("#combo-ListSize");
                var div = $("#divSize");
                div.children().remove();
                tar.children().remove();
                //<option value="" disabled selected>Size</option>
                if (gListSize.length == 0 || gListSize.length > 1)
                    tar.append("<option value='' disabled selected>Size</option>");
                $.map(gListSize, function (ele, ind) {
                    if (ele.SizeGlobalId == v) {
                        if (gListSize.length == 1)
                            tar.append("<option selected  value='" + ele.SizeId + "'>" + ele.SizeName + "</option>");
                        else
                            tar.append("<option value='" + ele.SizeId + "'>" + ele.SizeName + "</option>");
                    }
                })
            }
        })(jQuery);
    </script>
}
@section CSS{
    <style>
        .panel-tranform {
            border-style: solid;
            padding: 10px 20px;
            border-width: 1px;
            display: block;
            list-style: none;
            overflow: hidden;
            background-color: #f4f4f4;
            border-color: #dcdcdc;
            border-radius: 3px;
            margin: 0;
            position: relative;
        }

        body {
            background: white;
        }

        #main-body #banner {
            display: none;
        }

        .numberQuantity::-webkit-outer-spin-button, .numberQuantity::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
            -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);
            -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);
            box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);
        }

        .outline p {
            padding-left: 10px;
            padding-bottom: 10px;
            color: #666;
            margin: 0px;
            line-height: 1.5;
        }

        #pnlProductPrice a {
            background: red;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-align: left;
            color: white;
            padding: 0px;
            margin: 0px;
        }

            #pnlProductPrice a i {
                float: left;
                transform: scale(0.45);
                margin: 0px;
                padding: 0px;
                margin-left: -3px;
            }

        #discount-product {
            font-size: 0.8rem;
            font-size: 150%;
            position: absolute;
            top: 5px;
            left: 10px;
            z-index: 9;
            color: red;
        }

        #divBuyNow > :first-child {
            margin: 0px;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            display: table;
            height: 34px;
            border: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
        }

            #divBuyNow > :first-child > :first-child {
                border-right: 1px solid #C3c3c3;
                display: table-cell;
                width: 66.66667%;
                vertical-align: middle;
            }

            #divBuyNow > :first-child > :last-child {
                display: table-cell;
                width: 33.33333%;
                vertical-align: middle;
            }
        #divBuyNow > :nth-child(2) {
            margin:5px 0px;
            width:100%;
            height:28px;
            line-height:28px;
            clear:both;
            padding-bottom:5px;
        }
            #divBuyNow > :nth-child(2) > :first-child {
                float: left;
                height: 28px;
                width: 50%;
                padding: 0px 2px 0px 0px;
            }
            #divBuyNow > :nth-child(2) > :last-child {
                float: left;
                height: 28px;
                width: 50%;
                padding: 0px 0px 0px 2px;
                position: relative;
            }
    </style>
}