@{
    ViewBag.Title = "ProductView";
    ViewBag.Back = Url.Action("Index", "Home");
}
<div class="row user-margin-5 backgournd-color-white user-border-radius-5" style="  border: 1px solid #c5c5c5;min-height:400px;">
    <h4 class="header center user-color-main user-text-left user-padding-left-5 user-title-compoment" data-element="color" style="margin: 0px 10px;">
        Danh sách sản phẩm
    </h4>
    <div class="user-padding-5 " id="lstProductView">
    </div>
</div>
<div class=" big active" id="preloadProduct" style="display: none; text-align:center;">
    <img src="~/Images/ajax-loader-fb.gif" />
</div>
<!--------------Layout Panel : test-------------->
<div class="sortType1" style="background:#f4f4f4">
    <a href="#ViewModeChangePanel" id="changeViewMode" class="modal-trigger">
        <label class="typeSearch" data-type="0" style="width:50%" id="btnGrid">
            <i class="fa-icon fa-icon-gridview-134 user-transform-05" style="float:left"></i>
            <span>
                @((string)ViewBag.multiRes.GetString("special_views", ViewBag.CultureInfo))
            </span>
        </label>
    </a>
    <a href="#SortByModal" id="changeSortBy" class="modal-trigger">
        <label class="typeSearch" data-type="1" style="width:50%" id="btnList">
            @*<i class="fa-icon fa-icon-menu-65 user-transform-05" style="float:left"></i>*@
            <span>
                @((string)ViewBag.multiRes.GetString("sort_by", ViewBag.CultureInfo))
            </span>
        </label>
    </a>
</div>
<div id="ViewModeChangePanel" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 class="user-text-center">@((string)ViewBag.multiRes.GetString("special_views", ViewBag.CultureInfo))</h4>
        <div class="row">
            <div class="col m6 s6">
                <a class="btnViewLayout left cursor-point" id="listViewSELLING" data-value="s6" style="width:100%;">
                    <div class="left" style="height: 31px; line-height: 31px; padding-left: 10px; margin-top: 2px;">
                        @((string)ViewBag.multiRes.GetString("buy_hot", ViewBag.CultureInfo))
                    </div>
                </a>

            </div>
            <div class="col m6 s6">
                <a class="btnViewLayout left cursor-point" id="listViewNEW" data-value="s6" style="width:100%;">
                    <div class="left" style="height: 31px; line-height: 31px; padding-left: 10px; margin-top: 2px;">
                        @((string)ViewBag.multiRes.GetString("_new", ViewBag.CultureInfo))
                    </div>
                </a>
            </div>
            <div class="col m6 s6">
                <a class="btnViewLayout left cursor-point" id="listViewHIGHTLIGHTS" data-value="s6" style="width:100%;">
                    <div class="left" style="height: 31px; line-height: 31px; padding-left: 10px; margin-top: 2px;">
                       @((string)ViewBag.multiRes.GetString("high_lights", ViewBag.CultureInfo)) 
                    </div>
                </a>
            </div>
            <div class="col m6 s6">
                <a class="btnViewLayout left cursor-point" id="listViewNOMINATION" data-value="s6" style="width:100%;">
                    <div class="left" style="height: 31px; line-height: 31px; padding-left: 10px; margin-top: 2px;">
                        @((string)ViewBag.multiRes.GetString("nominations", ViewBag.CultureInfo))
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div id="SortByModal" class="modal bottom-sheet">
    <div class="modal-content" style="padding:15px;">
        <div style=" margin: 2px; border: 1px solid gainsboro; padding: 5px;">
            <h6 class="user-text-left">@((string)ViewBag.multiRes.GetString("filter", ViewBag.CultureInfo))</h6>
            <div class="row user-margin-0">
                <div class="col m4 s4">
                    <input type="radio" name="sortby" id="rNone" checked value="1">
                    <label for="rNone">
                        @((string)ViewBag.multiRes.GetString("none", ViewBag.CultureInfo))
                    </label>
                </div>
                <div class="col m4 s4">
                    <input type="radio" name="sortby" id="rPrice" value="5">
                    <label for="rPrice">
                        @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo))
                    </label>
                </div>
                <div class="col m4 s4">
                    <input type="radio" name="sortby" id="rProductName" value="2">
                    <label for="rProductName">
                        @((string)ViewBag.multiRes.GetString("name", ViewBag.CultureInfo)) 
                    </label>
                </div>
            </div>
        </div>
        <div style=" margin: 2px; border: 1px solid gainsboro; padding: 5px;">
            <h6 class="user-text-left">@((string)ViewBag.multiRes.GetString("sort_by", ViewBag.CultureInfo))</h6>
            <div class="row user-margin-0">
                <div class="col m6 s6">
                    <input type="radio" name="Orderby" id="rAscending" disabled value="asc">
                    <label for="rAscending">
                         @((string)ViewBag.multiRes.GetString("ascending", ViewBag.CultureInfo))
                    </label>
                </div>
                <div class="col m6 s6">
                    <input type="radio" name="Orderby" id="rDescending" disabled value="desc">
                    <label for="rDescending">
                         @((string)ViewBag.multiRes.GetString("descending", ViewBag.CultureInfo))
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="sortByCancel" class=" modal-action btn-flat">
            @((string)ViewBag.multiRes.GetString("cancel", ViewBag.CultureInfo)) 
        </a>
        <a id="sortBySubmit" class="modal-action  btn-flat  backgournd-color-main user-color-white">
            @((string)ViewBag.multiRes.GetString("ok", ViewBag.CultureInfo))
        </a>
    </div>
</div>

@section JavaScript {
    <script type="text/javascript">
    // Get current value from ViewBag.
    var specialView = parseInt(@ViewBag.specialView);
    var defaultCount = 10;
    var curStepBackup = -1;
    var curSortByTemp = 0;
    var curOrderTemp = "asc";
    var _type = '@ViewBag.Type';
    var _step = '@ViewBag.Step';
    var _sort = '@ViewBag.Sort';
    var _orderby = '@ViewBag.OrderBy';
    var stepd = [];
    var dataParams = {
        "_type": _type, "_step": _step, "_sort": _sort, "_orderby": _orderby, _curCount: defaultCount
    }
    // Handle change  view mode.
    $(".btnViewLayout").click(function () {
        var vl = $(this).attr("id");
        // Replace content ListPager by new _specialView.
        if (vl == "listViewSELLING") {
            specialView = 1;
            _type = "SELLING";
        }
        if (vl == "listViewNEW") {
            specialView = 2;
            _type = "NEW";
        }
        if (vl == "listViewHIGHTLIGHTS") {
            specialView = 3;
            _type = "HIGHTLIGHTS";
        }
        if (vl == "listViewNOMINATION") {
            specialView = 4;
            _type = "NOMINATION";
        }
        $(".itemStoreReponsive").remove();
        dataParams = {
            "_type": _type, "_step": _step,
            "_sort": curOrderTemp,
            "_orderby": curSortByTemp,
            _curCount: defaultCount
        }
        if (_step == "-1")
            stepd = [];
        loadData();
        $("#ViewModeChangePanel").closeModal();
    });
    // Catch event click to load current view mode.
    //listViewSELLING
    //listViewNEW
    //listViewHIGHTLIGHTS
    //listViewNOMINATION
    $("#changeViewMode").click(function () {
        switch (specialView) {
            case 1:
                $("#listViewSELLING").css({ 'color': 'white', 'background': 'rgb(10, 130, 85)' });
                $("#listViewNEW, #listViewHIGHTLIGHTS, #listViewNOMINATION").css({ 'color': 'black', 'background': 'transparent' });
                break;
            case 2:
                $("#listViewSELLING, #listViewHIGHTLIGHTS, #listViewNOMINATION").css({ 'color': 'black', 'background': 'transparent' });
                $("#listViewNEW").css({ 'color': 'white', 'background': 'rgb(10, 130, 85)' });
                break;
            case 3:
                $("#listViewSELLING, #listViewNEW, #listViewNOMINATION").css({ 'color': 'black', 'background': 'transparent' });
                $("#listViewHIGHTLIGHTS").css({ 'color': 'white', 'background': 'rgb(10, 130, 85)' });
                break;
            case 4:
                $("#listViewSELLING, #listViewNEW, #listViewHIGHTLIGHTS").css({ 'color': 'black', 'background': 'transparent' });
                $("#listViewNOMINATION").css({ 'color': 'white', 'background': 'rgb(10, 130, 85)' });
                break;
        }
    });
    // Catch event click to load current sort by modal.
    $("#changeSortBy").click(function () {
        loadSortBy(dataParams._sortBy);
        loadOrder(dataParams._order);
    });
    function loadSortBy(sortBy) {
        switch (sortBy) {
            case 1:
                $('#rNone').prop("checked", true);
                $('#rAscending').attr("disabled", true);
                $('#rDescending').attr("disabled", true);
                break;
            case 2:
                $('#rProductName').prop("checked", true);
                $('#rAscending').attr("disabled", false);
                $('#rDescending').attr("disabled", false);
                break;
            case 5:
                $('#rPrice').prop("checked", true);
                $('#rAscending').attr("disabled", false);
                $('#rDescending').attr("disabled", false);
                break;
        }
    }
    function loadOrder(order) {
        switch (order) {
            case "asc":
                $('#rAscending').prop("checked", true);
                break;
            case "desc":
                $('#rDescending').prop("checked", true);
                break;
        }
    }
    // Update value SortByModal
    $('#SortByModal input[name="sortby"]').click(function () {
        curSortByTemp = parseInt(this.value);
        loadSortBy(curSortByTemp);
    });

    $('#SortByModal input[name="Orderby"]').click(function () {
        curOrderTemp = this.value;
    });
    // ===================Handle sort======================
    $('#sortBySubmit').click(function () {
        // Generate link for page. Current not use, change to use ajax.
        @*var url = '@Url.Action("All", "Store", new {page = ViewBag.page, _specialView = ViewBag.specialView })' + "&_sortBy=" + _curSortby + "&_order=" + _curOrder;
            window.location.href = url;*@
        // clear all views.
        $('#lsStoreView').html('');
        //console.log("======huytt=====00000=dataParams============", dataParams);
        dataParams._orderby = curSortByTemp;
        dataParams._sort = curOrderTemp;
        //console.log("======huytt====1111==dataParams============", dataParams);
        //Backup current step
        curStepBackup = dataParams._step;
        // Update data with current config and load again.
        dataParams._step = -1;
        $(window).unbind('scroll');
        $(".itemStoreReponsive").remove();
        loadData(-1);
        stepd = [];
        $("#SortByModal").closeModal();
    });
    $('#sortByCancel').click(function () {
        curSortByTemp = dataParams._sortBy;
        curOrderTemp = dataParams._order;
        $("#SortByModal").closeModal();
        //console.log("======huytt=====00000=curSortByTemp======curOrderTemp======", curSortByTemp, curOrderTemp);
    });
    //=================== Handle load data.=================
    function addStoreView(object) {
        //console.log("======huytt======object id========object name=====", object.StoreId, object.StoreName);
        var item = '';
        item += '<a href="' + object.Link + '">'
        + '<div class="col s6 m4 l4 itemStoreReponsive listProduct" style="padding: 0px 3px; margin-bottom: 5px;height:auto;">'
        + ' <div class="card" style="box-shadow: none; height: 100%; border: 1px solid #c5c5c5;">'
        + '<div class="card-image">'
        + '<img src="http://galagala.vn:8888/' + object.Url + "/" + object.MediaName + '" style="height: auto; width: 100%;">'
        + '</div>'
        + '<div class="card-action" style="border-top:0px;padding:0px 5px;text-align:center;">'
        + '<span style="white-space: normal; width: 130px; margin: 0 auto; padding: 8px 0 0 0; display: block; font-size: 13px; color: #000; text-overflow: ellipsis; overflow: hidden; position: relative; ">'
        + object.ProductName
        + '</span>'
        + '<p style="font-size: 14px; color: red; font-weight: bold; margin: 5px auto 0 auto; width: 130px;">';
        if (object.MobileOnlinePrice != object.PromotePrice) {
            item += object.PromotePrice_write
                + '<span style="font-size: 11px; color: #999; text-decoration: line-through; display: inline-block;  width: 100%;">'
                + object.MobileOnlinePrice_write
                + '</span>'
        }
        else {
            item += object.MobileOnlinePrice_write;
        }
        item += '</p>'
        item += '</div>'
            + '</div>'
            + '</div>'
            + '</a>';
        $('#lstProductView').append(item);
        //equalheight(".itemStoreReponsive")
    }
    function addStoreViews(lstobject) {
        for (var i = 0; i < lstobject.length; i++) {
            addStoreView(lstobject[i]);
        }
    }
    function loadData() {
        //console.log("======huytt==dataParams======curStepBackup=====", dataParams, curStepBackup);
        var isLoaded = false;
        for (var i = 0; i < stepd.length; i++) {
            if (stepd[i] == dataParams) {
                isLoaded = true;
                return;
            }
        }
        if (!isLoaded) {
            stepd.push({
                _type: dataParams._type,
                _step: dataParams._step,
                _sort: dataParams._sort,
                _orderby: dataParams._orderby,
                _curCount: dataParams._curCount
            })
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProduct", "Particle")',
                data: dataParams,
                cache: false,
                dataType: "json",
                success: function (dt) {
                    if (dt.ListProductObject.length > 0) {
                        addStoreViews(dt.ListProductObject);
                        if (dataParams._step != -1) {
                            dataParams._curCount += dt.ListProductObject.length;
                            //console.log("====huytt====_curCount======", dataParams._curCount);
                        }
                        if (curStepBackup > -1) {
                            dataParams._step = curStepBackup;
                            curStepBackup = -1;
                        } else {
                            dataParams._step++;
                        }
                        $(window).bind('scroll', bindScroll);
                    } else {
                        $(window).unbind('scroll');
                        $("#preloadProduct").css('display', 'none');
                    }
                }, error: function (error) {
                    console.log(error);
                    $(window).unbind('scroll');
                    $("#preloadProduct").css('display', 'none');
                }
            });
        }

    };
    // ============== Catch event scroll to call load data ======================
    function bindScroll() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() * 0.95) {
            $("#preloadProduct").css('display', 'block');
            $(window).unbind('scroll');
            loadData();
        }
    };
    $(window).scroll(bindScroll);
    // ============== Load data the first time======================
    $(window).load(function () {
        // Load data first time.
        $(window).unbind('scroll');
        loadData();
    });
    </script>
}
@section CSS{
    <style>
        .pagination {
            display: inline-block;
        }

            .pagination li.active {
                background-color: black;
                border-radius: 50%;
            }

            .pagination li a {
                line-height: 1.8;
            }
    </style>
}