@{
    var Model = (HTTelecom.Domain.Core.DataContext.mss.Product)ViewBag.Model;
    var ListMedia = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListMedia;
    var ProductInMediaOrtherProduct = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMediaOrtherProduct;
    var ListProductCategoryOther = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ListProductCategoryOther;
    var isAddedtocart = (bool)ViewBag.isAddedtocart;
    var strbtnAdd = isAddedtocart == true ? "" : "<i class='fa-icon fa-icon-check-131' style='float:left;transform: scale(0.38);'></i> " + ((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo));
    var lstWishList = (List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists;
    var ListGift = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Gift, HTTelecom.Domain.Core.DataContext.mss.Media>>)ViewBag.ListGift;
    var Brand = (Tuple<HTTelecom.Domain.Core.DataContext.mss.Brand, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media>)ViewBag.Brand;
    ViewBag.LayoutTitle = Model.ProductName;
    ViewBag.Layout_ogTitle = Model.MetaDescription;
    var ProductInMedia = ListMedia.Where(n => n.Media.IsActive == true && n.Media.IsDeleted == false && (n.Media.MediaType.MediaTypeCode == "PRODUCT-4" || n.Media.MediaType.MediaTypeCode == "PRODUCT-3")).FirstOrDefault();
    var complexBanner = ListMedia.Where(n => n.Media.MediaType.MediaTypeCode == "PRODUCT-1").ToList();
    ViewBag.Back = Url.Action("Index", "Store", new { id = Model.StoreId, urlName = Model.Store.Alias });
    ViewBag.LayoutTitle = Model.MetaTitle;
    ViewBag.LayoutKeywords = Model.MetaKeywords;
    ViewBag.LayoutDescription = Model.MetaDescription;
    ViewBag.Layout_ogTitle = Model.MetaTitle;
    ViewBag.Layout_description = Model.MetaDescription;
}
<ul class="user-breadcrumbs-layout">
    <li><a href="/"><i class="fa-icon fa-icon-home-102" style="transform: scale(0.5); -ms-transform: scale(.5); -webkit-transform: scale(.5); -moz-transform: scale(.5); -o-transform: scale(.5); -webkit-transform: scale(.5); "></i></a></li>
    <li>
        <a href="@Url.Action("Index", "Store", new { id = Model.StoreId, urlName = Model.Store.Alias })">
            @Model.Store.StoreName
        </a>
    </li>
    <li><a class="current">@Model.ProductName</a></li>
</ul>
@*<div class="row" style="  margin: 0px;"><div class="col s12  m12 " style="min-height:100px;height:auto;"><h4 class="page-title user-text-uppercase" style="  font-size: 18px;">@if (complexBanner.Count > 0){<img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + complexBanner.FirstOrDefault().Media.Url + complexBanner.FirstOrDefault().Media.MediaName)" style="  width: 100%;" />}else{@Html.Raw(Model.ProductComplexName)}</h4></div><div class="clearfix"></div></div>*@

<div class="row user-margin-bottom-10">
    <div class="col s12 m12 user-text-center">
        @if (Model.ProductComplexName != null && Model.ProductComplexName.Length > 0)
        {
            <p class="user-margin-top-5 user-margin-bottom-0 user-text-center">
                @Model.ProductComplexName
            </p>
        }

        <h5>@Model.ProductName</h5>
    </div>

    @*<div class="swiper-container user-SliderStore">
            @{Html.RenderPartial("~/Views/Shared/Template/_PartialList.cshtml", new Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, bool>(ProductInMedia, false));}
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-next swiper-button-next-swiper1 swiper-button-white user-swiper-button-next-prev"></div>
            <div class="swiper-button-prev swiper-button-prev-swiper1 swiper-button-white user-swiper-button-next-prev">
            </div>
            @if (Model.MobileOnlinePrice.HasValue && Model.PromotePrice.HasValue && Model.MobileOnlinePrice != 0 && Model.PromotePrice < Model.MobileOnlinePrice)
            {
                var discount = 100 - (Model.PromotePrice * 100 / Model.MobileOnlinePrice);
                if (discount >= 5)
                {
                    <div class="user-margin-top-5 user-margin-bottom-0 user-text-center" style="font-size: 0.8rem; font-size: 150%; position: absolute; top: 5px; left: 10px; z-index: 9; color: red; ">
                        @((string)ViewBag.multiRes.GetString("discount", ViewBag.CultureInfo))
                        @Math.Round(Convert.ToDouble(discount), 0)%
                    </div>
                }
            }
        </div>*@
    @if (ProductInMedia != null)
    {
        if (ProductInMedia.Media.MediaType.MediaTypeCode == "PRODUCT-3")
        {
            <video class="user-col-0" controls src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + ProductInMedia.Media.Url + ProductInMedia.Media.MediaName)" style="height:auto;"></video>
        }
        else
        {
            <div class="col s12 m12 raw-frame">
                @Html.Raw(ProductInMedia.Media.Url)
            </div>
        }
    }


    @{
        var itemWishListCurrent = lstWishList.Where(n => n.ProductId == Model.ProductId && n.IsActive == true).ToList();
    }
    @using (Html.BeginForm("BuyNow", "Product", FormMethod.Post, new { id = "BuyNowform" }))
    {@Html.Hidden("urform", (string)ViewBag.u)@Html.Hidden("ProductId", (long)Model.ProductId)
        <div class="col  s12 m12 l12 user-margin-top-10" style="padding:0px;">
            <div class="row" style="margin:0px;">
                <div class="col s4" style="padding-right:0px;">
                    <p class="user-text-center" style="margin: 0px;">
                        <a class="user-color-blank">
                            @((string)ViewBag.multiRes.GetString("product_number", ViewBag.CultureInfo)): @Model.ProductCode
                        </a>
                    </p>
                    <div style="position: relative; height: 28px;">
                        <div style="text-align: center; height: 28px;">
                            <span id="btnMinus-Quantity" class="cursor-point" style="padding: 5px 6px; border: 1px solid #c3c3c3; margin-right: -1px;" data-target="numberQuantity">-</span>
                            <input class="number-price numberQuantity" type="number" name="numBuyNow" id="numberQuantity" max="100" min="1" value="1" style="width: 32px;height: 25px;border: 1px solid #c3c3c3;text-align: center" />
                            <span id="btnAdd-Quantity" class="cursor-point" style="padding: 5px 4px; border: 1px solid #c3c3c3; margin-left: -1px;" data-target="numberQuantity">+</span>
                        </div>
                    </div>
                </div>
                <div class="col s8" style="padding-left:0px;">
                    @*@if (Model.RetailPrice.Value != Model.MobileOnlinePrice.Value)
                        {
                            <p class="user-text-right" style="margin: 0px;">
                                <a class="user-color-blank" style=" text-decoration: line-through;">
                                    @((string)ViewBag.multiRes.GetString("product_retail", ViewBag.CultureInfo)): <span style="font-size:11px;">@string.Format("{0:0,0 đ}", Model.RetailPrice)</span>
                                </a>
                            </p>
                        }*@
                    @if (Model.PromotePrice.HasValue == true && Model.PromotePrice.Value < Model.MobileOnlinePrice.Value)
                    {
                        <p class="user-text-right" style="  margin: 0px;">
                            <a class="user-color-blank" style=" text-decoration: line-through;">
                                @*@((string)ViewBag.multiRes.GetString("product_onlinePrice", ViewBag.CultureInfo)):*@
                                <span style="font-size: 14px; font-weight: bolder;">@string.Format("{0:0,0 đ}", Model.MobileOnlinePrice)</span>
                            </a>
                        </p>
                        <p style="clear: both; text-align: right; margin: 0px;">
                            @*<a class="cursor-point btnAddToWishlist user-margin-right-10" data-id="@Model.ProductId" data-url="@Url.Action("AddToWishlist","Product", new { id = Model.ProductId })" data-value='@(itemWishListCurrent.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = Url.Action("Index", "Home") })" data-x="fa-icon fa-icon-heart-121" data-y="fa-icon fa-icon-heart-129" style="font-size:18px;color:red;">@(itemWishListCurrent.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-121'></i>") : Html.Raw("<i class='fa-icon fa-icon-heart-129'></i>"))</a>*@
                            <a>@*<span class="user-color-blank">@((string)ViewBag.multiRes.GetString("product_promotePrice", ViewBag.CultureInfo)) :</span>*@<span class="user-color-red" style="font-weight: bolder; font-size: 20px;">@string.Format("{0:0,0 đ}", Model.PromotePrice)</span></a>
                        </p>
                    }
                    else
                    {
                        <p class="user-text-right" style="  margin: 0px;">

                            <a>
                                @*<span class="user-color-blank">
                                        @((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo)) :
                                    </span>*@
                                <span class="user-color-red" style="font-weight: bolder; font-size: 16px;">@string.Format("{0:0,0 đ}", Model.PromotePrice)</span>
                            </a>
                        </p>
                    }
                </div>
                <div class="clearfix"></div>
                @Html.ValidationMessage("numberQuantity", null, new { id = "error_numberQuantity", style = "color: red; margin-left: 15px;display:none;" })
                <div class="col s12">
                    <a class="btn waves-orange" id="btnSubmitBuyNow" data-target="BuyNowform" data-object="numberQuantity" style="width: 100%; background-color: red; height: 26px; line-height:26px;">
                        <i class="fa-icon fa-icon-buynow-132" style="transform: scale(0.56); float: left; margin-top: -3px;"></i>
                        @((string)ViewBag.multiRes.GetString("buynow", ViewBag.CultureInfo))
                    </a>
                </div>
            </div>
        </div>}
</div>
<div class="row" style="margin:0px;">
    <ul class="collapsible" data-collapsible="accordion" style="margin:0px;">
        <li class="active">
            <div class="collapsible-header active user-text-uppercase" data-target="ProductOutLine">
                <i class="fa-icon fa-icon-product-detail-75" style=" margin-top: 4px;transform: scale(0.5);"></i>
                @((string)ViewBag.multiRes.GetString("outline", ViewBag.CultureInfo))
            </div>
            <div class="collapsible-body" style="overflow: hidden;  padding: 20px;  background: white;">
                <div class="user-raw" style="overflow: hidden;" data-target="ProductDetail" data-flag="false">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductOutLine))
                </div>
                @*<p class="user-text-right" style="padding: 10px 20px;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="ProductOutLine"><i class="fa fa-chevron-circle-up"></i></a></p>*@
            </div>

        </li>
    </ul>
</div>
@*<div class="row backgournd-color-white user-margin-5" style=" border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd;  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"><div class=" col s12 m12 user-borderBottom-color-main" style="display: block; cursor: pointer; height: 3rem; line-height: 3rem; padding: 0 1rem; background-color: #fff; border-bottom: 1px solid #ddd;"><h5 class="user-text-uppercase" style="  font-size: 18px;  ">@((string)ViewBag.multiRes.GetString("outline", ViewBag.CultureInfo))<a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="ProductOutLine"><i class="fa fa-minus right"></i></a></h5></div><div class="col s12 m12 "><div class="user-raw" style=" MIN-HEIGHT: 100px; height:100px; overflow: hidden;" data-target="ProductOutLine" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.ProductOutLine))</div><p class="user-text-right padding-5 user-margin-5"><a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="ProductOutLine" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))</a></p></div></div>*@
<div class="row user-margin-10" style="display:none;">@*<div class="col l2 m3 s4" style="overflow: hidden; margin-bottom: 10px; ">@if (Brand != null){<div style="border: 1px solid #c3c3c3; text-align: center; box-shadow: 0 0 15px rgba(0,0,0,0.3); max-height: 108px; overflow: hidden; "><a href="@Url.Action("Index", "Brand", new { id = Brand.Item1.BrandId, urlName = Brand.Item1.Alias })"><img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + Brand.Item2.Url + Brand.Item3.MediaName)" title="@Brand.Item1.BrandName" alt="@Brand.Item1.BrandName" style="max-width: 100%; max-height: 100px;"></a></div><p class="user-text-center">@((string)ViewBag.multiRes.GetString("brand", ViewBag.CultureInfo)): <a href="@Url.Action("Index", "Brand", new { id = Model.BrandId, urlName = Model.Brand.BrandName })">@Brand.Item1.BrandName</a></p>}</div>*@@*<div class="col  s8 m9 l10">@{var itemWishListCurrent = lstWishList.Where(n => n.ProductId == Model.ProductId && n.IsActive == true).ToList();}<p class="user-text-right"><a class="user-color-blank">@((string)ViewBag.multiRes.GetString("product_number", ViewBag.CultureInfo)): @Model.ProductCode</a></p>@if (Model.RetailPrice.Value != Model.MobileOnlinePrice.Value){<p class="user-text-right"><a class="user-color-blank" style="font-size: 14px; text-decoration: line-through;">@((string)ViewBag.multiRes.GetString("product_retail", ViewBag.CultureInfo)): @string.Format("{0:0,0 đ}", Model.RetailPrice)</a></p>}@if (Model.PromotePrice.HasValue == true && Model.PromotePrice.Value < Model.MobileOnlinePrice.Value){<p class="user-text-right"><a class="user-color-blank" style="font-size: 14px; text-decoration: line-through;">@((string)ViewBag.multiRes.GetString("product_onlinePrice", ViewBag.CultureInfo)): @string.Format("{0:0,0 đ}", Model.MobileOnlinePrice)</a></p><p style="clear: both; text-align: right;"><a class="cursor-point btnAddToWishlist user-margin-right-10" data-id="@Model.ProductId" data-url="@Url.Action("AddToWishlist", "Product", new { id = Model.ProductId })" data-value='@(itemWishListCurrent.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = Url.Action("Index", "Home") })" data-x="fa-icon fa-icon-heart-121" data-y="fa-icon fa-icon-heart-129" style="font-size:18px;color:red;">@(itemWishListCurrent.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-121'></i>") : Html.Raw("<i class='fa-icon fa-icon-heart-129'></i>"))</a><a><span class="user-color-blank">@((string)ViewBag.multiRes.GetString("product_promotePrice", ViewBag.CultureInfo)) : </span> <span class="user-color-red" style="font-weight: bolder; font-size: 18px;">@string.Format("{0:0,0 đ}", Model.PromotePrice)</span></a></p>}else{<p class="user-text-right"><a class="cursor-point btnAddToWishlist user-margin-right-10" data-id="@Model.ProductId" data-url="@Url.Action("AddToWishlist", "Product", new { id = Model.ProductId })" data-value='@(itemWishListCurrent.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = Url.Action("Index", "Home") })" data-x="fa-icon fa-icon-heart-121" data-y="fa-icon fa-icon-heart-129" style="font-size:18px;color:red;">@(itemWishListCurrent.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-121'></i>") : Html.Raw("<i class='fa-icon fa-icon-heart-129'></i>"))</a><a><span class="user-color-blank">@((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo)) : </span> <span class="user-color-red" style="font-weight: bolder; font-size: 18px;">@string.Format("{0:0,0 đ}", Model.PromotePrice)</span></a></p>}</div>*@</div>@*<div class="row backgournd-color-white user-margin-10"><div class=" col s12 m12 user-borderBottom-color-main" data-element="border-bottom"><h5 class="user-text-uppercase" style="  font-size: 18px;">@((string)ViewBag.multiRes.GetString("introduction", ViewBag.CultureInfo))<a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="ProductDetail"><i class="fa fa-minus right"></i></a></h5></div><div class="col s12 m12 " style=""><div class="user-raw" style=" MIN-HEIGHT: 0px; height: 0px; overflow: hidden;" data-target="ProductDetail" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductDetail))</div><p class="user-text-right padding-5"><a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="ProductDetail" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))</a></p></div></div>*@@*<div class="row backgournd-color-white user-margin-10"><div class=" col s12 m12 user-borderBottom-color-main" data-element="border-bottom"><h5 class="user-text-uppercase" style="  font-size: 18px;">@((string)ViewBag.multiRes.GetString("specification", ViewBag.CultureInfo))<a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="ProductSpecification"><i class="fa fa-minus right"></i></a></h5></div><div class="col s12 m12"><div class="user-raw" style=" MIN-HEIGHT: 0px; height: 0px; overflow: hidden;" data-target="ProductSpecification" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductSpecification))</div><p class="user-text-right padding-5"><a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="ProductSpecification" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))</a></p></div></div>*@@*<div class="row backgournd-color-white user-margin-10"><div class=" col s12 m12 user-borderBottom-color-main" data-element="border-bottom"><h5 class="user-text-uppercase" style="  font-size: 18px;">@((string)ViewBag.multiRes.GetString("term_service", ViewBag.CultureInfo))<a class="user-mini-div user-hidden cursor-point" data-type="user-mini-div" data-target="ProductTermService"><i class="fa fa-minus right"></i></a></h5></div><div class="col s12 m12 "><div class="user-raw" style=" MIN-HEIGHT: 0px; height:0px; overflow: hidden;" data-target="ProductTermService" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductTermService))</div></div><p class="user-text-right padding-5"><a class="user_read_more cursor-point backgournd-color-black" data-type="user-show-div" data-target="ProductTermService" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))">@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))</a></p></div>*@
<div class="row margin-0">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header user-text-uppercase" data-target="promotion">
                <i class="fa-icon fa-icon-sale-41" style="margin-top: 4px; transform: scale(0.5);"></i>
                @((string)ViewBag.multiRes.GetString("promotion", ViewBag.CultureInfo))
            </div>
            <div class="collapsible-body" style="overflow: hidden;padding:10px 20px;">
                <div class="swiper-container swiper-container-gift">@{Html.RenderPartial("~/Views/Shared/Template/_PartialGift.cshtml", ListGift);}</div>
            </div>
        </li>
        <li><div class="collapsible-header user-text-uppercase" data-target="ProductDetail"><i class="fa-icon fa-icon-about-30" style=" margin-top: 4px; transform: scale(0.5);"></i>  @((string)ViewBag.multiRes.GetString("introduction", ViewBag.CultureInfo))@*<a class="right cursor-point backgournd-color-black" data-type="user-show-div" data-target="ProductDetail" data-x="@((string)ViewBag.multiRes.GetString("view_more", ViewBag.CultureInfo))" data-y="@((string)ViewBag.multiRes.GetString("view_less", ViewBag.CultureInfo))"><i class="fa fa-chevron-circle-down"></i></a>*@</div><div class="collapsible-body" style="overflow: hidden;"><div class="user-raw" style="overflow: hidden;" data-target="ProductDetail" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductDetail))</div><p class="user-text-right" style="padding: 10px 20px;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="ProductDetail"><i class="fa-icon fa-icon-top-111"></i></a></p></div></li>
        <li><div class="collapsible-header user-text-uppercase" data-target="ProductSpecification"><i class="fa-icon fa-icon-info-36" style=" margin-top: 4px; transform: scale(0.5);"></i> @((string)ViewBag.multiRes.GetString("specification", ViewBag.CultureInfo))</div><div class="collapsible-body" style="overflow: hidden;"><div class="user-raw" style=" overflow: hidden;" data-target="ProductSpecification" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductSpecification))</div><p class="user-text-right" style="padding: 10px 20px;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="ProductSpecification"><i class="fa-icon fa-icon-top-111"></i></a></p></div></li>
        <li><div class="collapsible-header user-text-uppercase" data-target="ProductTermService"><i class="fa-icon fa-icon-shipping-16" style=" margin-top: 4px; transform: scale(0.5);"></i>  @((string)ViewBag.multiRes.GetString("pay_and_shipping", ViewBag.CultureInfo))</div><div class="collapsible-body" style="overflow: hidden;"><div class="user-raw" style="overflow: hidden;" data-target="ProductTermService" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProductTermService))</div><p class="user-text-right" style="padding: 10px 20px;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="ProductTermService"><i class="fa-icon fa-icon-top-111"></i></a></p></div></li>
        <li><div class="collapsible-header user-text-uppercase" data-target="Description_Store"><i class="fa-icon fa-icon-store-info-91" style="margin-top: 4px; transform: scale(0.5); "></i>  @((string)ViewBag.multiRes.GetString("store_info", ViewBag.CultureInfo))</div><div class="collapsible-body" style="overflow: hidden;"><div class="user-raw" style="overflow: hidden;" data-target="Description_Store" data-flag="false">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Store.Description))</div><p class="user-text-right" style="padding: 10px 20px;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="Description_Store"><i class="fa-icon fa-icon-top-111"></i></a></p></div></li>
        <li><div class="collapsible-header user-text-uppercase" data-target="ProductShare"><i class="fa-icon fa-icon-share-55" style=" margin-top: 4px; transform: scale(0.5);"></i>  @((string)ViewBag.multiRes.GetString("share", ViewBag.CultureInfo))</div><div class="collapsible-body" style="overflow: hidden;"><div class="user-raw user-text-center user-padding-10" style="overflow: hidden;" data-target="ProductShare" data-flag="false"><div class="fb-share-button" data-href="@ViewBag.u" data-layout="button_count" style="  top: -6px;"></div><div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div></div><p class="user-text-right" style="padding: 10px 20px;display:none;"><a class="user-button-view-less-colapsible cursor-point" style="margin:5px;font-size: 30px;  color: #222;" data-target="ProductShare"><i class="fa-icon fa-icon-top-111"></i></a></p></div></li>
    </ul>
</div>
<div class="row margin-0">
    <h4 class="header center user-color-main font-futurab user-text-uppercase user-title-compoment user-margin-0" data-element="color">
        @((string)ViewBag.multiRes.GetString("category_product", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-SliderProduct-Product">
        <div class="swiper-container user-SliderProduct user-SliderProduct-Category" style="height: 210px;">
            @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip_Wishlist.cshtml", new Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>>(ViewBag.ListProductCategoryOther, lstWishList));}@*<div class="swiper-scrollbar swiper-scrollbar-swiper2"></div>*@<div class="swiper-button-next swiper-button-next-swiper2 swiper-button-white user-swiper-button-next-prev"></div><div class="swiper-button-prev swiper-button-prev-swiper2 swiper-button-white user-swiper-button-next-prev"></div>
        </div>
    </div>
</div>
<div class="row margin-0">
    <h4 class="header center user-color-main font-futurab user-text-uppercase user-title-compoment user-margin-0" data-element="color">
        @((string)ViewBag.multiRes.GetString("top_product", ViewBag.CultureInfo))
    </h4>
    <div class="col s12 m12 user-SliderProduct-Product">
        <div class="swiper-container user-SliderProduct user-SliderProduct-other" style="height: 210px;">
            @{Html.RenderPartial("~/Views/Shared/Template/_PartialSwip_Wishlist.cshtml", new Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>>(ViewBag.ProductInMediaOrtherProduct, lstWishList));}@*<div class="swiper-scrollbar swiper-scrollbar-swiper3"></div>*@<div class="swiper-button-next swiper-button-next-swiper3 swiper-button-white user-swiper-button-next-prev"></div><div class="swiper-button-prev swiper-button-prev-swiper3 swiper-button-white user-swiper-button-next-prev"></div>
        </div>
    </div>
</div>
<div id="pnlProductPrice">
    <div class="row pnl-content">
        <div class="col m6 user-padding-right-5"><button class="btn waves-orange btnAddToWishlist-Product user-padding-0 margin-0 user-col-0" style="background:red;" data-id="@Model.ProductId" data-url="@Url.Action("AddToWishlist", "Product", new { id = Model.ProductId })" data-value='@(itemWishListCurrent.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = Url.Action("OrdProduct", "Product", new { id = Model.ProductId, urlName = Model.Alias, urlNameStore = Model.Store.Alias }) })" data-x="fa-icon fa-icon-heart-23" data-y="fa-icon fa-icon-heart-124" data-language-x="@((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))" data-language-y="@((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo))">@(itemWishListCurrent.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-23' style='float:left;transform: scale(0.4);'></i> " + ((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))) : Html.Raw("<i class='fa-icon fa-icon-heart-124' style='float:left;transform: scale(0.4);margin-right: 15px;'></i>" + ((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo))))</button></div><div class="col m6 user-padding-left-5">
            <button class="btn waves-orange user-padding-0 margin-0 user-col-0" style="background:red;" id="btnAddToCart" data-id="@Model.ProductId" data-url="@Url.Action("AddToCart", "Product", new { id = Model.ProductId })" data-language="@strbtnAdd">
                @if (isAddedtocart)
                {
                    <i class="fa-icon fa-icon-check-131" style="float:left; transform: scale(0.38);"></i>
                    @((string)ViewBag.multiRes.GetString("added", ViewBag.CultureInfo))
                }
                else
                {
                    <i class="fa-icon fa-icon-bag-117" style="float: left; transform: scale(0.38);"></i>
                    @((string)ViewBag.multiRes.GetString("addtocart", ViewBag.CultureInfo))
                }
            </button>
        </div>
    </div>
</div>
@section JavaScript {
    <script>
        ;
        //var swiper1 = new Swiper('.user-SliderStore', {
        //    nextButton: '.swiper-button-next-swiper1', prevButton: '.swiper-button-prev-swiper1',
        //    pagination: '.swiper-pagination', paginationClickable: true, preloadImages: false, lazyLoading: true
        //});
        var swiper2 = new Swiper('.user-SliderProduct-Category', {
            nextButton: '.swiper-button-next-swiper2', prevButton: '.swiper-button-prev-swiper2',
            slidesPerView: 'auto', centeredSlides: false,
            spaceBetween: 8, paginationClickable: true
        });
        var swiper3 = new Swiper('.user-SliderProduct-other', {
            nextButton: '.swiper-button-next-swiper3', prevButton: '.swiper-button-prev-swiper3',
            slidesPerView: 'auto', centeredSlides: false, spaceBetween: 8, paginationClickable: true
        });
        var swiper4 = new Swiper('.swiper-container-gift', {
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 5
        });
        $(document).ready(function () {
            $(".user-button-view-less-colapsible").click(function () {
                var target = $(this).attr("data-target"); $('.collapsible-header[data-target="' + target + '"]').click();
            });
        });
    </script>
    <style>
        #main-body #banner {
            display: none;
        }

        .numberQuantity::-webkit-outer-spin-button, .numberQuantity::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>}
