@{
    ViewBag.LayoutTitle = "WishList";
    var Wishlists = (List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>)ViewBag.WishLists;
    var ProductInMedias = (List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>)ViewBag.ProductInMedias;
    var Carts = (List<Tuple<long, int, long>>)ViewBag.Carts;
    var acc = (HTTelecom.Domain.Core.DataContext.cis.Customer)Session["sessionGala"];
    var ListSize = (List<HTTelecom.Domain.Core.DataContext.mss.Size>)ViewBag.ListSize;
    var ListSizeLogistic = (List<Tuple<long, string, long, bool>>)ViewBag.ListSizeLogistic;
    ViewBag.Back = Url.Action("Index", "Home");
    ViewBag.LayoutKeywords = "mua hàng trực tuyến, mua hàng online, mua hàng giá rẻ, bán hàng trực tuyến, mua hàng online, galagala việt nam, mua hàng qua mạng, mua bán trực tuyến, mua đồ trên mạng, mua hàng giá rẻ";
    ViewBag.LayoutDescription = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
    ViewBag.Layout_ogTitle = "Mua hàng Trực tuyến Giá rẻ - Mua hàng trên Galagala Việt Nam";
    ViewBag.Layout_image = "~/Content/icon.png";
    ViewBag.Layout_description = "Mua hàng trực tuyến từ galagala.vn với mức giá, khuyến mãi hấp dẫn và nhiều mặt hàng đa dạng từ laptop, máy tính bảng, điện thoại v.v...";
}
<div class="breadcrumbs">
    <ul style="margin:0px;">
        <li class="prs">
            <a class="current">@((string)ViewBag.multiRes.GetString("wishlist", ViewBag.CultureInfo))</a>
        </li>
    </ul>
</div>
<div class="row user-margin-0 user-margin-top-10">
    <section class="col s12">
        <div class="row user-margin-bottom-10 backgournd-color-main user-color-white" style="width: 100%;padding:5px;display:table;">
            <div style="display: table-cell; vertical-align: middle; width: 90px; height: 90px; ">
                <a href="#modalChangImage" class="modal-trigger">
                    @if (acc.AvatarPhotoUrl != null && acc.AvatarPhotoUrl != "")
                    {
                    <img src="@HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect@acc.AvatarPhotoUrl" alt="@acc.FirstName @acc.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 5px; float: left; -webkit-border-radius: 5px; ">
                    }
                    else
                    {
                    <img src="~/Content/avatar-blank.jpg" alt="@acc.FirstName @acc.LastName" style="max-width: 100%; max-height: 90px; height: 90px; width: 90px; border-radius: 90px; float: left; -webkit-border-radius: 5px; ">
                    }
                </a>
            </div>
            <div style=" padding: 8px 15px; display: table-cell; vertical-align: middle;">
                <p class="user-margin-0">@((string)ViewBag.multiRes.GetString("profile_information", ViewBag.CultureInfo))</p>
                <strong style=" font-size: 30px;">@acc.LastName @acc.FirstName</strong>
                <a href="#modalChangImage" class="modal-trigger" style=" position: absolute; bottom: 15px; right: 17px; color: white;">
                    @((string)ViewBag.multiRes.GetString("change_image", ViewBag.CultureInfo))
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
<div class="row user-margin-0" style="border-top: 1px solid #eeeeea;"></div>
<div class="row user-margin-top-10">
    <div class="col s12 m12">
        @if (ProductInMedias.Count > 0)
        {
        <a id="btnDeleteAllWishList" class="right cursor-point" data-url="@Url.Action("DeleteAllWishList", "Product")" data-html="wishListItem">
            @((string)ViewBag.multiRes.GetString("delete_all", ViewBag.CultureInfo))
        </a>
        }
    </div>
    @foreach (var item in ProductInMedias)
    {
        var hrefProduct = item.Product.ProductTypeCode == "PT1" ? "OrdProduct" : item.Product.ProductTypeCode == "PT2" ? "SaleProduct" : item.Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
        var price = item.Product.PromotePrice != null && item.Product.PromotePrice < item.Product.MobileOnlinePrice ? item.Product.PromotePrice : item.Product.MobileOnlinePrice;
        var isCart = Carts.Where(n => n.Item1 == item.ProductId).ToList().Count > 0 ? true : false;
    <div class="col s12 m12 wishListItem">
        <div class="card-panel grey lighten-5 z-depth-1" style="margin: .5rem 0 .5rem">
            <div style="line-height:0;">
                <div class="" style=" display: table-cell; vertical-align: top; padding: 8px;">
                    <img class="lazyload" data-sizes="auto"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect +item.Media.Url + item.Media.MediaName)"
                         alt="@item.Product.ProductName" height="48" style="border-radius:50%;">
                </div>
                <div class="media-body" style=" display: table-cell; vertical-align: top; width: 100%;">
                    <p style=" margin: 0; line-height: 2; padding: 1px;">
                        <a href="@Url.Action(hrefProduct, "Product", new { id = item.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">@item.Product.ProductName</a>
                    </p>
                    <p style=" margin: 0; line-height: 2; padding: 1px;text-align:left">
                        <a href="@Url.Action("Index", "Store", new { id = item.Product.StoreId, urlName =item.Product.Store.Alias})">@item.Product.Store.StoreName</a>
                    </p>
                    <p style="text-align:right;">@((string)ViewBag.multiRes.GetString("price", ViewBag.CultureInfo)): <span class="user-totalpriceCart user-color-red" data-money="@price">@string.Format("{0:0,0 đ}", price)</span></p>
                </div>
                <a class="right btnRemoveWishlist cursor-point user-color-blank" data-id="@item.ProductId" data-url="@Url.Action("AddToWishlist", "Product")" data-value="false" style="line-height:32px;">
                    <i class="fa-icon fa-icon-recycle-bin-61" style=" transform: scale(0.5); float: left;"></i>
                    @((string)ViewBag.multiRes.GetString("delete", ViewBag.CultureInfo))
                </a>
                @if (isCart == false)
                    {
                    <a class="right btnAddToCart cursor-point user-color-blank" data-id="@item.ProductId" data-url="@Url.Action("AddToCart", "Product")" style="margin-right: 12px; line-height: 32px;">
                        <i class="fa-icon fa-icon-add-69" style="transform: scale(0.5); float: left;"></i>
                        @((string)ViewBag.multiRes.GetString("addtocart", ViewBag.CultureInfo))
                    </a>
                    }
                <a href="@Url.Action("BuyNow", "Product", new { id = item.ProductId })" class="right cursor-point user-color-blank" style=" margin-right: 12px; line-height: 32px;">
                    <i class="fa-icon fa-icon-buynow-133" style="transform: scale(0.5); float: left;"></i>
                    @((string)ViewBag.multiRes.GetString("buynow", ViewBag.CultureInfo))
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    }
</div>

@section JavaScript {
    <script>
        (function ($) {
            $(document).ready(function () {
                $("#btnDeleteAllWishList").click(function (e) {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('data-url'),
                        data: {},
                        cache: false,
                        dataType: "json",
                        success: function (dt) {
                            if (dt.result == 1) {
                                var t = $("#btnDeleteAllWishList");
                                $("." + t.attr('data-html')).remove(),
                                t.remove();
                                $("#header-count-wishlist").html(0);
                            }
                        }
                    }); //end ajax call
                });
                $(".btnRemoveWishlist").click(function (e) {
                    var t = $(this);
                    $.ajax({
                        type: "POST",
                        url: t.attr('data-url'),
                        data: { id: t.attr('data-id'), action: t.attr('data-value') },
                        cache: false,
                        dataType: "json",
                        success: function (dt) {
                            var target = e.target.hasAttribute('data-y') == true ? e.target : e.target.parentElement;
                            if (dt.result == 1) {
                                $(target).parent().parent().remove();
                                $("#header-count-wishlist").html(dt.newValue);
                            }
                            else alert("Dont delete");
                        }, error: function (error) { }
                    }); //end ajax call
                });
                $(".btnAddToCart").click(function (e) {
                    var t = $(this);
                    $.ajax({
                        type: "POST",
                        url: t.attr('data-url'),
                        data: { id: t.attr('data-id'), Quantity: 1, Size: 0 },
                        cache: false,
                        dataType: "json",
                        success: function (dt) {
                            var target = e.target.hasAttribute('data-url') == true ? e.target : e.target.parentElement;
                            if (dt.result == true) {
                                $(target).remove();
                                $("#header-count-cart").html(dt.newValue);
                                $("#menuLeft-moneyCart").html(dt.newMoney);
                            }
                        }, error: function (error) { }
                    }); //end ajax call
                });
            })
        })(jQuery);
    </script>
}
@section CSS{
    <style>
        body {
            background: white;
        }
    </style>
}