@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HTTelecom.WebUI.eCommerce.Common.ProductObject>
@foreach (var item in Model)
{
    <a href="@item.Link" title="@item.ProductComplexName">
        <div class="col s6 m4 l2 itemStoreReponsive SwipProduct" style="padding: 0px 3px; margin-bottom: 5px; ">
            <div class="card" style="box-shadow: none; height: 100%; border: 1px solid #c5c5c5;">
                <div class="card-image">
                    <img class="lazyload" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Url  + item.MediaName)" style="height: auto; width: 100%;" alt="@item.ProductComplexName">
                </div>
                <div class="card-content user-padding-0">
                    <span class="title-name">
                        @item.ProductComplexName
                    </span>
                    <p class="title-price">
                        @(item.PromotePrice != null ? item.PromotePrice_write : item.MobileOnlinePrice_write)
                    </p>
                </div>
            </div>
        </div>
    </a>
}