@*@model List<HTTelecom.Domain.Core.DataContext.mss.StoreInMedia>*@
@model List<HTTelecom.WebUI.eCommerce.Common.StoreObject>
@*<div class="swiper-wrapper" style="height:100%;">
        @foreach (var item in Model)
        {
            <div class="swiper-slide" style="  float: left;">
                <div class="card margin-0">
                    <div class="card-image">
                        <a href="@Url.Action("Index", "Store", new {id=item.Store.StoreId,urlName=item.Store.Alias })">
                            <img class="user-col-0" src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url  + item.Media.MediaName)" style="height: auto;">
                        </a>
                    </div>
                    <div class="card-action user-padding-0 mar">
                        <p class="margin-0" style="padding: 5px 20px; height: 33px; vertical-align: middle; display: table-cell;">
                            <a href="@Url.Action("Index", "Store", new {id=item.Store.StoreId,urlName=item.Store.Alias })" data-element="color" title="@item.Store.StoreName">@item.Store.StoreName</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>*@
@*@{
    int number = Model.Count % 6 == 0 ? Model.Count / 6 : Model.Count / 6 + 1; ;
}
@for (int i = 0; i < number; i++)
{
    var data = Model.Skip(6 * i).Take(6).ToList();
    <div class="item">
        <div class="row">
            @foreach (var item in data)
            {
                <div class="col s6" style="margin-bottom: 5px;padding:0px 3px;">
                    <div class="card margin-0">
                        <div class="card-image">
                            <a href="@Url.Action("Index", "Store", new {id=item.Store.StoreId,urlName=item.Store.Alias })">
                                <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url  + item.Media.MediaName)"
                                     style="max-height: 100%; max-width: 100%; width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="card-action user-padding-0" style="  display: table;width: 100%;height: 33px;overflow: hidden;vertical-align: middle;">
                            <div class="margin-0" style="height: 33px; vertical-align: middle; width: 100%; text-align: center; max-height: 33px; display: table-cell;">
                                <a href="@Url.Action("Index", "Store", new {id=item.Store.StoreId,urlName=item.Store.Alias })"
                                   data-element="color" title="@item.Store.StoreName" style="  width: 100%;white-space: normal;font-size:12px;margin: 0px;color:black;">
                                    @item.Store.StoreName
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}*@





@{
    int number = Model.Count % 6 == 0 ? Model.Count / 6 : Model.Count / 6 + 1; ;
}
@for (int i = 0; i < number; i++)
{
    var data = Model.Skip(6 * i).Take(6).ToList();
    <div class="item">
        <div class="row">
            @foreach (var item in data)
            {
                <div class="col s6" style="margin-bottom: 5px;padding:0px 3px;">
                    <div class="card margin-0">
                        <div class="card-image">
                            <a href="@item.Link">
                                <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Url  + item.MediaName)"
                                     style="max-height: 100%; max-width: 100%; width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="card-action user-padding-0" style="  display: table;width: 100%;height: 33px;overflow: hidden;vertical-align: middle;">
                            <div class="margin-0" style="height: 33px; vertical-align: middle; width: 100%; text-align: center; max-height: 33px; display: table-cell;">
                                <a href="@item.Link"
                                   data-element="color" title="@item.StoreName" style="  width: 100%;white-space: normal;font-size:12px;margin: 0px;color:black;">
                                    @item.StoreName
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}