@model Tuple<List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>, List<HTTelecom.Domain.Core.DataContext.cis.Wishlist>>
<div class="swiper-wrapper">
    @foreach (var item in Model.Item1)
    {
        var itemWishList = Model.Item2.Where(n => n.ProductId == item.ProductId && n.IsActive == true).ToList();
        var hrefProduct = item.Product.ProductTypeCode == "PT1" ? "OrdProduct" : item.Product.ProductTypeCode == "PT2" ? "SaleProduct" : item.Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
        double discount = 0;
        var s = "nut_dong_ok.png";
        var open = "";
        if (item.Product.MobileOnlinePrice.HasValue && item.Product.PromotePrice.HasValue && item.Product.MobileOnlinePrice != 0 && item.Product.PromotePrice < item.Product.MobileOnlinePrice)
        {
            discount = 100 - Convert.ToDouble((item.Product.PromotePrice * 100 / item.Product.MobileOnlinePrice));
            s = "sale_1.png";
            open = "open";
        }
        <div class="swiper-slide truncate">
            <div class="card">
                <div class="card-image">
                    <a href="@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">
                        <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url + item.Media.MediaName)" height="133" style="min-height:133px;min-width:250px;">

                    </a>
                </div>
                <div class="card-content user-padding-5 user-padding-top-0" style="position:relative;">
                    <p style="padding: 5px; text-align: left; position: relative; margin-right: 33px; overflow: hidden; ">
                        <a style="color: #000;" href="@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">@item.Product.ProductName</a>
                    </p>
                    <div style="float: left; height: 31px; width: 31px; text-align: center; position: absolute; top: 0px; right: 0px; ">
                        <a class="right cursor-point btnAddToWishlist" data-id="@item.ProductId" data-url="@Url.Action("AddToWishlist", "Product", new { id = item.ProductId })" data-value='@(itemWishList.Count > 0 ? "false" : "true")' data-redirect="@Url.Action("Login", "Customer", new { ur = ViewBag.u })" data-x="fa-icon fa-icon-heart-121" data-y="fa-icon fa-icon-heart-129" style="color:red;">
                            @(itemWishList.Count == 0 ? Html.Raw("<i class='fa-icon fa-icon-heart-121' style='font-size: 35px;'></i>") : Html.Raw("<i class='fa-icon fa-icon-heart-129' style='font-size: 35px;'></i>"))
                        </a>
                    </div>
                    <div style="text-align: right;">
                        @if (item.Product.PromotePrice.HasValue == true && item.Product.PromotePrice.Value < item.Product.MobileOnlinePrice.Value)
                        {
                            <a style=" font-size: 14px; color: black; text-decoration: line-through;">
                                @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                            </a>
                            <a class="user-color-red" style=" font-size: 18px; font-weight: bold; float: left;">
                                @string.Format("{0:0,0 đ}", item.Product.PromotePrice)
                            </a>
                        }
                        else
                        {
                            <a style=" font-size: 14px; color: black;">&nbsp;</a>
                            <a class="user-color-red" style="font-size: 18px; font-weight: bold;float:left;">
                                @string.Format("{0:0,0 đ}", item.Product.MobileOnlinePrice)
                            </a>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <img src="/Images/@s" class="user-itemProductSale @open" data-x="/Images/nut_dong_ok.png" data-y="/Images/sale_1.png" style="position: absolute;top: 0px;left: auto;width: 50px;height: 50px;right: 0px;z-index:4;">
                @if (discount >= 5)
                {
                    <div class="user-discount-price user-itemProductSale" style="background-color: transparent; border: none; box-shadow: none; top: -11px; right: -12px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); font-size: 11px; z-index: 3;">
                        - @Math.Round(Convert.ToDouble(discount), 0)%
                    </div>
                }
            </div>
        </div>}
</div>