@{
    ViewBag.Title = "ArticleTypeIndex";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@{
    ViewBag.SideBarMenu = "ArticleTypeIndex"; 
    ViewBag.Action = "ArticleTypeIndex";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.mss
@using HTTelecom.WebUI.MediaSupport.Common

@model IPagedList<ArticleType>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Article</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Article Type</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewBag.ResponseMessage != null)
{
    int responseMessage = Convert.ToInt32(ViewBag.ResponseMessage);
    if (responseMessage == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully !!!
        </div>
    }
}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <a href="@Url.Action("ArticleTypeCreate","MSS")" class="btn btn-info">Create New Article Type</a>
    </div>
</div>
<!--/ START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="articletype-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span>Article Type Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="panel-toolbar hide" id="toolbar-toshow">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default">Is Verified ??</button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 1);'><i class="icon ico-pencil"></i>Verified</a></li>
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 0);'><i class="icon ico-print3"></i>Unverified</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default">IsPublish ??</button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick='ChangeStatusAction(2, 0, 1);'><i class="icon ico-pencil"></i>Published</a></li>
                            <li><a href="javascript:void(0);" onclick="ChangeStatusAction(2, 0, 0);"><i class="icon ico-print3"></i>Unpublished</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-toolbar text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chkAll-two0" value="1" data-toggle="checkall" data-target="#articletype-table">
                                    <label for="chkAll-two0"></label>
                                </div>
                            </th>
                            <th width="3%" class="text-center"><i class="ico-long-arrow-down"></i></th>
           
                            <th width="15%">
                                Title English
                            </th>
                            <th width="15%">
                                Title Chinese
                            </th>
                            <th width="15%">
                                Title VietName
                            </th>
                            <th width="15%">
                                Date
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                        <li><a href="/ArticleType?filter=1">asc</a></li>
                                        <li><a href="/ArticleType?filter=2">desc</a></li>
                                    </ul>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody class="list-articletype">
                        @{
                            int i = 1;
                            foreach (var articleType in Model)
                            {        
                                <tr class="@(articleType.IsDeleted == true ? "bg-danger" : "")">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_articleType_table" id="chk_articleType_@i" value="@articleType.ArticleTypeId" data-toggle="selectrow" data-target="tr" data-contextual="@(articleType.IsDeleted == true ? "danger" : "info")">
                                            <label for="chk_articleType_@i"></label>
                                        </div>
                                    </td>
                                    <td class="text-center">@i</td>                                    
                                    @{

                                List<ArticleType> lst_ar = (List<ArticleType>)ViewBag.list_ArticleType;
                                List<ArticleType> lst_tmp = lst_ar.Where(x => x.Code == articleType.Code & x.LanguageCode == "zh").ToList();
                                string arTitleZh = (lst_tmp.Count > 0) ? lst_tmp[0].ArticleTypeName : "[Add Chinese language]";
                                        lst_tmp = lst_ar.Where(x => x.Code == articleType.Code & x.LanguageCode == "en").ToList();
                                        string arTitleEn = (lst_tmp.Count > 0) ? lst_tmp[0].ArticleTypeName : "[Add english language]";
                                        lst_tmp = lst_ar.Where(x => x.Code == articleType.Code & x.LanguageCode == "vi").ToList();
                                        string arTitleVi = (lst_tmp.Count > 0) ? lst_tmp[0].ArticleTypeName : "[Add vi language]";
                                    }
                                    <td>
                                        <a href="@Url.Action("ArticleTypeEdit", "MSS", new { id = articleType.ArticleTypeId, lang = "en" })" title="Edit this Article Type with English language"><strong>@arTitleEn</strong></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ArticleTypeEdit", "MSS", new { id = articleType.ArticleTypeId, lang = "zh" })" title="Edit this Article Type with Chinese language"><strong>@arTitleZh</strong></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ArticleTypeEdit", "MSS", new { id = articleType.ArticleTypeId, lang = "vi" })" title="Edit this Article Type with Việt Nam language"><strong>@arTitleVi</strong></a>
                                    </td>
                             
                                    <td>@articleType.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                </tr>
                                        i++;
                            }
                        }
                    </tbody>
                </table>

            </div>
            <!--/ panel body with collapse capabale -->
        </div>
        <!--/ END panel -->
    </div>
</div>
<!--/ END row -->

<script type="text/javascript">
   

    // Table toolbar
    // ================================
    (function () {
        // Sparkline
        // ================================
        $('.sparklines').sparkline('html', {
            enableTagOptions: true
        });

        // globar variable within this function scope
        var panel = '.panel#article-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>