@{
    ViewBag.Action = "ArticleTypeEdit";
    ViewBag.Controller = "MSS";
    ViewBag.Title = "ArticleTypeEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.mss
@using HTTelecom.Domain.Core.DataContext.cis
@model ArticleType

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Article Type @Model.LanguageCode</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("ArticleTypeIndex", "MSS")">Article Type</a></li>
                <li class="active">Edit Article Type</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->
@if (ViewData.ModelState.Where(a => a.Value.Errors.Count > 0).ToList().Count > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}

@if (TempData["ResponseMessage"] != null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}

@using (Html.BeginForm("ArticleTypeEdit", "MSS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ArticleTypeId)
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="active"><a href="#tab_Info" data-toggle="tab">Article Type Info</a></li>
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success ladda-button" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                            <button type="submit" class="btn btn-warning ladda-button" id="saveType" name="saveType" value="1" data-style="zoom-in"><span class="ladda-label">Save & Continue</span></button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <!-- tab content -->
                    <div class="tab-content">

                        <!-- ---------------Artilce Info--------------- -->
                        <div class="tab-pane active" id="tab_Info">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!--row1-->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Code, new { @class = "form-control" })
                                                <input type="hidden" id="LanguageCode" name="LanguageCode" value="@Model.LanguageCode">
                                                <label>Title</label>
                                                @Html.TextBoxFor(model => model.ArticleTypeName, new { @class = "form-control", placeholder = "Title" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--/ end row1-->     
                                    <!--row4-->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Date Created: &nbsp;</label>
                                                @(Model.DateCreated != null ? Model.DateCreated.Value.ToString("dd/MM/yyyy HH:mm") : "N/A")
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Date Modified: &nbsp;</label>
                                                @(Model.DateModified != null ? Model.DateModified.Value.ToString("dd/MM/yyyy HH:mm") : "N/A")
                                            </div>
                                        </div>

                                    </div>
                                    <!--/ end row4-->
                                    <!--row5-->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsDelete checkbox-custom" style="color:red">IsDeleted</label>

                                                <div class="form-control">
                                                    @if (Model.IsDeleted == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true, @checked = "checked" }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false, @checked = "checked" }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsActive checkbox-custom" style="color:red">IsActive</label>
                                                <div class="form-control">
                                                    @if (Model.IsActive == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true, @checked = "checked" }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false, @checked = "checked" }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <!--/ end row5-->
                                </fieldset>
                            </form>
                        </div>
                        <!--/ Artilce Info -->
                    
                    </div>
                    <!--/ tab content -->
                </div>
                <!--/ panel body -->
            </div>
            <!--/ panel -->
        </div>
    </div>
}
<!--/ Page Body -->

<script type="text/javascript">
    $(function () {
        // Ladda button
        // ================================
        Ladda.bind('.btn.ladda-button', { timeout: 50000 });
        // Bind progress buttons and simulate loading progress
        Ladda.bind('.btn.ladda-button.ladda-progress', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });     
    });
</script>
