@{
    ViewBag.Action = "CategoryEdit";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using HTTelecom.Domain.Core.DataContext.mss
@model Category

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Category</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li><i class="fa fa-shopping-cart"></i>&nbsp;<a href="@Url.Action("CategoryIndex", "MSS")">Category</a></li>
                <li class="active">Create Category</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
@{
    var validateErr = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    if (validateErr.Count > 0)
    {
        <div class="alert alert-danger semibold">
            @Html.ValidationSummary(false)
        </div>
    }

    ViewBag.TabIsActive = "tabone";
    if (TempData["tabActive"] != null)
    {
        ViewBag.TabIsActive = TempData["tabActive"];
    }
}


@if(TempData["ResponseMessage"]!=null)
{
    if ((int)TempData["ResponseMessage"] == 1)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your operation has been done successfully.
        </div>
    }
}


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CategoryEdit", "MSS", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="panel panel-blue">
                <!-- panel heading/header -->
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <ul class="nav nav-tabs pull-left">
                            <li class="@(ViewBag.TabIsActive == "tabone" ? "active":"")"><a href="#tab_Info" data-toggle="tab">Category Info</a></li>
                            <li class="@(ViewBag.TabIsActive == "tabtwo" ? "active":"")"><a href="#tab_Media" data-toggle="tab">Media</a></li>
                            <li class="@(ViewBag.TabIsActive == "tabthree" ? "active":"")"><a href="#tab_SEO" data-toggle="tab">SEO</a></li>
                            <li class="@(ViewBag.TabIsActive == "tabfour" ? "active":"")"><a href="#tab_Product" data-toggle="tab">Product</a></li>
                        </ul>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success ladda-button" data-style="zoom-in"><span class="ladda-label">Save & Exit</span></button>
                            <button type="submit" class="btn btn-warning ladda-button" id="saveType" name="saveType" value="1" data-style="zoom-in"><span class="ladda-label">Save & Continue</span></button>
                        </div>
                    </div>
                </div>
                <!--/ panel heading/header -->
                <!-- panel body -->
                <div class="panel-body">
                    <!-- tab content -->
                    <div class="tab-content">
                        <!-- -------------Category Info------------- -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabone" ? "active":"")" id="tab_Info">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.CategoryId, new { @class = "form-control" })
                                                <input type="hidden" id="LanguageCode" name="LanguageCode" value="@ViewBag.LanguageCode">
                                                <label>Category Name</label>
                                                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", placeholder = "Name" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Category Parent</label>
                                                @Html.DropDownList("ParentCateId", new SelectList((ViewBag.LanguageCode == "vi") ? ViewBag.cateParentVietNam : (ViewBag.LanguageCode == "en") ? ViewBag.cateParentEnglish : ViewBag.cateParentTaiwan, "CategoryId", "CategoryName"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Category Order Number</label>
                                                @*Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control", placeholder = "Category Ordernumber" })*@
                                                @Html.DropDownList("OrderNumber", new SelectList(ViewBag.OrderNumberList, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Alias</label>
                                                @Html.TextBoxFor(model => model.Alias, new { @class = "form-control", placeholder = "Alias" ,@readonly="readonly"})
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                @Html.TextAreaFor(model => model.Description, new { @class = "txt_tinyMCE1 form-control", placeholder = "Description" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsDelete checkbox-custom" style="color:red">IsDeleted</label>

                                                <div class="form-control">
                                                    @if (Model.IsDeleted == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true, @checked = "checked" }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, true, new { id = "chk_isDeleted1", value = true }) <label for="chk_isDeleted1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsDeleted, false, new { id = "chk_isDeleted2", value = false, @checked = "checked" }) <label for="chk_isDeleted2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="IsActive checkbox-custom" style="color:red">IsActive</label>
                                                <div class="form-control">
                                                    @if (Model.IsActive == true)
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true, @checked = "checked" }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "chk_isActive1", value = true }) <label for="chk_isActive1">&nbsp;&nbsp;Yes</label>
                                                        </span>
                                                        <span class="radio-inline custom-radio">
                                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "chk_isActive2", value = false, @checked = "checked" }) <label for="chk_isActive2">&nbsp;&nbsp;No</label>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!--/ Category Info -->
                        <!-- ------------Category Media------------ -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabtwo" ? "active":"")" id="tab_Media">
                            <div id="shuffle_logo" class="row">
                                <div class="col-sm-12">
                                    <p><strong>Category Logo - @Model.CategoryName</strong></p>
                                    <div class="row">
                                        @foreach (var item in (List<Media>)ViewBag.categoryLogoMedia)
                                        {
                                            var itemMediaType = ((List<MediaType>)ViewBag.list_MediaType).Where(a => a.MediaTypeId == item.MediaTypeId).FirstOrDefault();
                                            <div class="col-md-4 shuffle" data-groups='["@itemMediaType.MediaTypeName"]' data-date-created="@item.DateCreated.Value.ToString("MM/dd/yyyy")" data-title="@item.MediaName">
                                                <!-- thumbnail -->
                                                <div class="thumbnail" style="margin-bottom:20px">
                                                    <!-- media -->
                                                    <div class="media">
                                                        <!-- indicator -->
                                                        <div class="indicator"><span class="spinner"></span></div>
                                                        <!--/ indicator -->
                                                        <!-- toolbar overlay -->
                                                        <div class="overlay">
                                                            <div class="toolbar">
                                                                <a href="@HTTelecom.WebUI.MediaSupport.Common.GlobalVariables.HostNamePublic@item.Url@item.MediaName" class="btn btn-default magnific" title="@item.MediaName"><i class="ico-search"></i></a>
                                                                <a href="@Url.Action("MediaIsActiveCategory", "MSS", new { mediaId = item.MediaId, categoryId = Model.CategoryId })" class="btn btn-default" title="@(item.IsActive == true ? "deactive" : "active")"><i class="fa @(item.IsActive == true ? "fa-close" : "fa-check")"></i></a>
                                                            </div>
                                                        </div>
                                                        <!--/ toolbar overlay -->
                                                        <!-- meta -->
                                                        <div class="meta top darken">
                                                            <h4 class="nm text-right">
                                                                <span class="label @(item.IsActive == true ? "label-success" : "label-danger")">@(item.IsActive == true ? "Active" : "Deactive")</span>
                                                            </h4>
                                                        </div>
                                                        <!--/ meta -->
                                                        <!-- meta -->
                                                        <div class="meta bottom darken">
                                                            <h5 class="nm">
                                                                @item.MediaName<br />
                                                                <small><i class="ico-calendar2"></i> @item.DateCreated.Value.ToString("MM/dd/yyyy")</small>
                                                            </h5>
                                                        </div>
                                                        <!--/ meta -->
                                                        <img data-toggle="unveil1" src="@HTTelecom.WebUI.MediaSupport.Common.GlobalVariables.HostNamePublic@item.Url@item.MediaName" data-src="../..@item.Url@item.MediaName" alt="Photo" height="250" style="width:100%" />
                                                    </div>
                                                    <!--/ media -->
                                                </div>
                                                <!--/ thumbnail -->
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="shuffle_Banner" class="row">
                                <div class="col-sm-12">
                                    <p><strong>Category Banner - @Model.CategoryName</strong></p>
                                    <div class="row">
                                        @foreach (var item in (List<Media>)ViewBag.categoryBannerMedia)
                                        {
                                            var itemMediaType = ((List<MediaType>)ViewBag.list_MediaType).Where(a => a.MediaTypeId == item.MediaTypeId).FirstOrDefault();
                                            <div class="col-md-4 shuffle" data-groups='["@itemMediaType.MediaTypeName"]' data-date-created="@item.DateCreated.Value.ToString("MM/dd/yyyy")" data-title="@item.MediaName">
                                                <!-- thumbnail -->
                                                <div class="thumbnail" style="margin-bottom:20px">
                                                    <!-- media -->
                                                    <div class="media">
                                                        <!-- indicator -->
                                                        <div class="indicator"><span class="spinner"></span></div>
                                                        <!--/ indicator -->
                                                        <!-- toolbar overlay -->
                                                        <div class="overlay">
                                                            <div class="toolbar">
                                                                <a href="@HTTelecom.WebUI.MediaSupport.Common.GlobalVariables.HostNamePublic@item.Url@item.MediaName" class="btn btn-default magnific" title="@item.MediaName"><i class="ico-search"></i></a>
                                                                <a href="@Url.Action("MediaIsActiveCategory", "MSS", new { mediaId = item.MediaId, categoryId = Model.CategoryId })" class="btn btn-default" title="@(item.IsActive == true ? "deactive" : "active")"><i class="fa @(item.IsActive == true ? "fa-close" : "fa-check")"></i></a>
                                                            </div>
                                                        </div>
                                                        <!--/ toolbar overlay -->
                                                        <!-- meta -->
                                                        <div class="meta top darken">
                                                            <h4 class="nm text-right">
                                                                <span class="label @(item.IsActive == true ? "label-success" : "label-danger")">@(item.IsActive == true ? "Active" : "Deactive")</span>
                                                            </h4>
                                                        </div>
                                                        <!--/ meta -->
                                                        <!-- meta -->
                                                        <div class="meta bottom darken">
                                                            <h5 class="nm">
                                                                @item.MediaName<br />
                                                                <small><i class="ico-calendar2"></i> @item.DateCreated.Value.ToString("MM/dd/yyyy")</small>
                                                            </h5>
                                                        </div>
                                                        <!--/ meta -->
                                                        <img data-toggle="unveil1" src="@HTTelecom.WebUI.MediaSupport.Common.GlobalVariables.HostNamePublic@item.Url@item.MediaName" data-src="../..@item.Url@item.MediaName" alt="Photo" height="250" style="width:100%" />
                                                    </div>
                                                    <!--/ media -->
                                                </div>
                                                <!--/ thumbnail -->
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <p><strong>Logo</strong></p>
                                            <div class="thumbnail">
                                                <div class="media">

                                                    <img id="categoryLogoImage" class="clickChangeMedia" data-toggle="unveil1" src="~/Content/image/icons/icon-NoImage-2.png" data-src="../../Content/image/icons/icon-NoImage-2.png" style="width:100%; cursor:pointer" height="250" />
                                                </div>
                                            </div>
                                            <div class="input-group" style="margin-top:10px">
                                                <input type="text" name="categoryLogoInput" class="form-control" readonly="">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse
                                                        <input type="file" onchange="changeImageView(this, 1)" name="categoryLogoFile" accept="image/*" />
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <p><strong>Banner</strong></p>
                                            <div class="thumbnail">
                                                <div class="media">

                                                    <img id="categoryBannerImage" class="clickChangeMedia" data-toggle="unveil1" src="~/Content/image/icons/icon-NoImage-2.png" data-src="../../Content/image/icons/icon-NoImage-2.png" style="width:100%; cursor:pointer" height="250" />
                                                </div>
                                            </div>
                                            <div class="input-group" style="margin-top:10px">
                                                <input type="text" name="categoryBannerInput" class="form-control" readonly="">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse
                                                        <input type="file" onchange="changeImageView(this, 2)" name="categoryBannerFile" accept="image/*" />
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Category Media -->
                        <!-- ------------Category SEO------------ -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabthree" ? "active":"")" id="tab_SEO">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label>MetaTitle</label>
                                                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", placeholder = "MetaTitle" })
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label>MetaKeywords</label>
                                                    @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control", placeholder = "MetaKeywords" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <label>MetaDescription</label>
                                                    @Html.TextAreaFor(model => model.MetaDescription, new { @class = "txt_tinyMCE2 form-control", placeholder = "MetaDescription" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Category Product -->
                        <!-- ------------Category Product------------ -->
                        <div class="tab-pane @(ViewBag.TabIsActive == "tabfour" ? "active":"")" id="tab_Product">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- START panel -->
                                    <div class="panel panel-blue" id="product-table">
                                        <!-- panel heading/header -->
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Product Table</h3>
                                            <!-- panel toolbar -->
                                            <div class="panel-toolbar text-right">
                                                <!-- option -->
                                                <div class="option">
                                                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                                                    @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                                                </div>
                                                <!--/ option -->
                                            </div>
                                            <!--/ panel toolbar -->
                                        </div>
                                        <!--/ panel heading/header -->
                                        <!-- panel toolbar wrapper -->
                                        <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                                            <div class="panel-toolbar hide" id="toolbar-toshow">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default">Verified</button>
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 1);'><i class="icon ico-pencil"></i>Verified</a></li>
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(1, 0, 0);'><i class="icon ico-print3"></i>Unverified</a></li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default">Active</button>
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(2, 0, 1)'><i class="icon ico-pencil"></i>Active</a></li>
                                                        <li><a href="javascript:void(0);" onclick='ChangeStatusAction(2, 0, 0)'><i class="icon ico-print3"></i>Deactive</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-toolbar text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                                                    <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ panel toolbar wrapper -->
                                        <!-- panel body with collapse capabale -->
                                        <div class="panel-collapse pull out">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="3%" class="text-center">
                                                            <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                                                <input type="checkbox" id="chkAll-two0" value="1" data-toggle="checkall" data-target="#product-table">
                                                                <label for="chkAll-two0"></label>
                                                            </div>
                                                        </th>
                                                        <th width="8%" class="text-center">Product ID</th>
                                                        <th width="5%">
                                                            Active
                                                        </th>
                                                        <th width="5%">
                                                            Verified
                                                        </th>
                                                        <th>
                                                            Name
                                                            <div class="btn-group pull-right">
                                                                <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                                                    <li><a href="@Url.Action("ProductIndex","MSS")">All</a></li>
                                                                    <li><a href="#">A <i class="fa fa-long-arrow-right"> Z</i></a></li>
                                                                    <li><a href="#">Z <i class="fa fa-long-arrow-right"> A</i></a></li>
                                                                </ul>
                                                            </div>
                                                        </th>
                                                        <th width="5%">Preview</th>
                                                        <th>
                                                            Type
                                                            <div class="btn-group pull-right">
                                                                <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                                                    <li><a href="@Url.Action("ProductIndex","MSS")">All</a></li>

                                                                </ul>
                                                            </div>
                                                        </th>
                                                        <th width="16%">
                                                            Date
                                                            <div class="btn-group pull-right">
                                                                <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" style="right:0; left:auto;">
                                                                    <li><a href="#">asc</a></li>
                                                                    <li><a href="#">desc</a></li>
                                                                </ul>
                                                            </div>
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody class="list-product-table">
                                                    @{
                                        int i = 0;
                                        foreach (var item in ViewBag.ListProduct)
                                        {
                                            var itemProductType = ((List<ProductType>)ViewBag.ddl_ProductType).Where(a => a.ProductTypeCode == item.ProductTypeCode).FirstOrDefault();
                                            <tr class="@(item.IsDeleted == true ? "bg-danger" : "")">
                                                <td class="text-center">
                                                    <div class="checkbox custom-checkbox nm">
                                                        <input type="checkbox" name="chk_product-table" id="chk_product-table-@i" value="@item.ProductId" data-toggle="selectrow" data-target="tr" data-contextual="@(item.IsDeleted == true ? "danger" : "info")">
                                                        <label for="chk_product-table-@i"></label>
                                                    </div>
                                                </td>
                                                <td><strong class="label label-info" style="font-size:12px">@String.Format("P{0}", item.ProductCode)</strong></td>
                                                @if (item.IsActive == true)
                                                {
                                                    <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(2, @item.ProductId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a></td>
                                                }
                                                else
                                                {
                                                    <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(2, @item.ProductId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span></a></td>
                                                }
                                                @if (item.IsVerified == true)
                                                {
                                                    <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(1, @item.ProductId, -1);'><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span></a></td>
                                                }
                                                else
                                                {
                                                    <td class="text-center"><a href="javascript:void(0);" onclick='ChangeStatusAction(1, @item.ProductId, -1);'><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unverified">Unverified</span></a></td>
                                                }
                                                <td>
                                                    <a href="@Url.Action("ProductEdit","MSS", new { id = item.ProductId })"><strong>@item.ProductName</strong></a>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" onclick="previewProduct(@item.ProductId)"><i class="fa fa-2x fa-video-camera text-primary"></i></a>
                                                </td>
                                                @if (itemProductType != null)
                                                {
                                                    <td>@itemProductType.ProductTypeName</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }

                                                <td>@item.DateCreated</td>
                                            </tr>
                                                i++;
                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                @*Html.PagedListPager(Model, page => Url.Action("ProductIndex", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ panel body with collapse capabale -->
                                </div>
                            </div>
                        </div>

                        <!--/ Category Product -->
                    </div>
                    <!--/ tab content -->
                </div>
                <!--/ panel body -->
            </div>
        <!--/ panel -->
        }
    </div>
</div>
<!--/ END panel -->


<script type="text/javascript">
    var parentVal = $("#ParentCateId").val();
    var ordernumberVal = $("#OrderNumber").val();
    $("#ParentCateId").change(function () {

        // alert(parentVal + " " + $("#ParentCateId").val());
        if ($("#ParentCateId").val() != parentVal) {
            $("#OrderNumber").prop("disabled", true);
            $("#OrderNumber").val("--");
        }
        else {
            $("#OrderNumber").prop("disabled", false);
            $("#OrderNumber").val(ordernumberVal);
        }

    });
    function changeImageView(input, number) {
        $('.product-banner-lists').children('tbody').empty();
        rowCount = 0;
        if (window.File && window.FileList && window.FileReader) {
            var files = input.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                var picReader = new FileReader();
                if (number == 1) {
                    //alert("sdasd");
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        $("#categoryLogoImage").attr('src', picFile.result);
                        $("#categoryLogoImage").attr('data-src', picFile.result);
                    });
                    $("input[name=categoryLogoInput]").val(file.name);
                }
                if (number == 2) {
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        $("#categoryBannerImage").attr('src', picFile.result);
                        $("#categoryBannerImage").attr('data-src', picFile.result);
                    });
                    $("input[name=categoryBannerInput]").val(file.name);
                }

                picReader.readAsDataURL(file);
            }
        }
    }

    var cateLevel = '@Model.CateLevel';
    if (cateLevel == 0) {
        // $("#ParentCateId").append(
        // $('<option selected> Parent Category</option>').val(val).html(text)
        //);
        $("#ParentCateId").prop("disabled", true);
    }
    else {
        $("#ParentCateId").val(@(Model.ParentCateId));
    }

    $(function () {
        // Ladda button
        // ================================
        Ladda.bind('.btn.ladda-button', { timeout: 50000 });

        // Bind progress buttons and simulate loading progress
        Ladda.bind('.btn.ladda-button.ladda-progress', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });

        // Lightbox
        // ================================
        $('#shuffle_logo').magnificPopup({
            delegate: '.magnific',
            type: 'image',
            gallery: {
                enabled: true
            }
        });
        $('#shuffle_Banner').magnificPopup({
            delegate: '.magnific',
            type: 'image',
            gallery: {
                enabled: true
            }
        });

        //TAG Keywords
        // ================================
        $("#Keywords").selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            },
            render: {
                item: function (data, escape) {
                    return '<div>' + escape(data.text) + '</div>';
                }
            },
        });

        $('.date').datepicker();
        $("img[data-toggle~='unveil1']").unveil(200, function () {
            $(this).load(function () {

                $(this).addClass('unveiled');
            });
        });

        tinyMCE.init({
            selector: '.txt_tinyMCE1', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
        tinyMCE.init({
            selector: '.txt_tinyMCE2', plugins: 'link image',
            height: 150,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr pagebreak",
                 "searchreplace wordcount visualblocks visualchars code insertdatetime",
                 "save table contextmenu directionality emoticons paste textcolor"
            ],
            toolbar: "undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor",
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 72pt",
            //file_browser_callback: RoxyFileBrowser
        });
    });
    @*function RoxyFileBrowser(field_name, url, type, win) {
        var roxyFileman = '@Url.Content("~/Content/AdminDashboard/filebrowser/dev.html")';
        if (roxyFileman.indexOf("?") < 0) {
            roxyFileman += "?type=" + type;
        }
        else {
            roxyFileman += "&type=" + type;
        }
        roxyFileman += '&input=' + field_name + '&value=' + document.getElementById(field_name).value;
        tinyMCE.activeEditor.windowManager.open({
            file: roxyFileman,
            title: 'File manager',
            width: 850,
            height: 650,
            resizable: "yes",
            plugins: "media",
            inline: "yes",
            close_previous: "no"
        }, { window: win, input: field_name });
        return false;
    }*@
</script>
