@{
    ViewBag.Action = "ProductIndex";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    List<string> listProductWarning = (List<string>)TempData["listProductWarning"];
    string productId = (string)TempData["productId"];

    var ddl_PageSize = new[]
    {
        new SelectListItem(){Value = "50", Text= "50"},
        new SelectListItem(){Value = "100", Text= "100"}
    };
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.mss
@model IPagedList<Product>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Product</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            @if (TempData["StatusMessage"] != null)
            {
                if ((int)TempData["StatusMessage"] == 2)
                {
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        
                            <span><strong>Saved @TempData["productComplexName"] successful!</strong> Your operation has been done successfully !!!</span>
                    </div>
                    if (TempData["listProductWarning"] != null)
                    {
                        if (listProductWarning.Count != 0)
                        {
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span><strong>WARNING @TempData["productComplexName"]!</strong> Condition to display Product online:</span>
                                <ul>
                                    @foreach (var item in listProductWarning)
                                    {
                                        <li>@item.ToString()</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
<!-- Page Header -->
<div class="row">
    <div class="col-md-6 pull-left" style="margin-bottom: 15px;">
        <a href="@Url.Action("ProductCreate","MSS")" class="btn btn-info">Create New Product</a>
    </div>
    <div class="col-md-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">Search</button>
            </span>
        </div>
    </div>
</div>
<!--/ START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="product-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Product Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Row</label>
                                @Html.DropDownList("pageSizeSelected", new SelectList(ddl_PageSize, "Value", "Text"), new { @class = "form-control input-sm", style = "width:70px" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 nm">
                        <div class="panel-toolbar hide" id="toolbar-toshow" style="margin-top:5px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Verified ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(1, 0, 1, this);'><i class="icon ico-pencil"></i>Verified</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(1, 0, 0, this);'><i class="icon ico-print3"></i>Unverified</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Active ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(2, 0, 1, this);'><i class="icon ico-pencil"></i>Active</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(2, 0, 0, this);'><i class="icon ico-print3"></i>Inactive</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover-color">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chk_All_Product" value="1" data-toggle="checkall" data-target="#product-table">
                                    <label for="chk_All_Product"></label>
                                </div>
                            </th>
                            <th width="8%" class="text-center">Product ID</th>
                            @*<th width="5%">
                                    Active
                                </th>*@
                            <th width="5%">
                                Verified
                            </th>
                            <th>
                                Name
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                        <li><a href="@Url.Action("ProductIndex","MSS")">All</a></li>
                                        <li><a href="#">A <i class="fa fa-long-arrow-right"> Z</i></a></li>
                                        <li><a href="#">Z <i class="fa fa-long-arrow-right"> A</i></a></li>
                                    </ul>
                                </div>
                            </th>
                            <th width="5%">Preview</th>
                            <th>
                                Type
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                        <li><a href="@Url.Action("ProductIndex", new { page = ViewBag.pageNum, filter = ViewBag.filter, ptype = "All" })">All</a></li>
                                        @foreach (var item in (List<ProductType>)ViewBag.list_ProductType)
                                        {
                                            <li><a href="@Url.Action("ProductIndex", new { page = ViewBag.pageNum, filter = ViewBag.filter, ptype = item.ProductTypeCode})">@item.ProductTypeName</a></li>
                                        }
                                    </ul>
                                </div>
                            </th>
                            <th width="16%">
                                Date
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
                                        <li><a href="#">asc</a></li>
                                        <li><a href="#">desc</a></li>
                                    </ul>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody class="list-product-table">
                        @{
                            int i = 0;
                            var date = DateTime.Now;
                            foreach (var item in Model)
                            {
                                var store = ((List<Store>)ViewBag.list_Store).Where(a => a.StoreId == item.StoreId).FirstOrDefault();
                                var strStyleCt = "";
                                var strStyleTr = "";
                                strStyleCt =
                                    item.IsDeleted == true ?
                                    "danger" : (store.OfflineDate.HasValue == false || store.OnlineDate.HasValue == false) ? "warning" :
                                    (store.OnlineDate.Value - date).TotalMinutes > 0 ? "info" : (store.OfflineDate.Value - date).TotalMinutes > 0 ? "success" : "warning";
                                strStyleTr =
                                    item.IsDeleted == true ?
                                    "bg-danger" : (store.OfflineDate.HasValue == false || store.OnlineDate.HasValue == false) ? "bg-warning" :
                                    (store.OnlineDate.Value - date).TotalMinutes > 0 ? "bg-info" : (store.OfflineDate.Value - date).TotalMinutes > 0 ? "bg-success" : "bg-warning";
                                var itemProductType = ((List<ProductType>)ViewBag.list_ProductType).Where(a => a.ProductTypeCode == item.ProductTypeCode).FirstOrDefault();
                               
                                <tr class="@strStyleTr">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_product" id="chk_product_@i" value="@item.ProductId" data-toggle="selectrow" data-target="tr" data-contextual="@strStyleCt">
                                            <label for="chk_product_@i"></label>
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.ProductCode != null)
                                        {
                                            <strong class="label label-info" style="font-size:12px">@String.Format("P{0}", item.ProductCode)</strong>
                                        }
                                        else
                                        {
                                            <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unaccept">Unaccept</span>
                                        }
                                    </td>
                                    @*@if (item.IsActive == true)
                                        {
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-type="true" class="itemProductAjaxActive" data-id="@item.ProductId" onclick='ChangeStatusAction(2, @item.ProductId, -1,this);'>
                                                    <span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-type="false" class="itemProductAjaxActive" data-id="@item.ProductId" onclick='ChangeStatusAction(2, @item.ProductId, -1,this);'>
                                                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>
                                                </a>
                                            </td>
                                        }*@
                                    @if (item.IsVerified == true)
                                    {
                                        <td class="text-center">
                                            <a href="javascript:void(0);" data-type="true" class="itemProductAjaxVerified" data-id="@item.ProductId" onclick='ChangeStatusAction(1, @item.ProductId, -1,this);'>
                                                <span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <a href="javascript:void(0);" data-type="false" class="itemProductAjaxVerified" data-id="@item.ProductId" onclick='ChangeStatusAction(1, @item.ProductId, -1,this);'>
                                                <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unverified">Unverified</span>
                                            </a>
                                        </td>
                                    }
                                    <td>
                                        <a href="@Url.Action("ProductEdit","MSS", new { id = item.ProductId })"><strong>@item.ProductName (@(item.Colour ?? "N/A"))</strong></a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" onclick="previewProduct(@item.ProductId)"><i class="fa fa-2x fa-video-camera text-primary"></i></a>
                                    </td>
                                    <td>@(itemProductType != null ? itemProductType.ProductTypeName : "N/A")</td>
                                    <td>@item.DateCreated.Value.ToString("MM/dd/yyyy")</td>
                                </tr>
                                    i++;
                            }
                        }

                    </tbody>
                </table>
                <div class="text-center" id="ProductPagination">
                    @Html.PagedListPager(Model, page => Url.Action("ProductIndex", new { page = page, filter = ViewBag.filter, ptype = ViewBag.ptype, pageSizeSelected = Model.PageSize }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    <span>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products</span>
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
<!--/ END row -->

<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 417px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Preview</h4>
            </div>
            <div class="modal-body" style="width: 389px; height: 810px; background: url('/Content/image/background/phone-case.png') no-repeat right top;">

                <iframe id="framePreview" style="width: 100%; height: 100%; overflow: auto; position: absolute; top: 104px; left: 33px; z-index: 0; width: 350px; height: 576px; border: 4px solid #22272d; background-color: white;"></iframe>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("select[name=pageSizeSelected]").change(function () {
        var href = '@Url.Action("ProductIndex", "MSS", new { filter = ViewBag.filter, ptype = ViewBag.ptype, pageSizeSelected = "_pageSize_" })';
        window.location.href = href.replace("_pageSize_", $(this).val()).replace("&amp;", "&").replace("&amp;", "&");
    });

    function previewProduct(id) {
        var iframe = document.getElementById("framePreview");
        iframe.src = 'http://galagala.vn:88/Product/Review/' + id;
        $("#modalPreview").modal('show');
    }

    // checked Product table
    // ================================
    function ChangeStatusAction(type, productId, sbool, ele) {
        _listCheckedProductTable = [];
        var elex = $(ele),
            typeProduct = elex.attr('data-type');
        if (productId == 0) {
            $('.list-product-table tr').each(function () {
                var achecked = $(this).find('input[name="chk_product"]');
                if (achecked.is(':checked')) {
                    _listCheckedProductTable.push(achecked.val());
                }
            });
        }
        else {
            _listCheckedProductTable.push(productId);
        }

        if (type == 1) { //Verified action
            if (confirm("Are you sure?")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeProductVerified", "MSS")',
                    data: {
                        storeId: 0,
                        listProductId: _listCheckedProductTable,
                        sbool: sbool,
                        page: '@ViewBag.pageNum',
                        pageSizeSelected: '@ViewBag.pageSizeSelected'
                    },
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        if (data.Success) {
                            if (typeof $(ele).attr('data-element') != "undefined") {
                                var l = $(".itemProductAjaxVerified");
                                $.map(l, function (el, ind) {
                                    for (var i = 0; i < _listCheckedProductTable.length; i++) {
                                        if ($(el).attr('data-id') == _listCheckedProductTable[i]) {
                                            if (typeProduct.toString() == "false") {
                                                $(el).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="UnVerified">UnVerified</span>');
                                            }
                                            else {
                                                $(el).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>');
                                            }
                                        }
                                    }
                                })
                            } else {
                                if (typeProduct.toString() == "true") {
                                    $(ele).attr('data-type', 'false')
                                    $(ele).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="UnVerified">UnVerified</span>');
                                }
                                else {
                                    $(ele).attr('data-type', 'true')
                                    $(ele).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>');
                                }
                            }
                        }
                    }
                });
            }
        }
        if (type == 2) { //Active action
            if (confirm("Are you sure?")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeProductActive", "MSS")',
                    data: {
                        storeId: 0,
                        listProductId: _listCheckedProductTable,
                        sbool: sbool,
                        page: '@ViewBag.pageNum',
                        pageSizeSelected: '@ViewBag.pageSizeSelected'
                    },
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        if (data.Success) {
                            if (typeof $(ele).attr('data-element') != "undefined") {
                                var l = $(".itemProductAjaxActive");
                                $.map(l, function (el, ind) {
                                    for (var i = 0; i < _listCheckedProductTable.length; i++) {
                                        if ($(el).attr('data-id') == _listCheckedProductTable[i]) {
                                            if (typeProduct.toString() == "false") {
                                                $(el).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>');
                                            }
                                            else {
                                                $(el).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>');
                                            }
                                        }
                                    }
                                })
                            } else {
                                if (typeProduct.toString() == "true") {
                                    $(ele).attr('data-type', 'false')
                                    $(ele).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>');
                                }
                                else {
                                    $(ele).attr('data-type', 'true')
                                    $(ele).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>');
                                }
                            }
                        }
                    }
                });
            }
        }
    }

    // Sparkline
    // ================================
    $('.sparklines').sparkline('html', {
        enableTagOptions: true
    });
    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#product-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>
<style>
    .table.table-hover-color tbody tr:hover td:first-child {
        border-left: 4px solid #dc6767;
    }
</style>