@{
    ViewBag.Action = "StoreIndex";
    ViewBag.Controller = "MSS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    List<string> listWarning = (List<string>)TempData["listStoreWarning"];
    string storeCode = (string)TempData["storeId"];

    var ddl_PageSize = new[]
    {
        new SelectListItem(){Value = "50", Text= "50"},
        new SelectListItem(){Value = "100", Text= "100"}
    };
}
@using PagedList;
@using PagedList.Mvc;
@using HTTelecom.Domain.Core.DataContext.mss
@using HTTelecom.Domain.Core.DataContext.cis
@model IPagedList<Store>

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Store</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Store @ViewBag.page</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
<div class="row">
    <div class="col-md-6 pull-left" style="margin-bottom: 15px;">
        <a href="@Url.Action("StoreCreate","MSS")" class="btn btn-info">Create New Store</a>
    </div>
    <div class="col-md-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Search</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @**** Message Report here ****@
        <div>
            @Html.Hidden("storeCodeHidden", TempData["storeId"])
            @if (TempData["StatusMessage"] != null)
            {
                if ((int)TempData["StatusMessage"] == 2)
                {
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <span><strong>Saved @TempData["storeName"] successful!</strong> Your operation has been done successfully !!!</span>
                    </div>
                    if (TempData["listWarning"] != null && TempData["storeId"] != null)
                    {
                        if (listWarning.Count != 0)
                        {
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span><strong>WARNING @TempData["storeName"]!</strong> Condition to display Store online:</span>
                                <ul>
                                    @foreach (var item in listWarning)
                                    {
                                        <li>@item.ToString()</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
<!--/ START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue" id="store-table">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Store Table</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        @*<button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>*@
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl10 pr10 pt5 pb5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Row</label>
                                @Html.DropDownList("pageSizeSelected", new SelectList(ddl_PageSize, "Value", "Text"), new { @class = "form-control input-sm", style = "width:70px" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                            <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 nm">
                        <div class="panel-toolbar hide" id="toolbar-toshow" style="margin-top:5px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Verified ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(1, 0, 1, this);'><i class="icon ico-pencil"></i>Verified</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(1, 0, 0, this);'><i class="icon ico-print3"></i>Unverified</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Is Active ??</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" data-type="true" data-element="1" onclick='ChangeStatusAction(2, 0, 1, this);'><i class="icon ico-pencil"></i>Active</a></li>
                                    <li><a href="javascript:void(0);" data-type="false" data-element="1" onclick='ChangeStatusAction(2, 0, 0, this);'><i class="icon ico-print3"></i>Inactive</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="panel-collapse pull out">
                <table class="table table-bordered table-hover-color">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="Check all">
                                    <input type="checkbox" id="chkAll-two0" value="1" data-toggle="checkall" data-target="#store-table">
                                    <label for="chkAll-two0"></label>
                                </div>
                            </th>
                            <th class="text-center" width="5%">Status</th>
                            <th class="text-center" width="14%">Store ID</th>
                            <th>Store Name</th>
                            <th width="15%">Vendor</th>
                            <th width="10%">Start Date</th>
                            <th width="10%">End Date</th>
                            <th width="5%">Visit Count</th>
                        </tr>
                    </thead>
                    <tbody class="list-store">
                        @{
                            int i = 1;
                            var date = DateTime.Now;
                            foreach (var store in Model)
                            {
                                var itemVendor = ((List<Vendor>)ViewBag.list_Vendor).Where(x => x.VendorId == store.VendorId).FirstOrDefault();
                                var strStyleCt = "";
                                strStyleCt =
                                    store.IsDeleted == true ?
                                    "danger" : (store.OfflineDate.HasValue == false || store.OnlineDate.HasValue == false) ? "warning" :
                                    (store.OnlineDate.Value - date).TotalMinutes > 0 ? "info" : (store.OfflineDate.Value - date).TotalMinutes > 0 ? "success" : "warning";
                                var strStyleTr = "";
                                strStyleTr =
                                    store.IsDeleted == true ?
                                    "bg-danger" : (store.OfflineDate.HasValue == false || store.OnlineDate.HasValue == false) ? "bg-warning" :
                                    (store.OnlineDate.Value - date).TotalMinutes > 0 ? "bg-info" : (store.OfflineDate.Value - date).TotalMinutes > 0 ? "bg-success" : "bg-warning";
                                <tr class="@strStyleTr">
                                    <td class="text-center">
                                        <div class="checkbox custom-checkbox nm">
                                            <input type="checkbox" name="chk_store" id="chk_Store_@i" value="@store.StoreId" data-toggle="selectrow" data-target="tr" data-contextual="@strStyleCt">
                                            <label for="chk_Store_@i"></label>
                                        </div>
                                    </td>
                                    @*@if (store.IsActive == true)
                                        {
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-type="true" class="itemProductAjaxActive" data-id="@store.StoreId" onclick='ChangeStatusAction(2, @store.StoreId, -1,this);'>
                                                    <span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-type="false" class="itemProductAjaxActive" data-id="@store.StoreId" onclick='ChangeStatusAction(2, @store.StoreId, -1,this);'>
                                                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>
                                                </a>
                                            </td>
                                        }*@
                                    @if (store.IsVerified == true)
                                    {
                                        <td class="text-center">
                                            <a href="javascript:void(0);" data-type="true" class="itemProductAjaxVerified" data-id="@store.StoreId" onclick='ChangeStatusAction(1, @store.StoreId, -1,this);'>
                                                <span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <a href="javascript:void(0);" data-type="false" class="itemProductAjaxVerified" data-id="@store.StoreId" onclick='ChangeStatusAction(1, @store.StoreId, -1,this);'>
                                                <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unverified">Unverified</span>
                                            </a>
                                        </td>
                                    }
                                    @if (@store.StoreCode != null)
                                    {
                                        <td class="text-center">
                                            <strong class="label label-info" style="font-size:12px">@String.Format("S{0}", @store.StoreCode)</strong>
                                            @if (@store.IsActive == true)
                                            {
                                                <a href="javascript:void(0);" data-type="true" class="itemProductAjaxActive" data-id="@store.StoreId" onclick='ChangeStatusAction(2, @store.StoreId, -1,this);'>
                                                    <span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0);" data-type="false" class="itemProductAjaxActive" data-id="@store.StoreId" onclick='ChangeStatusAction(2, @store.StoreId, -1,this);'>
                                                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>
                                                </a>
                                            }

                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <strong class="label label-info" style="font-size:12px"></strong>
                                            <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unaccept">Unaccept</span>
                                            <a href="javascript:void(0);" data-type="false" class="itemProductAjaxActive" data-id="@store.StoreId" onclick='ChangeStatusAction(2, @store.StoreId, -1,this);'>
                                                <span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>
                                            </a>
                                        </td>
                                    }
                                    <td>
                                        <a href="@Url.Action("StoreEdit", "MSS", new { id = store.StoreId })"><strong>@store.StoreName</strong></a>
                                    </td>
                                    <td>@(itemVendor != null ? itemVendor.VendorFullName : "N/A")</td>
                                    <td>@(store.OnlineDate != null ? store.OnlineDate.Value.ToString("MM/dd/yyyy") : "N/A")</td>
                                    <td>@(store.OfflineDate != null ? store.OfflineDate.Value.ToString("MM/dd/yyyy") : "N/A")</td>
                                    <td class="text-center">
                                        <span class="badge badge-danger">@store.VisitCount</span>
                                    </td>
                                </tr>
                                    i++;
                            }
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("StoreIndex", new { page = page, pageSizeSelected = ViewBag.pageSizeSelected }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    <span>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Stores</span>
                </div>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>

<!--/ END row -->

<script type="text/javascript">
    $("select[name=pageSizeSelected]").change(function () {
        var href = '@Url.Action("StoreIndex", "MSS", new { pageSizeSelected = "_pageSize_" })';
        window.location.href = href.replace("_pageSize_", $(this).val()).replace("&amp;", "&").replace("&amp;", "&");
    });

    // checked store table
    // ================================
    function ChangeStatusAction(type, storeId, sbool, ele) {
        _listCheckedStoreTable = [];
        var elex = $(ele),
            typeProduct = elex.attr('data-type');
        if (storeId == 0) {
            $('.list-store tr').each(function () {
                var achecked = $(this).find('input[name="chk_store"]');
                if (achecked.is(':checked')) {
                    _listCheckedStoreTable.push(achecked.val());
                }
            });
        }
        else {
            _listCheckedStoreTable.push(storeId);
        }
        //alert(_listCheckedStoreTable);

        if (type == 1) { //Verified action
            if (confirm("Are you sure?")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeStoreVerified", "MSS")',
                    data: {
                        listStoreId: _listCheckedStoreTable,
                        sbool: sbool,
                        page: '@ViewBag.page',
                        pageSizeSelected: '@ViewBag.pageSizeSelected'
                    },
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        if (data.Success) {
                            if (typeof $(ele).attr('data-element') != "undefined") {
                                var l = $(".itemProductAjaxVerified");
                                $.map(l, function (el, ind) {
                                    for (var i = 0; i < _listCheckedProductTable.length; i++) {
                                        if ($(el).attr('data-id') == _listCheckedProductTable[i]) {
                                            if (typeProduct.toString() == "false") {
                                                $(el).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="UnVerified">UnVerified</span>');
                                            }
                                            else {
                                                $(el).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>');
                                            }
                                        }
                                    }
                                })
                            } else {
                                if (typeProduct.toString() == "true") {
                                    $(ele).attr('data-type', 'false')
                                    $(ele).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="UnVerified">UnVerified</span>');
                                }
                                else {
                                    $(ele).attr('data-type', 'true')
                                    $(ele).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span>');
                                }
                            }
                        }
                    }
                });
            }
        }
        if (type == 2) { //Active action

            if (confirm("Are you sure?")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeStoreActive", "MSS")',
                    data: {
                        listStoreId: _listCheckedStoreTable,
                        sbool: sbool,
                        page: '@ViewBag.page',
                        pageSizeSelected: '@ViewBag.pageSizeSelected'
                    },
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        if (data.Success) {
                            //$(".store-code").remove()
                            $($(ele).parent().children("strong")).html("S" + data.code)
                            $($(ele).parent().children("span")).remove()
                            if (typeof $(ele).attr('data-element') != "undefined") {
                                var l = $(".itemProductAjaxActive");
                                $.map(l, function (el, ind) {
                                    for (var i = 0; i < _listCheckedProductTable.length; i++) {
                                        if ($(el).attr('data-id') == _listCheckedProductTable[i]) {
                                            if (typeProduct.toString() == "false") {
                                                $(el).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>');
                                            }
                                            else {

                                                $(el).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>');
                                            }
                                        }
                                    }
                                })
                            } else {
                                if (typeProduct.toString() == "true") {
                                    $(ele).attr('data-type', 'false')                                    
                                    $(ele).html('<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Deactive">Deactive</span>');
                                }
                                else {
                                    $(ele).attr('data-type', 'true')
                                    $(ele).html('<span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span>');
                                }
                            }
                        }
                    }
                });
            }
        }
    }

    function CreateStoreTable(listStore) {
        var target = $(".list-store");
        var _listVendor = JSON.parse('@Html.Raw(Json.Encode(ViewBag.list_Vendor))');
        target.empty();
        $.each(listStore, function (_index, _item) {
            var _itemVendorName = "N/A";
            var _onlineDate = "N/A";
            var _offlineDate = "N/A";
            var url = '@Url.Action("StoreEdit", "MSS", new { id = "_StoreId_" })'.replace('_StoreId_', _item.StoreId);

            if (_item.OnlineDate != null) {
                _onlineDate = new Date(_item.OnlineDate.match(/\d+/)[0] * 1);
                _onlineDate = moment(_onlineDate).format('MM/DD/YYYY');
            }
            if (_item.OfflineDate != null) {
                _offlineDate = new Date(_item.OfflineDate.match(/\d+/)[0] * 1);
                _offlineDate = moment(_offlineDate).format('MM/DD/YYYY');
            }

            $.each(_listVendor, function (_index, _item1) {
                if (_item1.VendorId == _item.VendorId) {
                    _itemVendorName = _item1.VendorFullName;
                }
            });
            target.append
            (
                '<tr class="' + (_item.IsDeleted == true ? "bg-danger" : "") + '">'
                    + '<td class="text-center">'
                        + '<div class="checkbox custom-checkbox nm">'
                            + '<input type="checkbox" name="chk_store" id="chk_Store_' + _index + '" value="' + _item.StoreId + '" data-toggle="selectrow" data-target="tr" data-contextual="' + (_item.IsDeleted == true ? "danger" : "info") + '"/>'
                            + '<label for="chk_Store_' + _index + '"></label>'
                        + '</div>'
                    + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsActive == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(2,' + _item.StoreId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Active">Active</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(2,' + _item.StoreId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Inactive">Inactive</span></a>')
                    + '</td>'
                    + '<td class="text-center">'
                        + (_item.IsVerified == true
                            ? '<a href="javascript:void(0);" onclick="ChangeStatusAction(1,' + _item.StoreId + ',-1);"><span class="label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Verified">Verified</span></a>'
                            : '<a href="javascript:void(0);" onclick="ChangeStatusAction(1,' + _item.StoreId + ',-1);"><span class="label label-danger" data-toggle="tooltip" data-placement="top" data-original-title="Unverified">Unverified</span></a>')
                    + '</td>'
                    + '<td class="text-center"><span class="label label-info">' + 'S' + _item.StoreCode + '</span></td>'
                    + '<td><a href="' + url + '"><strong>' + _item.StoreName + '</strong></a></td>'
                    + '<td>' + _itemVendorName + '</td>'
                    + '<td>' + _onlineDate + '</td>'
                    + '<td>' + _offlineDate + '</td>'
                    + '<td class="text-center">'
                        + '<span class="badge badge-danger">' + _item.VisitCount + '</span>'
                    + '</td>'
                + '</tr>'
            );
        });
    }

    // Sparkline
    // ================================
    $('.sparklines').sparkline('html', {
        enableTagOptions: true
    });
    // Table toolbar
    // ================================
    (function () {
        // globar variable within this function scope
        var panel = '.panel#store-table',
            count = 0;

        // subscribe to `selected` row event
        $(document).on('fa.selectrow.selected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // total the count variable
                count = count + 1;

                // check for the count panel #toolbar-showcase only
                if (count === 1) {
                    $toolbar.removeClass('hide');
                }
            }
        });

        // subscribe to `unselected` row event
        $(document).on('fa.selectrow.unselected', function (event, data) {
            // define variable
            var $panel = data.element.parents(panel),
                $toolbar = $panel.find('#toolbar-toshow');

            // check for the count panel #toolbar-showcase only
            // as we dont want the event affect other panel/table
            if ($panel.length > 0) {
                // minus the count variable
                count = count - 1;

                // check for the count
                if (count === 0) {
                    $toolbar.addClass('hide');
                }
            }
        });
    })();
</script>

<style>
    .table.table-hover-color tbody tr:hover td:first-child {
        border-left: 4px solid #dc6767;
    }
</style>